---
http_interactions:
- request:
    method: post
    uri: https://catch.onetimesecret.com/api/4/envelope/
    body:
      encoding: UTF-8
      string: |-
        {"event_id":"2ad6c29841aa4f54afc76047ccfccff6","dsn":"https://0b0a073319a262e26e2decf64cc16f48@catch.onetimesecret.com/4","sdk":{"name":"sentry.ruby","version":"6.2.0"},"sent_at":"2026-02-26T23:51:29Z","trace":{"trace_id":"68bb60a39a0341a1b606a61ed06379b3","sample_rate":"0.1","sample_rand":"0.070646","sampled":"true","environment":"dev.onetime.dev (development)","release":"0.0.0-rc0 (8a18110e7)","public_key":"0b0a073319a262e26e2decf64cc16f48"}}
        {"type":"transaction","content_type":"application/json"}
        {"event_id":"2ad6c29841aa4f54afc76047ccfccff6","level":"error","timestamp":1772149889.604053,"release":"0.0.0-rc0 (8a18110e7)","environment":"dev.onetime.dev (development)","server_name":"Tundra.local","modules":{"rake":"13.3.1","base64":"0.3.0","bigdecimal":"4.0.1","concurrent-ruby":"1.3.6","connection_pool":"2.5.5","drb":"2.2.3","i18n":"1.14.8","json":"2.18.1","logger":"1.7.0","minitest":"5.27.0","securerandom":"0.4.1","tzinfo":"2.0.6","uri":"1.1.1","activesupport":"8.1.2","activemodel":"8.1.2","public_suffix":"7.0.2","addressable":"2.8.8","aes_key_wrap":"1.1.0","amq-protocol":"2.5.0","android_key_attestation":"0.3.0","ffi":"1.17.3","ffi-compiler":"1.3.2","argon2":"2.3.3","ast":"2.4.3","attr_required":"1.0.2","aws-eventstream":"1.4.0","aws-partitions":"1.1202.0","aws-sigv4":"1.12.1","jmespath":"1.6.2","aws-sdk-core":"3.241.3","aws-sdk-sesv2":"1.94.0","backport":"1.2.0","bcrypt":"3.1.21","benchmark":"0.5.0","bindata":"2.5.1","bundler":"2.7.2","rbtree":"0.4.6","set":"1.1.2","sorted_set":"1.0.3","bunny":"2.24.0","bunny-mock":"1.7.0","cbor":"0.5.10.1","chunky_png":"1.4.0","climate_control":"1.2.0","openssl":"4.0.0","openssl-signature_algorithm":"1.3.0","cose":"1.3.1","rexml":"3.4.4","crack":"1.0.1","crass":"1.0.6","csv":"3.3.5","database_cleaner-core":"2.0.1","sequel":"5.100.0","database_cleaner-sequel":"2.0.2","date":"3.5.1","prettyprint":"0.2.0","pp":"0.6.3","erb":"6.0.1","stringio":"3.1.9","psych":"5.2.6","tsort":"0.2.0","rdoc":"7.0.3","io-console":"0.8.2","reline":"0.6.3","irb":"1.16.0","debug":"1.11.1","diff-lcs":"1.6.2","docile":"1.4.1","dry-cli":"1.4.0","dry-inflector":"1.3.0","email_validator":"2.2.4","encryptor":"1.1.3","et-orbi":"1.4.0","facets":"3.1.0","faker":"3.5.3","ostruct":"0.6.3","oj":"3.16.15","redis-client":"0.26.4","redis":"5.4.1","uri-valkey":"1.4.0","familia":"2.3.0","net-http":"0.9.1","faraday-net_http":"3.4.2","faraday":"2.14.1","faraday-follow_redirects":"0.5.0","fastimage":"2.4.0","raabro":"1.4.0","fugit":"1.12.1","hana":"1.3.7","hashdiff":"1.2.1","hashie":"5.1.0","htmlbeautifier":"1.4.3","mini_mime":"1.1.5","multi_xml":"0.8.1","httparty":"0.24.0","ipaddr":"1.2.8","jaro_winkler":"1.6.1","json-jwt":"1.17.0","regexp_parser":"2.11.3","simpleidn":"0.2.3","json_schemer":"2.5.0","jwt":"3.1.2","language_server-protocol":"3.17.0.5","kanayago":"0.7.0","sigdump":"0.2.5","serverengine":"2.4.0","thor":"1.5.0","kicks":"3.2.0","kramdown":"2.5.1","kramdown-parser-gfm":"1.1.0","lettermint":"0.1.0","lint_roller":"1.1.0","rb-fsevent":"0.11.2","rb-inotify":"0.11.1","listen":"3.9.0","racc":"1.8.1","nokogiri":"1.19.1","loofah":"2.25.0","timeout":"0.6.0","net-protocol":"0.2.2","net-imap":"0.6.2","net-pop":"0.1.2","net-smtp":"0.5.1","mail":"2.9.0","mustache":"1.1.1","nio4r":"2.7.5","observer":"0.1.2","rack":"3.2.5","rack-protection":"4.2.1","omniauth":"2.1.4","rack-oauth2":"2.3.0","swd":"2.0.3","validate_url":"1.0.15","webfinger":"2.1.3","openid_connect":"2.3.1","omniauth_openid_connect":"0.8.0","open3":"0.2.1","rack-parser":"0.7.0","otto":"2.0.0.pre10","parallel":"1.27.0","parser":"3.3.10.0","passforge":"1.1.2","tty-color":"0.6.0","pastel":"0.8.0","pg":"1.6.3","prettier_print":"1.2.1","prism":"1.7.0","puma":"7.1.0","rack-contrib":"2.5.0","rack-proxy":"0.7.7","rack-session":"2.1.1","rack-test":"2.2.0","rack-utf8_sanitizer":"1.11.1","rackup":"2.3.1","rainbow":"3.1.1","rbs":"3.10.2","rerun":"0.14.0","reverse_markdown":"3.0.1","tilt":"2.7.0","rhales":"0.5.4","roda":"3.99.0","rodauth":"2.42.0","rodauth-omniauth":"0.6.2","rodauth-tools":"0.3.1","rotp":"6.3.0","rqrcode_core":"2.1.0","rqrcode":"3.2.0","rspec-support":"4.0.0.pre","rspec-core":"4.0.0.pre","rspec-expectations":"4.0.0.pre","rspec-mocks":"4.0.0.pre","rspec":"4.0.0.pre","rubocop-ast":"1.49.0","ruby-progressbar":"1.13.0","unicode-emoji":"4.2.0","unicode-display_width":"3.2.0","rubocop":"1.81.7","rubocop-performance":"1.26.1","rubocop-rspec":"3.9.0","rubocop-sequel":"0.4.1","rubocop-thread_safety":"0.7.3","ruby-lsp":"0.26.4","ruby_http_client":"3.6.0","rufus-scheduler":"3.9.2","safety_net_attestation":"0.5.0","sanitize":"7.0.0","semantic_logger":"4.17.0","sendgrid-ruby":"6.7.0","sentry-ruby":"6.2.0","simplecov-html":"0.13.2","simplecov_json_formatter":"0.1.4","simplecov":"0.22.0","yard":"0.9.38","yard-activesupport-concern":"0.0.1","yard-solargraph":"0.1.0","solargraph":"0.58.1","sqlite3":"2.9.0","stackprof":"0.2.27","stripe":"18.1.0","syntax_tree":"6.3.0","timecop":"0.9.10","tpm-key_attestation":"0.14.1","truemail":"3.3.1","tty-cursor":"0.7.1","tty-screen":"0.8.2","tryouts":"3.7.1","vcr":"6.4.0","webauthn":"3.4.3","webmock":"3.26.1","cgi":"0.4.2","delegate":"0.4.0","did_you_mean":"2.0.0","digest":"3.2.0","english":"0.8.0","error_highlight":"0.7.0","etc":"1.4.6","fcntl":"1.2.0","fiddle":"1.1.6","fileutils":"1.7.3","find":"0.2.0","forwardable":"1.3.3","io-nonblock":"0.3.2","io-wait":"0.3.2","open-uri":"0.5.0","optparse":"0.6.0","pathname":"0.4.0","pstore":"0.1.4","readline":"0.0.4","resolv":"0.6.2","ruby2_keywords":"0.0.5","shellwords":"0.2.2","singleton":"0.3.0","strscan":"3.1.2","syntax_suggest":"2.0.2","tempfile":"0.3.1","time":"0.4.1","tmpdir":"0.3.1","un":"0.3.0","weakref":"0.1.3","yaml":"0.4.0","zlib":"3.2.1"},"message":"","user":{},"tags":{"request_id":"0zkqkd4bylp7s"},"contexts":{"os":{"name":"Darwin","version":"Darwin Kernel Version 25.3.0: Wed Jan 28 20:53:05 PST 2026; root:xnu-12377.81.4~5/RELEASE_ARM64_T6020","build":"25.3.0","kernel_version":"Darwin Kernel Version 25.3.0: Wed Jan 28 20:53:05 PST 2026; root:xnu-12377.81.4~5/RELEASE_ARM64_T6020","machine":"arm64"},"runtime":{"name":"ruby","version":"ruby 3.4.8 (2025-12-17 revision 995b59f666) +YJIT +PRISM [arm64-darwin25]"},"trace":{"trace_id":"68bb60a39a0341a1b606a61ed06379b3","span_id":"6f23c4d7935347ea","parent_span_id":null,"description":null,"op":"http.server","status":"unavailable","origin":"auto.http.rack","data":{"http.response.status_code":503}}},"extra":{},"fingerprint":[],"breadcrumbs":{"values":[]},"transaction":"/api/org/on8xzqs0s0e8ll5552i03c78oe4/change-plan","transaction_info":{"source":"url"},"platform":"ruby","sdk":{"name":"sentry.ruby","version":"6.2.0"},"type":"transaction","request":{"url":"http://example.org/billing/api/org/on8xzqs0s0e8ll5552i03c78oe4/change-plan","method":"POST","headers":{"X-Csrf-Token":"MjAqCfzP5D1rpJcobZ0aFCq9P8zcU-6uM5KvMaAFZjU=", "Content-Type":"application/x-www-form-urlencoded"},"env":{"SERVER_NAME":"example.org","SERVER_PORT":"80"}},"spans":[{"trace_id":"68bb60a39a0341a1b606a61ed06379b3","span_id":"ac7679c928e544fc","parent_span_id":"6f23c4d7935347ea","start_timestamp":1772149889.5987499,"timestamp":1772149889.5990772,"description":"HGET customer:extid_lookup","op":"db.redis","status":null,"tags":{},"data":{"db.system":"redis","db.name":0,"server.address":"maindb","server.port":5212},"origin":"auto.db.redis"},{"trace_id":"68bb60a39a0341a1b606a61ed06379b3","span_id":"3c0aa1eb3ba14e9c","parent_span_id":"6f23c4d7935347ea","start_timestamp":1772149889.5990882,"timestamp":1772149889.5994,"description":"EXISTS customer:019c9c5d-5a2a-7dce-8fb6-59edffd902c5:object","op":"db.redis","status":null,"tags":{},"data":{"db.system":"redis","db.name":0,"server.address":"maindb","server.port":5212},"origin":"auto.db.redis"},{"trace_id":"68bb60a39a0341a1b606a61ed06379b3","span_id":"1c175[...]
[...]
