{{>header}}

  <div id="content">

    <h2 class="intro">Privacy Policy</h2>

    <p>We are committed to protecting your privacy. That is because we base our business 
    on trust you place in us. This policy describes our practices regarding personal and 
    account information collected through our web site. </p>

    <p>We will periodically review the appropriateness of this privacy policy and
    may make, in our discretion, such changes as are necessary. If we decide to
    change this privacy policy, we will post those changes here so that you will
    always know what information we gather, how we might use that information, and
    whether we will disclose it to anyone. You should visit our web site
    periodically to review any changes.</p>

    <h1>Do we use the secret data for any other purpose?</h1>
    <p>No. We currently do not analyze or look at the secrets in any manual or automated way.
    A couple of people have suggested we analyze the data anonymously for statistical purposes
    (to gather stats on weak passwords, etc.). We currently don't have any plans on doing
    this, but might consider it in the future. We will definitely mention it here if we do.</p>

    <h1>How safe is this tool?</h1>
    <p>We feel that this tool is definitely safer than using email or chat tools to send
    private information. However, if you are concerned that <strong><em>any</em></strong> 
    third party (ie. us) holding this data is a risk, then you should consider either encrypting
    the data first and passing the credentials for this one-time via another means, or use
    something else altogether (<a href="http://www.gnupg.org/">GnuPG is a good candidate</a>).</p>

    <h1>What personal and account information do we collect?</h1>
    <p>The amount and type of personal and account information we collect from you
    depends on your activities and use of our web site. Below, we explain what
    information we collect under specific contexts.</p>

    <h1>What measures do we use to protect your personal information?</h1>

    <ul>
      <li>We use secure, encrypted mechanisms (SSL) when accepting and transmitting information.</li>
      <li>We regularly perform security audits and updates on our servers.</li>
    </ul>

    <h1>When you browse our web site</h1>

    <ul>
      <li><strong>IP address</strong> - We collect your IP address to measure our web site traffic and to help prevent malicious use.</li>
      <li><strong>Referral web site</strong> - If you come to our web site via a link, we collect the location of the link that referred you.</li>
      <li><strong>Browser and platform</strong> - We collect information about the browser you are using to help optimize our web site for visitors.</li>
    </ul>
  </div>

{{>footer}}
