{{>partial/header}}

<div class="container mx-auto p-4 max-w-2xl">
  <article class="prose dark:text-gray-300">
    <h1 class="intro dark:text-gray-300">Privacy Policy</h1>
    <p class="prose dark:text-gray-300">Effective date: <span class="font-bold dark:text-gray-300">June 15, 2024</span></p>
    <p class="prose dark:text-gray-300">
      Thanks for entrusting onetimesecret.com with your secrets. Holding onto your private
      information is a serious responsibility, and we want you to know how we&#39;re handling it.
    </p>
    <h2 class="dark:text-gray-300">The short version</h2>
    <p class="prose dark:text-gray-300">
      We collect your information only with your consent; we only collect the minimum amount of
      personal information that is necessary to fulfill the purpose of your interaction with us; we
      don&#39;t sell it to third parties; and we only use it as this Privacy Statement describes.
    </p>
    <p class="prose dark:text-gray-300">
      Of course, the short version doesn&#39;t tell you everything, so please read on for more
      details!
    </p>
    <h2 class="dark:text-gray-300">What information onetimesecret.com collects and why</h2>
    <h3 class="dark:text-gray-300">Information from website browsers</h3>
    <p class="prose dark:text-gray-300">
      If you&#39;re <span class="font-bold dark:text-gray-300">just browsing the website</span>, we collect the same basic
      information that most websites collect. We use common internet technologies, such as cookies
      and web server logs. This is stuff we collect from everybody, whether they have an account or
      not.
    </p>
    <p class="prose dark:text-gray-300">
      The information we collect about all visitors to our website includes the visitor’s browser
      type, language preference, referring site, additional websites requested, and the date and
      time of each visitor request. We also collect potentially personally-identifying information
      like Internet Protocol (IP) addresses.
    </p>
    <h5 class="dark:text-gray-300">Why do we collect this?</h5>
    <p class="prose dark:text-gray-300">
      We collect this information to better understand how our website visitors use
      onetimesecret.com and to monitor and protect the security of the website.
    </p>
    <h3 class="dark:text-gray-300">Information from users with accounts</h3>
    <p class="prose dark:text-gray-300">
      If you <span class="font-bold dark:text-gray-300">create an account</span>, we require some basic information at the time of
      account creation. You will create your own user name and password, and we will ask you for a
      valid email account. You also have the option to give us more information if you want to, and
      this may include &quot;User Personal Information.&quot;
    </p>
    <p class="prose dark:text-gray-300">
      &quot;User Personal Information&quot; is any information about one of our users which could,
      alone or together with other information, personally identify him or her. Information such as
      a user name and password, an email address, a real name, and a photograph are examples of
      “User Personal Information.”
    </p>
    <p class="prose dark:text-gray-300">
      User Personal Information does not include aggregated, non-personally identifying information.
      We may use aggregated, non-personally identifying information to operate, improve, and
      optimize our website and service.
    </p>
    <h5 class="dark:text-gray-300">Why do we collect this?</h5>
    <ul>
      <li>
        We need your User Personal Information to create your account, and to provide the services
        you request.
      </li>
      <li>
        We use your User Personal Information, specifically your user name and email address, to
        identify you on onetimesecret.com.
      </li>
      <li>
        We will use your email address to communicate with you, if you&#39;ve said that&#39;s okay,
        <span class="font-bold dark:text-gray-300">and only for the reasons you’ve said that’s okay</span>. Please see our section on
        <a class="dark:text-gray-300" href="#how-we-communicate-with-you">email communication</a> for more information.
      </li>
      <li>
        We limit our use of your User Personal Information to the purposes listed in this Privacy
        Statement. If we need to use your User Personal Information for other purposes, we will ask
        your permission first.
      </li>
    </ul>
    <h2 class="dark:text-gray-300">What information onetimesecret.com does not collect</h2>
    <p class="prose dark:text-gray-300">
      We do not intentionally collect <span class="font-bold dark:text-gray-300">sensitive personal information</span>, such as
      social security numbers, genetic data, health information, or religious information. Although
      onetimesecret.com does not request or intentionally collect any sensitive personal
      information, we realize that you might store this kind of information in your account, such as
      in a secret. If you store any sensitive personal information on our servers, you are
      consenting to our storage of that information on our servers, which are in the European Union
      (EU) and subject to European data protection laws.
    </p>
    <p class="prose dark:text-gray-300">
      We do not intentionally collect information that is <span class="font-bold dark:text-gray-300">stored in your secrets</span> or
      other free-form content inputs. Information in your secrets belongs to you, and you are
      responsible for it, as well as for making sure that your content complies with our
      <a class="dark:text-gray-300" href="/info/terms/">Terms of Service</a>. onetimesecret.com employees do not access secrets
      unless required to for security or maintenance, or for support reasons, with the consent of
      the secret owner.
    </p>
    <p class="prose dark:text-gray-300">
      If you&#39;re a <span class="font-bold dark:text-gray-300">child under the age of 13</span>, you may not have an account on
      onetimesecret.com. onetimesecret.com does not knowingly collect information from or direct any
      of our content specifically to children under 13. If we learn or have reason to suspect that
      you are a user who is under the age of 13, we will unfortunately have to close your account.
      We don&#39;t want to discourage you from learning to code, but those are the rules. Please see
      our <a class="dark:text-gray-300" href="/info/terms/">Terms of Service</a> for information about account termination.
    </p>
    <h2 class="dark:text-gray-300">How we share the information we collect</h2>
    <p class="prose dark:text-gray-300">
      We <span class="font-bold dark:text-gray-300">do not</span> share, sell, rent, or trade User Personal Information with third
      parties for their commercial purposes.
    </p>
    <p class="prose dark:text-gray-300">
      We do not disclose User Personal Information outside onetimesecret.com, except in the
      situations listed in this section or in the section below on
      <a class="dark:text-gray-300" href="#how-we-respond-to-compelled-disclosure">Compelled Disclosure</a>.
    </p>
    <p class="prose dark:text-gray-300">
      We <span class="font-bold dark:text-gray-300">do</span> share certain aggregated, non-personally identifying information with
      others about how our users, collectively, use onetimesecret.com, or how our users respond to
      our other offerings, such as our conferences or events. For example, we may compile statistics
      on the usage of HTTP content types across onetimesecret.com. However, we do not sell this
      information to advertisers or marketers.
    </p>
    <p class="prose dark:text-gray-300">
      We do not host advertising on onetimesecret.com. We may occasionally embed content from third
      party sites, such as YouTube, and that content may include ads. While we try to minimize the
      amount of ads our embedded content contains, we can&#39;t always control what third parties
      show.
    </p>
    <p class="prose dark:text-gray-300">
      We may share User Personal Information with your permission, so we can perform services you
      have requested.
    </p>
    <p class="prose dark:text-gray-300">
      We may share User Personal Information with a limited number of third-party vendors who
      process it on our behalf to provide or improve our service, and who have agreed to privacy
      restrictions similar to our own Privacy Statement. Our vendors perform services such as
      payment processing, customer support ticketing, network data transmission, and other similar
      services.
    </p>
    <p class="prose dark:text-gray-300">
      We may share User Personal Information if we are involved in a merger, sale, or acquisition.
      If any such change of ownership happens, we will ensure that it is under terms that preserve
      the confidentiality of User Personal Information, and we will notify you on our website or by
      email before any transfer of your User Personal Information. The organization receiving any
      User Personal Information will have to honor any promises we have made in our Privacy
      Statement or in our Terms of Service.
    </p>
    <h2 class="dark:text-gray-300">Our use of cookies and tracking</h2>
    <h3 class="dark:text-gray-300">Cookies</h3>
    <p class="prose dark:text-gray-300">
      onetimesecret.com uses cookies to make interactions with our service easy and meaningful. We
      use cookies (and similar technologies, like HTML5 localStorage) to keep you logged in,
      remember your preferences, and provide information for future development of
      onetimesecret.com.
    </p>
    <p class="prose dark:text-gray-300">
      A cookie is a small piece of text that our web server stores on your computer or mobile
      device, which your browser sends to us when you return to our site. Cookies do not necessarily
      identify you if you are merely visiting onetimesecret.com; however, a cookie may store a
      unique identifier for each logged in user. The cookies onetimesecret.com sets are essential
      for the operation of the website, or are used for performance or functionality. By using our
      website, you agree that we can place these types of cookies on your computer or device. If you
      disable your browser or device’s ability to accept cookies, you will not be able to log in or
      use our services.
    </p>
    <h3 class="dark:text-gray-300">Third-party tracking services</h3>
    <p class="prose dark:text-gray-300">
      We do not use Google Analytics or similar third party tracking services.
    </p>
    <p class="prose dark:text-gray-300">
      Certain pages on our site may set other third party cookies. For example, we may embed
      content, such as videos, from another site that sets a cookie. While we try to minimize these
      third party cookies, we can’t always control what cookies this third party content sets.
    </p>
    <h3 class="dark:text-gray-300">Tracking</h3>
    <p class="prose dark:text-gray-300">
      &quot;<a class="dark:text-gray-300" href="https://donottrack.us/" rel="noopener noreferrer">Do Not Track</a>&quot; is a
      privacy preference you can set in your browser if you do not want online services to collect
      and share certain kinds of information about your online activity from third party tracking
      services. We do not track your online browsing activity on other online services over time and
      we do not permit third-party services to track your activity on our site. Because we do not
      share this kind of data with third party services or permit this kind of third party data
      collection on onetimesecret.com for any of our users, and we do not track our users on
      third-party websites ourselves, we do not need to respond differently to an individual
      browser&#39;s Do Not Track setting.
    </p>
    <p class="prose dark:text-gray-300">
      If you are interested in turning on your browser’s privacy and Do Not Track settings, the
      <a class="dark:text-gray-300" href="https://donottrack.us/" rel="noopener noreferrer">Do Not Track</a> website has
      browser-specific instructions.
    </p>
    <p class="prose dark:text-gray-300">
      Please see our section on <a class="dark:text-gray-300" href="#how-we-communicate-with-you">email communication</a> to
      learn about our use of pixel tags in marketing emails.
    </p>
    <h2 class="dark:text-gray-300">How onetimesecret.com secures your information</h2>
    <p class="prose dark:text-gray-300">
      onetimesecret.com takes all measures reasonably necessary to protect User Personal Information
      from unauthorized access, alteration, or destruction; maintain data accuracy; and help ensure
      the appropriate use of User Personal Information. We follow generally accepted industry
      standards to protect the personal information submitted to us, both during transmission and
      once we receive it.
    </p>
    <p class="prose dark:text-gray-300">
      No method of transmission, or method of electronic storage, is 100% secure. Therefore, we
      cannot guarantee its absolute security. For more information, see our
      <a class="dark:text-gray-300" href="/info/security/">security disclosures</a>.
    </p>
    <h2 class="dark:text-gray-300">onetimesecret.com&#39;s global privacy practices</h2>
    <p class="prose dark:text-gray-300">
      <span
        >Information that we collect will be stored and processed in the European Union</span
      >
      in accordance with this Privacy Statement. However, we understand that we have users from
      different countries and regions with different privacy expectations, and we try to meet those
      needs.
    </p>
    <p class="prose dark:text-gray-300">
      We may choose to offer data storage in the United States or other countries in the future. In
      such circumstances, data entered and stored in the EU will not be transferred to the United
      States or other countries without explicit consent and without changes to this Privacy
      Statement.
    </p>
    <p class="prose dark:text-gray-300">
      We provide the same standard of privacy protection to all our users around the world,
      regardless of their country of origin or location, and we are proud of the levels of notice,
      choice, accountability, security, data integrity, access, and recourse we provide. We have
      appointed a Privacy Counsel and we work hard to comply with the applicable data privacy laws
      wherever we do business. Additionally, we require that if our vendors or affiliates have
      access to User Personal Information, they must comply with our privacy policies and with
      applicable data privacy laws, including signing data transfer agreements such as Standard
      Contractual Clause agreements.
    </p>
    <p class="prose dark:text-gray-300">
      In particular: - onetimesecret.com provides clear methods of unambiguous, informed consent at
      the time of data collection, when we do collect your personal data. - We collect only the
      minimum amount of personal data necessary, unless you choose to provide more. We encourage you
      to only give us the amount of data you are comfortable sharing. - We offer you simple methods
      of accessing, correcting, or deleting the data we have collected. - We provide our users
      notice, choice, accountability, security, and access, and we limit the purpose for processing.
      We also provide our users a method of recourse and enforcement. These are the Privacy Shield
      Principles, but they are also just good practices.
    </p>
    <h2 class="dark:text-gray-300">Resolving Complaints</h2>
    <p class="prose dark:text-gray-300">
      If you have concerns about the way onetimesecret.com is handling your User Personal
      Information, please let us know immediately. We want to help. You may email us directly at
      <span class="email" data-subject="Resolving Complaints"
        >support &#65;&#84; onetimesecret D0T com</span
      >
      with the subject line &quot;Privacy Concerns.&quot; We will respond within 45 days at the
      latest.
    </p>
    <h2 class="dark:text-gray-300">How we respond to compelled disclosure</h2>
    <p class="prose dark:text-gray-300">
      onetimesecret.com may disclose personally-identifying information or other information we
      collect about you to law enforcement in response to a valid subpoena, court order, warrant, or
      similar government order, or when we believe in good faith that disclosure is reasonably
      necessary to protect our property or rights, or those of third parties or the public at large.
    </p>
    <p class="prose dark:text-gray-300">
      In complying with court orders and similar legal processes, onetimesecret.com strives for
      transparency. When permitted, we will make a reasonable effort to notify users of any
      disclosure of their information, unless we are prohibited by law or court order from doing so,
      or in rare, exigent circumstances.
    </p>
    <h2 class="dark:text-gray-300">How you can access and control the information we collect</h2>
    <p class="prose dark:text-gray-300">
      If you&#39;re already a onetimesecret.com user, you may access, update, alter, or delete your
      basic user profile information by
      <a class="dark:text-gray-300" href="https://onetimesecret.com.com/account">editing your user profile</a> or contacting
      <span class="email" data-subject="Account Update Request"
        >support &#65;&#84; onetimesecret D0T com</span
      >.
    </p>
    <h3 class="dark:text-gray-300">Data Retention and Deletion</h3>
    <p class="prose dark:text-gray-300">
      onetimesecret.com will retain User Personal Information for as long as your account is active
      or as needed to provide you services.
    </p>
    <p class="prose dark:text-gray-300">
      We may retain certain User Personal Information indefinitely, unless you delete it or request
      its deletion. For example, we don’t automatically delete inactive user accounts, so unless you
      choose to delete your account, we will retain your account information indefinitely.
    </p>
    <p class="prose dark:text-gray-300">
      If you would like to cancel your account or delete your User Personal Information, you may do
      so by emailing
      <span class="email" data-subject="Delete Account Request"
        >support &#65;&#84; onetimesecret D0T com</span
      >. We will retain and use your information as necessary to comply with our legal obligations,
      resolve disputes, and enforce our agreements, but barring legal requirements, we will delete
      your full profile (within reason) within 30 days.
    </p>
    <h2 class="dark:text-gray-300">How we communicate with you</h2>
    <p class="prose dark:text-gray-300">
      We will use your email address to communicate with you, if you&#39;ve said that&#39;s okay,
      <span class="font-bold dark:text-gray-300">and only for the reasons you’ve said that’s okay</span>. You have a lot of control
      over how your email address is used and shared on and through onetimesecret.com.
    </p>
    <p class="prose dark:text-gray-300">
      Depending on your email settings, onetimesecret.com may occasionally send notification emails
      about new features, requests for feedback, important policy changes, or offer customer
      support. We also send marketing emails, but only with your consent. There&#39;s an unsubscribe
      link located at the bottom of each of the emails we send you.
    </p>
    <p class="prose dark:text-gray-300">
      Our emails might contain a pixel tag, which is a small, clear image that can tell us whether
      or not you have opened an email and what your IP address is. We use this pixel tag to make our
      email more effective for you and to make sure we’re not sending you unwanted email. If you
      prefer not to receive pixel tags, please opt out of marketing emails.
    </p>
    <h2 class="dark:text-gray-300">Changes to our Privacy Statement</h2>
    <p class="prose dark:text-gray-300">
      Although most changes are likely to be minor, onetimesecret.com may change this Privacy
      Statement from time to time. We will provide notification to Users of material changes to this
      Privacy Statement through our Website at least 30 days prior to the change taking effect by
      posting a notice on our home page or sending email to the email address specified in your
      onetimesecret.com primary account. For changes to this Privacy Statement that do not affect
      your rights, we encourage visitors to check this page frequently.
    </p>
    <h2 class="dark:text-gray-300">License</h2>
    <p class="prose dark:text-gray-300">
      This Privacy Statement is licensed under this
      <a class="dark:text-gray-300" href="https://creativecommons.org/publicdomain/zero/1.0/" rel="noopener noreferrer"
        >Creative Commons Zero license</a
      >. For details, see our
      <a class="dark:text-gray-300" href="https://github.com/onetimesecret/site-policy" rel="noopener noreferrer"
        >site-policy repository</a
      >.
    </p>
    <h2 class="dark:text-gray-300">Contacting onetimesecret.com</h2>
    <p class="prose dark:text-gray-300">
      Questions regarding onetimesecret.com&#39;s Privacy Statement or information practices should
      be directed to
      <span class="email" data-subject="Privacy Questions"
        >support &#65;&#84; onetimesecret D0T com</span
      >.
    </p>
  </article>
</div>
{{>partial/footer}}
