{{>header}}

<div class="container mx-auto p-4 max-w-2xl">

  <article class="prose">
    <h2>Security Policy</h2>
    <p class="prose">
      We take the security of this project seriously and appreciate your efforts
      to responsibly disclose vulnerabilities. This document outlines our security
      policy and provides guidelines on how to report vulnerabilities.
    </p>
    <h3>Supported Versions</h3>
    <p class="prose">We provide security updates for the following versions of our project:</p>
    <table>
      <thead>
        <tr>
          <th>Version</th>
          <th>Supported</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>0.15.x</td>
          <td>✅</td>
        </tr>
        <tr>
          <td>0.14.x</td>
          <td>✅</td>
        </tr>
        <tr>
          <td>0.13.x</td>
          <td>✅</td>
        </tr>
        <tr>
          <td>&lt; 0.12.0</td>
          <td>❌</td>
        </tr>
      </tbody>
    </table>
    <p class="prose">
      If you are using an unsupported version, we strongly recommend upgrading to
      one of the supported versions to ensure you receive the latest security
      updates.
    </p>
    <h3>Reporting a Vulnerability</h3>
    <p class="prose">
      If you discover a security vulnerability within this project, we encourage
      you to report it as soon as possible. Here’s how you can do it:
    </p>
    <h4>How to Report</h4>
    <ol>
      <li>
        <strong>Email</strong>: Send an email to
        <code class="email">security AT onetimesecret dot com</code> with the
        subject line &quot;Vulnerability Report: [Brief Description]&quot;.
      </li>
      <li>
        <strong>Details</strong>: Include as much information as possible about
        the vulnerability. This should include:
        <ul>
          <li>A detailed description of the vulnerability.</li>
          <li>Steps to reproduce the issue.</li>
          <li>Any potential impact.</li>
          <li>Your contact information for follow-up questions.</li>
        </ul>
      </li>
    </ol>
    <h4>What to Expect</h4>
    <ol>
      <li>
        <strong>Acknowledgment</strong>: You will receive an acknowledgment of
        your report within 5 business days.
      </li>
      <li>
        <strong>Initial Assessment</strong>: We will conduct an initial assessment
        of the vulnerability within 14 business days.
      </li>
      <li>
        <strong>Updates</strong>: You can expect to receive updates on the status
        of your report at least once every 7 days until the issue is resolved or a
        decision is made.
      </li>
    </ol>
    <h4>Resolution Process</h4>
    <ol>
      <li>
        <strong>Accepted Vulnerabilities</strong>: If the vulnerability is
        accepted, we will work on a fix and aim to release it as soon as possible.
        You will be notified once the fix is deployed.
      </li>
      <li>
        <strong>Declined Vulnerabilities</strong>: If the vulnerability is
        declined, we will provide a detailed explanation as to why it was not
        accepted.
      </li>
    </ol>
    <h4>Confidentiality</h4>
    <p class="prose">
      We take your privacy seriously. All reports will be kept confidential, and
      we will work with you to ensure that any details of the vulnerability are
      not disclosed until a fix is in place.
    </p>
    <p class="prose">Thank you for helping us keep Onetime Secret secure and excellent!</p>
  </article>
</div>

{{>footer}}
