{{>header}}

  <div id="content">

    <h2 class="intro">Security Policy</h2>
    <p>We are very security conscious and we take this very seriously. We have over 25 years of experience in building and maintaining highly visible web systems. Some of the standard best practices we employ to protect our systems:</p>

    <ul>
      <li>We use trusted, well respected Linux distributions (Debian in this case).</li>
      <li>We keep our systems patched and up to date.</li>
      <li>We use firewalls and SELinux proactively and use a whitelist approach for limited access/services.</li>
      <li>We follow security lists for our operating systems as well as any auxiliary tools we use.</li>
    </ul>

    <p>We are also transparent and frank and believe in <a href="https://github.com/onetimesecret/onetimesecret">open</a> and full disclosure of security issues. We appreciate any
       feedback from members of the community, and take all suggestions and potential exploits very seriously.</p>

    <div class="address"><span class="email">security AT onetimesecret dot com</span></div>

  </div>

{{>footer}}
