{{>header}}
  <div id="content" style="font-size: 0.9em;">
    <p>
      Welcome to One-Time Secret! These terms of use (the "Terms of Use") are
      a legal agreement between you and One-Time Secret., a Montreal-based company
      ("One-Time Secret", "we", "us" or "our") setting forth, among other things, the
      terms and conditions for your access and use of the onetimesecret.com
      website, and any related sub-domains, operated by One-Time Secret (the
      "Website" or "OneTimeSecret").
    </p>
    <p>
      PLEASE READ ALL THE TERMS OF USE CAREFULLY Use of the Website. By using the
      Website, you accept and agree to the provisions of the Terms of Use without any
      reservations, modifications, additions or deletions. If you do not agree to any
      provisions contained in the Terms of Use, you are not authorized to use the
      Website. You may be denied access to the Website, with or without notice to you
      if you do not comply with any provisions of the Terms of Use.
    </p>
    <p>
      <strong>Amendments.</strong> We may from time to time modify the Terms of Use and will post a
      copy of the amended Terms of Use on the Website, so we encourage you to review
      them periodically. If we make any substantial changes to the Terms of Use, we
      will notify you by sending a notice to the email address specified in your
      account or by posting a prominent notice on our pages. If you do not agree to,
      or cannot comply with, the Terms of Use as amended, you are not authorized to
      use the Website. You will be deemed to have accepted the Terms of Use as
      amended if you continue to use the Website after any amendments are posted on
      the Website. We reserve the right to refuse to provide our Services to anyone
      at any time.
    </p>
    <h3>1. Resources Used for the Provision of Services</h3>
    <p>
      User accounts have fixed limits in order that we can provide a well functioning
      service for all users. We can disable your account should there be any attempt
      to use the service in a way that we deem to be unreasonable and that affects
      the usage of the service by others. What consists of 'reasonable use' is
      completely at our discretion and your account may be disbled without prior
      notice if your usage is disruptive and if deemed necessary to restore a quality
      of service.
    </p>
    <h3>2. Protection of Privacy, User Data</h3>
    <p>
      As spelled out in our <a href="/info/privacy">Privacy Policy</a> personal and
      account information will never be disclosed to third parties under any
      circumstances other than to respond to subpoenas, court orders, or other legal
      process, as required by law, or to establish or exercise our legal rights or
      defend against legal claims. We will never sell or share any of this data.
    </p>
    <p>
      Once a secret has been recieved by a recipient, we have no way of retrieving
      said secret again, nor do we log or keep any data that tracks the sender or
      receiver's IP address beyond 14 days. Necessary data that attaches the contents
      of a secret to a user account is kept only until the secret is received, at
      which point it is destroyed permanently.
    </p>
    <h3>3. License, Restrictions and Prohibited Acts</h3>
    <p>
      <strong>Grant of License.</strong> One-Time Secret grants you a limited, nonexclusive,
      nontransferable, revocable license to access and make personal use of the
      Website and the Services in accordance with the terms set forth in the Terms of
      Use. One-Time Secret reserves all right, title and interest not expressly granted
      under this license to the fullest extent possible under applicable laws. You
      may not sublicense, assign, or transfer the license granted to you under the
      Terms of Use, and any attempt to sublicense, assign, or transfer any part of
      your rights under the Terms of Use is void.
    </p>
    <p>
      <strong>Restrictions and Prohibited Acts.</strong> So that the Website is available for all
      users to enjoy, you may not, and hereby represent, warrant and covenant that
      you will not or permit or enable third party to:
    </p>
    <p>
      use the Website in any way that (i) violates the terms of the Terms of Use;
      (ii) is unlawful, harmful, threatening, tortious, defamatory, libellous,
      abusive, obscene, invasive of another's privacy, hateful, fraudulent or
      malicious; (iii) involves the transmission of "junk mail," "chain letters," or
      unsolicited mass mailing or "spamming"; (iv) involves the sending of any virus,
      Trojan horse, worm, harmful code, shutdown mechanism or similar mechanism; (v)
      interferes with or disrupts the Website or any server or network involved with
      the operation of the Website; or (vi) otherwise violates any local, national or
      other applicable law or regulation; use our Services to harm, in any way, the
      operation of any website that you do not own or operate, including, without
      limitation, by generating recurring traffic to such website through the conduct
      of tests using our Services; modify, publish, transmit, transfer or sell,
      reproduce, create derivative works from, distribute, perform, display or in any
      way exploit any of the content of the Website in whole or in part, except as
      expressly permitted; or use automated tools to operate the Services on the
      Website (scripts, etc.).  Sanctions. ANY USE OF THE WEBSITE NOT SPECIFICALLY
      PERMITTED UNDER THE TERMS OF USE IS STRICTLY PROHIBITED AND MAY RESULT, AT
      ONE-TIME SECRET' DISCRETION, IN THE SUSPENSION OR TERMINATION OF YOUR ACCOUNT AND/OR
      THE BLACKLISTING OF YOUR IP ADDRESS. 
    </p>
    <p>
      <strong>Contact.</strong> Any misuse of the Services may be reported to abuse@onetimesecret.com.
    </p>
    <h3>4. Service Interruptions</h3>
    <p>
      <strong>Interruptions.</strong> You acknowledge that: (i) your access to and use of the Website
      and/or the provision Services may be suspended for the duration of any
      unanticipated or unscheduled downtime or unavailability of any portion or all
      of the Website for any reason, including as a result of power outages, system
      failures or other interruptions; and (ii) we shall also be entitled, without
      any liability to you, to suspend access to any portion or all of the Website
      and/or the Services at any time (a) for scheduled downtime to permit us to
      conduct maintenance or make modifications to any service; (b) in the event of a
      denial of service attack or other attack on the Website or other event that we
      determine, in our sole discretion, that a risk to the applicable service, to
      you or to any of our other users may be created if the Service were not
      suspended; or (c) in the event that we determine that any Service is prohibited
      by law or we otherwise determine that it is necessary or prudent to do so for
      legal or regulatory reasons (collectively, "Service Suspensions"). We shall
      have no liability whatsoever for any damage, liabilities, losses (including any
      loss of data or profits) or any other consequences that you may incur as a
      result of any Service Suspension.
    </p>
    <p>
      <strong>Watch of Interruptions.</strong> To the extent we are able, we will endeavour to post
      updates on the Website regarding any Service Suspension and resumption of
      service following any such suspension, but shall have no liability for the
      manner in which we may do so or if we fail to do so.
    </p>
    <h3>5. Security</h3>
    <p>
      <strong>Your Responsibility for Security.</strong> You are solely responsible for maintaining
      the confidentiality of your Account Information and for restricting access to
      your computer while logged into the Website. You agree to accept responsibility
      for all activities that occur under your account or from your computer.
    </p>
    <p>
      <strong>No Security Guarantee.</strong> We endeavour to use <a href="/info/security">reasonable security measures</a> to
      protect against unauthorized access to your account. We cannot, however,
      guarantee absolute security of your account or the personal information we
      collect, and we cannot promise that our security measures will prevent
      thirdparty "hackers" from illegally accessing the Website or its contents. You
      agree to immediately notify One-Time Secret of any unauthorized use or your account,
      or any other breach of security, and you accept all risks of unauthorized
      access to the Website, your Account Information and any other information you
      provide to One-Time Secret.
    </p>
    <p>
      <strong>Disclaimer and Indemnity.</strong> One-Time Secret will not be responsible for any losses
      arising out of the unauthorized use of your account and you agree to indemnify
      and hold harmless One-Time Secret, its shareholders, officers, directors, agents,
      employees, partners and/or licensors, as applicable, for any improper,
      unauthorized or illegal uses of your account.
    </p>
    <h3>6. Payment</h3>
    <p>
      <strong>Service Providers.</strong> You understand and agree that all payment for your use of
      the Services will be handled by third party service providers such as
      Chargify.com and PayPal, which we may change from time to time. Your credit
      card information will NOT be stored by One-Time Secret but by such third party
      service providers. By subscribing to a paid account, you expressly authorize
      our payment partners to charge your credit card.
    </p>
    <p>
      <strong>Billing Period.</strong> Paid accounts are billed on a monthly basis. Your account will
      be automatically renewed at the end of each billing period for an additional
      one-month period until you cancel your account. To avoid being charged for any
      subsequent month, you must cancel your subscription before the end of the
      current billing period (see "Cancelling Your Account and Refund" below).
    </p>
    <h3>7. Upgrading/Downgrading Your Account, Termination and Refund Policy</h3>
    <p>
      <strong>Changing Your Account.</strong> You may change your subscription plan at any time, and
      may incur additional fees if you upgrade your plan. If you have already been
      billed for the current month, you will not be charged for or receive the
      difference. If you have not been charged for the month, you will be charged the
      new plan amount.
    </p>
    <p>
      <strong>Cancelling Your Account and Refund.</strong> You can cancel your account at any time by
      logging into your account, clicking the "Account" link in the user box at the
      top right, then clicking the "Cancel your account" link at the bottom of the
      page. You are responsible for the payment of any charges that have been
      incurred prior to the cancellation of your account. ANY PREPAID FEES WILL NOT
      BE REFUNDED. If you have not been charged for the month, you will not be
      charged.
    </p>
    <p>
      <strong>Termination by One-Time Secret.</strong> One-Time Secret may terminate your account immediately upon
      notice to you (i) in the event of breach or violation of the Terms of Use by
      you, including without limitation for nonpayment of any fees owed by you in
      connection with your use of the Services or (ii) as set forth in the section
      "Warranty Disclaimer" (see paragraph 9 below). ANY PREPAID FEES WILL NOT BE
      REFUNDED.
    </p>
    <p>
      <strong>Surviving Obligations.</strong> All provisions of the Terms of Use which by their nature
      should survive expiration or termination shall survive the expiration or
      termination of the Terms of Use, including, without limitation, ownership
      provisions, warranty disclaimers, and limitations of liability. Termination of
      your access to and use of the Website shall not relieve you of any obligations
      arising or accruing prior to such expiration or termination or limit any
      liability which you otherwise may have to One-Time Secret, including without
      limitation any indemnification obligations contained herein.
    </p>
    <h3>8. Intellectual Property</h3>
    <p>
      <strong>Trade-marks and Copyright.</strong> The following are trade-marks (registered or not) of
      One-Time Secret: "One-Time Secret", "OneTimeSecret" as well as certain other
      One-Time Secret trade-marks, service marks, graphics, and logos (collectively, the
      "Trade-marks") used in connection with the Website and the provision of
      Services. The Website may also contain third-party trade-marks, service marks,
      graphics, and logos (collectively, the "Other Trade-marks"). All content
      displayed on the Website as well as all the software (including any source
      code) used in connection with the Services is the exclusive property of
      One-Time Secret or third parties and is protected by copyright laws.
    </p>
    <p>
      <strong>No License.</strong> Nothing appearing on the Website will be construed as granting you
      any license, right, title or interest relating to the Trade-marks, the Other
      Trade-marks or other intellectual property used in connection with the Website
      and/or the Services (collectively, the "Intellectual Property") and the
      Intellectual Property remains the exclusive property of One-Time Secret or owners.
      You agree not to copy, reproduce or use any Intellectual Property without our
      prior written consent; however, the open source tool used to create the
      Services is available via the MIT licence (for more information on the MIT
      license terms, click here).
    </p>
    <p>
      <strong>Feedback.</strong> If you choose to communicate to us suggestions for improvements to
      the Website (collectively, "Feedback"), we shall own all right, title, and
      interest in and to the Feedback and we shall be entitled to use the Feedback
      without restriction. You hereby irrevocably assign all right, title and
      interest in and to the Feedback to us and waive all you moral rights in the
      Feedback, and agree to provide us such assistance as we may require to
      document, perfect, and maintain our rights to the Feedback. You acknowledge and
      agree that: (i) your Feedback does not contain confidential or proprietary
      information; (ii) One-Time Secret is not under any obligation of confidentiality,
      express or implied, with respect to the Feedback; (iii) One-Time Secret shall be
      entitled to use or disclose (or choose not to use or disclose) such Feedback
      for any purpose, in any way, in any media worldwide; (iv) One-Time Secret may have
      something similar to the Feedback already under consideration or in
      development; and (v) you are not entitled to any compensation or reimbursement
      of any kind from One-Time Secret under any circumstances.
    </p>
    <h3>9. Disclaimers</h3>
    <p>
      "AS IS" BASIS. THE WEBSITE (INCLUDING ALL OF THE CONTENT AND SERVICES AVAILABLE
      ON THE WEBSITE) ARE PROVIDED TO YOU "AS IS." ANY USE OF THIS WEBSITE IS AT YOUR
      OWN RISK. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, ONE-TIME SECRET
      DISCLAIMS ALL REPRESENTATIONS, WARRANTIES OR CONDITIONS, EITHER EXPRESS OR
      IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OR CONDITIONS OF
      MERCHANTABILITY, MERCHANTABLE QUALITY, DURABILITY, FITNESS FOR A PARTICULAR
      PURPOSE, TITLE AND NONINFRINGEMENT. ONE-TIME SECRET MAKES NO REPRESENTATIONS,
      WARRANTIES OR GUARANTEES THAT THE WEBSITE WILL BE FREE FROM LOSS, DESTRUCTION,
      DAMAGE, CORRUPTION, ATTACK, VIRUSES, INTERFERENCE, HACKING, OR OTHER SECURITY
      INTRUSION, AND ONE-TIME SECRET DISCLAIMS ANY LIABILITY RELATING THERETO.
    </p>
    <p>
      <strong>Warranty Disclaimer.</strong> ONE-TIME SECRET MAKES NO REPRESENTATIONS, WARRANTIES OR
      GUARANTEES THAT THE USE OR THE RESULTS OF THE USE OF THE WEBSITE (INCLUDING ALL
      OF ITS CONTENT OR SERVICES) ARE OR WILL BE ACCURATE, RELIABLE, CURRENT,
      UNINTERRUPTED OR WITHOUT ERRORS. WITHOUT PRIOR NOTICE, ONE-TIME SECRET MAY MODIFY,
      SUSPEND, OR DISCONTINUE ANY ASPECT OR FEATURE OF THE WEBSITE OR YOUR USE OF
      THIS WEBSITE. IF ONE-TIME SECRET ELECTS TO MODIFY, SUSPEND, OR DISCONTINUE THE
      WEBSITE, IT WILL NOT BE LIABLE TO YOU OR ANY THIRD PARTY.
    </p>
    <h3>10. Limitation of Liability and Indemnity</h3>
    <p>
      <strong>Limitation of Liability.</strong> IN NO CASE WILL ONE-TIME SECRET, ITS OFFICERS, DIRECTORS,
      SHAREHOLDERS, AGENTS, LICENSORS OR EMPLOYEES BE LIABLE FOR ANY INDIRECT,
      SPECIAL, CONSEQUENTIAL, EXEMPLARY, PUNITIVE DAMAGES OR OTHER DAMAGES, OR FOR
      ANY LOSSES, DAMAGES, LIABILITIES, COSTS AND EXPENSES ARISING OUT OF OR RELATING
      TO YOUR USE OF THE WEBSITE, REGARDLESS OF THE CAUSE OF ACTION (WHETHER IN
      CONTRACT, WARRANTY, DELICT, QUASI-DELICT, TORT, NEGLIGENCE, STRICT LIABILITY OR
      ANY OTHER THEORY OF LIABILITY) AND EVEN IF ONE-TIME SECRET HAS BEEN ADVISED OF THE
      POSSIBILITY OF SUCH DAMAGES. NOTHWITHSTANDING ANYTHING TO THE CONTRARY IN THESE
      TERMS OF USE, IN NO EVENT WILL ONE-TIME SECRET' AGGREGATE LIABILITY FOR ANY CLAIMS
      RESULTING FROM YOUR USE OF THE WEBSITE (INCLUDING ALL OF ITS CONTENT OR
      SERVICES) EXCEED (I) CAD$600, IF YOU DO NOT HAVE A PAID ACCOUNT OR (II) THE
      FEES YOU PAID DURING THE 12 MONTHS PRECEDING THE EVENT GIVING RISE TO THE
      LIABILITY, IF YOU HAVE A PAID ACCOUNT. SOME JURISDICTIONS DO NOT ALLOW THE
      EXCLUSION OF IMPLIED WARRANTIES OR LIMITATION OR EXCLUSION OF LIABILITY FOR
      INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE EXCLUSIONS AND LIMITATIONS
      MAY OR MAY NOT APPLY TO YOU.
    </p>
    <p>
      <strong>Indemnity.</strong> YOU WILL INDEMNIFY AND HOLD ONE-TIME SECRET, ITS OFFICERS, DIRECTORS,
      SHAREHOLDERS, AGENTS, LICENSORS AND EMPLOYEE HARMLESS WITH RESPECT TO ANY
      SUITS, CLAIMS OR DEMANDS (INCLUDING REASONABLE LAWYERS' FEES) ARISING OUT OF
      (I) YOUR BREACH OF THESE TERMS OF USE; (II) ANY DAMAGES BY YOU OR YOUR USE OF
      THE WEBSITE CAUSED TO A THIRD PARTY; OR (III) YOUR USE OR MISUSE OF THE WEBSITE
      AND/OR THE SERVICES.
    </p>
    <h3>11. Privacy Policy</h3>
    <p>
      Your use of the Website is also subject to One-Time Secret <a href="/info/privacy">Privacy Policy</a> (the
      "Privacy Policy"), which is incorporated by reference and made a part of the
      Terms of Use. It is important that you read and understand the terms of our
      Privacy Policy.
    </p>
    <h3>12. General</h3>
    <p>
      <strong>No Partnership.</strong> No agency, partnership, joint venture, or employment is created
      between you and One-Time Secret as a result of the Terms of Use and you do not have
      any authority of any kind to bind One-Time Secret in any respect whatsoever.
    </p>
    <p>
      <strong>Applicable Law; Jurisdiction.</strong> The Terms of Use shall be governed by and
      construed in accordance with the laws of the Province of Québec, Canada,
      applicable to agreements made and entirely to be performed within the Province
      of Québec, excluding any rules of private international law or the conflict of
      laws which would lead to the application of any other laws. Regardless of where
      you access this site, you agree that any action at law or in equity arising out
      of or relating to these Terms of Use shall be filed and adjudicated only in the
      federal or provincial courts located in Québec (district of Montreal), and you
      hereby irrevocably and unconditionally consent and attorn to the exclusive
      jurisdiction and venue of such courts over any suit, action or proceeding
      arising out of these Terms of Use.
    </p>
    <p>
      <strong>Severability.</strong> If any of the provisions of the Terms of Use or their application
      is found to be invalid under any applicable statute or rule or law, they are,
      to that extent, deemed omitted and the validity of the other provisions of the
      Terms of Use will not be affected.
    </p>
    <p>
      <strong>Questions.</strong> If you have any questions regarding the Terms of Use or wish to
      report any issue relating to the Website, its content or the Services you were
      provided, please contact us by email at chris@onetimesecret.com.
    </p>
  </div>
{{>footer}}
