---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=new-welcome-a4a699c1%40example.com
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 065337cd-8693-48aa-ba6a-6d2968576a0e
      Original-Request:
      - req_ZZaMkqyFJE96HZ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfYQrExE0A5s4p",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766664415,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "new-welcome-a4a699c1@example.com",
          "invoice_prefix": "UERPNNUT",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 25 Dec 2025 12:06:55 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_TfYQrExE0A5s4p&items[0][price]=price_test&metadata[custid]=019b5567-a9df-7a47-b579-16bac732fcc5&metadata[plan_id]=identity_v1
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7ab6ffce-5e83-4acc-a206-f1272ec96e95
      Original-Request:
      - req_YgcWeE5qQzcHtc
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such price: 'price_test'",
            "param": "items[0][price]",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_YgcWeE5qQzcHtc?t=1766664416",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 12:06:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=new-welcome-efb61417%40example.com
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 561bbb9b-1b0f-4e92-882f-8f3a6c9a1e0e
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="Stripe"
      X-Wc:
      - ABHIJ
      Stripe-Version:
      - "<STRIPE_VERSION>"
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Invalid API Key provided: sk_test_mock",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Fri, 26 Dec 2025 22:11:21 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_Tgu1Hj06w5IRLP&items[0][price]=price_test&metadata[custid]=019b67f0-4bc8-7fc5-926b-127f0f4e6278&metadata[plan_id]=identity_v1
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 6fc95108-7ddf-4adb-a97a-25b5aae0bbab
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6fc95108-7ddf-4adb-a97a-25b5aae0bbab
      Original-Request:
      - req_26HhB0PcwW8xsB
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such price: 'price_test'",
            "param": "items[0][price]",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_26HhB0PcwW8xsB?t=1766975361",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 29 Dec 2025 02:29:21 GMT
recorded_with: VCR 6.3.1
