---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_invalid&return_url=https%3A%2F%2F127.0.0.1%3A3000%2Faccount
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 49e682db-a5d8-4a4d-a34a-4af3f3aa242d
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 49e682db-a5d8-4a4d-a34a-4af3f3aa242d
      Original-Request:
      - req_nr5O8giheLkYZI
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such customer: 'cus_invalid'",
            "param": "customer",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_nr5O8giheLkYZI?t=1766975341",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 29 Dec 2025 02:29:01 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/checkout/sessions/cs_test_invalid?expand%5B%5D=customer&expand%5B%5D=subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such checkout.session: cs_test_invalid",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_XytJEbip9j2q6H?t=1766975342",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 29 Dec 2025 02:29:02 GMT
recorded_with: VCR 6.3.1
