---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_TgtXTmscAy8y2Z&return_url=https%3A%2F%2F127.0.0.1%3A3000%2Faccount
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - b7a76aab-68c4-49c7-aab3-33ecae2aacc5
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="Stripe"
      X-Wc:
      - ABHIJ
      Stripe-Version:
      - "<STRIPE_VERSION>"
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Invalid API Key provided: sk_test_mock",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 29 Dec 2025 02:15:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_TgtsRpx4cMUhtq&return_url=https%3A%2F%2F127.0.0.1%3A3000%2Faccount
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 8936a58a-efeb-4b5c-8df8-5e858986fa40
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8936a58a-efeb-4b5c-8df8-5e858986fa40
      Original-Request:
      - req_1mTNg1qkB5PiGK
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "bps_1SjW4ZH54PcLeqtYYLV4Znvh",
          "object": "billing_portal.session",
          "configuration": "bpc_1SjW4ZH54PcLeqtYhqKm4cqI",
          "created": 1766974839,
          "customer": "cus_TgtsRpx4cMUhtq",
          "customer_account": null,
          "flow": null,
          "livemode": false,
          "locale": null,
          "on_behalf_of": null,
          "return_url": "https://127.0.0.1:3000/account",
          "url": "https://billing.stripe.com/p/session/test_YWNjdF8xU1JVWFFINTRQY0xlcXRZLF9UZ3RzTElDQlBsMWRFWFBKS0hRbjlUOUtjMDh6SUZ10100C0AR5rS8"
        }
  recorded_at: Mon, 29 Dec 2025 02:20:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 659b4082-8359-4dd2-971d-e2883fd64efc
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 659b4082-8359-4dd2-971d-e2883fd64efc
      Original-Request:
      - req_rbryXzONcP1WYk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Tgu0B5eXYWisw0",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766975337,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "SGLOFKL6",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 29 Dec 2025 02:28:58 GMT
[...]
