---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_TgtXgyxmvYuGTn&return_url=https%3A%2F%2F127.0.0.1%3A3000%2Faccount
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 61909f2c-1f95-4a66-bb46-beb1c32e48c4
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="Stripe"
      X-Wc:
      - ABHIJ
      Stripe-Version:
      - "<STRIPE_VERSION>"
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Invalid API Key provided: sk_test_mock",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 29 Dec 2025 02:15:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_TgtsGgswKZcMcN&return_url=https%3A%2F%2F127.0.0.1%3A3000%2Faccount
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - f65773cc-51a2-4a16-966a-15636fa4d588
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f65773cc-51a2-4a16-966a-15636fa4d588
      Original-Request:
      - req_Ye3z7JfrKGB4la
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "bps_1SjW4aH54PcLeqtYcMlNjiwg",
          "object": "billing_portal.session",
          "configuration": "bpc_1SjW4ZH54PcLeqtYhqKm4cqI",
          "created": 1766974840,
          "customer": "cus_TgtsGgswKZcMcN",
          "customer_account": null,
          "flow": null,
          "livemode": false,
          "locale": null,
          "on_behalf_of": null,
          "return_url": "https://127.0.0.1:3000/account",
          "url": "https://billing.stripe.com/p/session/test_YWNjdF8xU1JVWFFINTRQY0xlcXRZLF9UZ3RzZ2lRSTN0dWs4MkluQ2xOQlgwdnU2Q2ZSQ0NG0100wq7ZOTDu"
        }
  recorded_at: Mon, 29 Dec 2025 02:20:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 4bbb1ac5-6e44-4903-b327-a7fc6e3ce544
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4bbb1ac5-6e44-4903-b327-a7fc6e3ce544
      Original-Request:
      - req_SK6touVz8DgHSK
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Tgu0Ky78KBUPVq",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766975339,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "TSWVKOHP",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 29 Dec 2025 02:28:59 GMT
[...]
