---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_TgtXwUPdn1cwzF&return_url=https%3A%2F%2F127.0.0.1%3A3000%2Faccount
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 2a50be72-e04d-44f8-98c7-547f5ff5140e
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="Stripe"
      X-Wc:
      - ABHIJ
      Stripe-Version:
      - "<STRIPE_VERSION>"
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Invalid API Key provided: sk_test_mock",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 29 Dec 2025 02:15:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_TgtsGW27dWhAXJ&return_url=https%3A%2F%2F127.0.0.1%3A3000%2Faccount
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 5489c279-fbc0-46d2-812a-31188a1fe059
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5489c279-fbc0-46d2-812a-31188a1fe059
      Original-Request:
      - req_fO6ThVn8fMeaTQ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "bps_1SjW4bH54PcLeqtYBU4qKWGR",
          "object": "billing_portal.session",
          "configuration": "bpc_1SjW4ZH54PcLeqtYhqKm4cqI",
          "created": 1766974841,
          "customer": "cus_TgtsGW27dWhAXJ",
          "customer_account": null,
          "flow": null,
          "livemode": false,
          "locale": null,
          "on_behalf_of": null,
          "return_url": "https://127.0.0.1:3000/account",
          "url": "https://billing.stripe.com/p/session/test_YWNjdF8xU1JVWFFINTRQY0xlcXRZLF9UZ3RzU0s0c2lIQWJtNUZ2OURaUHR1OHV0ZWlPUnBt0100pvTfAlXx"
        }
  recorded_at: Mon, 29 Dec 2025 02:20:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 2d4b399c-9b29-4be4-b74a-41dec4320e84
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2d4b399c-9b29-4be4-b74a-41dec4320e84
      Original-Request:
      - req_eRzdoIASOCVhyB
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Tgu0CO1MDfalfc",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766975340,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "UJCEZTA9",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 29 Dec 2025 02:29:00 GMT
[...]
