---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_nonexistent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such customer: 'cus_nonexistent'",
            "param": "id",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_J6dXmrV9yRfDU2?t=1766527536",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Tue, 23 Dec 2025 22:05:37 GMT
recorded_with: VCR 6.3.1
