---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_nonexistent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="Stripe"
      X-Wc:
      - ABHIJ
      Stripe-Version:
      - "<STRIPE_VERSION>"
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Invalid API Key provided: sk_test_123",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Fri, 12 Dec 2025 00:54:13 GMT
recorded_with: VCR 6.3.1
