a { text-decoration: underline; }
pre.example{max-height:100px;}
div.line{border-bottom:4px solid #0cc;font-weight:bold;padding:0px;margin:0px;}
div#docsContent{padding-top:20px;}
.docTitle{margin-bottom:4px;padding-top:10px;}
.docSubtext{font-style:italic;margin-bottom:12px;background:#ff0;}
.params{}
.options em {margin-left: 12px}
.options ul li{margin-left:12px;}
.options ul li .name{font-style:italic; text-decoration: underline}
#docnav { display:block; width: 180px; margin-top: 0px; }
#docnav li { padding-left: 10px; line-height: 28px; }
#docnav li.selected {
  font-weight: bold;
  font-style: italic;
  background: #eee;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#docnav .selected a { color: #000;}
#topicContent {
  font-size: 0.9em;
  margin-top: 0px;
  padding-top: 0px;
}

.colourize {
  background-color: #f8f8f8;
  border: 1px solid silver;
  font-family: 'Courier New', 'Terminal', monospace;
  color: #000;
}
pre.colourize  { margin: 12px; padding: 6px }

div.colourize { }

span.colourize { white-space: pre; border: 0px; padding: 2px }

table.colourize { border-collapse: collapse; width: 100%; padding: 2px }
table.colourize td { padding: 2px 4px; vertical-align: top }

.colourize .line_numbers, .colourize .no {
  background-color: #def;
  color: gray;
  text-align: right;
}
.colourize .line_numbers tt { font-weight: bold }
.colourize .line_numbers .highlighted { color: red }
.colourize .no { padding: 0px 4px }
.colourize .code { width: 100% }

ol.colourize { font-size: 10pt }
ol.colourize li { white-space: pre }

.colourize .code pre { overflow: auto }

.colourize .debug { color:white ! important; background:blue ! important; }

.colourize .af { color:#00C }
.colourize .an { color:#007 }
.colourize .at { color:#f08 }
.colourize .av { color:#700 }
.colourize .aw { color:#C00 }
.colourize .bi { color:#509; font-weight:bold }
.colourize .c  { color:#888; }

.colourize .ch { color:#04D }
.colourize .ch .k { color:#04D }
.colourize .ch .dl { color:#039 }

.colourize .cl { color:#B06; font-weight:bold }
.colourize .cm { color:#A08; font-weight:bold }
.colourize .co { color:#036; font-weight:bold }
.colourize .cr { color:#0A0 }
.colourize .cv { color:#369 }
.colourize .de { color:#B0B; }
.colourize .df { color:#099; font-weight:bold }
.colourize .di { color:#088; font-weight:bold }
.colourize .dl { color:black }
.colourize .do { color:#970 }
.colourize .dt { color:#34b }
.colourize .ds { color:#D42; font-weight:bold }
.colourize .e  { color:#666; font-weight:bold }
.colourize .en { color:#800; font-weight:bold }
.colourize .er { color:#F00; background-color:#FAA }
.colourize .ex { color:#C00; font-weight:bold }
.colourize .fl { color:#60E; font-weight:bold }
.colourize .fu { color:#06B; font-weight:bold }
.colourize .gv { color:#d70; font-weight:bold }
.colourize .hx { color:#058; font-weight:bold }
.colourize .i  { color:#00D; font-weight:bold }
.colourize .ic { color:#B44; font-weight:bold }

.colourize .il { background: #ddd; color: black }
.colourize .il .il { background: #ccc }
.colourize .il .il .il { background: #bbb }
.colourize .il .idl { background: #ddd; font-weight: bold; color: #666 }
.colourize .idl { background-color: #bbb; font-weight: bold; color: #666; }

.colourize .im { color:#f00; }
.colourize .in { color:#B2B; font-weight:bold }
.colourize .iv { color:#33B }
.colourize .la { color:#970; font-weight:bold }
.colourize .lv { color:#963 }
.colourize .oc { color:#40E; font-weight:bold }
.colourize .of { color:#000; font-weight:bold }
.colourize .op { }
.colourize .pc { color:#038; font-weight:bold }
.colourize .pd { color:#369; font-weight:bold }
.colourize .pp { color:#579; }
.colourize .ps { color:#00C; font-weight:bold }
.colourize .pt { color:#074; font-weight:bold }
.colourize .r, .kw  { color:#080; font-weight:bold }

.colourize .ke { color: #808; }
.colourize .ke .dl { color: #606; }
.colourize .ke .ch { color: #80f; }
.colourize .vl { color: #088; }

.colourize .rx { background-color:#fff0ff }
.colourize .rx .k { color:#808 }
.colourize .rx .dl { color:#404 }
.colourize .rx .mod { color:#C2C }
.colourize .rx .fu  { color:#404; font-weight: bold }

.colourize .s { background-color:#fff0f0; color: #D20; }
.colourize .s .s { background-color:#ffe0e0 }
.colourize .s .s  .s { background-color:#ffd0d0 }
.colourize .s .k { }
.colourize .s .ch { color: #b0b; }
.colourize .s .dl { color: #710; }

.colourize .sh { background-color:#f0fff0; color:#2B2 }
.colourize .sh .k { }
.colourize .sh .dl { color:#161 }

.colourize .sy { color:#A60 }
.colourize .sy .k { color:#A60 }
.colourize .sy .dl { color:#630 }

.colourize .ta { color:#070 }
.colourize .tf { color:#070; font-weight:bold }
.colourize .ts { color:#D70; font-weight:bold }
.colourize .ty { color:#339; font-weight:bold }
.colourize .v  { color:#036 }
.colourize .xt { color:#444 }

.colourize .ins { background: #afa; }
.colourize .del { background: #faa; }
.colourize .chg { color: #aaf; background: #007; }
.colourize .head { color: #f8f; background: #505 }

.colourize .ins .ins { color: #080; font-weight:bold }
.colourize .del .del { color: #800; font-weight:bold }
.colourize .chg .chg { color: #66f; }
.colourize .head .head { color: #f4f; }
