---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Add+Marketing+Feature+Test&metadata[app]=onetimesecret&metadata[plan_id]=&metadata[tier]=&metadata[region]=&metadata[tenancy]=&metadata[entitlements]=
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766671665-b9a89ab3-7570-402d-8f4d-f4fefd175308
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766671665-b9a89ab3-7570-402d-8f4d-f4fefd175308
      Original-Request:
      - req_fwp8nmdUUEPDT3
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNibrKYWqad5",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671665,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {
            "app": "onetimesecret"
          },
          "name": "Add Marketing Feature Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671665,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:45 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TfaNibrKYWqad5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNibrKYWqad5",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671665,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {
            "app": "onetimesecret"
          },
          "name": "Add Marketing Feature Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671665,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products/prod_TfaNibrKYWqad5
    body:
      encoding: UTF-8
      string: metadata[app]=onetimesecret&metadata[created]=2025-12-25T14%3A07%3A45Z&metadata[display_order]=100&metadata[show_on_plans_page]=true&marketing_features[0][name]=New+Feature
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4c21efc1-4cb9-4254-a22d-d1557dfd153c
      Original-Request:
      - req_tlh1aH3tFTDSwk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNibrKYWqad5",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671665,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [
            {
              "name": "New Feature"
            }
          ],
          "metadata": {
            "app": "onetimesecret",
            "created": "2025-12-25T14:07:45Z",
            "display_order": "100",
            "show_on_plans_page": "true"
          },
          "name": "Add Marketing Feature Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671665,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:45 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_TfaNibrKYWqad5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNibrKYWqad5",
          "object": "product",
          "deleted": true
        }
  recorded_at: Thu, 25 Dec 2025 14:07:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products/prod_TfaNibrKYWqad5
    body:
      encoding: UTF-8
      string: metadata[app]=onetimesecret&metadata[created]=2025-12-25T14%3A20%3A20Z&metadata[display_order]=100&metadata[show_on_plans_page]=true&marketing_features[0][name]=New+Feature
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="Stripe"
      X-Wc:
      - ABHIJ
      Stripe-Version:
      - "<STRIPE_VERSION>"
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Invalid API Key provided: sk_test_mock",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 14:20:20 GMT
recorded_with: VCR 6.3.1
