---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Marketing+Section+Test&metadata[app]=onetimesecret&metadata[plan_id]=&metadata[tier]=&metadata[region]=&metadata[tenancy]=&metadata[entitlements]=
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766671668-edc2fb8c-bd64-4890-a2d0-0f04bd18d256
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766671668-edc2fb8c-bd64-4890-a2d0-0f04bd18d256
      Original-Request:
      - req_iBrYDVdGmmglxS
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNq6Im9ezF1F",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671668,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {
            "app": "onetimesecret"
          },
          "name": "Marketing Section Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671668,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:48 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TfaNq6Im9ezF1F
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNq6Im9ezF1F",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671668,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {
            "app": "onetimesecret"
          },
          "name": "Marketing Section Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671668,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:49 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products/prod_TfaNq6Im9ezF1F
    body:
      encoding: UTF-8
      string: metadata[app]=onetimesecret&metadata[created]=2025-12-25T14%3A07%3A49Z&metadata[display_order]=100&metadata[show_on_plans_page]=true&metadata[tier]=pro
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 215bb327-3a0e-4b8e-8814-a756087170e9
      Original-Request:
      - req_X5JbjL13rNQHeS
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNq6Im9ezF1F",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671668,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {
            "app": "onetimesecret",
            "created": "2025-12-25T14:07:49Z",
            "display_order": "100",
            "show_on_plans_page": "true",
            "tier": "pro"
          },
          "name": "Marketing Section Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671669,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:49 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products/prod_TfaNq6Im9ezF1F
    body:
      encoding: UTF-8
      string: metadata[app]=onetimesecret&metadata[created]=2025-12-25T14%3A20%3A19Z&metadata[display_order]=100&metadata[show_on_plans_page]=true&metadata[tier]=pro
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="Stripe"
      X-Wc:
      - ABHIJ
      Stripe-Version:
      - "<STRIPE_VERSION>"
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Invalid API Key provided: sk_test_mock",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 14:20:19 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TfbGCllmspb50h
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfbGCllmspb50h",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766674983,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [
            {
              "name": "Feature 1"
            }
          ],
          "metadata": {
            "app": "onetimesecret"
          },
          "name": "Marketing Section Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766674983,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 15:03:04 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_Tgwo04ltzm8ovg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_Tgwo04ltzm8ovg",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766985752,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [
            {
              "name": "Feature 1"
            }
          ],
          "metadata": {
            "app": "onetimesecret"
          },
          "name": "Marketing Section Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766985752,
          "url": null
        }
  recorded_at: Mon, 29 Dec 2025 05:22:32 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TzPURxKPTiDQX0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TzPURxKPTiDQX0",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1771243940,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [
            {
              "name": "Feature 1"
            }
          ],
          "metadata": {
            "app": "onetimesecret"
          },
          "name": "Marketing Section Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1771243940,
          "url": null
        }
  recorded_at: Mon, 16 Feb 2026 12:12:20 GMT
[...]
