---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TfaNzUuGTwHKSF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNzUuGTwHKSF",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671671,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {
            "app": "onetimesecret"
          },
          "name": "Metadata Fields Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671671,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products/prod_TfaNzUuGTwHKSF
    body:
      encoding: UTF-8
      string: metadata[app]=onetimesecret&metadata[created]=2025-12-25T14%3A07%3A51Z&metadata[display_order]=100&metadata[show_on_plans_page]=true&metadata[tier]=pro
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - db67d0d6-95b7-4dae-9ea6-9042664a326d
      Original-Request:
      - req_5tbioczAnRUnLg
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNzUuGTwHKSF",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671671,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {
            "app": "onetimesecret",
            "created": "2025-12-25T14:07:51Z",
            "display_order": "100",
            "show_on_plans_page": "true",
            "tier": "pro"
          },
          "name": "Metadata Fields Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671671,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products/prod_TfaNzUuGTwHKSF
    body:
      encoding: UTF-8
      string: metadata[app]=onetimesecret&metadata[created]=2025-12-25T14%3A20%3A19Z&metadata[display_order]=100&metadata[show_on_plans_page]=true&metadata[tier]=pro
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="Stripe"
      X-Wc:
      - ABHIJ
      Stripe-Version:
      - "<STRIPE_VERSION>"
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Invalid API Key provided: sk_test_mock",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 14:20:19 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TgwoZRCO360AEp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TgwoZRCO360AEp",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766985750,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {
            "app": "onetimesecret"
          },
          "name": "Metadata Fields Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766985750,
          "url": null
        }
  recorded_at: Mon, 29 Dec 2025 05:22:31 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Metadata+Fields+Test&metadata[app]=onetimesecret&metadata[plan_id]=&metadata[tier]=&metadata[region]=&metadata[tenancy]=&metadata[entitlements]=
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1771243940-95f2d1cb-20cd-4ad3-8430-0881e315b6d5
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-w[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TzPUxwMG990JBd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TzPUxwMG990JBd",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1771243940,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {
            "app": "onetimesecret"
          },
          "name": "Metadata Fields Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1771243940,
          "url": null
        }
  recorded_at: Mon, 16 Feb 2026 12:12:20 GMT
[...]
