---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TfaNqU0Yy7eHTJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNqU0Yy7eHTJ",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671666,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [
            {
              "name": "Old Feature"
            }
          ],
          "metadata": {
            "app": "onetimesecret"
          },
          "name": "Remove Marketing Feature Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671666,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products/prod_TfaNqU0Yy7eHTJ
    body:
      encoding: UTF-8
      string: metadata[app]=onetimesecret&metadata[created]=2025-12-25T14%3A07%3A46Z&metadata[display_order]=100&metadata[show_on_plans_page]=true
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ddcb23fe-894e-438d-8d58-2eb98a95879a
      Original-Request:
      - req_B4qdQdNoLJxsfR
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNqU0Yy7eHTJ",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671666,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [
            {
              "name": "Old Feature"
            }
          ],
          "metadata": {
            "app": "onetimesecret",
            "created": "2025-12-25T14:07:46Z",
            "display_order": "100",
            "show_on_plans_page": "true"
          },
          "name": "Remove Marketing Feature Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671667,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:47 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_TfaNqU0Yy7eHTJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNqU0Yy7eHTJ",
          "object": "product",
          "deleted": true
        }
  recorded_at: Thu, 25 Dec 2025 14:07:47 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products/prod_TfaNqU0Yy7eHTJ
    body:
      encoding: UTF-8
      string: metadata[app]=onetimesecret&metadata[created]=2025-12-25T14%3A20%3A19Z&metadata[display_order]=100&metadata[show_on_plans_page]=true
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="Stripe"
      X-Wc:
      - ABHIJ
      Stripe-Version:
      - "<STRIPE_VERSION>"
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Invalid API Key provided: sk_test_mock",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 14:20:19 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TfazdpAhJlz6Ry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfazdpAhJlz6Ry",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766673940,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [
            {
              "name": "Old Feature"
            }
          ],
          "metadata": {
            "app": "onetimesecret"
          },
          "name": "Remove Marketing Feature Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766673940,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:45:40 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_Tfb09myVIy0ssE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_Tfb09myVIy0ssE",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766673981,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [
            {
              "name": "Old Feature"
            }
          ],
          "metadata": {
            "app": "onetimesecret"
          },
          "name": "Remove Marketing Feature Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766673981,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:46:21 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TgwoADEVUFsTSn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TgwoADEVUFsTSn",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766985740,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [
            {
              "name": "Old Feature"
            }
          ],
          "metadata": {
            "app": "onetimesecret"
          },
          "name": "Remove Marketing Feature Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766985740,
          "url": null
        }
  recorded_at: Mon, 29 Dec 2025 05:22:20 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Remove+Marketing+Feature+Test&marketing_features[0][name]=Old+Feature&metadata[app]=onetimesecret
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1771243942-9a6ee68c-f5b1-42c4-b3c9-29f60a2706c7
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
    [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TzPUHUjiG6D6HV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TzPUHUjiG6D6HV",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1771243943,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [
            {
              "name": "Old Feature"
            }
          ],
          "metadata": {
            "app": "onetimesecret"
          },
          "name": "Remove Marketing Feature Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1771243943,
          "url": null
        }
  recorded_at: Mon, 16 Feb 2026 12:12:23 GMT
[...]
