---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TfaNTVvRS2Mg9q
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNTVvRS2Mg9q",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671664,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {
            "app": "onetimesecret"
          },
          "name": "Entitlements Update Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671664,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products/prod_TfaNTVvRS2Mg9q
    body:
      encoding: UTF-8
      string: metadata[app]=onetimesecret&metadata[created]=2025-12-25T14%3A07%3A44Z&metadata[display_order]=100&metadata[show_on_plans_page]=true&metadata[entitlements]=api%2Cwebhooks
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8ceea41a-ac7b-4e2a-9b61-e8f28061e976
      Original-Request:
      - req_ZLgUZCdKLfhQn6
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNTVvRS2Mg9q",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671664,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {
            "app": "onetimesecret",
            "created": "2025-12-25T14:07:44Z",
            "display_order": "100",
            "entitlements": "api,webhooks",
            "show_on_plans_page": "true"
          },
          "name": "Entitlements Update Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671664,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:44 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_TfaNTVvRS2Mg9q
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNTVvRS2Mg9q",
          "object": "product",
          "deleted": true
        }
  recorded_at: Thu, 25 Dec 2025 14:07:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products/prod_TfaNTVvRS2Mg9q
    body:
      encoding: UTF-8
      string: metadata[app]=onetimesecret&metadata[created]=2025-12-25T14%3A20%3A19Z&metadata[display_order]=100&metadata[show_on_plans_page]=true&metadata[entitlements]=api%2Cwebhooks
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="Stripe"
      X-Wc:
      - ABHIJ
      Stripe-Version:
      - "<STRIPE_VERSION>"
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Invalid API Key provided: sk_test_mock",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 14:20:19 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TfazOqrXPDwzWX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfazOqrXPDwzWX",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766673940,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {
            "app": "onetimesecret"
          },
          "name": "Entitlements Update Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766673940,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:45:41 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_Tfb0f2NsPfZfqq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_Tfb0f2NsPfZfqq",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766673981,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {
            "app": "onetimesecret"
          },
          "name": "Entitlements Update Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766673981,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:46:21 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TgwnnAsUBMmUXc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TgwnnAsUBMmUXc",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766985738,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {
            "app": "onetimesecret"
          },
          "name": "Entitlements Update Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766985738,
          "url": null
        }
  recorded_at: Mon, 29 Dec 2025 05:22:19 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Entitlements+Update+Test&metadata[app]=onetimesecret&metadata[plan_id]=&metadata[tier]=&metadata[region]=&metadata[tenancy]=&metadata[entitlements]=
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1771243941-4b87d1f2-51dd-4f61-aeb1-19ac4cf7bb1c
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TzPUWe25nO0kN0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TzPUWe25nO0kN0",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1771243941,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {
            "app": "onetimesecret"
          },
          "name": "Entitlements Update Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1771243941,
          "url": null
        }
  recorded_at: Mon, 16 Feb 2026 12:12:22 GMT
[...]
