---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TfaNUkBS4pZIot
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNUkBS4pZIot",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671669,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {
            "app": "onetimesecret"
          },
          "name": "Tier Update Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671669,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:49 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products/prod_TfaNUkBS4pZIot
    body:
      encoding: UTF-8
      string: metadata[app]=onetimesecret&metadata[created]=2025-12-25T14%3A07%3A49Z&metadata[display_order]=100&metadata[show_on_plans_page]=true&metadata[tier]=enterprise
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - eec63598-66c9-4fa4-9bf5-238757ca3490
      Original-Request:
      - req_0FbGRGxUXcLGs9
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNUkBS4pZIot",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671669,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {
            "app": "onetimesecret",
            "created": "2025-12-25T14:07:49Z",
            "display_order": "100",
            "show_on_plans_page": "true",
            "tier": "enterprise"
          },
          "name": "Tier Update Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671669,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:49 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_TfaNUkBS4pZIot
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNUkBS4pZIot",
          "object": "product",
          "deleted": true
        }
  recorded_at: Thu, 25 Dec 2025 14:07:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products/prod_TfaNUkBS4pZIot
    body:
      encoding: UTF-8
      string: metadata[app]=onetimesecret&metadata[created]=2025-12-25T14%3A20%3A19Z&metadata[display_order]=100&metadata[show_on_plans_page]=true&metadata[tier]=enterprise
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="Stripe"
      X-Wc:
      - ABHIJ
      Stripe-Version:
      - "<STRIPE_VERSION>"
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Invalid API Key provided: sk_test_mock",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 14:20:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Tier+Update+Test&metadata[app]=onetimesecret&metadata[plan_id]=&metadata[tier]=&metadata[region]=&metadata[tenancy]=&metadata[entitlements]=
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766985736-a60b14d7-dc15-410e-ae9f-744e2938bff8
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-f[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TgwnBWEMWgr0LG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TgwnBWEMWgr0LG",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766985737,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {
            "app": "onetimesecret"
          },
          "name": "Tier Update Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766985737,
          "url": null
        }
  recorded_at: Mon, 29 Dec 2025 05:22:17 GMT
[...]
