---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TfaN3S7grhD8KU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaN3S7grhD8KU",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671667,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {
            "app": "onetimesecret"
          },
          "name": "Region Update Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671667,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:47 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products/prod_TfaN3S7grhD8KU
    body:
      encoding: UTF-8
      string: metadata[app]=onetimesecret&metadata[created]=2025-12-25T14%3A07%3A47Z&metadata[display_order]=100&metadata[show_on_plans_page]=true&metadata[region]=eu-west
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 35756ac8-41d7-408f-8b00-2baff47db5ab
      Original-Request:
      - req_MtjQyuC90VK7WN
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaN3S7grhD8KU",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671667,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {
            "app": "onetimesecret",
            "created": "2025-12-25T14:07:47Z",
            "display_order": "100",
            "region": "eu-west",
            "show_on_plans_page": "true"
          },
          "name": "Region Update Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671667,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:47 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_TfaN3S7grhD8KU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaN3S7grhD8KU",
          "object": "product",
          "deleted": true
        }
  recorded_at: Thu, 25 Dec 2025 14:07:48 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products/prod_TfaN3S7grhD8KU
    body:
      encoding: UTF-8
      string: metadata[app]=onetimesecret&metadata[created]=2025-12-25T14%3A20%3A20Z&metadata[display_order]=100&metadata[show_on_plans_page]=true&metadata[region]=eu-west
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="Stripe"
      X-Wc:
      - ABHIJ
      Stripe-Version:
      - "<STRIPE_VERSION>"
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Invalid API Key provided: sk_test_mock",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 14:20:20 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TgwoEf9oQFpf7X
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TgwoEf9oQFpf7X",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766985749,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {
            "app": "onetimesecret"
          },
          "name": "Region Update Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766985749,
          "url": null
        }
  recorded_at: Mon, 29 Dec 2025 05:22:29 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Region+Update+Test&metadata[app]=onetimesecret&metadata[plan_id]=&metadata[tier]=&metadata[region]=&metadata[tenancy]=&metadata[entitlements]=
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1771243942-6be46227-eb12-4d4a-b08d-42d482080209
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TzPUvYQpyiiQu0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TzPUvYQpyiiQu0",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1771243942,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {
            "app": "onetimesecret"
          },
          "name": "Region Update Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1771243942,
          "url": null
        }
  recorded_at: Mon, 16 Feb 2026 12:12:22 GMT
[...]
