# Default
**/.classpath
**/.dockerignore
**/.env*
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
.DS_Store
fly.toml


# Project specific
!.env.empty
!.env.example
**/log
**/tmp
sorbet/
spoom_data/
spoom_*
.bundle
.ruby-version
.history
.vscode
.dev-container
