# Globs
**/.classpath
**/.dockerignore
**/.env*
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/log
**/tmp

# Directories
.bundle
.certs/
.dev-container
.history
.pnpm/
.prompts/
.ruby-version
.appendonlydir
appendonlydir
data/
etc/caddy
log
sorbet/
spoom_data/
spoom_*
tmp
vendor

# Files
.DS_Store
!.pr_agent.toml
Caddyfile
fly.toml
etc/examples
etc/config*
etc/*.yaml
!etc/config.test.yaml
!.env.empty
!.env.example
*.rdb
!package.json
!pnpm-lock.yaml
!tsconfig*.json
!vite.config.ts
!postcss.config.mjs
!tailwind.config.ts
!eslint.config.ts
!.commit_hash.txt
