# Globs
*.env
*.log
*.rdb
*.txt
.byebug*
.ruby-version
spoom_*
.commit_hash.txt
*.sublime-*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Directories
.certs/
.claude
.continue/
.devcontainer
.history
.pnpm/
.pnpm-store/
.prompts/
.prompts*
.pytest_cache/
.ruby-lsp/
.vscode/
.idea/
.cache/
.temp/
.appendonlydir/
.bundle/
.rspec
appendonlydir/
data/
node_modules/
vendor/
log/
tmp/
coverage/
dist/
public/web/dist/
!tests/data

# Files
.DS_Store
!pr_agent.toml
etc/config*
etc/*.yaml
support/schemas/
etc/system_settings*
!etc/system_settings.example.yaml
!fly.toml
.github/*md
.eslintcache
.claude
.rspec*
.qodo
.continuerc.json
tsconfig.tsbuildinfo
CLAUDE.md

# Ignore WIP or temp dev files with uppercase names
[A-Z]*.rb
[A-Z]*.ts

# Environment files
.env*
!.env.example

# Playwright paths
test-results/
playwright-report/
blob-report/
playwright/.cache/
