# Globs
*.env
*.log
*.rdb
*.txt
.byebug*
.ruby-version
spoom_*
.commit_hash.txt

# Directories
.certs/
.devcontainer
.history
.pnpm/
.prompts/
.prompts
.vscode/

.appendonlydir/
.bundle/
appendonlydir/
data/
node_modules/
vendor/
log/
tmp/
etc/caddy/
coverage/

# Files
.DS_Store
!pr_agent.toml
etc/config*
!etc/config.example.yaml
!etc/config.schema.yaml
!fly.toml
