
# The 'shamefully-hoist' option is set to 'true', which allows
# dependencies to be hoisted to the top-level of the dependency
# tree, even if they are not direct dependencies of the project.
#
# Hoisting, in the context of the 'shamefully-hoist' option,
# refers to the practice of moving dependencies up to the top
# level of the dependency tree. This can help to avoid
# duplication of dependencies and can make them easier to
# manage. However, it can also potentially lead to issues if a
# package is expecting a specific version of a dependency that
# is different from the version that has been hoisted.
#
shamefully-hoist=true

# The 'strict-peer-dependencies' option is set to 'false', which
# disables strict enforcement of peer dependency versions.
#
# Strict dependency enforcement, in the context of the
# 'strict-peer-dependencies' option, means that the package
# manager (like npm or yarn) will strictly enforce that all
# peer dependencies are installed and that their versions match
# the requirements specified in the package.json file. If this
# option is set to 'false', the package manager will not enforce
# these requirements, which could potentially lead to version
# conflicts or missing dependencies.
#
strict-peer-dependencies=true
