{
  "arrayBrackets": "multiline",
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "functionParenthesis": "multiline",
  "htmlWhitespaceSensitivity": "strict",
  "jsxSingleQuote": false,
  "objectBraces": "multiline",
  "overrides": [
    {
      "files": "*.rb",
      "options": {
        "parser": "ruby",
        "rubyParser": "syntax_tree"
      }
    }
  ],
  "plugins": ["prettier-plugin-vue", "@prettier/plugin-ruby"],
  "printWidth": 120,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "semi": true,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "vueIndentScriptAndStyle": true
}
