# Procfile.dev

# Use the port if set otherwise default to 3000
backend: bin/backend -p ${PORT:-3000} etc/examples/puma.example.rb

frontend: bin/frontend

worker: bin/worker

scheduler: bin/scheduler
