---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/prices
    body:
      encoding: UTF-8
      string: unit_amount=2000&currency=cad&recurring[interval]=month&product=prod_TfaLi4W6K1WljL
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766671577-3093dbb4-7cff-4677-9f59-4669de17f8f5
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766671577-3093dbb4-7cff-4677-9f59-4669de17f8f5
      Original-Request:
      - req_tYs1BxO4OQ1Eec
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "price_1SiFBGH54PcLeqtYDheOPv8U",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1766671578,
          "currency": "cad",
          "custom_unit_amount": null,
          "livemode": false,
          "lookup_key": null,
          "metadata": {},
          "nickname": null,
          "product": "prod_TfaLi4W6K1WljL",
          "recurring": {
            "interval": "month",
            "interval_count": 1,
            "meter": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "tax_behavior": "unspecified",
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "recurring",
          "unit_amount": 2000,
          "unit_amount_decimal": "2000"
        }
  recorded_at: Thu, 25 Dec 2025 14:06:18 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_TfaLugQF2zxauI&items[0][price]=price_1SiFBGH54PcLeqtYDheOPv8U
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766671578-86bf60c9-6ed4-433d-906f-73c7349d4d7c
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766671578-86bf60c9-6ed4-433d-906f-73c7349d4d7c
      Original-Request:
      - req_2nh2zD2fOdu9Wq
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_1SiFBGH54PcLeqtYCyFksT1s",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_tax": {
            "disabled_reason": null,
            "enabled": false,
            "liability": null
          },
          "billing_cycle_anchor": 1766671578,
          "billing_cycle_anchor_config": null,
          "billing_mode": {
            "flexible": {
              "proration_discounts": "included"
            },
            "type": "flexible",
            "updated_at": 1766671578
          },
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "reason": null
          },
          "collection_method": "charge_automatically",
          "created": 1766671578,
          "currency": "cad",
          "customer": "cus_TfaLugQF2zxauI",
          "customer_account": null,
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discounts": [],
          "ended_at": null,
          "invoice_settings": {
            "account_tax_ids": null,
            "issuer": {
              "type": "self"
            }
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_TfaLiTZ8KyAGKi",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1766671578,
                "current_period_end": 1769349978,
                "current_period_start": 1766671578,
                "discounts": [],
                "metadata": {},
                "plan": {
                  "id": "price_1SiFBGH54PcLeqtYDheOPv8U",
                  "object": "plan",
                  "active": true,
                  "amount": 2000,
                  "amount_decimal": "2000",
                  "billing_scheme": "per_unit",
                  "created": 1766671578,
                  "currency": "cad",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "meter": null,
                  "nickname": null,
                  "product": "prod_TfaLi4W6K1WljL",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "price_1SiFBGH54PcLeqtYDheOPv8U",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1766671578,
                  "currency": "cad",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_TfaLi4W6K1WljL",
                  "recurring": {
                    "interval": "month",
                    "interval_count": 1,
                    "meter": null,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tax_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 2000,
                  "unit_amount_decimal": "2000"
                },
                "quantity": 1,
                "subscription": "sub_1SiFBGH54PcLeqtYCyFksT1s",
                "tax_rates": []
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_1SiFBGH54PcLeqtYCyFksT1s"
          },
          "latest_invoice": "in_1SiFBGH54PcLeqtYlB9QoDOS",
          "livemode": false,
          "metadata": {},
          "next_pending_invoice_item_invoice": null,
          "on_behalf_of": null,
          "pause_collection": null,
          "payment_settings": {
            "payment_method_options": null,
            "payment_method_types": null,
            "save_default_payment_method": "off"
          },
          "pending_invoice_item_interval": null,
          "pending_setup_intent": null,
          "pending_update": null,
          "plan": {
            "id": "price_1SiFBGH54PcLeqtYDheOPv8U",
            "object": "plan",
            "active": true,
            "amount": 2000,
            "amount_decimal": "2000",
            "billing_scheme": "per_unit",
            "created": 1766671578,
            "currency": "cad",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "meter": null,
            "nickname": null,
            "product": "prod_TfaLi4W6K1WljL",
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start_date": 1766671578,
          "status": "active",
          "test_clock": null,
          "transfer_data": null,
          "trial_end": null,
          "trial_settings": {
            "end_behavior": {
              "missing_payment_method": "create_invoice"
            }
          },
          "trial_start": null
        }
  recorded_at: Thu, 25 Dec 2025 14:06:20 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_1SiFBGH54PcLeqtYCyFksT1s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      str[...]
[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_TfaLugQF2zxauI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfaLugQF2zxauI",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Thu, 25 Dec 2025 14:06:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=sub-test%40example.com&source=tok_visa
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766985560-75506af7-3651-4e90-a59a-5e72f665bc8b
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766985560-75506af7-3651-4e90-a59a-5e72f665bc8b
      Original-Request:
      - req_UFLS8u01youkUQ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TgwlZJ9EsEmMTb",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766985560,
          "currency": null,
          "customer_account": null,
          "default_source": "card_1SjYrUH54PcLeqtYcVINJHEG",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "sub-test@example.com",
          "invoice_prefix": "PGCKI72J",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 29 Dec 2025 05:19:21 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=VCR+Test+Product
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766985561-372b777d-c465-45bc-85e8-55aad914462f
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766985561-372b777d-c465-45bc-85e8-55aad914462f
      Original-Request:
      - req_3x27OUMshVOucU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_Tgwlkuv0Q0n90s",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766985561,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "VCR Test Product",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766985561,
          "url": null
        }
  recorded_at: Mon, 29 Dec 2025 05:19:21 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_1SjYrWH54PcLeqtYqNrVNnas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      str[...]
[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_TgwlZJ9EsEmMTb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TgwlZJ9EsEmMTb",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Mon, 29 Dec 2025 05:19:28 GMT
- request:
    method: post
    uri: https://catch.onetimesecret.com/api/2/envelope/
    body:
      encoding: UTF-8
      string: |-
        {"event_id":"13195e3311fb4061b1b23a27e9af53b2","dsn":"https://e4f0e05ca113560573e15f5e52428419@catch.onetimesecret.com/2","sdk":{"name":"sentry.ruby","version":"6.5.0"},"sent_at":"2026-05-20T00:05:04Z","trace":{"trace_id":"53846508144c45939d87fa6a1344753b","sample_rate":"0.1","sample_rand":"0.091308","sampled":"true","environment":"development","release":"local-dev","public_key":"e4f0e05ca113560573e15f5e52428419"}}
        {"type":"transaction","content_type":"application/json"}
        {"event_id":"13195e3311fb4061b1b23a27e9af53b2","level":"error","timestamp":1779235504.314354,"release":"local-dev","environment":"development","server_name":"Tundra.local","modules":{"rake":"13.3.1","base64":"0.3.0","bigdecimal":"4.1.1","concurrent-ruby":"1.3.6","connection_pool":"2.5.5","drb":"2.2.3","i18n":"1.14.8","json":"2.19.5","logger":"1.7.0","minitest":"5.27.0","securerandom":"0.4.1","tzinfo":"2.0.6","uri":"1.1.1","activesupport":"8.1.2.1","activemodel":"8.1.2.1","public_suffix":"7.0.5","addressable":"2.9.0","aes_key_wrap":"1.1.0","amq-protocol":"2.5.1","android_key_attestation":"0.3.0","ffi":"1.17.3","ffi-compiler":"1.3.2","argon2":"2.3.3","ast":"2.4.3","attr_required":"1.0.2","aws-eventstream":"1.4.0","aws-partitions":"1.1226.0","aws-sigv4":"1.12.1","jmespath":"1.6.2","aws-sdk-core":"3.243.0","aws-sdk-sesv2":"1.96.0","backport":"1.2.0","bcrypt":"3.1.22","benchmark":"0.5.0","bindata":"2.5.1","bundler":"2.7.2","rbtree":"0.4.6","sorted_set":"1.1.0","bunny":"2.24.0","bunny-mock":"1.7.0","cbor":"0.5.10.1","chunky_png":"1.4.0","climate_control":"1.2.0","openssl":"4.0.1","openssl-signature_algorithm":"1.3.0","cose":"1.3.1","rexml":"3.4.4","crack":"1.0.1","crass":"1.0.6","csv":"3.3.5","database_cleaner-core":"2.0.1","sequel":"5.102.0","database_cleaner-sequel":"2.0.2","date":"3.5.1","prettyprint":"0.2.0","pp":"0.6.3","prism":"1.9.0","erb":"6.0.4","stringio":"3.1.9","psych":"5.2.6","tsort":"0.2.0","rdoc":"7.2.0","io-console":"0.8.2","reline":"0.6.3","irb":"1.17.0","debug":"1.11.1","diff-lcs":"1.6.2","docile":"1.4.1","dry-cli":"1.4.1","dry-inflector":"1.3.1","email_validator":"2.2.4","encryptor":"1.1.3","et-orbi":"1.4.0","faker":"3.6.1","hana":"1.3.7","regexp_parser":"2.11.3","simpleidn":"0.2.3","json_schemer":"2.5.0","ostruct":"0.6.3","oj":"3.16.17","redis-client":"0.28.0","redis":"5.4.1","uri-valkey":"1.4.0","familia":"2.9.1","net-http":"0.9.1","faraday-net_http":"3.4.2","faraday":"2.14.2","faraday-follow_redirects":"0.5.0","fastimage":"2.4.1","raabro":"1.4.0","fugit":"1.12.1","hashdiff":"1.2.1","hashie":"5.1.0","htmlbeautifier":"1.4.3","mini_mime":"1.1.5","multi_xml":"0.8.1","httparty":"0.24.2","ipaddr":"1.2.8","jaro_winkler":"1.7.0","json-jwt":"1.17.0","jwt":"3.1.2","language_server-protocol":"3.17.0.5","kanayago":"0.8.1","sigdump":"0.2.5","serverengine":"2.4.0","thor":"1.5.0","kicks":"3.2.0","kramdown":"2.5.2","kramdown-parser-gfm":"1.1.0","lettermint":"0.2.0","lint_roller":"1.1.0","rb-fsevent":"0.11.2","rb-inotify":"0.11.1","listen":"3.10.0","racc":"1.8.1","nokogiri":"1.19.3","loofah":"2.25.1","timeout":"0.6.1","net-protocol":"0.2.2","net-imap":"0.6.4","net-pop":"0.1.2","net-smtp":"0.5.1","mail":"2.9.0","mustache":"1.1.2","nio4r":"2.7.5","rack":"3.2.6","version_gem":"1.1.9","snaky_hash":"2.0.3","oauth2":"2.0.18","observer":"0.1.2","rack-protection":"4.2.1","omniauth":"2.1.4","omniauth-oauth2":"1.9.0","omniauth-entra-id":"3.1.1","omniauth-github":"2.0.1","omniauth-google-oauth2":"1.2.2","rack-oauth2":"2.3.0","swd":"2.0.3","validate_url":"1.0.15","webfinger":"2.1.3","openid_connect":"2.3.1","omniauth_openid_connect":"0.8.0","open3":"0.2.1","rack-parser":"0.7.0","otto":"2.0.2","parallel":"1.27.0","parser":"3.3.11.1","passforge":"1.1.2","tty-color":"0.6.0","pastel":"0.8.0","pg":"1.6.3","prettier_print":"1.2.1","puma":"7.2.0","rack-contrib":"2.5.0","rack-proxy":"0.7.7","rack-session":"2.1.2","rack-test":"2.2.0","rack-utf8_sanitizer":"1.11.1","rackup":"2.3.1","rainbow":"3.1.1","rbs":"3.10.3","rerun":"0.14.0","reverse_markdown":"3.0.2","tilt":"2.7.0","rhales":"0.6.0","roda":"3.102.0","rodauth":"2.42.0","rodauth-omniauth":"0.6.2","rodauth-tools":"0.3.1","rotp":"6.3.0","rqrcode_core":"2.1.0","rqrcode":"3.2.0","rspec-support":"4.0.0.beta1","rspec-core":"4.0.0.beta1","rspec-expectations":"4.0.0.beta1","rspec-mocks":"4.0.0.beta1","rspec":"4.0.0.beta1","rubocop-ast":"1.49.1","ruby-progressbar":"1.13.0","unicode-emoji":"4.2.0","unicode-display_width":"3.2.0","rubocop":"1.86.1","rubocop-performance":"1.26.1","rubocop-rspec":"3.9.0","rubocop-sequel":"0.4.1","rubocop-thread_safety":"0.7.3","ruby-lsp":"0.26.9","ruby_http_client":"3.6.0","rufus-scheduler":"3.9.2","safety_net_attestation":"0.5.0","sanitize":"7.0.0","semantic_logger":"4.17.0","sendgrid-ruby":"6.7.0","sentry-ruby":"6.5.0","simplecov-html":"0.13.2","simplecov_json_formatter":"0.1.4","simplecov":"0.22.0","yard":"0.9.42","yard-activesupport-concern":"0.0.1","yard-solargraph":"0.1.0","solargraph":"0.58.3","sqlite3":"2.9.2","stackprof":"0.2.28","stripe":"18.4.2","syntax_tree":"6.3.0","timecop":"0.9.10","tpm-key_attestation":"0.14.1","truemail":"3.3.1","tty-cursor":"0.7.1","tty-screen":"0.8.2","tryouts":"3.7.1","vcr":"6.4.0","webauthn":"3.4.3","webmock":"3.26.2","cgi":"0.4.2","delegate":"0.4.0","did_you_mean":"2.0.0","digest":"3.2.0","english":"0.8.0","error_highlight":"0.7.0","etc":"1.4.6","fcntl":"1.2.0","fiddle":"1.1.6","fileutils":"1.7.3","find":"0.2.0","forwardable":"1.3.3","io-nonblock":"0.3.2","io-wait":"0.3.2","open-uri":"0.5.0","optparse":"0.6.0","pathname":"0.4.0","pstore":"0.1.4","readline":"0.0.4","resolv":"0.6.2","ruby2_keywords":"0.0.5","set":"1.1.1","shellwords":"0.2.2","singleton":"0.3.0","strscan":"3.1.2","syntax_suggest":"2.0.2","tempfile":"0.3.1","time":"0.4.1","tmpdir":"0.3.1","un":"0.3.0","weakref":"0.1.3","yaml":"0.4.0","zlib":"3.2.3"},"message":"","user":{},"tags":{"site_host":"dev.onetime.dev","service":"web","jurisdiction":"ca","request_id":"03rkxciuwjukf"},"contexts":{"os":{"name":"Darwin","version":"Darwin Kernel Version 25.4.0: Thu Mar 19 19:31:17 PDT 2026; root:xnu-12377.101.15~1/RELEASE_ARM64_T6020","build":"25.4.0","kernel_version":"Darwin Kernel Version 25.4.0: Thu Mar 19 19:31:17 PDT 2026; root:xnu-12377.101.15~1/RELEASE_ARM64_T6020","machine":"arm64"},"runtime":{"name":"ruby","version":"ruby 3.4.9 (2026-03-11 revision 76cca827ab) +YJIT +PRISM [arm64-darwin25]"},"trace":{"trace_id":"53846508144c45939d87fa6a1344753b","span_id":"18800ece664043ab","parent_span_id":null,"description":null,"op":"http.server","status":"ok","origin":"auto.http.rack","data":{"http.response.status_code":200}}},"extra":{},"fingerprint":[],"breadcrumbs":{"values":[]},"transaction":"/api/plans","transaction_info":{"source":"url"},"platform":"ruby","sdk":{"name":"sentry.ruby","version":"6.5.0"},"type":"transaction","request":{"url":"http://example.org/billing/api/plans","method":"GET","headers":{},"env":{"SERVER_NAME":"example.org","SERVER_PORT":"80"}},"spans":[{"trace_id":"53846508144c45939d87fa6a1344753b","span_id":"dd2660b76d3d413e","parent_span_id":"18800ece664043ab","start_timestamp":1779235504.3137531,"timestamp":1779235504.314303,"description":"ZRANGE billing_plan:instances","op":"db.redis","status":null,"tags":{},"data":{"db.system":"redis","db.name":0,"server.address":"maindb","server.port":5212},"origin":"auto.db.redis"}],"start_timestamp":1779235504.313057,"measurements":{}}
    headers:
      Content-Type:
      - application/x-sentry-envelope
      X-Sentry-Auth:
      - Sentry sentry_version=7, sentry_timestamp=1779235504, sentry_key=e4f0e05ca113560573e15f5e52428419,
        sentry_client=sentry-ruby/6.5.0
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
    body:
      encoding: UTF-8
      string: '{"id":"13195e3311fb4061b1b23a27e9af53b2"}'
  recorded_at: Wed, 20 May 2026 00:05:04 GMT
recorded_with: VCR 6.4.0
