---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=sub-test%40example.com&source=tok_visa
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766664345-070bd1a7-384f-4271-bdea-16681e642a17
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766664345-070bd1a7-384f-4271-bdea-16681e642a17
      Original-Request:
      - req_tzBi2G5cgu8A6x
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfYPdGG3LymYLP",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766664345,
          "currency": null,
          "customer_account": null,
          "default_source": "card_1SiDIbH54PcLeqtY9KFEo7oc",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "sub-test@example.com",
          "invoice_prefix": "DDBMMVEQ",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 25 Dec 2025 12:05:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Test+Product+1766664345
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766664345-038c3866-81c4-4d4b-a58a-077b6ec1668f
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766664345-038c3866-81c4-4d4b-a58a-077b6ec1668f
      Original-Request:
      - req_niXLJisa6XetxP
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfYPIMlpgExLJT",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766664346,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Test Product 1766664345",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766664346,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 12:05:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/prices
    body:
      encoding: UTF-8
      string: unit_amount=2000&currency=usd&recurring[interval]=month&product=prod_TfYPIMlpgExLJT
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766664346-f3c40024-4949-4b8e-b909-3e681764331c
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766664346-f3c40024-4949-4b8e-b909-3e681764331c
      Original-Request:
      - req_pwfVYOa9womaV0
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "price_1SiDIcH54PcLeqtYKwtBeTG8",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1766664346,
          "currency": "usd",
          "custom_unit_amount": null,
          "livemode": false,
          "lookup_key": null,
          "metadata": {},
          "nickname": null,
          "product": "prod_TfYPIMlpgExLJT",
          "recurring": {
            "interval": "month",
            "interval_count": 1,
            "meter": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "tax_behavior": "unspecified",
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "recurring",
          "unit_amount": 2000,
          "unit_amount_decimal": "2000"
        }
  recorded_at: Thu, 25 Dec 2025 12:05:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_TfYPdGG3LymYLP&items[0][price]=price_1SiDIcH54PcLeqtYKwtBeTG8
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766664346-ff079ea5-4854-4ffb-ba24-218894fc9fbd
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766664346-ff079ea5-4854-4ffb-ba24-218894fc9fbd
      Original-Request:
      - req_XUXGyqeGr5exvN
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_1SiDIcH54PcLeqtYV0hYUIUl",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_tax": {
            "disabled_reason": null,
            "enabled": false,
            "liability": null
          },
          "billing_cycle_anchor": 1766664346,
          "billing_cycle_anchor_config": null,
          "billing_mode": {
            "flexible": {
              "proration_discounts": "included"
            },
            "type": "flexible",
            "updated_at": 1766664346
          },
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "reason": null
          },
          "collection_method": "charge_automatically",
          "created": 1766664346,
          "currency": "usd",
          "customer": "cus_TfYPdGG3LymYLP",
          "customer_account": null,
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discounts": [],
          "ended_at": null,
          "invoice_settings": {
            "account_tax_ids": null,
            "issuer": {
              "type": "self"
            }
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_TfYPsHgZTQaRC1",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1766664347,
                "current_period_end": 1769342746,
                "current_period_start": 1766664346,
                "discounts": [],
                "metadata": {},
                "plan": {
                  "id": "price_1SiDIcH54PcLeqtYKwtBeTG8",
                  "object": "plan",
                  "active": true,
                  "amount": 2000,
                  "amount_decimal": "2000",
                  "billing_scheme": "per_unit",
                  "created": 1766664346,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "meter": null,
                  "nickname": null,
                  "product": "prod_TfYPIMlpgExLJT",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "price_1SiDIcH54PcLeqtYKwtBeTG8",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1766664346,
                  "currency": "usd",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_TfYPIMlpgExLJT",
                  "recurring": {
                    "interval": "month",
                    "interval_count": 1,
                    "meter": null,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tax_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 2000,
                  "unit_amount_decimal": "2000"
                },
                "quantity": 1,
                "subscription": "sub_1SiDIcH54PcLeqtYV0hYUIUl",
                "tax_rates": []
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_1SiDIcH54PcLeqtYV0hYUIUl"
          },
          "latest_invoice": "in_1SiDIcH54PcLeqtYtIZwo51K",
          "livemode": false,
          "metadata": {},
          "next_pending_invoice_item_invoice": null,
          "on_behalf_of": null,
          "pause_collection": null,
          "payment_settings": {
            "payment_method_options": null,
            "payment_method_types": null,
            "save_default_payment_method": "off"
          },
          "pending_invoice_item_interval": null,
          "pending_setup_intent": null,
          "pending_update": null,
          "plan": {
            "id": "price_1SiDIcH54PcLeqtYKwtBeTG8",
            "object": "plan",
            "active": true,
            "amount": 2000,
            "amount_decimal": "2000",
            "billing_scheme": "per_unit",
            "created": 1766664346,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "meter": null,
            "nickname": null,
            "product": "prod_TfYPIMlpgExLJT",
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start_date": 1766664346,
          "status": "active",
          "test_clock": null,
          "transfer_data": null,
          "trial_end": null,
          "trial_settings": {
            "end_behavior": {
              "missing_payment_method": "create_invoice"
            }
          },
          "trial_start": null
        }
  recorded_at: Thu, 25 Dec 2025 12:05:49 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_1SiDIcH54PcLeqtYV0hYUIUl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      str[...]
[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_TfYPdGG3LymYLP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfYPdGG3LymYLP",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Thu, 25 Dec 2025 12:05:50 GMT
recorded_with: VCR 6.3.1
