---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=sub-test%40example.com&source=tok_visa
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766664334-ad59aa14-a578-45a2-b54c-d8b511599664
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766664334-ad59aa14-a578-45a2-b54c-d8b511599664
      Original-Request:
      - req_ovtDbBezoQAgAi
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfYPD3S2uxQvjh",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766664335,
          "currency": null,
          "customer_account": null,
          "default_source": "card_1SiDIRH54PcLeqtYEbqUNEOZ",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "sub-test@example.com",
          "invoice_prefix": "QFCCP4KP",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 25 Dec 2025 12:05:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Test+Product+1766664335
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766664335-2b284d9c-cc3e-49ed-890a-7a73540271c5
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766664335-2b284d9c-cc3e-49ed-890a-7a73540271c5
      Original-Request:
      - req_mpg9dOl5JCQc3s
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfYPd4rfirzrHg",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766664335,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Test Product 1766664335",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766664335,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 12:05:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/prices
    body:
      encoding: UTF-8
      string: unit_amount=2000&currency=usd&recurring[interval]=month&product=prod_TfYPd4rfirzrHg
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766664335-92b2e931-03ca-4ba3-9ee9-9f9300c12db6
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766664335-92b2e931-03ca-4ba3-9ee9-9f9300c12db6
      Original-Request:
      - req_Lh6N8024V0wocw
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "price_1SiDIRH54PcLeqtY2kauFJ7K",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1766664335,
          "currency": "usd",
          "custom_unit_amount": null,
          "livemode": false,
          "lookup_key": null,
          "metadata": {},
          "nickname": null,
          "product": "prod_TfYPd4rfirzrHg",
          "recurring": {
            "interval": "month",
            "interval_count": 1,
            "meter": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "tax_behavior": "unspecified",
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "recurring",
          "unit_amount": 2000,
          "unit_amount_decimal": "2000"
        }
  recorded_at: Thu, 25 Dec 2025 12:05:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_TfYPD3S2uxQvjh&items[0][price]=price_1SiDIRH54PcLeqtY2kauFJ7K
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766664335-6b9bc9d2-66e5-4069-a2f2-fdb2410c8a70
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766664335-6b9bc9d2-66e5-4069-a2f2-fdb2410c8a70
      Original-Request:
      - req_ivpN7u2KvCfj1b
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_1SiDISH54PcLeqtYN9AuoatQ",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_tax": {
            "disabled_reason": null,
            "enabled": false,
            "liability": null
          },
          "billing_cycle_anchor": 1766664336,
          "billing_cycle_anchor_config": null,
          "billing_mode": {
            "flexible": {
              "proration_discounts": "included"
            },
            "type": "flexible",
            "updated_at": 1766664336
          },
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "reason": null
          },
          "collection_method": "charge_automatically",
          "created": 1766664336,
          "currency": "usd",
          "customer": "cus_TfYPD3S2uxQvjh",
          "customer_account": null,
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discounts": [],
          "ended_at": null,
          "invoice_settings": {
            "account_tax_ids": null,
            "issuer": {
              "type": "self"
            }
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_TfYPLeVmfXjX8b",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1766664336,
                "current_period_end": 1769342736,
                "current_period_start": 1766664336,
                "discounts": [],
                "metadata": {},
                "plan": {
                  "id": "price_1SiDIRH54PcLeqtY2kauFJ7K",
                  "object": "plan",
                  "active": true,
                  "amount": 2000,
                  "amount_decimal": "2000",
                  "billing_scheme": "per_unit",
                  "created": 1766664335,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "meter": null,
                  "nickname": null,
                  "product": "prod_TfYPd4rfirzrHg",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "price_1SiDIRH54PcLeqtY2kauFJ7K",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1766664335,
                  "currency": "usd",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_TfYPd4rfirzrHg",
                  "recurring": {
                    "interval": "month",
                    "interval_count": 1,
                    "meter": null,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tax_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 2000,
                  "unit_amount_decimal": "2000"
                },
                "quantity": 1,
                "subscription": "sub_1SiDISH54PcLeqtYN9AuoatQ",
                "tax_rates": []
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_1SiDISH54PcLeqtYN9AuoatQ"
          },
          "latest_invoice": "in_1SiDISH54PcLeqtYC39r0OxW",
          "livemode": false,
          "metadata": {},
          "next_pending_invoice_item_invoice": null,
          "on_behalf_of": null,
          "pause_collection": null,
          "payment_settings": {
            "payment_method_options": null,
            "payment_method_types": null,
            "save_default_payment_method": "off"
          },
          "pending_invoice_item_interval": null,
          "pending_setup_intent": null,
          "pending_update": null,
          "plan": {
            "id": "price_1SiDIRH54PcLeqtY2kauFJ7K",
            "object": "plan",
            "active": true,
            "amount": 2000,
            "amount_decimal": "2000",
            "billing_scheme": "per_unit",
            "created": 1766664335,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "meter": null,
            "nickname": null,
            "product": "prod_TfYPd4rfirzrHg",
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start_date": 1766664336,
          "status": "active",
          "test_clock": null,
          "transfer_data": null,
          "trial_end": null,
          "trial_settings": {
            "end_behavior": {
              "missing_payment_method": "create_invoice"
            }
          },
          "trial_start": null
        }
  recorded_at: Thu, 25 Dec 2025 12:05:39 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_1SiDISH54PcLeqtYN9AuoatQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      str[...]
[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_TfYPD3S2uxQvjh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfYPD3S2uxQvjh",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Thu, 25 Dec 2025 12:05:39 GMT
recorded_with: VCR 6.3.1
