---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=false&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "prod_TV1JNv2ubNGNY4",
              "object": "product",
              "active": false,
              "attributes": [],
              "created": 1764234828,
              "default_price": null,
              "description": "(created by Stripe CLI)",
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {},
              "name": "myproduct",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": null,
              "type": "service",
              "unit_label": null,
              "updated": 1765526833,
              "url": null
            },
            {
              "id": "prod_TUzhfJGGvycIem",
              "object": "product",
              "active": false,
              "attributes": [],
              "created": 1764228846,
              "default_price": null,
              "description": "(created by Stripe CLI)",
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {},
              "name": "myproduct",
              "package_dimen[...]
