---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=false&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "prod_USKdDjpldLRiXZ",
              "object": "product",
              "active": false,
              "attributes": [],
              "created": 1777914487,
              "default_price": null,
              "description": null,
              "images": [],
              "livemode": false,
              "marketing_features": [
                {
                  "name": "web.billing.features.custom_domains"
                },
                {
                  "name": "web.billing.features.custom_branding"
                },
                {
                  "name": "web.billing.features.extended_retention"
                },
                {
                  "name": "web.billing.features.homepage_secrets"
                },
                {
                  "name": "web.billing.features.api_access"
                },
                {
                  "name": "web.billing.features.manage_sso"
                }
              ],
              "metadata": {
                "app": "exampleapplication",
                "created": "2026-05-04T17:08:06Z",
                "currency": "cad",
                "display_order": "10",
                "entitlements": "create_secrets,view_receipt,api_access,custom_domains,custom_privacy_defaults,custom_branding,homepage_secrets,incoming_secrets,custom_mail_sender,flexible_from_domain,manage_sso",
                "limit_custom_domains": "-1",
                "limit_members_per_team": "1",
                "limit_secret_lifetime": "1209600",
                "limit_secrets_per_day": "-1",
                "ots_is_popular": "false",
                "plan_id": "identity_plus_v1",
                "region": "CA",
                "show_on_plans_page": "true",
                "tenancy": "multi",
                "tier": "single_account"
              },
              "name": "Identity Plus",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": null,
              "tax_details": null,
              "type": "service",
              "unit_label": null,
              "updated": 1777920304,
              "url": null
            },
            {
              "id": "prod_UEPUZLX3DGe7Oy",
              "object": "product",
              "active": false,
              "attributes": [],
              "created": 1774703542,
              "default_price": null,
              "description": null,
              "images": [],
              "livemode": false,
              "marketing_features": [
                {
                  "name": "web.billing.features.custom_domains"
                },
               [...]
