---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=true&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "prod_UY5dvPQGfavUJL",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1779242538,
              "default_price": null,
              "description": null,
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {
                "app": "onetimesecret",
                "created": "2026-05-20T02:02:18Z",
                "display_order": "0"
              },
              "name": "Test Product",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": null,
              "tax_details": null,
              "type": "service",
              "unit_label": null,
              "updated": 1779242539,
              "url": null
            },
            {
              "id": "prod_UY5dYctaK0ZWYS",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1779242538,
              "default_price": null,
              "description": null,
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {
                "app": "onetimesecret",
                "created": "2026-05-20T02:02:18Z",
                "display_order": "0"
              },
              "name": "Test Product",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": null,
              "tax_details": null,
              "type": "service",
              "unit_label": null,
              "updated": 1779242538,
              "url": null
            },
            {
              "id": "prod_UY5dRIYZEi8kx4",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1779242538,
              "default_price": null,
              "description": null,
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {
                "app": "onetimesecret",
                "created": "2026-05-20T02:02:18Z",
                "display_order": "0",
                "entitlements": "api,teams"
              },
              "name": "Test Product",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": null,
              "tax_details": null,
              "type": "service",
              "unit_label": null,
              "updated": 1779242538,
              "url": null
            },
            {
              "id": "prod_UY5dDA12dTExnK",
              "object": "product",
         [...]
