---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=true&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2025-12-15.clover). We recommend upgrading
        to the latest API version, 2026-04-22.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "prod_UYOZX33ZS5UjLb",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1779312927,
              "default_price": null,
              "description": null,
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {},
              "name": "VCR Test Product",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": null,
              "tax_details": null,
              "type": "service",
              "unit_label": null,
              "updated": 1779312927,
              "url": null
            },
            {
              "id": "prod_UYOZaPJnqGd4qc",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1779312920,
              "default_price": null,
              "description": null,
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {},
              "name": "VCR Test Product",
              "package_dimensions": null,
 [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=true&limit=100&starting_after=prod_UY5dQKTu15Au1f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2025-12-15.clover). We rec[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2025-12-15.clover). We recommend upgrading
        to the latest API version, 2026-04-22.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "price_1TZHlzH7zmouMIBXkRjBSd7k",
              "object": "price",
              "active": true,
              "billing_scheme": "per_unit",
              "created": 1779312927,
              "currency": "cad",
              "custom_unit_amount": null,
              "livemode": false,
              "lookup_key": null,
              "metadata": {},
              "nickname": null,
              "product": "prod_UYOZX33ZS5UjLb",
              "recurring": {
                "interval": "month",
                "interval_count": 1,
                "meter": null,
                "trial_period_days": null,
                "usage_type": "licensed"
              },
              "tax_behavior": "unspecified",
              "tiers_mode": null,
              "transform_quantity": null,
              "type": "recurring",
              "unit_amount": 2000,
              "unit_amount_decimal": "2000"
            },
            {
              "id": "price_1TZHlwH7zmouMIBXMgwPpnCz",
              "object": "price",
              "active": true,
              "billing_scheme": "per_unit",
              "created": 1779312924,
              "currency": "cad",
              "custom_unit_amount": null,
              "livemode": false,
              "lookup_key": null,
              "metadata": {},
              "nickname": null,
              "product": "prod_UYOZaPJnqGd4qc",
             [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&starting_after=price_1Sq8dMH7zmouMIBXCS2KjZ3y
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2025-12-15.clover[...]
