---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=sub%40example.com
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f69ab561-1303-4c4d-8ff5-66f8699093ce
      Original-Request:
      - req_VsY5TnUKl14TfN
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Texd8Z3r6Suo7R",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766527526,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "sub@example.com",
          "invoice_prefix": "WXSGPDTE",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 23 Dec 2025 22:05:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Sub+Test
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fc003383-3151-4619-9f91-26f662d3003a
      Original-Request:
      - req_uAdVc14PNfF6xV
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TexdF8CStJzOpu",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766527527,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Sub Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766527527,
          "url": null
        }
  recorded_at: Tue, 23 Dec 2025 22:05:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/prices
    body:
      encoding: UTF-8
      string: product=prod_TexdF8CStJzOpu&currency=usd&unit_amount=1000
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3eafec07-bec7-4731-8010-4967244ac3f7
      Original-Request:
      - req_drHpwyeWrFjmA9
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "price_1ShdhrH54PcLeqtYvLIYHNA4",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1766527527,
          "currency": "usd",
          "custom_unit_amount": null,
          "livemode": false,
          "lookup_key": null,
          "metadata": {},
          "nickname": null,
          "product": "prod_TexdF8CStJzOpu",
          "recurring": null,
          "tax_behavior": "unspecified",
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "one_time",
          "unit_amount": 1000,
          "unit_amount_decimal": "1000"
        }
  recorded_at: Tue, 23 Dec 2025 22:05:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_Texd8Z3r6Suo7R&items[0][price]=price_1ShdhrH54PcLeqtYvLIYHNA4
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1a2d2c7f-e872-403a-b973-96189fe631ef
      Original-Request:
      - req_9QTMybEDLr71gY
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "The price specified is set to `type=one_time` but this field only accepts prices with `type=recurring`.",
            "param": "items[0][price]",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_9QTMybEDLr71gY?t=1766527528",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Tue, 23 Dec 2025 22:05:28 GMT
recorded_with: VCR 6.3.1
