---
http_interactions:
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_Tgwz1E5t3KG8pk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_Tgwz1E5t3KG8pk",
          "object": "product",
          "deleted": true
        }
  recorded_at: Mon, 29 Dec 2025 05:33:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Test+Product
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 910d0b4b-2cf5-432d-ac01-2f7485fc6b4f
      Original-Request:
      - req_zQUd64WNuO1xYO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_UY5fi1FDlAM2Pr",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1779242618,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Test Product",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "tax_details": null,
          "type": "service",
          "unit_label": null,
          "updated": 1779242618,
          "url": null
        }
  recorded_at: Wed, 20 May 2026 02:03:38 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_UY5fi1FDlAM2Pr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_UY5fi1FDlAM2Pr",
          "object": "product",
          "deleted": true
        }
  recorded_at: Wed, 20 May 2026 02:03:38 GMT
recorded_with: VCR 6.4.0
