---
http_interactions:
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_TexdRZxS2K6No7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TexdRZxS2K6No7",
          "object": "product",
          "deleted": true
        }
  recorded_at: Tue, 23 Dec 2025 22:05:26 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_TexoxjWSaGxKIB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TexoxjWSaGxKIB",
          "object": "product",
          "deleted": true
        }
  recorded_at: Tue, 23 Dec 2025 22:16:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Test+Product
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 71810325-5cf8-4ec7-965e-b1154ea6ad29
      Original-Request:
      - req_JFbQQFSv5LVrXj
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TexpFycyaair8m",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766528246,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Test Product",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766528246,
          "url": null
        }
  recorded_at: Tue, 23 Dec 2025 22:17:26 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_TexpFycyaair8m
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TexpFycyaair8m",
          "object": "product",
          "deleted": true
        }
  recorded_at: Tue, 23 Dec 2025 22:17:26 GMT
recorded_with: VCR 6.3.1
