---
http_interactions:
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_TexdRZxS2K6No7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TexdRZxS2K6No7",
          "object": "product",
          "deleted": true
        }
  recorded_at: Tue, 23 Dec 2025 22:05:26 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_TexoxjWSaGxKIB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TexoxjWSaGxKIB",
          "object": "product",
          "deleted": true
        }
  recorded_at: Tue, 23 Dec 2025 22:16:28 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_TexpFycyaair8m
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TexpFycyaair8m",
          "object": "product",
          "deleted": true
        }
  recorded_at: Tue, 23 Dec 2025 22:17:26 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_TfRyWTAntjyGlj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfRyWTAntjyGlj",
          "object": "product",
          "deleted": true
        }
  recorded_at: Thu, 25 Dec 2025 05:27:08 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_TfS0TyZecG21Rw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfS0TyZecG21Rw",
          "object": "product",
          "deleted": true
        }
  recorded_at: Thu, 25 Dec 2025 05:28:32 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Test+Product
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ef227ca0-7f3a-4b89-a8e7-b2cfdd0d2cf8
      Original-Request:
      - req_reYGZ14ZXWAKT9
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfSlueMhJEhGHC",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766643320,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Test Product",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766643320,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 06:15:20 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_TfSlueMhJEhGHC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="Stripe"
      X-Wc:
      - ABHIJ
      Stripe-Version:
      - "<STRIPE_VERSION>"
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Invalid API Key provided: sk_test_123",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 11:22:59 GMT
recorded_with: VCR 6.3.1
