# Used by playwright.config.ts

BASE_URL=https://staging.onetimesecret.com

TEST_ACCOUNT1_EMAIL=$CHANGEEMAIL1
TEST_ACCOUNT1_PW=$CHANGEPW1

TEST_ACCOUNT2_EMAIL=$CHANGEEMAIL2
TEST_ACCOUNT2_PW=$CHANGEPW2
