---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?limit=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "cus_TgwnJ26GInfrkZ",
              "object": "customer",
              "address": null,
              "balance": 0,
              "created": 1766985682,
              "currency": "usd",
              "customer_account": null,
              "default_source": null,
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "invoice-pagination-2@example.com",
              "invoice_prefix": "NKMM0FGS",
              "invoice_settings": {
                "custom_fields": null,
                "default_payment_method": null,
                "footer": null,
                "rendering_options": null
              },
              "livemode": false,
              "metadata": {},
              "name": null,
              "next_invoice_sequence": 1,
              "phone": null,
              "preferred_locales": [],
              "shipping": null,
              "tax_exempt": "none",
              "test_clock": null
            },
            {
              "id": "cus_Tgwnw3M5FsOtgj",
              "object": "customer",
              "address": null,
              "balance": 0,
              "created": 1766985680,
              "currency": "usd",
              "customer_account": null,
              "default_source": null,
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "invoice-pagination-1@example.com",
              "invoice_prefix": "APA9ELQZ",
              "invoice_settings": {
                "custom_fields": null,
                "default_payment_method": null,
                "footer": null,
                "rendering_options": null
              },
              "livemode": false,
              "metadata": {},
              "name": null,
              "next_invoice_sequence": 1,
              "phone": null,
              "preferred_locales": [],
              "shipping": null,
              "tax_exempt": "none",
              "test_clock": null
            }
          ],
          "has_more": true,
          "url": "/v1/customers"
        }
  recorded_at: Mon, 29 Dec 2025 05:33:17 GMT
recorded_with: VCR 6.3.1
