---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?limit=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "cus_Texd8Z3r6Suo7R",
              "object": "customer",
              "address": null,
              "balance": 0,
              "created": 1766527526,
              "currency": null,
              "customer_account": null,
              "default_source": null,
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "sub@example.com",
              "invoice_prefix": "WXSGPDTE",
              "invoice_settings": {
                "custom_fields": null,
                "default_payment_method": null,
                "footer": null,
                "rendering_options": null
              },
              "livemode": false,
              "metadata": {},
              "name": null,
              "next_invoice_sequence": 1,
              "phone": null,
              "preferred_locales": [],
              "shipping": null,
              "tax_exempt": "none",
              "test_clock": null
            },
            {
              "id": "cus_Texa6m3ZA3U0dT",
              "object": "customer",
              "address": null,
              "balance": 0,
              "created": 1766527375,
              "currency": null,
              "customer_account": null,
              "default_source": null,
              "delinquent": false,
              "description": "CLI test customer - 2025-12-23 14:02:55 -0800",
              "discount": null,
              "email": "test-ed93da33@example.com",
              "invoice_prefix": "T4U7TMP6",
              "invoice_settings": {
                "custom_fields": null,
                "default_payment_method": "pm_1ShdfPH54PcLeqtYiS0LbCiw",
                "footer": null,
                "rendering_options": null
              },
              "livemode": false,
              "metadata": {},
              "name": "Test Customer",
              "next_invoice_sequence": 1,
              "phone": null,
              "preferred_locales": [],
              "shipping": null,
              "tax_exempt": "none",
              "test_clock": null
            }
          ],
          "has_more": true,
          "url": "/v1/customers"
        }
  recorded_at: Tue, 23 Dec 2025 22:05:29 GMT
recorded_with: VCR 6.3.1
