---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?limit=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "cus_Texq62FeSNAPYa",
              "object": "customer",
              "address": null,
              "balance": 0,
              "created": 1766528342,
              "currency": null,
              "customer_account": null,
              "default_source": null,
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "custom@example.com",
              "invoice_prefix": "FSEGVQWG",
              "invoice_settings": {
                "custom_fields": null,
                "default_payment_method": null,
                "footer": null,
                "rendering_options": null
              },
              "livemode": false,
              "metadata": {},
              "name": null,
              "next_invoice_sequence": 1,
              "phone": null,
              "preferred_locales": [],
              "shipping": null,
              "tax_exempt": "none",
              "test_clock": null
            },
            {
              "id": "cus_TexqUAAhxqwBZ2",
              "object": "customer",
              "address": null,
              "balance": 0,
              "created": 1766528341,
              "currency": null,
              "customer_account": null,
              "default_source": null,
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "test@example.com",
              "invoice_prefix": "FLMJQTFF",
              "invoice_settings": {
                "custom_fields": null,
                "default_payment_method": null,
                "footer": null,
                "rendering_options": null
              },
              "livemode": false,
              "metadata": {},
              "name": "Test User",
              "next_invoice_sequence": 1,
              "phone": null,
              "preferred_locales": [],
              "shipping": null,
              "tax_exempt": "none",
              "test_clock": null
            }
          ],
          "has_more": true,
          "url": "/v1/customers"
        }
  recorded_at: Tue, 23 Dec 2025 22:19:04 GMT
recorded_with: VCR 6.3.1
