{{>header}}

<div id="content">
  <div id="documentation">
    <h2 class="intro">API Documentation</h2>
    
    <ul id="docnav">
      <li class="selected"><a href="/docs/api/overview" title="">Overview</a></li>
      <li class=""><a href="/docs/api/authentication" title="">Authentication</a></li>
      <li class=""><a href="/docs/api/secrets" title="">Secrets</a></li>
    </ul>

    <div id="topicContent">

      <h3 class="cufon">API Overview</h3>

      <h4 class="cufon docTitle dotted">Base URI</h4>
      <span class="docSubtext">{{baseuri}}/api</span>
      <div class="">This endpoint is <strong>public.</strong></div>

      <p>All API access occurs over HTTPS and starts with <tt>/api</tt>. All responses are JSON. The following parameters and attributes are common across the API.</p>
      
      <!--
      <div class="options">
        <strong>Query Parameters</strong>
        <ul>
          <li><span class="name">field</span> (optional): if specified, returns the content for this field only.</li>
        </ul>
      </div>
      -->
      
      <h4 class="cufon docTitle dotted">System Status</h4>
      <span class="docSubtext">GET /v1/status</span>
      <div class="">This endpoint is <strong> public.</strong></div>

      <p></p>

      <div class="options">
        <strong>Parameters</strong>
        <p><em>None</em></p>
      </div>

      <pre class="colourize">$ curl -u 'USERNAME:APITOKEN' {{baseuri}}/api/v1/status</pre>

      <pre class="colourize">{<span class="ke"><span class="dl">&quot;</span><span class="k">status</span><span class="dl">&quot;</span></span>:<span class="s"><span class="dl">&quot;</span><span class="k">nominal</span><span class="dl">&quot;</span></span>}</pre>
      <p></p>

      <div class="options">
        <strong>Attributes</strong>
        <ul>
          <li><span class="name">status</span>: The current system status. One of: nominal, offline.</li>
        </ul>
      </div>


      <p></p>

      <br/><br/><br/>
    </div>
  </div>
</div>

{{>footer}}
