---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=2000&currency=usd&customer=cus_TfaM2eOXGdfq36
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766671639-d9a96458-5cac-48e1-a1d7-7f8a424b799d
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766671639-d9a96458-5cac-48e1-a1d7-7f8a424b799d
      Original-Request:
      - req_oLGuDBP1ghxbj5
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SiFCFH54PcLeqtY1N1wpOy1",
          "object": "charge",
          "amount": 2000,
          "amount_captured": 2000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_3SiFCFH54PcLeqtY1gIkSEkC",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "ONETIME.DEV LINKS",
          "captured": true,
          "created": 1766671639,
          "currency": "usd",
          "customer": "cus_TfaM2eOXGdfq36",
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 33,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "payment_method": "card_1SiFCFH54PcLeqtYDXizWLvP",
          "payment_method_details": {
            "card": {
              "amount_authorized": 2000,
              "authorization_code": "186954",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2026,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "NGrtdUhnYFr7yg93",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "787111411610085",
              "overcapture": {
                "maximum_amount_capturable": 2000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU1JVWFFINTRQY0xlcXRZKJiKtcoGMgZ4rN5Tdaw6LBaCTZb57demLzENynxxe_2UhTc_s3h1xlM_9IQ-8ABchNrLSuP7ubhn-fLk",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1SiFCFH54PcLeqtYDXizWLvP",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "allow_redisplay": "unspecified",
            "brand": "Visa",
            "country": "US",
            "customer": "cus_TfaM2eOXGdfq36",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "email": null,
            "exp_month": 12,
            "exp_year": 2026,
            "fingerprint": "NGrtdUhnYFr7yg93",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "phone": null,
            "regulated_status": "unregulated",
            "tokenization_method": null,
            "wallet": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:20 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SiFCFH54PcLeqtY1N1wpOy1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_3SiFCFH54PcLeqtY1N1wpOy1
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b758f6cd-b1d3-4b77-933c-4b23d3be0bd0
      Original-Request:
      - req_cmd5QSKgDV3lMv
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3SiFCFH54PcLeqtY1neqwGBR",
          "object": "refund",
          "amount": 2000,
          "balance_transaction": "txn_3SiFCFH54PcLeqtY1CT1MTzK",
          "charge": "ch_3SiFCFH54PcLeqtY1N1wpOy1",
          "created": 1766671640,
          "currency": "usd",
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {},
          "payment_intent": null,
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:21 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_TfaM2eOXGdfq36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfaM2eOXGdfq36",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Thu, 25 Dec 2025 14:07:21 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=refund-yes-test%40example.com&source=tok_visa
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766985767-4904701e-5b60-4fb0-90cd-c82f1cf48e66
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766985767-4904701e-5b60-4fb0-90cd-c82f1cf48e66
      Original-Request:
      - req_nlp92GhSHT9Zu3
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TgwoMO5NsRWhCi",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766985768,
          "currency": null,
          "customer_account": null,
          "default_source": "card_1SjYuqH54PcLeqtY3uDeAGIm",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "refund-yes-test@example.com",
          "invoice_prefix": "PBSKRZ9O",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 29 Dec 2025 05:22:49 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SjYurH54PcLeqtY1JCiwYGV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-[...]
[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_TgwoMO5NsRWhCi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TgwoMO5NsRWhCi",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Mon, 29 Dec 2025 05:22:52 GMT
recorded_with: VCR 6.3.1
