---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=partial-refund-test%40example.com
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766643295-f2016a75-a78c-4ba0-ad10-1e147b194367
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766643295-f2016a75-a78c-4ba0-ad10-1e147b194367
      Original-Request:
      - req_57sm4WRc110ewZ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfSkBuiN75s14p",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766643296,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "partial-refund-test@example.com",
          "invoice_prefix": "G6DU0LJP",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 25 Dec 2025 06:14:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=10000&currency=usd&customer=cus_TfSkBuiN75s14p&source=tok_visa
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766643296-3ebd37cd-23a8-4a5d-a774-e78a10006cfd
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766643296-3ebd37cd-23a8-4a5d-a774-e78a10006cfd
      Original-Request:
      - req_aKXe18iBKsCqd0
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "Customer cus_TfSkBuiN75s14p does not have card with ID tok_visa",
            "param": "card",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_aKXe18iBKsCqd0?t=1766643296",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 06:14:56 GMT
recorded_with: VCR 6.3.1
