---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=refund-reason-test%40example.com&source=tok_visa
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766664436-e00d1ba3-824d-4827-b0b8-0a9c71f1fa11
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766664436-e00d1ba3-824d-4827-b0b8-0a9c71f1fa11
      Original-Request:
      - req_RgChDk4U2xt4Gl
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfYQyI8sLF58PJ",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766664436,
          "currency": null,
          "customer_account": null,
          "default_source": "card_1SiDK4H54PcLeqtYSqhtKodW",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "refund-reason-test@example.com",
          "invoice_prefix": "M6S5XWEO",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 25 Dec 2025 12:07:17 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=3000&currency=usd&customer=cus_TfYQyI8sLF58PJ
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766664437-4a31d65a-f3a9-4a9b-8566-91fcb3c35140
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766664437-4a31d65a-f3a9-4a9b-8566-91fcb3c35140
      Original-Request:
      - req_BEm4wO2uD8SLAO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SiDK5H54PcLeqtY1HdeJaar",
          "object": "charge",
          "amount": 3000,
          "amount_captured": 3000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_3SiDK5H54PcLeqtY1CiMthzP",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "ONETIME.DEV LINKS",
          "captured": true,
          "created": 1766664437,
          "currency": "usd",
          "customer": "cus_TfYQyI8sLF58PJ",
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 15,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "payment_method": "card_1SiDK4H54PcLeqtYSqhtKodW",
          "payment_method_details": {
            "card": {
              "amount_authorized": 3000,
              "authorization_code": "020948",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2026,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "NGrtdUhnYFr7yg93",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "787111411610085",
              "overcapture": {
                "maximum_amount_capturable": 3000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU1JVWFFINTRQY0xlcXRZKPXRtMoGMgajcfjfxtg6LBZ8LL1mHuRVHigY2QnnlRTpHsPGiQAA75il7jO7BtuTWb0WHb5nFi2xl_ro",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1SiDK4H54PcLeqtYSqhtKodW",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "allow_redisplay": "unspecified",
            "brand": "Visa",
            "country": "US",
            "customer": "cus_TfYQyI8sLF58PJ",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "email": null,
            "exp_month": 12,
            "exp_year": 2026,
            "fingerprint": "NGrtdUhnYFr7yg93",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "phone": null,
            "regulated_status": "unregulated",
            "tokenization_method": null,
            "wallet": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Thu, 25 Dec 2025 12:07:17 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SiDK5H54PcLeqtY1HdeJaar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_3SiDK5H54PcLeqtY1HdeJaar&reason=requested_by_customer
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 66b8a4d6-0eba-4698-9a5c-943770060e3f
      Original-Request:
      - req_cUvNbSikYjuKmf
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3SiDK5H54PcLeqtY1a7QWrIi",
          "object": "refund",
          "amount": 3000,
          "balance_transaction": "txn_3SiDK5H54PcLeqtY1SGjHGX1",
          "charge": "ch_3SiDK5H54PcLeqtY1HdeJaar",
          "created": 1766664438,
          "currency": "usd",
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {},
          "payment_intent": null,
          "reason": "requested_by_customer",
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Thu, 25 Dec 2025 12:07:18 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_TfYQyI8sLF58PJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfYQyI8sLF58PJ",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Thu, 25 Dec 2025 12:07:19 GMT
recorded_with: VCR 6.3.1
