---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_Texdl5gVOF0ne3
    body:
      encoding: UTF-8
      string: name=New+Name
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b5e5b116-0b42-41f5-becf-3c38665896ea
      Original-Request:
      - req_9LoSFBgrOJz7EN
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Texdl5gVOF0ne3",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766527530,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "original@example.com",
          "invoice_prefix": "DNT5Y5CN",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "New Name",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 23 Dec 2025 22:05:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_Texo0DEkiyXb4w
    body:
      encoding: UTF-8
      string: name=New+Name
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ab238fa9-1993-466d-8e4e-97b65[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_TexpbUZpcjljRT
    body:
      encoding: UTF-8
      string: name=New+Name
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fde00864-aa5b-46f2-8b7f-0efeb[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=original%40example.com&name=Original+Name
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4f5e089b-53c6-[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_TexqkE6xhtpcci
    body:
      encoding: UTF-8
      string: name=New+Name
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9ae075d4-8b6e-4fd7-b2a3-c57c5[...]
