---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_TfYRajR4O32M0l
    body:
      encoding: UTF-8
      string: name=New+Name
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f997183b-b370-464d-86b6-e4fe7ad630a2
      Original-Request:
      - req_I9CpAYmpnDpLir
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfYRajR4O32M0l",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766664450,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "original@example.com",
          "invoice_prefix": "M6Q55KI1",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "New Name",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 25 Dec 2025 12:07:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_Tgwi0ObxhkyyGW
    body:
      encoding: UTF-8
      string: name=New+Name
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c63107c6-6ecc-49ac-999f-e3564[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=original%40example.com&name=Original+Name
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c8f98ea8-2e5d-[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_TgwzJIgXjloO1a
    body:
      encoding: UTF-8
      string: name=New+Name
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - cbe008ad-3b99-4dae-a631-20992[...]
