---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_TexdHJ71TJ3elB
    body:
      encoding: UTF-8
      string: name=Updated+Name
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f0202c86-8352-4e39-acdb-affcdba7ccf9
      Original-Request:
      - req_ZAioLbNNPRZIsu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TexdHJ71TJ3elB",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766527531,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "original@example.com",
          "invoice_prefix": "E7JEILWH",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Updated Name",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 23 Dec 2025 22:05:32 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_TexoyxNFPlfuYN
    body:
      encoding: UTF-8
      string: name=Updated+Name
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2ff9cc96-7861-4421-a352-7[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_Texpy1RIJM4vcM
    body:
      encoding: UTF-8
      string: name=Updated+Name
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0457c21d-b7ad-4206-8f20-9[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_TexqDa9LqAFTnm
    body:
      encoding: UTF-8
      string: name=Updated+Name
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fd114864-8a9e-4723-8997-8[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_TfRyUJWyHweNQh
    body:
      encoding: UTF-8
      string: name=Updated+Name
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6d9ba944-5e69-4f54-863f-1[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_TfS0CDryivwfOU
    body:
      encoding: UTF-8
      string: name=Updated+Name
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f640f368-15bc-4541-9a6c-5[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=original%40example.com&name=Original+Name
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1efcd906-0cca-[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_TfSkP04XibR6A2
    body:
      encoding: UTF-8
      string: name=Updated+Name
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f65139dc-13f9-4242-9628-1[...]
