---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_TfYRhe7PQDd2bO
    body:
      encoding: UTF-8
      string: name=Updated+Name
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6569a5ae-5d81-444d-bd41-62b6bcb18e86
      Original-Request:
      - req_AQOgZ6wZZrgqgk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfYRhe7PQDd2bO",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766664450,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "original@example.com",
          "invoice_prefix": "ON5WJRVO",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Updated Name",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 25 Dec 2025 12:07:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_TgwijeWs3jnBf6
    body:
      encoding: UTF-8
      string: name=Updated+Name
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f4cc0725-8444-4f5e-9fc5-b[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_TgwzyVQJSguEIt
    body:
      encoding: UTF-8
      string: name=Updated+Name
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c3e61033-343c-41eb-8fbc-2[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=original%40example.com&name=Original+Name
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1065df0b-1ffd-[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_UY5f8KzZ7VdSWM
    body:
      encoding: UTF-8
      string: name=Updated+Name
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 544abcbe-87ab-4809-9cba-d[...]
