---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=new-welcome-8efc5993%40example.com
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b58d73b8-1ec9-4c76-8883-2da8236dc6c3
      Original-Request:
      - req_h1OtTVb13ur4Kn
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfRyEaOJkgYteb",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766640397,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "new-welcome-8efc5993@example.com",
          "invoice_prefix": "C66LTVHF",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 25 Dec 2025 05:26:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_TfRyEaOJkgYteb&items[0][price]=price_test&metadata[custid]=019b53f9-2da1-7f11-9fde-5b5ce8595853&metadata[plan_id]=identity_v1
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f6a0e242-0626-4fd0-928b-5f1dca528cd7
      Original-Request:
      - req_yAoJmcRzyCdXs5
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such price: 'price_test'",
            "param": "items[0][price]",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_yAoJmcRzyCdXs5?t=1766640398",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 05:26:38 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_TfS0r5F4ewrMiQ&items[0][price]=price_test&metadata[custid]=019b53fa-bd45-7cf3-bca4-5927175e71d6&metadata[plan_id]=identity_v1
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 8c6bfaaa-f5c0-4547-94b4-e5cc793f35fd
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8c6bfaaa-f5c0-4547-94b4-e5cc793f35fd
      Original-Request:
      - req_SFI1uUUoCzZVdc
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such price: 'price_test'",
            "param": "items[0][price]",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_SFI1uUUoCzZVdc?t=1766640500",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 05:28:20 GMT
recorded_with: VCR 6.3.1
