*
!defaults/
!defaults/*defaults.yml
!defaults/*defaults.yaml
!examples/
!examples/*.conf
!examples/*.yml
!examples/*.yaml
!examples/*-example
!examples/puma*.rb
!init.d/
!systemd/
!systemd/*
!fortunes*
!redis.conf
!valkey.conf
