:site:
  :host: <%= ENV['HOST'] || 'localhost:3000' %>
  :domain: localhost
  :ssl: <%= ENV['SSL'] == 'true' %>
  # IMPORTANT: After setting the secret, it should not be changed.
  # Ensure to create and store a backup in a secure offsite
  # location. Changing the secret can lead to unforeseen issues.
  :secret: <%= ENV['SECRET'] || 'CHANGEME' %>
:redis:
  :uri: <%= ENV['REDIS_URL'] || 'redis://CHANGEME@127.0.0.1:6379/0?timeout=10' %>
:colonels:
  # Email addresses listed below will be granted automatic
  # administrative privileges upon account creation. These
  # accounts will have full control over the system.
  - <%= ENV['COLONEL'] || 'CHANGEME@example.com' %>
:emailer:
  :mode: :smtp
  :from: CHANGEME@example.com
  :fromname: Jan
  :host: localhost
  :port: 587
  :tls: true
  :user:
  :pass:
:locales:
  # A list of ISO language codes (e.g., 'en' for English, 'es'
  # for Spanish, etc.). There is a corresponding file in etc/locales
  # with the same name containing the translated text. If it's not
  # selected automatically, users are able to select their preferred
  # language by using the links on the translations page.
  #
  # NOTE: The default locale is the first item.
  - en
  - ar
  - bg
  - ca_ES
  - cn
  - cs
  - da_DK
  - de
  - el_GR
  - en
  - es
  - fr
  - fr_FR
  - he
  - hu
  - it_IT
  - nl
  - pl
  - pt_BR
  - ru
  - sl_SI
  - sv_SE
  - tr
  - vi
:limits:
  # This section defines rate limits for various events per user
  # per a rolling 20 minute period. Each key is an event name
  # and the value is the max count allowed. Changes require
  # restart of the app.
  :create_secret: 1000
  :create_account: 10
  :update_account: 10
  :email_recipient: 50
  :send_feedback: 10
  :authenticate_session: 5
  :homepage: 1000
  :dashboard: 1000
  :failed_passphrase: 5
  :show_metadata: 1000
  :show_secret: 1000
  :burn_secret: 1000
