---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Test+Product&metadata[app]=onetimesecret&metadata[plan_id]=vcr_test_plan_id_unique&metadata[tier]=&metadata[region]=&metadata[tenancy]=&metadata[entitlements]=&metadata[created]=2026-05-20T02%3A29%3A30Z&metadata[display_order]=0&metadata[show_on_plans_page]=
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 3fb62d7e-d2c6-45f1-b272-5b342a1fa441
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
      Sentry-Trace:
      - 339a26764846400b85a2b7241e6ea5df-668850b197e34126
      Baggage:
      - sentry-trace_id=339a26764846400b85a2b7241e6ea5df,sentry-sample_rand=0.647890,sentry-environment=development,sentry-release=local-dev,sentry-public_key=e4f0e05ca113560573e15f5e52428419
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3fb62d7e-d2c6-45f1-b272-5b342a1fa441
      Original-Request:
      - req_WlfPQOOYB1QT05
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_UY65FeDw8Q6x4q",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1779244170,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {
            "app": "onetimesecret",
            "created": "2026-05-20T02:29:30Z",
            "display_order": "0",
            "plan_id": "vcr_test_plan_id_unique"
          },
          "name": "Test Product",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "tax_details": null,
          "type": "service",
          "unit_label": null,
          "updated": 1779244171,
          "url": null
        }
  recorded_at: Wed, 20 May 2026 02:29:30 GMT
recorded_with: VCR 6.4.0
