---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Test+Product&metadata[app]=onetimesecret&metadata[plan_id]=&metadata[tier]=&metadata[region]=&metadata[tenancy]=&metadata[entitlements]=&metadata[created]=2025-12-29T05%3A22%3A10Z&metadata[display_order]=0&metadata[show_on_plans_page]=&marketing_features[0][name]=Feature+1&marketing_features[1][name]=Feature+2
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4191b0fc-4835-4de4-9e9d-15b494019a9c
      Original-Request:
      - req_EYJ8iKtIHduy1Q
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_Tgwng7KhhuTZW9",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766985730,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [
            {
              "name": "Feature 1"
            },
            {
              "name": "Feature 2"
            }
          ],
          "metadata": {
            "app": "onetimesecret",
            "created": "2025-12-29T05:22:10Z",
            "display_order": "0",
            "region": ""
          },
          "name": "Test Product",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766985730,
          "url": null
        }
  recorded_at: Mon, 29 Dec 2025 05:22:10 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Test+Product&metadata[app]=onetimesecret&metadata[plan_id]=&metadata[tier]=&metadata[region]=&metadata[tenancy]=&metadata[entitlements]=&metadata[created]=2026-02-27T01%3A40%3A32Z&metadata[display_order]=0&metadata[show_on_plans_page]=&marketing_features[0][name]=Feature+1&marketing_features[1][name]=Feature+2
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="Stripe"
      X-Wc:
      - ABHIJ
      Stripe-Version:
      - "<STRIPE_VERSION>"
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Invalid API Key provided: sk_test_mock",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Fri, 27 Feb 2026 01:40:32 GMT
[...]
