---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=true&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "prod_TfbETQbynJItob",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1766674867,
              "default_price": null,
              "description": null,
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {
                "app": "onetimesecret",
                "created": "2025-12-25T15:01:06Z",
                "display_order": "0",
                "region": "global"
              },
              "name": "Test Product",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": null,
              "type": "service",
              "unit_label": null,
              "updated": 1766674867,
              "url": null
            },
            {
              "id": "prod_Tfb4HJ6g7vS3xv",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1766674249,
              "default_price": null,
              "description": null,
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {
                "app": "onetimesecret",
                "created": "2025-12-25T14:50:48Z",
                "display_order": "0",
                "plan_id": "vcr_test_plan_id_unique",
                "region": "global"
              },
              "name": "Test Product",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": null,
              "type": "service",
              "unit_label": null,
              "updated": 1766674249,
              "url": null
            },
            {
              "id": "prod_Tfb0f2NsPfZfqq",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1766673981,
              "default_price": null,
              "description": null,
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {
                "app": "onetimesecret",
                "created": "2025-12-25T14:46:21Z",
                "display_order": "100",
                "entitlements": "api,webhooks",
                "show_on_plans_page": "true"
              },
              "name": "Entitlements Update Test",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": null,
              "type": "service",
              "unit_label": null,
              "updated": 1766673982,
              "url": null
            },
            {
              "id": "prod_Tfb09myVIy0ssE",
              "object": "product",
              "active": true,
       [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Test+Product&metadata[app]=onetimesecret&metadata[plan_id]=y&metadata[tier]=y&metadata[region]=y&metadata[tenancy]=y&metadata[entitlements]=y&metadata[display_order]=y&metadata[show_on_plans_page]=true&metadata[limit_teams]=y&metadata[limit_members_per_team]=y&metadata[created]=2025-12-25T15%3A02%3A09Z
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - e8f8094c-16f9-4b68-a0da-819dd8e287cf
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e8f8094c-16f9-4b68-a0da-819dd8e287cf
      Original-Request:
      - req_DbgFb6VewDdqIB
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfbFeq6IDd5ulZ",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766674930,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {
            "app": "onetimesecret",
            "created": "2025-12-25T15:02:09Z",
            "display_order": "y",
            "entitlements": "y",
            "limit_members_per_team": "y",
            "limit_teams": "y",
            "plan_id": "y",
            "region": "y",
            "show_on_plans_page": "true",
            "tenancy": "y",
            "tier": "y"
          },
          "name": "Test Product",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766674930,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 15:02:10 GMT
recorded_with: VCR 6.3.1
