---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds?limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "count": 4,
          "data": [
            {
              "id": "re_3TYzRnH7zmouMIBX1v8fcRgW",
              "object": "refund",
              "amount": 3000,
              "balance_transaction": "txn_3TYzRnH7zmouMIBX1PDhTmb9",
              "charge": "ch_3TYzRnH7zmouMIBX1tCi3UH9",
              "created": 1779242485,
              "currency": "cad",
              "destination_details": {
                "card": {
                  "reference": "2773718903173510",
                  "reference_status": "available",
                  "reference_type": "acquirer_reference_number",
                  "type": "refund"
                },
                "type": "card"
              },
              "metadata": {},
              "payment_intent": null,
              "reason": "requested_by_customer",
              "receipt_number": null,
              "source_transfer_reversal": null,
              "status": "succeeded",
              "transfer_reversal": null
            },
            {
              "id": "re_3TYzRkH7zmouMIBX1vlwKgtT",
              "object": "refund",
              "amount": 5000,
              "balance_transaction": "txn_3TYzRkH7zmouMIBX1IrVqREW",
              "charge": "ch_3TYzRkH7zmouMIBX1HEoc8lW",
              "created": 1779242481,
              "currency": "cad",
              "destination_details": {
                "card": {
                  "reference": "2899471300661864",
                  "reference_status": "a[...]
