---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds?limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "count": 10,
          "data": [
            {
              "id": "re_3SiFCPH54PcLeqtY0yiWyZz2",
              "object": "refund",
              "amount": 5000,
              "balance_transaction": "txn_3SiFCPH54PcLeqtY0bC7uuEj",
              "charge": "ch_3SiFCPH54PcLeqtY0429mFIi",
              "created": 1766671651,
              "currency": "usd",
              "destination_details": {
                "card": {
                  "reference_status": "pending",
                  "reference_type": "acquirer_reference_number",
                  "type": "refund"
                },
                "type": "card"
              },
              "metadata": {},
              "payment_intent": null,
              "reason": null,
              "receipt_number": null,
              "source_transfer_reversal": null,
              "status": "succeeded",
              "transfer_reversal": null
            },
            {
              "id": "re_3SiFCNH54PcLeqtY0rea8Hnu",
              "object": "refund",
              "amount": 5000,
              "balance_transaction": "txn_3SiFCNH54PcLeqtY0uvZVTub",
              "charge": "ch_3SiFCNH54PcLeqtY01I4MIXm",
              "created": 1766671648,
              "currency": "usd",
              "destination_details": {
                "card": {
                  "reference": "4753070534690511",
                  "reference_status": "available",
                  "reference_type": "acquirer_reference_number",
                  "type": "refund"
                },
                "type": "card"
              },
              "metadata": {},
              "payment_intent": null,
              "reason": null,
              "receipt_number": null,
              "source_transfer_reversal": null,
              "status": "succeeded",
              "transfer_reversal": null
[...]
