---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=refund-test%40example.com&name=Refund+Test+User&source=tok_visa
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766664445-b712387b-991c-486d-a02a-4dc8d335c3a1
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766664445-b712387b-991c-486d-a02a-4dc8d335c3a1
      Original-Request:
      - req_UjMNPBLY2HtksV
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfYRXi76aWCQjp",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766664445,
          "currency": null,
          "customer_account": null,
          "default_source": "card_1SiDKDH54PcLeqtYmPX8KgHj",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "refund-test@example.com",
          "invoice_prefix": "ZWLIGADW",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Refund Test User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 25 Dec 2025 12:07:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=5000&currency=usd&customer=cus_TfYRXi76aWCQjp
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766664445-315369bf-5af0-4659-b36a-02ba0c0b2066
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766664445-315369bf-5af0-4659-b36a-02ba0c0b2066
      Original-Request:
      - req_7gSFcsoW2K4hEe
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SiDKDH54PcLeqtY0ha7ujut",
          "object": "charge",
          "amount": 5000,
          "amount_captured": 5000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_3SiDKDH54PcLeqtY02RHKqU6",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "ONETIME.DEV LINKS",
          "captured": true,
          "created": 1766664445,
          "currency": "usd",
          "customer": "cus_TfYRXi76aWCQjp",
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 14,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "payment_method": "card_1SiDKDH54PcLeqtYmPX8KgHj",
          "payment_method_details": {
            "card": {
              "amount_authorized": 5000,
              "authorization_code": "877599",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2026,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "NGrtdUhnYFr7yg93",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "787111411610085",
              "overcapture": {
                "maximum_amount_capturable": 5000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU1JVWFFINTRQY0xlcXRZKP7RtMoGMgbxJ8EKuHw6LBanW4x5FWROTSrRED5F8f_aterG8DG2hp9ucVuLDdljLR8V-dILcNcvsmrw",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1SiDKDH54PcLeqtYmPX8KgHj",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "allow_redisplay": "unspecified",
            "brand": "Visa",
            "country": "US",
            "customer": "cus_TfYRXi76aWCQjp",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "email": null,
            "exp_month": 12,
            "exp_year": 2026,
            "fingerprint": "NGrtdUhnYFr7yg93",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "phone": null,
            "regulated_status": "unregulated",
            "tokenization_method": null,
            "wallet": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Thu, 25 Dec 2025 12:07:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_3SiDKDH54PcLeqtY0ha7ujut
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766664446-81074dd4-4f54-40ad-aae1-baeed3b1730a
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766664446-81074dd4-4f54-40ad-aae1-baeed3b1730a
      Original-Request:
      - req_X6IA2tz3PbRY75
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3SiDKDH54PcLeqtY0dKc8jgJ",
          "object": "refund",
          "amount": 5000,
          "balance_transaction": "txn_3SiDKDH54PcLeqtY0TmpLRAh",
          "charge": "ch_3SiDKDH54PcLeqtY0ha7ujut",
          "created": 1766664446,
          "currency": "usd",
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {},
          "payment_intent": null,
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Thu, 25 Dec 2025 12:07:27 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds?limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "count": 10,
          "data": [
            {
              "id": "re_3SiDKDH54PcLeqtY0dKc8jgJ",
              "object": "refund",
              "amount": 5000,
              "balance_transaction": "txn_3SiDKDH54PcLeqtY0TmpLRAh",
              "charge": "ch_3SiDKDH54PcLeqtY0ha7ujut",
              "created": 1766664446,
              "currency": "usd",
              "destination_details": {
                "card": {
                  "reference_status": "pending",
                  "reference_type": "acquirer_reference_number",
                  "type": "refund"
                },
                "type": "card"
              },
              "metadata": {},
              "payment_intent": null,
              "reason": null,
              "receipt_number": null,
              "source_transfer_reversal": null,
              "status": "succeeded",
              "transfer_reversal": null
            },
            {
              "id": "re_3SiDKAH54PcLeqtY1ihmSzYZ",
              "object": "refund",
              "amount": 5000,
              "balance_transaction": "txn_3SiDKAH54PcLeqtY1qWMzlKP",
              "charge": "ch_3SiDKAH54PcLeqtY1uGNmiyQ",
              "created": 1766664443,
              "currency": "usd",
              "destination_details": {
                "card": {
                  "reference": "3191647969677167",
                  "reference_status": "available",
                  "reference_type": "acquirer_reference_number",
                  "type": "refund"
                },
                "type": "card"
              },
              "metadata": {},
              "payment_intent": null,
              "reason": null,
              "receipt_number": null,
              "source_transfer_reversal": null,
              "status": "succeeded",
              "transfer_reversal": null
[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_TfYRXi76aWCQjp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfYRXi76aWCQjp",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Thu, 25 Dec 2025 12:07:27 GMT
recorded_with: VCR 6.3.1
