---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=5000&currency=cad&customer=cus_TfaNl0Z2WchgBS
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766671652-87d7530a-f448-4323-b121-ac024700284b
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766671652-87d7530a-f448-4323-b121-ac024700284b
      Original-Request:
      - req_dDv7VPuKIhef6N
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SiFCTH54PcLeqtY1397R7t1",
          "object": "charge",
          "amount": 5000,
          "amount_captured": 5000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_3SiFCTH54PcLeqtY1GDPiPAR",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "ONETIME.DEV LINKS",
          "captured": true,
          "created": 1766671653,
          "currency": "cad",
          "customer": "cus_TfaNl0Z2WchgBS",
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 16,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "payment_method": "card_1SiFCSH54PcLeqtY2mBHO0ga",
          "payment_method_details": {
            "card": {
              "amount_authorized": 5000,
              "authorization_code": "634797",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2026,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "NGrtdUhnYFr7yg93",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "787111411610085",
              "overcapture": {
                "maximum_amount_capturable": 5000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU1JVWFFINTRQY0xlcXRZKKWKtcoGMgZG_5LIB-86LBYQlDGDEt0k9LIUybLuyp0m9StZw7io16RSAsGkVlrDMmT1ESIw5CPdNJL-",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1SiFCSH54PcLeqtY2mBHO0ga",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "allow_redisplay": "unspecified",
            "brand": "Visa",
            "country": "US",
            "customer": "cus_TfaNl0Z2WchgBS",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "email": null,
            "exp_month": 12,
            "exp_year": 2026,
            "fingerprint": "NGrtdUhnYFr7yg93",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "phone": null,
            "regulated_status": "unregulated",
            "tokenization_method": null,
            "wallet": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:33 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_3SiFCTH54PcLeqtY1397R7t1
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766671653-ec404225-8e30-4856-8320-e1db4b6c2379
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766671653-ec404225-8e30-4856-8320-e1db4b6c2379
      Original-Request:
      - req_hSXHKXkZ5Wwyjp
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3SiFCTH54PcLeqtY1FXlPQfX",
          "object": "refund",
          "amount": 5000,
          "balance_transaction": "txn_3SiFCTH54PcLeqtY18ndYPZI",
          "charge": "ch_3SiFCTH54PcLeqtY1397R7t1",
          "created": 1766671654,
          "currency": "cad",
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {},
          "payment_intent": null,
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:34 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_TfaNl0Z2WchgBS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfaNl0Z2WchgBS",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Thu, 25 Dec 2025 14:07:35 GMT
[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_TgwoMYmHyClafJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TgwoMYmHyClafJ",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Mon, 29 Dec 2025 05:22:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=refund-test%40example.com&name=Refund+Test+User&source=tok_visa
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1779242486-93b5ab30-f1b9-4d85-8f63-0397eabe813b
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1779242486-93b5ab30-f1b9-4d85-8f63-0397eabe813b
      Original-Request:
      - req_BgMzmgRGEXYr10
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UY5dsLQ3EbHE0A",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1779242487,
          "currency": null,
          "customer_account": null,
          "default_source": "card_1TYzRrH7zmouMIBXscW0rnS6",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "refund-test@example.com",
          "invoice_prefix": "FVKU6UUP",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Refund Test User",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 20 May 2026 02:01:27 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds?limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "count": 5,
          "data": [
            {
              "id": "re_3TYzRrH7zmouMIBX0NC0Y1zG",
              "object": "refund",
              "amount": 5000,
              "balance_transaction": "txn_3TYzRrH7zmouMIBX0BRQRds3",
              "charge": "ch_3TYzRrH7zmouMIBX0OGpFQoq",
              "created": 1779242488,
              "currency": "cad",
              "destination_details": {
                "card": {
                  "reference_status": "pending",
                  "reference_type": "acquirer_reference_number",
                  "type": "refund"
                },
                "type": "card"
              },
              "metadata": {},
              "payment_intent": null,
              "reason": null,
              "receipt_number": null,
              "source_transfer_reversal": null,
              "status": "succeeded",
              "transfer_reversal": null
            },
            {
              "id": "re_3TYzRnH7zmouMIBX1v8fcRgW",
              "object": "refund",
              "amount": 3000,
              "balance_transaction": "txn_3TYzRnH7zmouMIBX1PDhTmb9",
              "charge": "ch_3TYzRnH7zmouMIBX1tCi3UH9",
              "created": 1779242485,
              "currency": "cad",
              "destination_details": {
                "card": {
                  "reference": "2773718903173510",
                  "reference_status": "available",
                  "reference_type": "acquirer_reference_number",
                  "type": "refund"
                },
                "type": "card"
              },
              "metadata": {},
              "payment_intent": null,
              "reason": "requested_by_customer",
              "receipt_number": null,
              "source_transfer_reversal": null,
              "status": "succeeded",
              "transf[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_UY5dsLQ3EbHE0A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UY5dsLQ3EbHE0A",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Wed, 20 May 2026 02:01:29 GMT
recorded_with: VCR 6.4.0
