---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "count": 5,
          "data": [
            {
              "id": "re_3SiDKAH54PcLeqtY1ihmSzYZ",
              "object": "refund",
              "amount": 5000,
              "balance_transaction": "txn_3SiDKAH54PcLeqtY1qWMzlKP",
              "charge": "ch_3SiDKAH54PcLeqtY1uGNmiyQ",
              "created": 1766664443,
              "currency": "usd",
              "destination_details": {
                "card": {
                  "reference": "3191647969677167",
                  "reference_status": "available",
                  "reference_type": "acquirer_reference_number",
                  "type": "refund"
                },
                "type": "card"
              },
              "metadata": {},
              "payment_intent": null,
              "reason": null,
              "receipt_number": null,
              "source_transfer_reversal": null,
              "status": "succeeded",
              "transfer_reversal": null
            },
            {
              "id": "re_3SiDK7H54PcLeqtY1v74o3JH",
              "object": "refund",
              "amount": 5000,
              "balance_transaction": "txn_3SiDK7H54PcLeqtY167yTkj2",
              "charge": "ch_3SiDK7H54PcLeqtY1TBC3F0u",
              "created": 1766664441,
              "currency": "usd",
              "destination_details": {
                "card": {
                  "reference": "7239924151101799",
                  "reference_status": "a[...]
