---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/refunds?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "count": 0,
          "data": [],
          "has_more": false,
          "url": "/v1/refunds"
        }
  recorded_at: Thu, 25 Dec 2025 06:15:02 GMT
recorded_with: VCR 6.3.1
