
{{>header}}

  <div id="content">
    
    <h2 class="intro">About Us</h2>
    
    <p>We're <a href="http://delanotes.com/" title="Delano Mandelbaum">Delano</a> and <a href="https://twitter.com/murtaghchris" title="Chris Murtagh">Chris</a>, the guys behind the <a href="https://www.blamestella.com/" title="Stella: The future of Web Monitoring">Blamey &amp; Stella Information Co</a>. It's the web monitoring service of the future. One-time Secret is one of our side-projects.</p>
    <p style="margin-left: 30%; margin-right: 30%">
      <a href="http://delanotes.com/" title="Delano Mandelbaum"><img src="/img/delano-g.png" border="0" /></a>
      <a href="https://twitter.com/murtaghchris" title="Chris Murtagh"><img src="/img/chris-g.png" border="0" /></a>
    </p>
    
  </div>

{{>footer}}