
{{>header}}

  <div id="content">
    
    <h2 class="intro">About Us</h2>
    
    <p>We're <a href="http://delanotes.com/" title="Delano Mandelbaum">Delano</a> and <a href="http://christopher.murtagh.name/" title="Christopher Murtagh">Chris</a>, the guys behind the <a href="https://www.blamestella.com/" title="Stella: The future of Web Monitoring">Blamey &amp; Stella Information Co</a>. It's the web monitoring service of the future. One-time Secret is one of our side-projects.</p>
    <p style="margin-left: 30%; margin-right: 30%">
      <a href="http://delanotes.com/" title="Delano Mandelbaum"><img src="/img/delano-g.png" width="95" height="120" border="0" /></a>
      <a href="http://christopher.murtagh.name/" title="Christopher Murtagh"><img src="/img/chris-g.png" width="87" height="120" border="0" /></a>
    </p>
  
    <h3>F.A.Q.</h3>
    
    <h4>Why would I use this?</h4>
    <p>When you send people passwords and private links via email or chat, there are copies of that information stored in many places. If you use a one-time link instead, the information persists for a single viewing which means it can't be read by someone else later. This allows you to send sensitive information in a safe way knowing it's seen by one person only. Think of it like a self-destructing message.</p>
    
    <h4>Can I retrieve a secret that has already been shared?</h4>
    <p>Nope. We display it once and then delete it. After that it's gone forever.</p>
    
    <h4>How long do you keep non-viewed secrets?</h4>
    <p>We keep secrets for up to 2 days for anonymous users and up to 90 days with paid plans. After that they are deleted automatically and gone forever. (Note: secrets that have been viewed are deleted immediately.)</p>
    
    <h4>Why should I trust you?</h4>
    <p>In addition to being really cool guys, we can't really do anything with your information. If it's a password for example, we don't know the username or even the application that the credentials are for.</p>
    <p>If you include a passphrase (available under "Privacy Options"), we use it to encrypt the secret. We don't store the passphrase (only a bcrypted hash) so we can never know what the secret is because we can't decrypt it.</p>
        
  </div>

{{>footer}}
