{{>header}}

<div class="row-fluid">
  <div class="span12">
    <ul class="nav nav-tabs" id="contentTab">
      <li class="active"><a href="#home">Manage Account</a></li>
      {{#plan.options.cname}}
      <li><a href="#cname">Branding</a></li>
      {{/plan.options.cname}}
      {{#plan.options.api}}
      <li><a href="#apikey">API Key</a></li>
      {{/plan.options.api}}
      {{#colonel}}
      <li><a href="#labs">Labs</a></li>
      {{/colonel}}
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="home">
        {{>partial/session_messages}}

        <h3>Your Account</h3>
        <p>
          <strong>Account type: {{ plan.options.name }}</strong>
        </p>
        <div class="well options-box">
          <div class="title">Update Password</div>
          <form action="/account/change_password" method="post" class>
            {{{add_shrimp}}}
            <input type="hidden" name="tabindex" value="account" />
            <fieldset>
              <div class="control-group">
                <label class="control-label" for="custidField">Current Password</label>
                <div class="controls">
                  <input
                    type="password"
                    name="currentp"
                    id="custidField"
                    class="input-medium"
                    value
                    placeholder />
                </div>
                <label class="control-label" for="passField">New Password</label>
                <div class="controls">
                  <input
                    type="password"
                    name="newp"
                    id="passField"
                    class="input-large"
                    value
                    placeholder />
                </div>
                <label class="control-label" for="pass2Field">Confirm</label>
                <div class="controls">
                  <input
                    type="password"
                    name="newp2"
                    id="pass2Field"
                    class="input-large"
                    value
                    placeholder />
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn btn-inverse">
                    Update
                  </button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>

        <hr>

        <div class="well well-large well-danger options-box">
          <div class="title primary">Delete Account</div>

          <div class="control-group">
            <p class="small">
              Please be advised:
              <ul class="small">
                <li><strong>Secrets will remain active until they expire.</strong> </li>
                <li>Any secrets you wish to remove, <span class="underline">burn them before continuing.</span></li>
                <li>Deleting your account is <em>permanent and non-reversable</em>.</li>
              </ul>
            </p>

          </div>
          <div class="control-group">
            <div class="controls">
              <button type data-toggle="modal" data-target="#yourInModalDanger" class="btn btn-danger">
                Permanently Delete Account
              </button>
              <p class="lighter roomier small">
                <em>Deleting {{ cust.custid }}</em>
              </p>
            </div>
          </div>

        </div>
        <!-- Modal: Delete Account -->
        <div id="yourInModalDanger" class="modal modal-danger hide fade" tabindex="-1" role="dialog"
          aria-labelledby="yourInModalDangerLabel" aria-hidden="true">
          <form action="/account/destroy" method="post" class>
            {{{add_shrimp}}}
            <input type="hidden" name="tabindex" value="destroy" />
            <fieldset>
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="yourInModalDangerLabel">Delete Account</h3>
              </div>
              <div class="modal-body">
                <p>Yes I do indeed concur, wholeheartedly.</p>
                <div class="controls">
                  <input
                    type="password"
                    name="currentp"
                    id="custidField"
                    class="input-medium"
                    placeholder="Password" />
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-danger">Delete Account</button>
              </div>
            </fieldset>
          </form>
        </div>

        <p class="lighter">
          <em>Created <strong>{{ cust.secrets_created }}</strong> secrets since
            <strong>{{ customer_since }}</strong>.</em>
        </p>

        {{#contributor}}
        <p class="lighter">
          <em>You became a <a href="/contributor">contributor</a> on
            <strong>{{ contributor_since }}</strong>.</em>
        </p>
        {{/contributor}}
      </div>

      {{#plan.options.api}}
      <div class="tab-pane" id="apikey">
        <h3 for="custid">API Key</h3>

        {{>partial/session_messages}}

        <form action="/account/apikey" method="post">
          {{{add_shrimp}}}
          <input type="hidden" name="tabindex" value="apikey" />
          {{#cust.apitoken}}
          <div>
            <pre class="hilite">{{#cust.apitoken}}{{ cust.apitoken }}{{/cust.apitoken}}</pre>
            <p class="smaller lighter">
              DO NOT SHARE YOUR KEY. When in doubt, generate a new one.
            </p>
          </div>
          <button class="btn btn-inverse cufon" type="submit">
            Regenerate Key
          </button>
          {{/cust.apitoken}}
          {{^cust.apitoken}}
          <button class="btn btn-inverse cufon" type="submit">
            Generate Key
          </button>
          {{/cust.apitoken}}
        </form>
        <hr />
      </div>
      {{/plan.options.api}}

      {{#plan.options.cname}}
      <div class="tab-pane" id="cname">
        <h3 for="custid">Custom Subdomain</h3>

        {{>partial/session_messages}}
        <hr />

        <form action="/account/subdomain" method="post">
          {{{add_shrimp}}}
          <input type="hidden" name="tabindex" value="cname" />

          <strong><label for="cnameField"></label>
            <input
              type="text"
              name="cname"
              id="cnameField"
              class="short"
              value="{{ cname }}" />.onetimesecret.com</strong>
          {{#has_cname}}(<a href="{{ cname_uri }}" class="smaller lighter">Link</a>){{/has_cname}}<br />
          <hr />
          <label for="companyField">Company:</label>
          <input
            type="text"
            name="company"
            id="companyField"
            class="long"
            value="{{ cust_subdomain.company }}" /><br />

          <label for="homepageField">Homepage:</label>
          <input
            type="text"
            name="homepage"
            id="homepageField"
            class="long"
            value="{{ cust_subdomain.homepage }}" /><br />

          <label for="contactField">Contact Name:</label>
          <input
            type="text"
            name="contact"
            id="contactField"
            class="long"
            value="{{ cust_subdomain.contact }}" /><br />

          <label for="emailField">Contact Email:</label>
          <input
            type="text"
            name="email"
            id="emailField"
            class="long"
            value="{{ cust_subdomain.email }}" /><br />
          <div class="smaller lighter">
            Emails are sent from this address. If you have problems, let us
            know.
          </div>

          <label for="logoURLField">Logo URL:</label>
          <input
            type="text"
            name="logo_uri"
            id="logoURLField"
            class="long"
            value="{{ cust_subdomain.logo_uri }}" /><br />

          <label for="colorPrimaryField">Primary color:</label>
          <input
            type="text"
            name="cp"
            id="colorPrimaryField"
            class="short"
            value="{{ cust_subdomain.primary_color }}" /><br />

          <label for="colorSecondaryField">Secondary color:</label>
          <input
            type="text"
            name="cs"
            id="colorSecondaryField"
            class="short"
            value="{{ cust_subdomain.secondary_color }}" /><br />

          <label for="colorBorderField">Border color:</label>
          <input
            type="text"
            name="cb"
            id="colorBorderField"
            class="short"
            value="{{ cust_subdomain.border_color }}" /><br />

          <span id="fireSmall" class="button"><button type="submit">Update Branding</button></span>
        </form>
      </div>
      {{/plan.options.cname}}

    </div>
  </div>
</div>

{{>footer}}
