{{>header}}

  <div class="private">

    {{>partial/session_messages}}
    {{#is_destroyed}}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Cannot burn!</strong>
      {{#is_received}}The secret has already been viewed ({{received_date}}).{{/is_received}}
      {{#is_burned}}The secret has already been burned ({{burned_date}}).{{/is_burned}}
    </div>

    <a class="btn btn-block btn-large cufon" href="{{metadata_uri}}">Back</a>
    {{/is_destroyed}}


    {{^is_destroyed}}
    <div class="secret">
      <span class="pretext">{{i18n.COMMON.secret}}: {{secret_shortkey}}</span>
      {{#has_passphrase}}
      <h2 class="intro cufon">{{i18n.page.requires_passphrase}}</h2>
      {{/has_passphrase}}
    </div>

    <form method="POST">
      {{{add_shrimp}}}
      <input type="hidden" name="continue" value="true" />
      <div class="control-group passphrase">
        {{#has_passphrase}}
          <input type="password" name="passphrase" id="passField" class="input-large" value="" placeholder="Enter the passphrase here" />
        {{/has_passphrase}}
      </div>
      <button class="btn btn-block btn-large btn-warning cufon" type="submit"><i class="icon-fire"></i> {{i18n.COMMON.word_confirm}}: {{i18n.COMMON.burn_this_secret}}</button>
      <a class="btn btn-block btn-large cufon" href="{{metadata_uri}}">{{i18n.COMMON.word_cancel}}</a>
      <hr/>
      <p class="hint">{{i18n.COMMON.burn_this_secret_confirm_hint}}</p>
    </form>
    {{/is_destroyed}}

  </div>

{{>footer}}
