{{>header}}

  <div class="private">

    {{#is_received}}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Cannot burn!</strong> The secret has already been viewed.
    </div>

    <a class="btn btn-block btn-large cufon" href="{{metadata_uri}}">Back</a>
    {{/is_received}}
    {{^is_received}}

    <div><strong>Please confirm:</strong></div>
    <form method="POST">
      {{{add_shrimp}}}
      <input type="hidden" name="continue" value="true" />
      <button class="btn btn-block btn-large btn-warning cufon" type="submit"><i class="icon-fire"></i> Burn this secret -- PERMANENT</button>
      <a class="btn btn-block btn-large cufon" href="{{metadata_uri}}">Cancel</a>
    </form>
    {{/is_received}}

  </div>

{{>footer}}
