{{>header}}

<div class="span7">
<h1 class="cufon">Become a Contributor <em>!</em></h1>

{{>partial/session_messages}}

<p>Contributing to an open source project like One-Time Secret is awesome. We use an <a href="https://github.com/onetimesecret/onetimesecret/blob/master/LICENSE.txt">MIT-style license</a> which means you're free to take the code and do whatever you want (just don't blame us if stuff goes wrong).</p>

<p>Because we offer a commercial version, in order to contribute back to the project we need to review and accept a <a href="https://fossbazaar.org/content/open-source-contributor-agreements-purpose-and-scope/" style="text-decoration: underline">contributors agreement</a>. If you don't agree, you can still fork the project and commit your work there (we just won't be able to accept any patches or pull requests).</p>

<p><em>Please review the following and confirm if you agree.</em></p>

<form class="form-horizontal" method="POST">
  {{{add_shrimp}}}
  <fieldset>
  <div id="usualAgreement" class="" method="POST">
    <h3 class="cufon">One-Time Secret Contributor Agreement</h3>

    <div class="legal" style="margin-left: 0px">
      <p>These terms apply to your contribution of materials to a product or project
      owned or managed by us ("project"), and set out the intellectual property rights
      you grant to us (onetimesecret.com) in the contributed materials.  If this
      contribution is on behalf of a company, the term "you" will also mean the
      company for which you are making the contribution. If you agree to be bound by
      these terms, check the box below.</p>

      <p>Read this agreement carefully before agreeing.</p>

      <ol>
        <li>The term "contribution" means any source code, object code, patch, tool,
        sample, graphic, specification, manual, documentation, or any other material
        posted or submitted by you to a project.</li>
        <li>With respect to any worldwide copyrights, or copyright applications and
        registrations, in your contribution:
          <ul>
            <li>you hereby assign to us joint ownership, and to the extent that
            such assignment is or becomes invalid, ineffective or unenforceable,
            you hereby grant to us a perpetual, irrevocable, non-exclusive,
            worldwide, no-charge, royalty-free, unrestricted license to exercise
            all rights under those copyrights. This includes, at our option, the
            right to sublicense these same rights to third parties through multiple
            levels of sublicensees or other licensing arrangements;</li>
            <li>you agree that each of us can do all things in relation to your
            contribution as if each of us were the sole owners, and if one of us
            makes a derivative work of your contribution, the one who makes the
            derivative work (or has it made) will be the sole owner of that
            derivative work;</li>
            <li>you agree that you will not assert any moral rights in your
            contribution against us, our licensees or transferees;</li>
            <li>you agree that we may register a copyright in your contribution and
            exercise all ownership rights associated with it; and</li>

            <li>you agree that neither of us has any duty to consult with, obtain
            the consent of, pay or render an accounting to the other for any use or
            distribution of your contribution.</li>
          </ul>
        </li>
        <li>With respect to any patents you own, or that you can license without
        payment to any third party, you hereby grant to us a perpetual, irrevocable,
        non-exclusive, worldwide, no-charge, royalty-free license to:
          <ul>
            <li>make, have made, use, sell, offer to sell, import, and otherwise
            transfer your contribution in whole or in part, alone or in combination
            with or included in any product, work or materials arising out of the
            project to which your contribution was submitted, and</li>
            <li>at our option, to sublicense these same rights to third parties
            through multiple levels of sublicensees or other licensing
            arrangements.</li>
          </ul>

        </li>
        <li>Except as set out above, you keep all right, title, and interest in your
        contribution. The rights that you grant to us under these terms are effective
        on the date you first submitted a contribution to us, even if your submission
        took place before the date you sign these terms. Any contribution we make
        available under any license will also be made available under a suitable
        FSF (Free Software Foundation) or OSI (Open Source Initiative) approved
        license.</li>
        <li>With respect to your contribution, you represent that:
          <ul>
            <li>it is an original work and that you can legally grant the rights
            set out in these terms;</li>
            <li>it does not to the best of your knowledge violate any third party's
            copyrights, trademarks, patents, or other intellectual property rights;
            and</li>
            <li>you are authorized to sign this contract on behalf of your company
            (if you are making the contribution on behalf of a company).</li>

          </ul>
        </li>
        <li>These terms will be governed by the laws of the Province of Quebec and
        applicable Canadian Federal law.  Any choice of law rules will not apply.</li>
      </ol>
    </div>
  </div>

  {{^authenticated}}
  <div class="alert alert-info">
    You need to <a href="/login">sign in</a> before agreeing.
  </div>
  {{/authenticated}}
  {{#authenticated}}
  <div class="control-group">
    <label class="checkbox">
      <input id="outlaw" type="checkbox" name="contributor" value="true" class="huge" {{#contributor}}checked{{/contributor}}>
      <strong>I confirm that I agree</strong>
      {{#contributor}}
      <span><em>(you became a contributor on {{contributor_since}}).</em></span>
      {{/contributor}}
    </label>
  </div>
  <button type="submit" class="btn btn-custom btn-large cufon">Become a contributor</button>
  <a class="btn" href="/">Cancel</a>
  {{/authenticated}}

  </fieldset>
</form>
</div>

{{>footer}}
