{{>header}}


  <div class="row-fluid">
    <div class="span12">

      <ul class="nav nav-tabs" id="contentTab">
        <li class="active"><a href="#home">Home</a></li>
        <li><a href="#recent">Recent Secrets <span class="badge">{{metadata.size}}</span></a></li>
      </ul>

      <div class="tab-content">

        <div class="tab-pane active" id="home">

          {{#new_account}}
          <div id="signupSteps">
            <div id="step1" class="step">
              <p>Step 1:</p>
              <div>Create Account</div>
            </div>
            <div id="step2" class="step">
              <p>Step 2:</p>
              <div>Verify Account</div>
            </div>
            <div id="step3" class="step">
              <p>Step 3:</p>
              <div>Share Secret</div>
            </div>
          </div>
          <a href="#" class="secretToggle">Share a secret</a>
          {{/new_account}}

          {{>partial/create_secret_form}}

        </div>
        <div class="tab-pane" id="recent">

          {{#has_secrets}}

          <h3>Not Received</h3>
          {{#has_notreceived}}
          <ul>
          {{#notreceived}}
            {{>partial/li_metadata}}
          {{/notreceived}}
          </ul>
          {{/has_notreceived}}
          {{^has_notreceived}}
          <p class="intro2"><em>Go on then. <a href="/">Share a secret!</a></em></p>
          {{/has_notreceived}}


          <h3>Received</h3>
          {{#has_received}}
          <ul>
          {{#received}}
            {{>partial/li_metadata}}
          {{/received}}
          </ul>
          {{/has_received}}
          {{^has_received}}
          <em>None</em>
          {{/has_received}}
          {{/has_secrets}}

          {{^has_secrets}}
          <h3>No Recent secrets</h3>
          <p class="intro2"><em>Go on then. <a href="/">Share a secret!</a></em></p>
          {{/has_secrets}}

        </div>
      </div>
    </div>
  </div>
{{>footer}}


<script>
$(function() {
  var tab = (window.location.hash || 'home-tab').toLowerCase().split('-tab')[0];
  var allowed = ['#home', '#recent'];
  if (allowed.indexOf(tab) >= 0) {
    $('#contentTab a[href="'+tab+'"]').tab('show');
  }
});
</script>
