{{>header}}

  <div id="content">

    <h2 class="cufon">Give us your feedback</h2>

    {{>partial/session_messages}}

    <form class="form form-inline" action="/feedback" method="post">
      {{{add_shrimp}}}
      <div class="input-append">
        <input class="span6" name="msg" id="appendedInputButton" type="text" placeholder="{{feedback_text}}">
        <button class="btn" type="submit">Send Feedback</button>
      </div>
    </form>

    <ul>
    {{#popular_feedback}}
      <li>{{msg}} <em>{{stamp}}</em></li>
    {{/popular_feedback}}
    </ul>
  </div>

{{>footer}}
