
  <hr/>



  <footer class="text-sm text-center space-y-2">
    {{#display_feedback}}
    <div>
      <form class="form form-inline" action="/feedback" method="post">
        {{{add_shrimp}}}
        <div class="flex items-center space-x-2 mb-4">
          {{^authenticated}}
            <input
              type="text"
              name="msg"
              class="flex-grow p-2 border rounded dark:bg-gray-800 dark:border-gray-700"
              autocomplete="off"
              placeholder="Login to send feedback">

            <button
              class="bg-gray-300 hover:bg-gray-400 dark:bg-gray-700 dark:hover:bg-gray-600 text-gray-800 dark:text-gray-200 font-bold py-2 px-4 rounded">
              {{i18n.COMMON.button_send_feedback}}
            </button>
          {{/authenticated}}
          {{#authenticated}}
            <input
              type="text"
              name="msg"
              class="flex-grow p-2 border rounded dark:bg-gray-800 dark:border-gray-700"
              autocomplete="off"
              placeholder="{{i18n.COMMON.feedback_text}}">
            <button
              class="bg-gray-300 hover:bg-gray-400 dark:bg-gray-700 dark:hover:bg-gray-600 text-gray-800 dark:text-gray-200 font-bold py-2 px-4 rounded">
              {{i18n.COMMON.button_send_feedback}}
            </button>
          {{/authenticated}}

        </div>
      </form>
    </div>
    {{/display_feedback}}
    {{#display_links}}
    <div>
      <a href="/about">About</a> |
      <a href="/translations">Help Translate</a> |
      <a href="/docs/api">API</a> |
      <a href="https://github.com/onetimesecret/onetimesecret">Code</a> |
      <a href="https://github.com/onetimesecret/onetimesecret/issues" title="Issue Tracker">Issues</a>
    </div>
    <div>
      <a href="/info/privacy">Privacy</a> |
      <a href="/info/terms">Terms &amp; Conditions</a> |
      <a href="https://status.onetimesecret.com/">Status</a> |
      <a href="/info/security">Security</a>
    </div>
    <div>v{{ot_version}}</div>
    {{/display_links}}
  </footer>
</div>

<script>
// Simple light/dark mode toggle
const htmlElement = document.documentElement;
const toggleDarkMode = () => {
  htmlElement.classList.toggle('dark');
};

</script>
</body>
</html>
