
  <hr/>

  <div id="footer">
    {{#display_feedback}}
    <form class="form form-inline" action="/feedback" method="post">
      {{{add_shrimp}}}
      <div class="input-append">
        <input class="span6" name="msg" id="appendedInputButton" type="text" placeholder="{{i18n.COMMON.feedback_text}}">
        <button class="btn" type="submit">{{i18n.COMMON.button_send_feedback}}</button>
      </div>
    </form>
    {{/display_feedback}}
    {{#display_links}}
    <p class="footerNav">
      <a href="{{baseotsuri}}/about">About</a> |
      <a href="{{baseotsuri}}/translations">Help Translate</a> |
      <a href="{{baseotsuri}}/docs/api">API</a> |
      <a href="https://github.com/onetimesecret/onetimesecret">Code</a> |
      <a href="https://github.com/onetimesecret/onetimesecret/issues" title="Issue Tracker">Issues</a>
    </p>
    <p class="footerNav">
      <a href="{{baseotsuri}}/info/privacy">Privacy</a> |
      <a href="{{baseotsuri}}/info/terms">Terms &amp; Conditions</a> |
      <a href="https://status.onetimesecret.com/">Status</a> |
      <a href="{{baseotsuri}}/info/security">Security</a>
    </p>
    {{/display_links}}
  </div>

</div> <!-- /container -->

<script src="/js/vendor/bootstrap.min.js"></script>
<script src="/js/plugins.js?{{ruby_version}}"></script>
<script src="/js/main.js?{{ruby_version}}"></script>
{{#js}}
<script src="{{to_s}}" type="text/javascript"></script>
{{/js}}

{{#with_analytics}}
<!-- No analytics enabled by default (or on onetimesecret.com). -->
{{/with_analytics}}

<!-- {{via_hn}}:{{via_test}}:{{via_reddit}} -->
</body>
</html>
