<html>
<body>
  <div id="footer">
</div> <!-- /container -->
<script src="/js/vendor/bootstrap.min.js"></script>
<script src="/js/plugins.js?{{ot_version_id}}"></script>
<script src="/js/main.js?{{ot_version_id}}"></script>
</body>
</html>

