<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<!--
  
          (        )   (                  (        )          (
          )\ )  ( /(   )\ )         *   ) )\ )  ( /(          )\ )
         (()/(  )\()) (()/(    (  ` )  /((()/(  )\())     (  (()/(
          /(_))((_)\   /(_))   )\  ( )(_))/(_))((_)\      )\  /(_))
         (_))    ((_) (_))  _ ((_)(_(_())(_))    ((_)  _ ((_)(_))
         / __|  / _ \ | |  | | | ||_   _||_ _|  / _ \ | | | |/ __|
         \__ \ | (_) || |__| |_| |  | |   | |  | (_) || |_| |\__ \
         |___/  \___/ |____|\___/   |_|  |___|  \___/  \___/ |___/
  
-->
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" /> 
  <title>{{title}} - {{subtitle}}</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}">
  <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" media="screen" rel="Stylesheet" type="text/css">
  <link href="/app/common.css?{{ot_version_id}}" media="screen" rel="Stylesheet" type="text/css" />
  {{#css}}
  <link href="{{to_s}}" media="screen" rel="Stylesheet" type="text/css" />
  {{/css}}
  <script type="text/javascript">
  {{#jsvars}}
    var {{name}} = {{{value}}};
  {{/jsvars}}
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
  <script src="/etc/jquery-cookie.js" type="text/javascript"></script>
  <script src="/etc/mustache.js" type="text/javascript"></script>
  <script src="/app/common.js?{{ot_version_id}}" type="text/javascript"></script>
  {{#js}}
  <script src="{{to_s}}" type="text/javascript"></script>
  {{/js}}
  {{#override_styles}}
  <style type="text/css">
    .button button {
      background-color: {{primary_color}};
      border-left: 1px solid {{secondary_color}};
      border-top: 1px solid {{secondary_color}};
      border-right: 1px solid {{border_color}};
      border-bottom: 1px solid {{border_color}};
      text-shadow: 1px 1px 0 {{border_color}};
    }
    .button button:hover {
      border-left: 1px solid {{border_color}};
      border-top: 1px solid {{border_color}};
      border-right: 1px solid {{secondary_color}};
      border-bottom: 1px solid {{secondary_color}};
      text-shadow: 1px 1px 0 {{secondary_color}};
    }
    #brandedlogo { background:#ffffff url({{banner_url}}) no-repeat right top; }
    #banner { background-color: {{primary_color}}; }
  </style>
  {{/override_styles}}
</head>
<body id="{{body_class}}">
<div id="banner"><div class="broadcast">{{#with_broadcast}}<a href="/logo">Contest: We heard our logo sucks!</a>{{/with_broadcast}}</div></div>
<div id="corset">
  <div id="header">
    <div id="sitenav">
      {{^authenticated}}
      <a href="/pricing" title="Pricing &amp; Signup" class="standout">Create an account</a> | 
      <a href="http://blog.onetimesecret.com/" title="Our weblog">Blog</a> |
      <a href="/login" title="Log in to One-Time Secret">Login</a>
      {{/authenticated}}
      {{#authenticated}}
      <span class="lighter">{{cust.custid}}</span>{{#colonel}}<a href="/colonel/2nccpefyria0p533zxtks62fa" title="" class="nounderline">*</a>{{/colonel}} - <a href="/dashboard" title="Your Dashboard">Dashboard</a> | 
      <a href="/account" title="Your Account">Account</a> | 
      <a href="/logout" title="Log out of One-Time Secret">Logout</a>
      {{/authenticated}}
    </div>
    <hr/>
    {{#display_otslogo}}
    <a href="http://www.youtube.com/watch?v=1V6T0lJc3dU" title="Release {{ot_version}}" style="position: absolute; right: 50px; top: 5px; width: 10px; text-decoration: none;">&nbsp;</a>
    <h1 title="We know how to keep a secret!"><a href="/"><pre>
  __ _  _ ___    ____ __ __  __ ___    ___ ___  __ ___  ___ ____ 
 /  \ \( )  _)  (_  _)  )  \/  )  _)  / __)  _)/ _)  ,)(  _)_  _)
( () )  ( ) _)    )(  )( )    ( ) _)  \__ \) _) (_ )  \ ) _) )(  
 \__/_)\_)___)   (__)(__)_/\/\_)___)  (___/___)\__)_)\_)___)(__)
                                                          BETA </pre></a></h1>

    {{/display_otslogo}}
    {{^display_otslogo}}
    <a href="/"><div id="brandedlogo">
    </div></a>
    {{/display_otslogo}}
</div>
