<!DOCTYPE html>
<html lang="en" class="light">
  <head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="msapplication-TileColor" content="#dc4a22">
    <meta name="theme-color" content="#dc4a22">
    <link rel="icon" type="image/svg+xml" href="/v3/img/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico?v=3">
    <title>Secret Sharing UI Demo</title>
    <title>{{title}} - {{subtitle}}</title>
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">

    {{#no_cache}}
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="-1">
    {{/no_cache}}

    <script type="text/javascript">
    {{#jsvars}}
      var {{name}} = {{{value}}};
    {{/jsvars}}
    </script>

    {{#frontend_host}}
      <!-- if development -->
      <!-- an entry point for each page (main == homepage) -->
      <script type="module" src="{{ . }}/dist/main.ts"></script>
      <script type="module" src="{{ . }}/dist/@vite/client"></script>
    {{/frontend_host}}

    {{^frontend_host}}
      <!-- if production -->
      <!-- write_a_helper_for_the(manifest.json) -->
      <!-- https://vitejs.dev/guide/backend-integration.html#backend-integration -->
    {{/frontend_host}}

  </head>

  <body class="font-serif bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100" id="{{body_class}}">
    <!-- {{{i18n.COMMON.broadcast}}} -->
    <div id="broadcast"></div>

    <div class="container mx-auto p-2 max-w-2xl">
      {{#display_masthead}}

      <header class="">
        <div class="flex justify-between items-center">
          {{!<div class="text-2xl font-brand font-bold text-white">S</div>}}
          <div class=""><a href="/"><img id="logo" src="/v3/img/onetime-logo-v3-xs.png" class=""></a></div>
          <div class="flex items-center space-x-4">

            {{#authenticated}}
              <a href="/" class="nounderline"><span id="userEmail">{{cust.custid}}</span></a>
              {{#colonel}}<a href="/colonel/" title="" class="nounderline">*</a>{{/colonel}}
              <a href="/account" class="underline" title="Your Account">{{i18n.COMMON.header_dashboard}}</a> |
              <a href="/logout" class="underline" title="Log out of One-Time Secret">{{i18n.COMMON.header_logout}}</a>
            {{/authenticated}}

            {{^authenticated}}
              {{#authentication.enabled}}

                {{#authentication.signup}}
                <a href="/signup" title="Signup - Individual and Business plans" class="underline font-bold">{{i18n.COMMON.header_create_account}}</a><span class="mx-0">|</span>
                {{/authentication.signup}}

                {{#authentication.signin}}
                  <a href="/login" title="Log in to One-Time Secret" class="underline">{{i18n.COMMON.header_sign_in}}</a>
                {{/authentication.signin}}

              {{/authentication.enabled}}

              {{^authentication.enabled}}
                <a href="/about" title="About One-Time Secret" class="underline">{{i18n.COMMON.header_about}}</a>
              {{/authentication.enabled}}

            {{/authenticated}}

            {{^is_default_locale}}
              <!-- | <a href="?locale={{i18n.default}}" title="View site in {{i18n.default}}">{{i18n.default}}</a> -->
            {{/is_default_locale}}

          </div>
        </div>
      </header>

      {{/display_masthead}}
    </div>
