{{>partial/header}}

<div class="container mx-auto p-4 max-w-2xl">

  {{>partial/session_messages}}

  <main class="min-w-[320px]">
    <div class="flex flex-col items-center text-center">
      {{^authenticated}}
        <h3 class="font-base mb-2 sm:mx-12 md:mx-2 text-gray-600 dark:text-gray-100 sm:block">{{i18n.page.tagline1}}</h3>
        <p class="mb-6 mx-12 sm:mx-2 text-base text-gray-400 dark:text-gray-400 italic">{{i18n.page.tagline2}}</p>
      {{/authenticated}}
    </div>

    {{#authentication.signup}}
      {{>partial/plans_homepage_cta}}
    {{/authentication.signup}}

    <!-- Secret Form is loaded here -->
    <div id="app"></div>

    {{^authenticated}}

    <div class="flex flex-col items-center text-center my-6">
      <p class="text-sm text-gray-400 italic dark:text-gray-400 mb-4">
        {{i18n.page.secret_hint}}
      </p>
    </div>

    {{/authenticated}}
  </main>

</div>

{{>partial/footer}}
