{{>header}}

  {{^actionable_visitor}}
  <div class="jumbotron">
    <h2 class="intro">Return to <a href="{{subdomain.homepage}}">{{subdomain.company_domain}}</a></h2>
  </div>
  {{/actionable_visitor}}

  {{#actionable_visitor}}
  <div class="jumbotron">

    {{^authenticated}}
    <h1 class="">{{i18n.page.tagline1}}</h1>
    <p class="lead">{{i18n.page.tagline2}}</p>
    {{/authenticated}}

    {{>partial/create_secret_form}}

    {{^authenticated}}
    <hr/>
    <p class="hint">{{i18n.page.secret_hint}}</p>
    {{/authenticated}}
    <hr/>

  </div>

  {{/actionable_visitor}}

{{>footer}}
