{{>header}}

  <div class="row-fluid">
    <div class="span12">
      <h3 class="cufon">Enter your credentials</h3>

      {{>partial/session_messages}}

      <form method="post" class="form-horizontal well">
        {{{add_shrimp}}}

        <fieldset>
          <!--<legend>Legend</legend>-->
          <div class="control-group">
            <label class="control-label" for="custidField">Email</label>
            <div class="controls">
              <input type="text" name="custid" id="custidField" class="input-large" value="{{form_fields.custid}}" placeholder="" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="passField">Password</label>
            <div class="controls">
              <input type="password" name="password" id="passField" class="input-large" value="" placeholder="" />
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-large btn-custom">Sign in</button>

            </div>
          </div>
        </fieldset>
        <script type="text/javascript">
          $('#custid').focus();
        </script>
      </form>

    </div>

    <ul class="unstyled">
      <li><a href="/signup" class="smaller lighter">Need an account?</a></li>
      <li><a href="/forgot" class="smaller lighter">Forgotten Password?</a></li>
    </ul>
  </div>

{{>footer}}
