{{>header}}
  
  <div id="content">
    
    <h2 class="intro">Enter your credentials</h2>
    
    {{>partial/session_messages}}
    
    <form method="post" class="signup">
      <div>
        <label for="custid">Email address:</label>
        <input type="text" name="u" id="custid" class="long" />
        <label for="password">Password:</label>
        <input type="password" name="p" id="password" class="short" />
      </div>
      
      <span id="fireSmall" class="button"><button type="submit">Login</button></span>
      <a href="/pricing">Need an account?</a>
    </form>
    
  </div>
  
{{>footer}}