{{>header}}

  <div id="content">
    <div id="contest">
      <h2 class="intro">We heard our logo sucks!</h2>
      <p>
         We've been overwhelmed by the enthusiasm we've been getting about One-Time Secret. We initially
         put it up really quickly as something that we found useful and hoped that others would like it too. To our
         surprise, tens of thousands of people came to check it out in the first week with more and more every day.
         We got a lot of great feedback and feature requests, including some that said they liked the tool a lot,
         but that we need a better logo.
      </p>
      <p>
        We hear you loud and clear. But there's a problem: <em>we suck at making logos!</em><br/>
        So instead of offending you further...
      </p>
      <h2 class="intro2"><em>We decided to host a contest</em></h2>
      <p>
         We're hosting a contest for the logo and we're offering the following rewards:
         <ul>
           <li>The top 5 logos will get honorable mentions on this page with a link to your site and a t-shirt (when we get around to printing them).</li>
           <li>The top 3 logos will also get lifetime Professional accounts.</li>
           <li>The top logo will also get a link in the footer below.</li>
         </ul>
      </p>
      <p class="msg">
        The deadline is <span class="underline">Jan 31st, 2012</span>. Email your submission to <span class="email">chris AT onetimesecret DOT com</span>.
      </p>
      <p>
         As always, your feedback is very much appreciated. Keep it coming and thanks for checking us out!
      </p>
      <p class="larger">
        - <a href="/about">Delano</a>
      </p>
    </div>
  </div>

{{>footer}}
