
{{>header}}

  <div id="content">
    <div id="contest">
      <h2 class="intro">We need a logo!</h2>
      <p>
         We've been overwhelmed by the enthusiasm we've been getting for our little web tool. We initially thought
         we would put this up as a little utility that we find useful and hoped that others would like it too. To our
         surprise, we got a lot of great feedback and feature requests. Some also said they liked the tool a lot, but
         that the site needed a logo. We hear you loud and clear! So, here's what we would like to do:
      </p>
      <p>
         We want to have a contest for the logo and color scheme for the site, and we'll offer the following rewards:
         <ul>
           <li>The top 5 logos will get honorable mentions on this page indefinitely, with a link to the designer.</li>
           <li>The top 3 logos will also get lifetime Professional accounts.</li>
           <li>The top logo will also get props for being #1, and a link in the footer below.</li>
         </ul>
      </p>
      <p>
         If you think this sounds interesting, please email your submission to <a href="mailto:chris@onetimesecret.com">email 
         us</a>. If we get a lot of submissions, we might also put a poll here asking for our users to vote for the best.
      </p>
      <p>
         As always, your feedback is very much appreciated. Thanks so much for checking us out!
      </p>
      <p>
        - Chris and Delano
      </p>        
    </div>
  </div>

{{>footer}}
