{{>header}}

  <div id="content">

    <h2>Page not found</h2>

    {{>partial/session_messages}}

    <ul class="nav">
      <li class="alt"><a href="/"></a></li>
    </ul>

    <a class="btn btn-large btn-block btn-custom cufon" href="/" class="">Go share a secret!</a>

  </div>

{{>footer}}
