{{>header}}

<!--
  http://scripts.cwillu.com/passwords/
-->

<div id="content">
  <h2 class="intro">Password Generator </h2>
  <p><a href="" id="generatedBookmarklet">OTPassGen</a> &lt;-- drag to toolbar</p>
  <p>Password formula: host + master password + unique token</p>
  <p>Your unique token: <input id="uniqueToken" value="{{token}}" class="selectable" size="60" /><br/><span class="light">(Hint: you can change it to anything you like)</span></p>
  <p>Careful: make a note of your token. If you lose it, you won't be able to generate your passwords!</p>
  <script type="text/javascript" src="/app/passgen-template.js"></script>
  <script type="text/javascript">
    function updateBookmarklet(token) {
      var template = '(' + passgenTemplate.toString() + ')();'
      var jscontent = Mustache.to_html(template, {CHANGEMECHANGEME: token})
      var packer = new Packer;
      var bookmarklet = encodeURI(packer.pack(jscontent, false));
      $('#generatedBookmarklet').attr('href', 'javascript:/*v0.3*/' + bookmarklet)
    }
    $('#uniqueToken').change(function() {
      updateBookmarklet($('#uniqueToken').val());
    });
    updateBookmarklet($('#uniqueToken').val());
  </script>
  <input id="password" type="password" size="60" /><br/>
  <input type="password" size="60" /><br/>
  <input size="60" /><br/>
</div>

{{>footer}}