{{>header}}

  <div class="jumbotron">

    <h2 class="intro">Create an account</h2>

    <p>
      The {{plan.name}} plan is ${{plan.price}}/month. <a href="/business">See all plans</a>.
    </p>

    {{>partial/session_messages}}

    {{>partial/signup_form_basic}}

    <div id="faq" class="smaller">

      <h4>Why create an account?</h4>
      <p>With an account, it's easier to keep track of the secrets you send. Plus, all plans give you access to more features. The {{plan.name}} plan gives you:</p>
      <ul>
        {{#plan.private}}<li>a private instance with your custom domain (e.g. <span class="hilite2">ots.yourcompany.com</span>)</li>{{/plan.private}}
        {{#plan.cname}}<li>a custom subdomain (e.g. <span class="hilite2">yourcompany.onetimesecret.com</span>)</li>{{/plan.cname}}
        {{#plan.api}}<li>access to the <a href="/docs/api" class="hilite2">API</a>.</li>{{/plan.api}}
        <li>send secret links via <span class="hilite2">email</span></li>
        <li>secrets for up to <span class="hilite2">{{plan.ttl}} days</span></li>
      </ul>

      <p>You'll also be supporting the efforts of two reasonable, <a href="/about">hard-working dudes</a>.</p>

      <h4>Can I cancel an account?</h4>
      <p>We hope that you won't want to cancel but if you do, of course, you can cancel any time.</p>

      <h4>Do you accept feature requests?</h4>
      <p>Absolutely! We're all about implementing the features people want. Paying customers have our full attention.</p>
    </div>

  </div>

{{>footer}}
