
{{>header}}

  <div id="content">
    <h2 class="intro">Our pricing plans</h2>

    <table cellpadding="0" cellspacing="0" class="pricing">
      <tr class="blankrow">
        <td></td>
        <td></td>
        <td></td>
        <td class="bestvalue"> Best Value!</td>
        <td></td>
      </tr>
      <tr class="pricingheading">
        <td class="blankcell"></td>
        <td class="pricingheader topleft">Anonymous</td>
        <td class="pricingheader">Personal</td>
        <td class="pricingheader bestvalue">Professional</td>
        <td class="pricingheader topright">Agency</td>
      </tr>
      <tr class="pricingodd prices">
        <td class="pricingfeature">Price</td>
        <td>Free</td>
        <td>$5</td>
        <td class="bestvalue">$20</td>
        <td class="lastcolumn">$80 @ 50%</td>
      </tr>
      <tr class="pricingeven">
        <td class="pricingfeature">URL</td>
        <td>onetimesecret.com</td>
        <td>onetimesecret.com</td>
        <td class="bestvalue">host.onetimesecret.com</td>
        <td class="lastcolumn">secret.company.com</td>
      </tr>
      <tr class="pricingodd">
        <td class="pricingfeature">Hosting</td>
        <td>Public</td>
        <td>Public</td>
        <td class="bestvalue">Multi-tenant/CNAME</td>
        <td class="lastcolumn">private / A Record</td>
      </tr>
      <tr class="pricingeven">
        <td class="pricingfeature">Secret max TTL</td>
        <td>2 days</td>
        <td>30 days</td>
        <td class="bestvalue">90 days</td>
        <td class="lastcolumn">90 days</td>
      </tr>
      <tr class="pricingodd">
        <td class="pricingfeature">Secret max size</td>
        <td>1KB</td>
        <td>1KB</td>
        <td class="bestvalue">5KB</td>
        <td class="lastcolumn">10KB</td>
      </tr>
      <tr class="pricingeven">
        <td class="pricingfeature">Max # of secrets</td>
        <td>n/a</td>
        <td>1k secrets</td>
        <td class="bestvalue">5k secrets</td>
        <td class="lastcolumn">25k secrets</td>
      </tr>
      <tr class="pricingodd">
        <td class="pricingfeature">API access</td>
        <td>--</td>
        <td>Yes</td>
        <td class="bestvalue">Yes</td>
        <td class="lastcolumn">Yes</td>
      </tr>
      <tr class="pricingeven">
        <td class="pricingfeature">Email recipient</td>
        <td>--</td>
        <td>Yes</td>
        <td class="bestvalue">Yes</td>
        <td class="lastcolumn">Yes</td>
      </tr>
      <tr class="pricingodd">
        <td class="pricingfeature">Email receipt</td>
        <td>--</td>
        <td>--</td>
        <td class="bestvalue">Yes</td>
        <td class="lastcolumn">Yes</td>
      </tr>
      <tr class="pricingeven pricinglastrow">
        <td class="pricingfeature bottomleft">Branding</td>
        <td>--</td>
        <td>--</td>
        <td class="bestvalue">Co-Branding</td>
        <td class="lastcolumn bottomright">Full</td>
      </tr>
      <tr class="bottomblankrow">
        <td></td>
        <td><em>No signup req'd</em></td>
        <td class="action"><a href="/signup/personal" title="Create a Personal account">Get it!</a></td>
        <td class="action bestvalue"><a href="/signup/professional" title="Create a Professional account">Buy it!</a></td>
        <td class="action"><a href="/signup/agency" title="Create an Agency account">Pwn it!</a></td>
      </tr>
    </table>

    <br />
    <p>Need more control? We also do custom installs. <a href="mailto:sales@onetimesecret.com">Contact us</a>.</p>
    
  </div>
  
{{>footer}}
