
{{>header}}

  <div id="content">
    
    <h2 class="intro">Beta Pricing!</h2>
    
    <table cellpadding="0" cellspacing="0" class="pricing">
      <tr class="blankrow">
        <td></td>
        <td></td>
        <td></td>
        <td class="bestvalue">Best Value</td>
        <td></td>
      </tr>
      <tr class="pricingheading">
        <td class="blankcell"></td>
        <td class="pricingheader topleft">Anonymous</td>
        <td class="pricingheader"><a href="/signup/personal" title="Create a Personal account">Personal</a></td>
        <td class="pricingheader bestvalue"><a href="/signup/professional" title="Create a Professional account">Professional</a></td>
        <td class="pricingheader topright"><a href="/signup/agency" title="Create a Agency account">Agency</a></td>
      </tr>
      <tr class="pricingodd prices">
        <td class="pricingfeature">Per month</td>
        <td>{{anonymous.price}}</td>
        <td><a href="/signup/personal" title="Create a Personal account"><span class="strikethrough light">${{personal.original_price}}</span> ${{personal.price}}</a></td>
        <td class="bestvalue"><a href="/signup/professional" title="Create a Professional account"><span class="strikethrough light">${{professional.original_price}}</span> ${{professional.price}}!</a></td>
        <td class="lastcolumn"><a href="/signup/agency" title="Create an Agency account"><span class="strikethrough light">${{agency.original_price}}</span> ${{agency.price}}</a></td>
      </tr>
      <tr class="pricingeven">
        <td class="pricingfeature">Domain</td>
        <td>onetimesecret.com</td>
        <td>onetimesecret.com</td>
        <td class="bestvalue">host.onetimesecret.com</td>
        <td class="lastcolumn">secret.company.com</td>
      </tr>
      <tr class="pricingodd">
        <td class="pricingfeature">Instance</td>
        <td>Multi-tenant </td>
        <td>Multi-tenant</td>
        <td class="bestvalue">Multi-tenant/CNAME</td>
        <td class="lastcolumn">Private/A record</td>
      </tr>
      <tr class="pricingeven">
        <td class="pricingfeature">Secret max TTL</td>
        <td>{{anonymous.ttl}} days</td>
        <td>{{personal.ttl}} days</td>
        <td class="bestvalue">{{professional.ttl}} days</td>
        <td class="lastcolumn">{{agency.ttl}} days</td>
      </tr>
      <tr class="pricingodd">
        <td class="pricingfeature">Secret max size</td>
        <td>1KB</td>
        <td>1KB</td>
        <td class="bestvalue">5KB</td>
        <td class="lastcolumn">10KB</td>
      </tr>
      <!--
      <tr class="pricingeven">
        <td class="pricingfeature">Max # of secrets</td>
        <td>&#8208;&#8208;</td>
        <td>1k secrets</td>
        <td class="bestvalue">5k secrets</td>
        <td class="lastcolumn">25k secrets</td>
      </tr>
      <tr class="pricingeven">
        <td class="pricingfeature">Email recipient</td>
        <td>&#8208;&#8208;</td>
        <td>Yes</td>
        <td class="bestvalue">Yes</td>
        <td class="lastcolumn">Yes</td>
      </tr>
      <tr class="pricingodd">
        <td class="pricingfeature">Email receipt</td>
        <td>&#8208;&#8208;</td>
        <td>&#8208;&#8208;</td>
        <td class="bestvalue">Yes</td>
        <td class="lastcolumn">Yes</td>
      </tr>
      -->
      <tr class="pricingodd">
        <td class="pricingfeature">API access</td>
        <td>&#8208;&#8208;</td>
        <td>{{personal.api}}</td>
        <td class="bestvalue">{{professional.api}}</td>
        <td class="lastcolumn">{{agency.api}}</td>
      </tr>
      <tr class="pricingeven pricinglastrow">
        <td class="pricingfeature bottomleft">Branding</td>
        <td>--</td>
        <td>--</td>
        <td class="bestvalue">Co-Branding</td>
        <td class="lastcolumn bottomright">Fully Branded</td>
      </tr>
      <tr class="bottomblankrow">
        <td></td>
        <td><em>No signup req'd</em></td>
        <td class="action"><a href="/signup/personal" title="Create a Personal account">Get it!</a></td>
        <td class="action bestvalue"><a href="/signup/professional" title="Create a Professional account">Buy it!</a></td>
        <td class="action"><a href="/signup/agency" title="Create an Agency account">Pwn it!</a></td>
      </tr>
    </table>
    <hr />
    
    <p class="centre">
      <em>Sign up during the beta and get the discounts for life!</em>
    </p>
    
    <p class="intro2 centre">Need more control? Try a custom install. <a href="mailto:custom@onetimesecret.com">Contact us</a>.</p>
    
  </div>
  
{{>footer}}
