{{>partial/header}}

<div class="container mx-auto p-4 max-w-2xl">
  <nav class="mb-6">
    <ul class="text-xl font-brand flex space-x-4">
      <li>
        <a
          href="/"
          class="text-gray-700 dark:text-gray-300 hover:underline dark:hover:text-grey-500 transition-colors"
          >{{i18n.COMMON.title_home}}</a
        >
      </li>
      <li>
        <a
          href="/recent"
          class="text-gray-700 dark:text-gray-300 font-bold underline hover:underline hover:text-grey-500 dark:hover:text-grey-500 transition-colors flex items-center">
          {{i18n.COMMON.title_recent_secrets}}
          <span
            class="ml-2 bg-gray-200 font-medium dark:bg-gray-700 text-gray-700 dark:text-gray-300 rounded-full px-2 py-0.5 text-xs"
            >{{metadata.size}}</span
          >
        </a>
      </li>
      <li>
        <a href="/account/domains" class="text-gray-700 dark:text-gray-300 hover:underline hover:text-grey-500 dark:hover:text-grey-500 transition-colors flex items-center">
          Custom Domains
          <span
            class="ml-2 bg-gray-200 font-medium dark:bg-gray-700 text-gray-700 dark:text-gray-300 rounded-full px-2 py-0.5 text-xs"
            >{{customdomains_record_count}}</span
          >
        </a>
      </li>
    </ul>
  </nav>

  <div class="space-y-8">
    {{#has_secrets}}
    <section>
      <h3 class="text-2xl font-semibold mb-4 text-gray-800 dark:text-gray-200">
        {{i18n.page.title_not_received}}
      </h3>
      {{#has_notreceived}}
      <ul class="space-y-1">
        {{#notreceived}} {{>partial/li_metadata}} {{/notreceived}}
      </ul>
      {{/has_notreceived}} {{^has_notreceived}}
      <p class="text-gray-600 dark:text-gray-400 italic">
        Go on then.
        <a href="/" class="text-brand-500 hover:underline">{{i18n.COMMON.share_a_secret}}!</a>
      </p>
      {{/has_notreceived}}
    </section>

    <section>
      <h3 class="text-2xl font-semibold mb-4 text-gray-800 dark:text-gray-200">
        {{i18n.page.title_received}}
      </h3>
      {{#has_received}}
      <ul class="space-y-1">
        {{#received}} {{>partial/li_metadata}} {{/received}}
      </ul>
      {{/has_received}} {{^has_received}}
      <p class="text-gray-600 dark:text-gray-400 italic">{{i18n.COMMON.word_none}}</p>
      {{/has_received}}
    </section>
    {{/has_secrets}}

    {{^has_secrets}}
    <section>
      <h3 class="text-2xl font-semibold mb-4 text-gray-800 dark:text-gray-200">
        {{i18n.page.title_no_recent_secrets}}
      </h3>
      <p class="text-gray-600 dark:text-gray-400 italic">
        Go on then.
        <a href="/" class="text-brand-500 hover:underline">{{i18n.COMMON.share_a_secret}}!</a>
      </p>
    </section>
    {{/has_secrets}}
  </div>
</div>

{{>partial/footer}}
