{{>header}}

  {{^verification}}
  {{#is_owner}}
    {{^show_secret}}
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Warning</strong> You created this secret. If you view it, the recipient will not be able to see it.
    </div>
    {{/show_secret}}
    {{#show_secret}}
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      You have viewed your own secret. It is no longer available for anyone else.
    </div>
    {{/show_secret}}
  {{/is_owner}}
  {{/verification}}

  <div class="shared">
    {{^show_secret}}
    {{^has_passphrase}}
    {{#verification}}
    <span class="pretext cufon">Continue to verify your account:</span><br/>
    {{/verification}}
    {{^verification}}
    <span class="pretext cufon">Click to continue:</span><br/>
    {{/verification}}
    {{/has_passphrase}}
    {{#has_passphrase}}
    <h2 class="intro cufon">This secret requires a passphrase:</div>
    {{/has_passphrase}}
    {{>partial/session_messages}}
    <div class="passphrase">
      <form method="POST">
        {{{add_shrimp}}}
        <input name="continue" type="hidden" value="true" />
        <fieldset>
          <!--<legend>Legend</legend>-->
          <div class="control-group">
            {{#has_passphrase}}
            <div class="controls">
              <input type="password" name="passphrase" id="passField" class="input-large" value="" placeholder="Enter the passphrase here" />
            </div>
            {{/has_passphrase}}
          </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-large btn-custom cufon">View Secret</button>
          </div>
        </div>
      </form>
      {{^verification}}
      <p>(careful: we will only show it once.)</p>
      {{/verification}}
    </div>
    {{/show_secret}}
    {{#show_secret}}
    <div class="secret">
      {{#verification}}
      <span class="pretext">Your secret message:</span><br/>
      {{/verification}}
      {{^verification}}
      <div class="pretext">This secret is for you:</div>
      {{/verification}}
      {{#one_liner}}
      <input class="selectable" value="{{secret_value}}" />
      {{/one_liner}}
      {{^one_liner}}
      <textarea class="" rows="{{display_lines}}" cols="80">{{secret_value}}</textarea>
      {{/one_liner}}
      {{^verification}}
      <p>(careful: it will disappear when you refresh.)</p>
      {{/verification}}

      {{#truncated}}
      <p>Note: this secret was truncated b/c it was over 5KB</p>
      {{/truncated}}

    </div>
    <ul class="nav">
      <li class="alt">
        {{^verification}}
        {{^is_subdomain}}
        <a class="btn btn-large btn-block cufon" href="/" class="">Reply with another secret</a>
        {{/is_subdomain}}
        {{#is_subdomain}}
        <a href="{{subdomain.homepage}}">Return to {{subdomain.company_domain}}</a>
        {{/is_subdomain}}
        {{/verification}}
        {{#verification}}
        <a class="btn btn-large btn-block cufon" href="/login" class="">Log in to your account</a>
        {{/verification}}
      </li>
    </ul>
    {{/show_secret}}
  </div>

{{>footer}}
