{{>header}}
  
  <div id="content">
    
    <h2 class="intro">Create an account</h2>
    
    <form method="post" class="signup">
      {{{add_shrimp}}}
      <div>
        <label for="custid">Username:</label>
        <input type="text" name="custid" id="custid" class="short" />
        <label for="email">Email Address <em>(optional)</em>:</label>
        <input type="text" name="email" id="email" class="long"/>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" class="short" />
        <label for="password2">Confirm Password:</label>
        <input type="password" name="password2" id="password2" class="short" />
      </div>
      
      <span id="fireSmall" class="button"><button type="submit">Signup</button></span>
      <a href="/login">Already have an account?</a>
    </form>
    
    <div id="faq">
      
      <h4>Why create an account?</h4>
      <p>Extra features.</p>
    
    </div>
    
  </div>
  
{{>footer}}