{{>header}}
  
  <div id="content">
    
    <h2 class="intro">Create an account</h2>
    
    <p>
      The {{plan.name}} plan is ${{plan.price}}/month. <a href="/pricing">See all plans</a>.
    </p>
    
    {{>partial/session_messages}}
    
    <form action="/signup" method="post" class="signup">
      {{{add_shrimp}}}
      <input type="hidden" name="planid" value="{{planid}}" />
      <div>
        <label for="custid">Email Address:</label>
        <input type="text" name="custid" id="custid" class="long" value="{{form_fields.custid}}"/>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" class="short" />
        <label for="password2">Confirm Password:</label>
        <input type="password" name="password2" id="password2" class="short" />
        <script type="text/javascript">
          $('#custid').focus();
        </script>
      </div>
      
      <span id="fireSmall" class="button"><button type="submit">Signup</button></span>
      <a href="/login">Already have an account?</a>
    </form>
    
    <div id="faq" class="smaller">
      
      <h4>Why create an account?</h4>
      <p>With an account, it's easier to keep track of the secrets you send. Plus, all plans give you access to more features. The {{plan.name}} plan gives you:</p>
        <ul>
          <li>send secret links via <span class="hilite2">email</span></li>
          <li>secrets for up to <span class="hilite2">{{plan.ttl}} days</span></li>
          {{#plan.api}}<li>access to the <span class="hilite2">API</span>.</li>{{/plan.api}}
          {{#plan.private}}<li>a private instance with your <span class="hilite2">custom domain</span> (e.g. secret.yourcompany.com)</li>{{/plan.private}}
          {{#plan.cname}}<li>a custom <span class="hilite2">subdomain</span> (e.g. yourcompany.onetimesecret.com)</li>{{/plan.cname}}
        </ul>
      
      <p>You'll also be supporting the efforts of two reasonable, <a href="/about">hard-working dudes</a>.</p>
    
      <h4>Can I cancel an account?</h4>
      <p>We hope that you won't want to cancel but if you do, of course, you can cancel any time.</p>
      
      <h4>Do you accept feature requests?</h4>
      <p>Absolutely! We're all about implementing the features people want. Paying customers have our full attention.</p>
    </div>
    
  </div>
  
{{>footer}}