{{>header}}

<!--
  http://scripts.cwillu.com/passwords/
-->

<div id="content">
  <h2 class="intro">Password Generator </h2>
  <p><a href="" id="generatedBookmarklet">Try me</a> &lt;-- drag to toolbar</p>
  <p>host + master password + unique token (built into the bookmarklet) == the password</p>
  <script type="text/javascript" src="/app/passgen-template.js"></script>
  <script type="text/javascript">
    var packer = new Packer;
    var template = '(' + passgenTemplate.toString() + ')();'
    var jscontent = Mustache.to_html(template, {token: '{{token}}'})
    var bookmarklet = packer.pack(jscontent, true, true);
    $('#generatedBookmarklet').attr('href', 'javascript:/*v0.1*/' + bookmarklet)
  </script>
</div>

{{>footer}}