{{>header}}
  
  <div id="content">
    
    <div id="primaryTabs">
      <ul>
        <li><a href="#account"><strong>Your Account</strong></a></li>
        {{#plan.options.cname}}
        <li><a href="#cname"><strong>CNAME</strong></a></li>
        {{/plan.options.cname}}
        {{#is_paid}}
        <li><a href="#billing"><strong>Billing</strong></a></li>
        {{/is_paid}}
        {{#plan.options.api}}
        <li><a href="#apikey"><strong>API Key</strong></a></li>
        {{/plan.options.api}}
        
      </ul>
      <div id="account">
        {{>partial/session_messages}}
        <hr/>

        
        <strong>Account type: {{plan.options.name}}</strong>
        {{#is_paid}}(${{price}} per month){{/is_paid}}
        {{^is_paid}}(It's free<em>!</em>){{/is_paid}}
        <hr/>
        
        <form action="/account" method="post">
          {{{add_shrimp}}}
          <input type="hidden" name="tabindex" value="account" />
          <div>
            <em><label for="custid">Email Address:</label>
            {{cust.custid}}</em><br/>
            <hr/>
            <label for="currentp">Current Password:</label>
            <input type="password" name="currentp" id="currentp" class="short" /><br/>
            <label for="newp">New Password:</label>
            <input type="password" name="newp" id="newp" class="short" /><br/>
            <label for="newp2">Confirm New Password:</label>
            <input type="password" name="newp2" id="newp2" class="short" />
            <hr/>
          </div>

          <span id="fireSmall" class="button"><button type="submit">Update Info</button></span>
        </form>
        <hr/>
      </div>
      
      {{#plan.options.cname}}
      <div id="cname">
        {{>partial/session_messages}}
        <hr/>
        <form action="/account" method="post">
          {{{add_shrimp}}}
          <input type="hidden" name="tabindex" value="cname" />
          <input type="text" name="cname" id="cnameField" class="short" value="{{cname}}" />.onetimesecret.com<br/>
          <span id="fireSmall" class="button"><button type="submit">Update CNAME</button></span>
          {{#has_cname}}<div class="smaller lighter"><a href="{{cname_uri}}">View your subdomain</a></div>{{/has_cname}}
        </form>
        
      </div>
      {{/plan.options.cname}}
      
      {{#is_paid}}
      <div id="billing">
        {{>partial/session_messages}}
        <hr/>
        <p class="msg">We will request billing info on or before February 1st, 2012.</p>
        <!--<span id="fireSmall" class="button"><button type="submit" disabled="disabled">Update Billing</button></span>-->
        <hr/>
      </div>
      {{/is_paid}}
      
      {{#plan.options.api}}
      <div id="apikey">
        {{>partial/session_messages}}
        <hr/>

        <form action="/account/apikey" method="post">
          {{{add_shrimp}}}
          <input type="hidden" name="tabindex" value="apikey" />
          <div>
            <label for="custid">Your API key:</label>
            <span class="hilite">{{#cust.apitoken}}{{cust.apitoken}}{{/cust.apitoken}}</span>
            {{^cust.apitoken}}<em>Click button to generate</em>{{/cust.apitoken}}
            <p class="smaller lighter">DO NOT SHARE YOUR TOKEN WITH ANYONE. When in doubt, generate a new one.</p>
          </div>
          <span id="fireSmall" class="button"><button type="submit">Regenerate Token</button></span>
        </form>
        <hr/>
      </div>
      {{/plan.options.api}}
    </div>
    
    <hr/>
    
  </div>
  
  {{#form_fields.tabindex}}
  <script type="text/javascript">
    $(function() { 
      $('#primaryTabs').tabs('option', 'selected', '{{to_s}}')
    });
  </script>
  {{/form_fields.tabindex}}
  
{{>footer}}
