
{{>header}}

  <div id="content">

    <h2 class="intro">Help us translate!</h2>

    <p>Since I launched One-Time Secret in 2012, one of the most requested features has been to support languages other than english. Many visitors -- in fact, most -- live in countries where English is not the first or even second language.</p>

    <p>One of the major goals of One-Time Secret is to simplify secure communication so that it can help as many people as possible. Translating the site plays a big role in that. Since 2015 our contributors have added over 20, plus corrections and other updates! But we still have a ways to go. <strong class="hilite"> I need your help to add support for more languages. </strong> More details at the bottom of this page.</p>

    <hr>

    <h3>Translators</h3>
    <p>The following people have donated their time to help expand the reach of One-Time Secret:</p>

    <h4>Hebrew (<a href="/?locale=he">switch</a>)</h4>
    <p>
      <ul>
        <li><a href="https://twitter.com/kaerez">Erez K</a> (Mar, 2022)</li>
      </ul>
    </p>

    <h4>Danish (<a href="/?locale=da_DK">switch</a>)</h4>
    <p>
      <ul>
        <li>PurGe (Dec, 2018)</li>
      </ul>
    </p>

    <h4>Swedish (<a href="/?locale=sv_SE">switch</a>)</h4>
    <p>
      <ul>
        <li><a href="https://github.com/Wollyhat">Wollyhat</a> (May, 2021)</li>
      </ul>
    </p>

    <h4>Slovenian (<a href="/?locale=sl_SI">switch</a>)</h4>
    <p>
      <ul>
        <li>Aleš M (Jan, 2021)</li>
      </ul>
    </p>

    <h4>Greek (<a href="/?locale=el_GR">switch</a>)</h4>
    <p>
      <ul>
        <li>Stef Ki (Sept, 2020)</li>
      </ul>
    </p>

    <h4>Arabic (<a href="/?locale=ar">switch</a>)</h4>
    <p>
      <ul>
        <li><a href="https://www.facebook.com/DerghamAlaa1">Dergham Alaa</a> (Dec 2017, 2020)</li>
      </ul>
    </p>

    <h4>French (<a href="/?locale=fr">switch</a>)</h4>
    <p>
      <ul>
        <li><a href="https://github.com/netagence">NetAgence</a> (June, 2018)</li>
      </ul>
      <ul>
        <li><a href="https://github.com/fr-laurentn">Laurent NAUDIER</a> (June, 2018)</li>
      </ul>
      <ul>
        <li><a href="https://github.com/KittPaws13">Olha Horbachuk</a> (March, 2017)</li>
      </ul>
    </p>

    <h4>Chinese (<a href="/?locale=cn">switch</a>)</h4>
    <p>
      <ul>
        <li><a href="https://github.com/inewhero">Rayi_Yosoro</a> (February, 2018)</li>
      </ul>
    </p>

    <h4>Italian (<a href="/?locale=it_IT">switch</a>)</h4>
    <p>
      <ul>
        <li><a href="https://github.com/fastbyte01">Giuseppe Pignataro</a> (November, 2017)</li>
      </ul>
    </p>

    <h4>Portuguese (<a href="/?locale=pt_BR">switch</a>)</h4>
    <p>
      <ul>
        <li><a href="https://github.com/ramirovjr">ramirovjr</a> (April, 2017)</li>
      </ul>
    </p>

    <h4>Turkish (<a href="/?locale=tr">switch</a>)</h4>
    <p>
      <ul>
        <li><a href="https://github.com/webninjasi">webninjasi</a> (Apr, 2017)</li>
      </ul>
    </p>

    <h4>Polish (<a href="/?locale=pl">switch</a>)</h4>
    <p>
      <ul>
        <li><a href="https://www.techinet.pl">Michał Paulus</a> (April, 2017)</li>
      </ul>
    </p>

    <h4>Catalan (<a href="/?locale=ca_ES">switch</a>)</h4>
    <p>
      <ul>
        <li>Ningú No res (April, 2017)</li>
      </ul>
    </p>

    <h4>Turkish (<a href="/?locale=tr">switch</a>)</h4>
    <p>
      <ul>
        <li><a href="https://github.com/webninjasi">webninjasi</a> (April, 2017)</li>
      </ul>
    </p>

    <h4>Bulgarian (<a href="/?locale=bg">switch</a>)</h4>
    <p>
      <ul>
        <li><a href="https://github.com/Byalk">Byalk</a> (March, 2017)</li>
      </ul>
    </p>

    <h4>Czech (<a href="/?locale=cs">switch</a>)</h4>
    <p>
      <ul>
        <li><a href="https://github.com/kibeb">kibeb</a> (February, 2017)</li>
      </ul>
    </p>

    <h4>Russian (<a href="/?locale=ru">switch</a>)</h4>
    <p>
      <ul>
        <li><a href="https://i1group.ru">Ivan Klochko</a> (September, 2020)</li>
        <li><a href="https://github.com/DotTheI">DotTheI</a> (September, 2016)</li>
      </ul>
    </p>

    <h4>Deutsch (<a href="/?locale=de">switch</a>)</h4>
    <p>
      <ul>
        <li><a href="">blobgo</a> (June, 2015)</li>
      </ul>
    </p>

    <h4>Español (<a href="/?locale=es">switch</a>)</h4>
    <p>
      <ul>
        <li><a href="https://play.google.com/store/apps/details?id=com.goldeagle.secretemail">Freedom Apps</a>, developer of unofficial OTS Android app (April, 2015)</li>
      </ul>
    </p>

    <h4>Nederlands (<a href="/?locale=nl">switch</a>)</h4>
    <p>
      <ul>
        <li><a href="http://under-ctrl.nl">Bas Berkhout</a> (October, 2015)</li>
      </ul>
    </p>

    <hr>

    <h4>Currently Supported Languages</h4>

    <ul>
    {{#supported_locales}}
      <li><a href="/?locale={{to_s}}">{{to_s}}</a></li>
    {{/supported_locales}}
    </ul>

    <h4>Most Requested Languages</h4>

    <ul>
    {{#unsupported_locales}}
      <li><a href="https://github.com/onetimesecret/onetimesecret/new/master/etc/locale?filename={{to_s}}">{{to_s}}</a></li>
    {{/unsupported_locales}}
    </ul>

    <p>If you have a Github account, you can use the links above to create a new language file. If not, you can copy the text from an existing lanaguage -- like <a href="https://github.com/onetimesecret/onetimesecret/blob/master/etc/locale/en">english</a> -- and send a text file via email to <a href="mailto:contribute@onetimesecret.com">contribute@onetimesecret.com</a>.</p>

    <p>If you have any questions, there is a feedback form at the bottom of the page. Be sure to include an email address or twitter handle so I can reply.</p>

    <p>Delano</p>

  </div>

{{>footer}}
