{{>header}}

  <div id="content">
    
    <h2>Unknown Secret</h2>
    <p class="msg">This secret either never existed or has already been viewed.</p>
    
    <ul class="nav">
      <li class="alt"><a href="/">Share a secret!</a></li>
    </ul>
    
  </div>
  
{{>footer}}