{{>header}}

  <div class="row-fluid">
    <div class="span12">
      <h3 class="cufon">Unknown Secret</h3>

      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        It either never existed or has already been viewed.
      </div>

    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <a class="btn btn-large btn-block btn-custom cufon" href="/" class="">Share a secret of your own</a>
    </div>
  </div>

{{>footer}}
