{{>header}}

  <div class="row-fluid">
    <div class="span8">
      <h3 class="cufon">Unknown Secret</h3>


      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        It either never existed or has already been viewed.
      </div>
    </div>
  </div>

{{>footer}}
