    <div id="footer" class="dotted">
      <p>Brought to you by <a href="http://identi.ca/xopher">Chris Murtagh</a> and <a href="http://twitter.com/solutious">Delano Mandelbaum</a></p>
      <p><a href="http://twitter.com/onetimesecret">@onetimesecret</a></p>
    </div>
  </div>
</body>
</html>