
    <div id="footer" class="dotted">
      <div class="tagline">
        We know how to keep a secret!
        <p><a href="http://twitter.com/onetimesecret">@onetimesecret</a></p>
      </div>
      <p>Monitored by <a href="https://www.blamestella.com/">Stella</a></p>
    </div>
  </div>
</body>
</html>