{{>header}}

  <div id="content">
    <form action="/generate" method="post">
      <input class="generate" type="submit" name="" value="generate secret"/>
    </form>
    
    <h2>How it works</h2>
    <p>When you click that button, we generate a unique secret just for you.</p>
    
  </div>

{{>footer}}