{{>header}}

  <div id="content">
    <form action="/generate" method="post">
      <input class="generate" type="submit" name="" value="Generate a secret"/>
    </form>
    
    <h2>How it works</h2>
    <p>When you click that button, we generate a unique password for you. We also generate a unique, one-time URI so you can safely send that password someone else.</p>
    
  </div>

{{>footer}}