{{>header}}

  <div id="content">
    <ul class="nav">
      <li><a href="/share">share</a> <span class="context">sensitive information (like a demo URI)</span></li>
      <li class="or">OR</li>
      <li><a href="/generate">generate</a> <span class="context">a password (for someone else)</span></li>
    </ul>
    
    <h2>Why?</h2>
    <p>So you can keep passwords and other sensitive information out of your email and IM logs.</p>
    
    <h2>Is it safe?</h2>
    <p>It's safer than emailing or texting because the information can only be viewed once. The next time the page is loaded we return a 404 (not found) like it never existed at all.</p>
    <!--
    <h2>How does it work?</h2>
    <p></p>
    -->
  </div>
  
  <!-- NOTE: We track analytics on the homepage only and not secret pages. -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-5320807-2']);
    _gaq.push(['_setDomainName', '.onetimesecret.com']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  
{{>footer}}