{{>header}}

  <div id="content">
    <ul class="nav">
      <li><a href="/share">share a secret</a> <span class="context">up to 120 characters long</span></li>
      <li class="or">OR</li>
      <li><a href="/generate">generate a secret</a> <span class="context">alphanumeric string</span></li>
    </ul>
    
    <h2>Why?</h2>
    <p>So you can safely create and share passwords, passphrases, and the like.</p>
    
    <h2>Is it safe?</h2>
    <p>It's safer than emailing or texting a password because a secret URI can only be viewed once. If someone else finds it later on, it simply returns a 404.</p>
    <!--
    <h2>How does it work?</h2>
    <p></p>
    -->
  </div>

{{>footer}}