{{>header}}

  <div id="content">
    <ul class="nav">
      <li><a href="/share">share a secret</a> <span class="context">up to a few hundred characters long</span></li>
      <li class="or">OR</li>
      <li><a href="/generate">generate a secret</a> <span class="context">alphanumeric string</span></li>
    </ul>
    
    <h2>Why?</h2>
    <p>So you can safely create and share passwords, code words, demo URIs, and so on.</p>
    
    <h2>Is it safe?</h2>
    <p>It's safer than emailing or texting a password because it can only be viewed once.</p>
    <!--
    <h2>How does it work?</h2>
    <p></p>
    -->
  </div>
  
  <!-- NOTE: We track analytics on the homepage only and not secret pages. -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-5320807-2']);
    _gaq.push(['_setDomainName', '.onetimesecret.com']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  
{{>footer}}