{{>header}}

  <div class="private">
    {{#show_secret}}
    <div class="uri">
      <span class="pretext">Share this link:</span><br/>
      <input id="secreturi" value="{{share_uri}}"/>
      <p>This link can only be accessed one time.</p>
    </div>
    {{#show_passphrase}}
    <div class="passphrase">
      <span class="pretext">Passphrase:</span><br/>
      <input value="{{ssecret.passphrase}}" />
      <p>(the recipient must provide this value to view the secret.)</p>
    </div>
    {{/show_passphrase}}
    <div class="secret">
      <span class="pretext">SECRET:</span><br/>
      {{#one_liner}}
        <input id="displayedsecret" value="{{ssecret.value}}" />
        <p>(careful: it will disappear when you refresh.)</p>
      {{/one_liner}}
      {{^one_liner}}
        <p>(careful: it will disappear when you refresh.)</p>
        <textarea rows="{{display_lines}}" cols="80">{{ssecret.value}}</textarea>
        {{#ssecret.long}}
        <p>Note: this secret was truncated b/c it was over 5KB</p>
        {{/ssecret.long}}
      {{/one_liner}}
    </div>
    {{/show_secret}}
    
    {{^show_secret}}
    <div class="secret">
      <span class="pretext">SECRET:</span><br/>
      <input value="*******************" disabled="disabled" />
      {{#been_shared}}
      <p><em>This secret was received {{shared_date}}.</em></p>
      {{/been_shared}}
      {{^been_shared}}
      <p><em>This secret has not been received yet.</em></p>
      {{/been_shared}}
    </div>
    {{/show_secret}}
  </div>

{{>footer}}
