{{>header}}

  <div class="shared">
    {{#show_secret}}
    <div class="secret">
      <span class="pretext">This secret is for you:</span><br/>
      <p>(careful: it will disappear when you refresh.)</p>
      {{#one_liner}}
      <input value="{{ssecret.value}}" />
      {{/one_liner}}
      {{^one_liner}}
      <textarea rows="{{display_lines}}" cols="80">{{ssecret.value}}</textarea>
      {{/one_liner}}
      {{#ssecret.long}}
      <p>Note: this secret was truncated b/c it was over 5KB</p>
      {{/ssecret.long}}
    </div>
    {{/show_secret}}
  </div>

{{>footer}}