{{>header}}

  <div class="shared">
    {{#err}}<p class="err">{{err}}</p>{{/err}}
    {{^show_secret}}
    {{^has_passphrase}}
    <span class="pretext">This secret is for you:</span><br/>
    {{/has_passphrase}}
    {{#has_passphrase}}
    <h2 class="intro">You have found a secret.</div>
    {{/has_passphrase}}
    <div class="passphrase">
      <form method="POST">
      <input name="continue" type="hidden" value="true" />
      {{#has_passphrase}}
        <span class="pretext">Enter the passphrase:</span>
        <input name="passphrase" value="" /><br/>
      {{/has_passphrase}}
        <span id="fire" class="button"><button type="submit">Show Secret</button></span>
      </form>
      <p>(careful: we will only show it once.)</p>
    </div>
    {{/show_secret}}
    {{#show_secret}}
    <div class="secret">
      <span class="pretext">This secret is for you:</span><br/>
      {{#one_liner}}
      <input class="selectable" value="{{ssecret.decrypted_value}}" />
      {{/one_liner}}
      {{^one_liner}}
      <textarea class="selectable" rows="{{display_lines}}" cols="80">{{ssecret.decrypted_value}}</textarea>
      {{/one_liner}}
      <p>(careful: it will disappear when you refresh this page.)</p>
      {{#ssecret.long}}
      <p>Note: this secret was truncated b/c it was over 5KB</p>
      {{/ssecret.long}}
    </div>
    <ul class="nav">
      <li class="alt"><a href="/">Reply with another secret</a></li>
    </ul>
    {{/show_secret}}
  </div>

{{>footer}}
