{{>header}}

  <div id="content">
    <ul class="nav">
      <li><a href="#">share a secret</a> <span class="text">up to 120 characters</span></li>
      <li><a href="#">generate a secret</a> <span class="text">alphanumeric string</span></li>
    </ul>
  </div>

{{>footer}}