---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TfaNXEK8BBVYL2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNXEK8BBVYL2",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671680,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Day Interval Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671680,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:08:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/prices
    body:
      encoding: UTF-8
      string: product=prod_TfaNXEK8BBVYL2&unit_amount=50&currency=usd&recurring[interval]=day&recurring[interval_count]=1
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5317d719-08f8-4fb0-816b-85ede27a7b36
      Original-Request:
      - req_drPdYs7EpvkdKc
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "price_1SiFCuH54PcLeqtYul4McBN1",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1766671680,
          "currency": "usd",
          "custom_unit_amount": null,
          "livemode": false,
          "lookup_key": null,
          "metadata": {},
          "nickname": null,
          "product": "prod_TfaNXEK8BBVYL2",
          "recurring": {
            "interval": "day",
            "interval_count": 1,
            "meter": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "tax_behavior": "unspecified",
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "recurring",
          "unit_amount": 50,
          "unit_amount_decimal": "50"
        }
  recorded_at: Thu, 25 Dec 2025 14:08:00 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_TfaNXEK8BBVYL2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "This product cannot be deleted because it has one or more user-created prices.",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_8TBohQPDjL6mhY?t=1766671680",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 14:08:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Day+Interval+Test
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766985694-eda8748f-a5fc-4a81-8281-8f6a0326ac31
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766985694-eda8748f-a5fc-4a81-8281-8f6a0326ac31
      Original-Request:
      - req_95Af4tdS7x8FFi
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TgwnVcYXfep8O9",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766985695,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Day Interval Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766985695,
          "url": null
        }
  recorded_at: Mon, 29 Dec 2025 05:21:35 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TgwnVcYXfep8O9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TgwnVcYXfep8O9",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766985695,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Day Interval Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766985695,
          "url": null
        }
  recorded_at: Mon, 29 Dec 2025 05:21:35 GMT
[...]
