---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_mock
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such product: 'prod_mock'",
            "param": "id",
            "request_log_url": "https://dashboard.stripe.com/acct_1SRUXQH54PcLeqtY/test/workbench/logs?object=req_wJo95FsoV7IKMn",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 16 Feb 2026 12:12:37 GMT
recorded_with: VCR 6.4.0
