---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_mock
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such product: 'prod_mock'",
            "param": "id",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_UVg8ekVudUVm0c?t=1766985690",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 29 Dec 2025 05:21:30 GMT
recorded_with: VCR 6.3.1
