---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Confirmation+Required+Test
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766671676-c8276bf8-3dd8-4660-842c-c44e2719ee1e
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766671676-c8276bf8-3dd8-4660-842c-c44e2719ee1e
      Original-Request:
      - req_7TKSZACoTz9m84
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNmphixsQuOI",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671676,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Confirmation Required Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671676,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:56 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TfaNmphixsQuOI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNmphixsQuOI",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671676,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Confirmation Required Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671676,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:56 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_TfaNmphixsQuOI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNmphixsQuOI",
          "object": "product",
          "deleted": true
        }
  recorded_at: Thu, 25 Dec 2025 14:07:56 GMT
recorded_with: VCR 6.3.1
