---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Default+Currency+Test
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1772238805-6fa9887b-deae-4490-8f78-ff8d042729be
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1772238805-6fa9887b-deae-4490-8f78-ff8d042729be
      Original-Request:
      - req_mxFbkXksmszdjc
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_U3ivLC9Is63LKu",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1772238806,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Default Currency Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1772238806,
          "url": null
        }
  recorded_at: Sat, 28 Feb 2026 00:33:26 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_U3ivLC9Is63LKu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_U3ivLC9Is63LKu",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1772238806,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Default Currency Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1772238806,
          "url": null
        }
  recorded_at: Sat, 28 Feb 2026 00:33:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/prices
    body:
      encoding: UTF-8
      string: product=prod_U3ivLC9Is63LKu&unit_amount=900&currency=cad&recurring[interval]=month&recurring[interval_count]=1
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f35f33eb-70f5-4c18-9bf5-fd76b1ca9893
      Original-Request:
      - req_3xzMzVZtjQnwon
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "price_1T5bTGH7zmouMIBXO9wK7abA",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1772238806,
          "currency": "cad",
          "custom_unit_amount": null,
          "livemode": false,
          "lookup_key": null,
          "metadata": {},
          "nickname": null,
          "product": "prod_U3ivLC9Is63LKu",
          "recurring": {
            "interval": "month",
            "interval_count": 1,
            "meter": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "tax_behavior": "unspecified",
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "recurring",
          "unit_amount": 900,
          "unit_amount_decimal": "900"
        }
  recorded_at: Sat, 28 Feb 2026 00:33:26 GMT
recorded_with: VCR 6.4.0
