---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TfaNBccJGSQIGY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNBccJGSQIGY",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671678,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Default Interval Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671678,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/prices
    body:
      encoding: UTF-8
      string: product=prod_TfaNBccJGSQIGY&unit_amount=900&currency=usd&recurring[interval]=month&recurring[interval_count]=1
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - cc4aa226-67e3-4b41-ada8-d47649ddd522
      Original-Request:
      - req_3R99lO4susYA8j
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "price_1SiFCtH54PcLeqtYFN5bxzKX",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1766671679,
          "currency": "usd",
          "custom_unit_amount": null,
          "livemode": false,
          "lookup_key": null,
          "metadata": {},
          "nickname": null,
          "product": "prod_TfaNBccJGSQIGY",
          "recurring": {
            "interval": "month",
            "interval_count": 1,
            "meter": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "tax_behavior": "unspecified",
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "recurring",
          "unit_amount": 900,
          "unit_amount_decimal": "900"
        }
  recorded_at: Thu, 25 Dec 2025 14:07:59 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_TfaNBccJGSQIGY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "This product cannot be deleted because it has one or more user-created prices.",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_Wox6be46Wg69TC?t=1766671679",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 14:07:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Default+Interval+Test
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766985692-57d6392c-4dd8-4887-84b7-c475bd208b67
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - appli[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TgwnYZajaFQ4n3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TgwnYZajaFQ4n3",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766985693,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Default Interval Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766985693,
          "url": null
        }
  recorded_at: Mon, 29 Dec 2025 05:21:33 GMT
[...]
