---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Amount+GT+Zero+Test
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766671681-c0813860-1e11-46ad-ba45-221e169e7387
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766671681-c0813860-1e11-46ad-ba45-221e169e7387
      Original-Request:
      - req_gGoX7TycVUe56r
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNs3yNH7twMd",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671681,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Amount GT Zero Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671681,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:08:01 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TfaNs3yNH7twMd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNs3yNH7twMd",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671681,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Amount GT Zero Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671681,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:08:01 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_TfaNs3yNH7twMd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNs3yNH7twMd",
          "object": "product",
          "deleted": true
        }
  recorded_at: Thu, 25 Dec 2025 14:08:01 GMT
recorded_with: VCR 6.3.1
