---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TfaN7Bw2MBEGLJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaN7Bw2MBEGLJ",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671674,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Amount Required Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671674,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:54 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_TfaN7Bw2MBEGLJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaN7Bw2MBEGLJ",
          "object": "product",
          "deleted": true
        }
  recorded_at: Thu, 25 Dec 2025 14:07:55 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TgwnHVtwawdBjc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TgwnHVtwawdBjc",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766985701,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Amount Required Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766985702,
          "url": null
        }
  recorded_at: Mon, 29 Dec 2025 05:21:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Amount+Required+Test
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1771243962-c9a7ad6c-fe41-4095-b60c-43179aba4f16
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1771243962-c9a7ad6c-fe41-4095-b60c-43179aba4f16
      Original-Request:
      - req_NkVECQSxCEcs2P
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TzPUBCbQu0uKAA",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1771243962,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Amount Required Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1771243962,
          "url": null
        }
  recorded_at: Mon, 16 Feb 2026 12:12:42 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TzPUBCbQu0uKAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TzPUBCbQu0uKAA",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1771243962,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Amount Required Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1771243962,
          "url": null
        }
  recorded_at: Mon, 16 Feb 2026 12:12:42 GMT
recorded_with: VCR 6.4.0
