---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TfaNGJf1QnfYVC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNGJf1QnfYVC",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671677,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Product Verify Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671677,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/prices
    body:
      encoding: UTF-8
      string: product=prod_TfaNGJf1QnfYVC&unit_amount=900&currency=usd&recurring[interval]=month&recurring[interval_count]=1
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b236cd1c-118d-4c3a-8274-353d4091bf99
      Original-Request:
      - req_wDCA7PStcSQapR
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "price_1SiFCrH54PcLeqtYgpODrSci",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1766671677,
          "currency": "usd",
          "custom_unit_amount": null,
          "livemode": false,
          "lookup_key": null,
          "metadata": {},
          "nickname": null,
          "product": "prod_TfaNGJf1QnfYVC",
          "recurring": {
            "interval": "month",
            "interval_count": 1,
            "meter": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "tax_behavior": "unspecified",
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "recurring",
          "unit_amount": 900,
          "unit_amount_decimal": "900"
        }
  recorded_at: Thu, 25 Dec 2025 14:07:58 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_TfaNGJf1QnfYVC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "This product cannot be deleted because it has one or more user-created prices.",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_mVgUhIIpuMA4lv?t=1766671678",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 14:07:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Product+Verify+Test
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766985688-d5ce2175-da35-42bc-9b05-f0384b34da02
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766985688-d5ce2175-da35-42bc-9b05-f0384b34da02
      Original-Request:
      - req_8TeayK2jRU1KM0
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_Tgwn1T4M0kk40Y",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766985688,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Product Verify Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766985688,
          "url": null
        }
  recorded_at: Mon, 29 Dec 2025 05:21:28 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_Tgwn1T4M0kk40Y
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_Tgwn1T4M0kk40Y",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766985688,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Product Verify Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766985688,
          "url": null
        }
  recorded_at: Mon, 29 Dec 2025 05:21:29 GMT
[...]
