<!doctype html>
<html lang="en" class="light">
  <head>
    <script nonce="<%= nonce %>" language="javascript" type="text/javascript">
      (() => {
        var { matches: isRestMode } = window.matchMedia('(prefers-color-scheme: dark)');
        var hasHumanOverride = (typeof localStorage !== 'undefined' && localStorage.getItem('restMode') !== null);
        var humanElement = document.documentElement;
        var nightVision = 'rgb(17 24 39)';
        var dayVision = '#ffffff';

        var visualSettings = {
          true: {
            bgColor: nightVision,
            textColor: dayVision,
            removeClass: 'light',
            addClass: 'dark'
          },
          false: {
            bgColor: dayVision,
            textColor: nightVision,
            removeClass: 'dark',
            addClass: 'light'
          }
        };

        var config = visualSettings[isRestMode];
        window.enjoyTheVue = hasHumanOverride; // Set a flag to indicate when Vue has taken control

        // Function to adjust the visual environment
        function adjustVisualEnvironment() {
          if (window.enjoyTheVue) return;

          humanElement.style.setProperty('--bg-color', config.bgColor);
          humanElement.style.setProperty('--text-color', config.textColor);
          humanElement.classList.remove(config.removeClass);
          humanElement.classList.add(config.addClass);
        }

        // Initial adjustment
        adjustVisualEnvironment();

        // Re-adjust on system color scheme change
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', (e) => {
          isRestMode = e.matches;
          config = visualSettings[isRestMode];
          adjustVisualEnvironment();
        });
      })();
    </script>
    <%= render_partial 'head' %>
  </head>
  <body class="font-serif bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100">
    <div id="app"><router-view></router-view></div>
  </body>
</html>
