{{>partial/session_messages}}



<form id="createSecret" method="post" autocomplete="off" action="/">
  {{{add_shrimp}}}
  <fieldset>
    <textarea rows="7" class="btn-block" name="secret" autocomplete="off" placeholder=""></textarea>
    {{#display_privacy_options}}
    <div class="control-group">
      <label class="control-label lighter" for="passphraseField">Passphrase:</label>
      <div class="controls">
        <input class="span12" type="text" name="passphrase" id="passphraseField" value="" autocomplete="off" />
      </div>
    </div>
    {{/display_privacy_options}}
    {{#display_recipients_bogus}}
    <div id="recipientsBlock">
      <div class="header">Email address: <img src="/img/new.png" /> <span class="lighter">(optional)</span>
      </div>
      {{#authenticated}}
      <input class="long larger clearDefault " type="text" name="recipient[]" value="{{paid_recipient_text}}" autocomplete="off" />
      {{/authenticated}}
      {{^authenticated}}
      <input class="long larger clearDefault " type="text" value="{{nonpaid_recipient_text}}" disabled="disabled" />
      {{/authenticated}}
    </div>
    {{/display_recipients_bogus}}
    <button class="btn btn-large btn-block btn-custom cufon" type="submit" name="kind" value="share" >Create a secret link{{^authenticated}}*{{/authenticated}}</button>
    <button class="btn btn-large btn-block cufon" type="submit" name="kind" value="generate" >Or generate a random password</button>
  </fieldset>
</form>




