{{>partial/session_messages}}

<form id="createSecret" method="post" autocomplete="off">
  {{{add_shrimp}}}
  <ul class="inputform">
    <li class="primary">
      <input type="radio" id="shareRadio" name="kind" value="share" checked="checked" />
      {{^authenticated}}
      <label for="shareRadio">Paste it here!<br />
      <span class="context">(e.g. a secret phrase, a special link, a bad joke etc)</span></label>
      {{/authenticated}}
      {{#authenticated}}
      <label for="shareRadio">Share a secret:</label> 
      <span class="context"></span>
      {{/authenticated}}
      <textarea name="secret" class="ui-widget ui-corner-all secretValue" rows="7" cols="80" autocomplete="off"></textarea>
    </li>
    <li class="secondary">
      <input type="radio" id="generateRadio" name="kind" value="generate" />
      {{^authenticated}}
      <label for="generateRadio">Or generate a unique secret
      <span class="context">(e.g. for a temporary password)</span></label>
      {{/authenticated}}
      {{#authenticated}}
      <label for="generateRadio">Or generate a secret
      <span class="context">(e.g. for a temporary password)</span></label>
      {{/authenticated}}
    </li>
    <div id="optionsBlock">
      <a href="#" id="optionsToggle">More options</a>
      <div id="options">
        <div class="option">Enter a passphrase: <input class="ui-widget ui-corner-all" type="text" name="passphrase" value="" autocomplete="off" /></div>
        <div class="option">
          <!--
          <select name="ttl" size="1">
                      {{#expiration_options}}
                      <option value="{{value}}"{{#selected}}selected="selected"{{/selected}}{{#disabled}}disabled="disabled"{{/disabled}}>{{text}}</option>
                      {{/expiration_options}}
                    </select>-->
                    
          <div class="sliderParent" class="ui-widget ui-corner-all">
              <span>Expiration:</span>
              <div id="ttlslider"></div>
              <span id="ttlslider-value"></span> 
              <input type="hidden" name="ttl" id="ttlvalue">
          </div>
        </div>
      </div>
    </div>
    <div id="recipientsBlock">
      <div class="header">Email the secret link: <span class="lighter">(optional)</span> <img src="/img/new.png" />
      </div>
      {{#is_paid}}
      <input class="long larger clearDefault ui-widget ui-corner-all" type="text" name="recipient[]" value="{{paid_recipient_text}}" autocomplete="off" />
      {{/is_paid}}
      {{^is_paid}}
      <input class="long larger clearDefault ui-widget ui-corner-all" type="text" value="{{nonpaid_recipient_text}}" disabled="disabled" />
      {{/is_paid}}
    </div>
    <span id="fire" class="button"><button type="submit">Create a secret link{{^authenticated}}*{{/authenticated}}</button></span>
  </ul>
</form>

<script type="text/javascript">
$(function() {
  var increments = {{{expiration_options}}};
  var defaultValue = parseInt((increments.length-1)/2);
  $("#ttlslider").slider({
    // http://jsfiddle.net/5TTm4/
    // http://jsfiddle.net/pxfunc/D7b7F/
    value: defaultValue,
    min: 0,
    max: increments.length-1,
    step: 1,
    slide: function( event, ui ) {
      $( "#ttlslider-value" ).html( increments[ui.value][1] );
      $( "#ttlvalue" ).val( increments[ui.value][0] );
    }
  });
  $( "#ttlslider-value" ).html(  increments[defaultValue][1] );
  $( "#ttlvalue" ).val( increments[defaultValue][0] );
});

</script>
<div class="intro2">
  {{^authenticated}}
  <em>* A secret link is available only once and then it disappears forever.</em>
  {{/authenticated}}
</div>
