{{>partial/session_messages}}

<form id="createSecret" method="post" autocomplete="off">
  {{{add_shrimp}}}
  <ul class="inputform">
    <li class="primary">
      <input type="radio" id="shareRadio" name="kind" value="share" checked="checked" />
      {{^authenticated}}
      <label for="shareRadio">Paste it here!<br />
      <span class="context">(e.g. a secret phrase, a special link, a bad joke etc)</span></label>
      {{/authenticated}}
      {{#authenticated}}
      <label for="shareRadio">Share a secret:</label> 
      <span class="context"></span>
      {{/authenticated}}
      <textarea name="secret" class=" secretValue" id="secretValueInput" rows="7" cols="80" autocomplete="off"></textarea>
    </li>
    <li class="secondary">
      <input type="radio" id="generateRadio" name="kind" value="generate" />
      {{^authenticated}}
      <label for="generateRadio">Or generate a unique secret
      <span class="context">(e.g. for a temporary password)</span></label>
      {{/authenticated}}
      {{#authenticated}}
      <label for="generateRadio">Or generate a secret
      <span class="context">(e.g. for a temporary password)</span></label>
      {{/authenticated}}
    </li>
    <div id="optionsBlock" class="ui-widget ui-corner-all">
      <a href="#" id="optionsToggle">More options</a>
      <div id="options">
        <div class="option">
          <span class="label">Passphrase:</span>
          <input class="" type="text" name="passphrase" value="" autocomplete="off" />
        </div>
        <div class="option">
          <span class="label">Expiration:</span>
          <div id="ttlslider"></div>
          <span id="ttlslider-value"></span> 
          <input type="hidden" name="ttl" id="ttlvalue">
        </div>
        {{#bogus}}
        <div class="option">
          <span class="label">Max views:</span>
          <div id="viewsslider"></div>
          <span id="viewsslider-value"></span> 
          <input type="hidden" name="views" id="viewsvalue">
        </div>
        {{/bogus}}
      </div>
    </div>
    <div id="recipientsBlock">
      <div class="header">Email the secret link: <img src="/img/new.png" /> <span class="lighter">(optional)</span>
      </div>
      {{#is_paid}}
      <input class="long larger clearDefault " type="text" name="recipient[]" value="{{paid_recipient_text}}" autocomplete="off" />
      {{/is_paid}}
      {{^is_paid}}
      <input class="long larger clearDefault " type="text" value="{{nonpaid_recipient_text}}" disabled="disabled" />
      {{/is_paid}}
    </div>
    <span id="fire" class="button"><button type="submit">Create a secret link{{^authenticated}}*{{/authenticated}}</button></span>
  </ul>
</form>

<script type="text/javascript">
$(function() {
  $('#secretValueInput').focus();
  var expirations = {{{expiration_options}}};
  var defaultExpiration = {{default_expiration}}; 
  $("#ttlslider").slider({
    // http://jsfiddle.net/5TTm4/
    // http://jsfiddle.net/pxfunc/D7b7F/
    value: defaultExpiration,
    min: 0,
    max: expirations.length-1,
    step: 1,
    slide: function( event, ui ) {
      $( "#ttlslider-value" ).html( expirations[ui.value][1] );
      $( "#ttlvalue" ).val( expirations[ui.value][0] );
      $.cookie("default_expiration", ui.value);
    }
  });
  
  if (typeof($.cookie('default_expiration')) == 'string')
    defaultExpiration = parseInt($.cookie("default_expiration"));
  
  // Enforce a minimum default expiration to prevent
  // accidentally setting a very short-lived secret.
  if (expirations[defaultExpiration][0] < 86400)
    defaultExpiration = 3;
    
  // Setup initial state after page loads
  $("#ttlslider").slider("option", "value", defaultExpiration);
  $( "#ttlslider-value" ).html(  expirations[defaultExpiration][1] );
  $( "#ttlvalue" ).val( expirations[defaultExpiration][0] );
  
  {{#bogus}}
  var viewcounts = [1,2,3,4,5,10,15,25,50,100];
  $("#viewsslider").slider({
    min: 0,
    max: viewcounts.length-1,
    step: 1,
    value: 0,
    slide: function( event, ui ) {
      var suffix = ui.value == 0 ? 'view' : 'views'
      $( "#viewsslider-value" ).html( viewcounts[ui.value] + " " + suffix );
      $( "#viewsvalue" ).val( ui.value );
    }
  });
  $( "#viewsslider-value" ).html(  '1 view' );
  $( "#viewsvalue" ).val( 1 );
  {{/bogus}}
});

</script>
<div class="intro2">
  {{^authenticated}}
  <em>* A secret link is available only once and then it disappears forever.</em>
  {{/authenticated}}
</div>
