
<div class="container mx-auto p-4 max-w-2xl">
  <footer class="min-w-[320px] text-sm text-center space-y-2">
    {{#display_feedback}}
    <div>
      <form class="form form-inline" action="/feedback" method="post">
        {{{add_shrimp}}}
        <div class="flex mb-4">
          {{^authenticated}}
            <input
              type="text"
              name="msg"
              class="flex-grow px-4 py-2 border rounded-l-md
                border-gray-300 focus:ring-gray-300 focus:border-transparent
                dark:bg-gray-700 dark:border-gray-600 dark:text-gray-200
                focus:outline-none focus:ring-2"
              autocomplete="off"
              placeholder="Sign-in to send feedback">

            <button
              class="px-4 py-2 font-light rounded-r-md
                bg-gray-300
                dark:bg-gray-700 dark:hover:bg-gray-600 text-gray-800 dark:text-gray-200
                hover:bg-gray-400">
              {{i18n.COMMON.button_send_feedback}}
            </button>
          {{/authenticated}}
          {{#authenticated}}

            <input
              type="text"
              name="msg"
              class="flex-grow px-4 py-2 border rounded-l-md
              border-gray-300 focus:ring-gray-300 focus:border-transparent
              dark:bg-gray-700 dark:border-gray-600 dark:text-gray-200
              focus:outline-none focus:ring-2"
              autocomplete="off"
              placeholder="{{i18n.COMMON.feedback_text}}">
            <button
              class="px-4 py-2 font-light rounded-r-md
              bg-gray-300
              dark:bg-gray-700 dark:hover:bg-gray-600 text-gray-800 dark:text-gray-200
              hover:bg-gray-400"
                type="submit"
            >
              {{i18n.COMMON.button_send_feedback}}
            </button>

          {{/authenticated}}

        </div>
      </form>
    </div>
    {{/display_feedback}}
    {{#display_links}}
    <div class="prose dark:prose-invert text-base pt-4">
      <a href="/about" aria-label="About Onetime Secret" class="text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100">About</a> |
      <a href="https://status.onetimesecret.com/" aria-label="Check service status" class="text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100" rel="noopener noreferrer">Status</a> |
      {{#plans_enabled}}
        <a href="/pricing" aria-label="Onetime Secret Subscription Pricing" class="text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100">Pricing</a> |
      {{/plans_enabled}}
      <a href="https://github.com/onetimesecret/onetimesecret" aria-label="View source code on GitHub" class="text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100" rel="noopener noreferrer">Code</a> |
      {{#support_host}}
      <a href="/docs/api" aria-label="API Documentation" class="text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100" rel="noopener noreferrer">API</a>
      {{/support_host}}
    </div>
    <div class="prose dark:prose-invert text-base">
      <a href="/info/privacy" aria-label="Read our Privacy Policy" class="text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100">Privacy</a> |
      <a href="/info/terms" aria-label="Read our Terms and Conditions" class="text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100">Terms</a> |
      <a href="/info/security" aria-label="View security information" class="text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100">Security</a> |
      Languages: <a href="/translations" aria-label="English language version of Onetime Secret" class="text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100">{{locale}}</a>
    </div>
  {{/display_links}}

  {{>partial/footer_magic}}

  </footer>
</div>

</body>
</html>
