
{{>partial/quiet_header}}

    {{#with_github_corner}}
      {{>partial/github_corner}}
    {{/with_github_corner}}
    <div class="w-full h-1 bg-brand-500 fixed top-0 left-0"></div>
    <div id="broadcast">{{{i18n.COMMON.broadcast}}}</div>

    <div class="container mx-auto mt-1 p-2 max-w-2xl">
      {{#display_masthead}}

      <header class="min-w-[320px]">
        <div class="flex flex-col sm:flex-row justify-between items-center">
          <div class="mb-6 sm:mb-0"><a href="/"><img id="logo" src="/v3/img/onetime-logo-v3-xl.svg" class="" width="64" height="64"></a></div>
              <div class="flex flex-wrap justify-center sm:justify-end items-center gap-2 text-base font-brand">

            {{#authenticated}}
              <div class="hidden sm:flex items-center">
                <a href="/" class="text-gray-400 hover:text-gray-300 transition">
                  <span id="userEmail">{{cust.custid}}</span>
                </a>
                {{#colonel}}
                  <a href="/colonel/" title="" class="ml-2 text-gray-400 hover:text-gray-300 transition">
                    <Icon icon="mdi:star" class="w-4 h-4" />
                  </a>
                {{/colonel}}
                <span class="mx-2 text-gray-400">|</span>
              </div>

              <a href="/account" class="underline" title="Your Account">{{i18n.COMMON.header_dashboard}}</a> <span class="mx-0 text-gray-400">|</span>
              <a href="/logout" class="underline" title="Log out of Onetime Secret">{{i18n.COMMON.header_logout}}</a>
            {{/authenticated}}

            {{^authenticated}}
              {{#authentication.enabled}}

                {{#authentication.signup}}
                <a href="/signup" title="Signup - Individual and Business plans" class="underline font-bold mx-0 px-0">{{i18n.COMMON.header_create_account}}</a><span class="mx-0">|</span>
                {{/authentication.signup}}
                <a href="/about" title="About Onetime Secret" class="underline">{{i18n.COMMON.header_about}}</a><span class="mx-0">|</span>

                {{#authentication.signin}}
                  <a href="/signin" title="Log in to Onetime Secret" class="underline">{{i18n.COMMON.header_sign_in}}</a>
                {{/authentication.signin}}

              {{/authentication.enabled}}

              {{^authentication.enabled}}
                <a href="/about" title="About Onetime Secret" class="underline">{{i18n.COMMON.header_about}}</a>
              {{/authentication.enabled}}

            {{/authenticated}}

            {{^is_default_locale}}
              <span class="mx-0">|</span> <a href="?locale={{i18n.default}}" title="View site in {{i18n.default}}">{{i18n.default}}</a>
            {{/is_default_locale}}


          </div>
        </div>
      </header>

      {{/display_masthead}}
    </div>
