<li>
  <a href="{{uri}}"
     class="{{#is_received}}strikethrough italic lighter{{/is_received}} {{^is_received}}nounderline{{/is_received}}"
     title="{{^is_received}}NOT {{/is_received}}RECEIVED">
  {{#ssecret_key}}
  {{ssecret_key}}
  {{/ssecret_key}}
  {{^ssecret_key}}
  m:{{shortkey}}
  {{/ssecret_key}}
  {{#recipients}}(sent to {{to_s}}){{/recipients}}
  </a>
  - <em class="lighter" title="{{updated}}">{{stamp}}</em>
  {{#is_received}}
  <a href="#" class="delete-metadata" title="Delete the metadata"><i class="icon-remove"></i></a>
  {{/is_received}}
  {{^is_received}}
  <a href="{{uri}}/burn" class="burn-secret" title="Burn the secret"><i class="icon-fire"></i></a>
  {{/is_received}}
</li>
