<form action="/signup" method="post" class="form-horizontal well">
  {{{add_shrimp}}}
  <input type="hidden" name="planid" value="{{planid}}" />
  <fieldset>
    <!--<legend>Legend</legend>-->
    <div class="control-group">
      <label class="control-label" for="custidField">Email</label>
      <div class="controls">
        <input type="text" name="custid" id="custidField" class="input-xlarge" value="{{form_fields.custid}}" placeholder="" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="passField">Password</label>
      <div class="controls">
        <input type="password" name="password" id="passField" class="input-medium" value="" placeholder="" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="pass2Field">Confirm Password</label>
      <div class="controls">
        <input type="password" name="password2" id="pass2Field" class="input-medium" value="" placeholder="" />
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-large btn-custom">Create Account</button>
      </div>
    </div>
  </fieldset>
  <script type="text/javascript">
    $('#custid').focus();
  </script>
</form>
