<form action="/signup" method="post" class="signup">
  {{{add_shrimp}}}
  <input type="hidden" name="planid" value="{{planid}}" />
  <div>
    <label for="custid">Email Address:</label>
    <input type="text" name="custid" id="custid" class="long ui-widget ui-corner-all" value="{{form_fields.custid}}"/>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" class="short ui-widget ui-corner-all" />
    <label for="password2">Confirm Password:</label>
    <input type="password" name="password2" id="password2" class="short ui-widget ui-corner-all" />
    <script type="text/javascript">
      $('#custid').focus();
    </script>
  </div>
  
  <span id="fireSmall" class="button"><button type="submit">Signup</button></span>
  <a href="/login" class="smaller" style="color: #666">Already have an account?</a>
</form>