---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=invoice-test%40example.com
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766666485-aa168b7d-f4b3-4a88-ac3d-1ad981ec1be0
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766666485-aa168b7d-f4b3-4a88-ac3d-1ad981ec1be0
      Original-Request:
      - req_6SN30VYVDKW81m
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfYz5AByk3t7fi",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766666486,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "invoice-test@example.com",
          "invoice_prefix": "Y1VOOOZQ",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 25 Dec 2025 12:41:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Test+Product+1766666486
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766666486-2efa044d-702d-40ca-8329-f42f57da89a8
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766666486-2efa044d-702d-40ca-8329-f42f57da89a8
      Original-Request:
      - req_GDjv6ccyWkyq7c
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfYzITwt66zRSZ",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766666486,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Test Product 1766666486",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766666486,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 12:41:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/prices
    body:
      encoding: UTF-8
      string: unit_amount=5000&currency=usd&product=prod_TfYzITwt66zRSZ
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766666486-4df87322-e3c9-41a5-849a-16c3c0b7b8cc
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766666486-4df87322-e3c9-41a5-849a-16c3c0b7b8cc
      Original-Request:
      - req_htNDSttKiHJqhh
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "price_1SiDr8H54PcLeqtYhbfKNmeg",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1766666486,
          "currency": "usd",
          "custom_unit_amount": null,
          "livemode": false,
          "lookup_key": null,
          "metadata": {},
          "nickname": null,
          "product": "prod_TfYzITwt66zRSZ",
          "recurring": null,
          "tax_behavior": "unspecified",
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "one_time",
          "unit_amount": 5000,
          "unit_amount_decimal": "5000"
        }
  recorded_at: Thu, 25 Dec 2025 12:41:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_TfYz5AByk3t7fi&pricing[price]=price_1SiDr8H54PcLeqtYhbfKNmeg
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766666486-8c56a5ec-1c85-454a-8855-cf053b6e63de
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766666486-8c56a5ec-1c85-454a-8855-cf053b6e63de
      Original-Request:
      - req_cBfuFfQndjbXKq
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ii_1SiDr8H54PcLeqtY77LjlRxT",
          "object": "invoiceitem",
          "amount": 5000,
          "currency": "usd",
          "customer": "cus_TfYz5AByk3t7fi",
          "customer_account": null,
          "date": 1766666486,
          "description": "Test Product 1766666486",
          "discountable": true,
          "discounts": [],
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "parent": null,
          "period": {
            "end": 1766666486,
            "start": 1766666486
          },
          "pricing": {
            "price_details": {
              "price": "price_1SiDr8H54PcLeqtYhbfKNmeg",
              "product": "prod_TfYzITwt66zRSZ"
            },
            "type": "price_details",
            "unit_amount_decimal": "5000"
          },
          "proration": false,
          "quantity": 1,
          "tax_rates": [],
          "test_clock": null
        }
  recorded_at: Thu, 25 Dec 2025 12:41:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: UTF-8
      string: customer=cus_TfYz5AByk3t7fi&auto_advance=false
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766666486-6fab426e-98c4-486a-af17-536c0b73fef8
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766666486-6fab426e-98c4-486a-af17-536c0b73fef8
      Original-Request:
      - req_uohofyTJaTsXnz
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "in_1SiDr9H54PcLeqtYvXXBcOl3",
          "object": "invoice",
          "account_country": "CA",
          "account_name": "Onetime.dev",
          "account_tax_ids": null,
          "amount_due": 0,
          "amount_overpaid": 0,
          "amount_paid": 0,
          "amount_remaining": 0,
          "amount_shipping": 0,
          "application": null,
          "attempt_count": 0,
          "attempted": false,
          "auto_advance": false,
          "automatic_tax": {
            "disabled_reason": null,
            "enabled": false,
            "liability": null,
            "provider": null,
            "status": null
          },
          "automatically_finalizes_at": null,
          "billing_reason": "manual",
          "collection_method": "charge_automatically",
          "created": 1766666487,
          "currency": "usd",
          "custom_fields": null,
          "customer": "cus_TfYz5AByk3t7fi",
          "customer_account": null,
          "customer_address": null,
          "customer_email": "invoice-test@example.com",
          "customer_name": null,
          "customer_phone": null,
          "customer_shipping": null,
          "customer_tax_exempt": "none",
          "customer_tax_ids": [],
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discounts": [],
          "due_date": null,
          "effective_at": null,
          "ending_balance": null,
          "footer": null,
          "from_invoice": null,
          "hosted_invoice_url": null,
          "invoice_pdf": null,
          "issuer": {
            "type": "self"
          },
          "last_finalization_error": null,
          "latest_revision": null,
          "lines": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/invoices/in_1SiDr9H54PcLeqtYvXXBcOl3/lines"
          },
          "livemode": false,
          "metadata": {},
          "next_payment_attempt": null,
          "number": null,
          "on_behalf_of": null,
          "parent": null,
          "payment_settings": {
            "default_mandate": null,
            "payment_method_options": null,
            "payment_method_types": null
          },
          "period_end": 1766666487,
          "period_start": 1766666487,
          "post_payment_credit_notes_amount": 0,
          "pre_payment_credit_notes_amount": 0,
          "receipt_number": null,
          "rendering": {
            "amount_tax_display": null,
            "pdf": {
              "page_size": "auto"
            },
            "template": null,
            "template_version": null
          },
          "shipping_cost": null,
          "shipping_details": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "status": "draft",
          "status_transitions": {
            "finalized_at": null,
            "marked_uncollectible_at": null,
            "paid_at": null,
            "voided_at": null
          },
          "subtotal": 0,
          "subtotal_excluding_tax": 0,
          "test_clock": null,
          "total": 0,
          "total_discount_amounts": [],
          "total_excluding_tax": 0,
          "total_pretax_credit_amounts": [],
          "total_taxes": [],
          "webhooks_delivered_at": 1766666487
        }
  recorded_at: Thu, 25 Dec 2025 12:41:27 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_TfYz5AByk3t7fi&limit=10&status=draft
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding:[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_TfYz5AByk3t7fi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfYz5AByk3t7fi",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Thu, 25 Dec 2025 12:41:27 GMT
recorded_with: VCR 6.3.1
