---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Test+Product+1766640460
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766640460-3258b4cf-7836-4e2c-91e9-0834ceae3242
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766640460-3258b4cf-7836-4e2c-91e9-0834ceae3242
      Original-Request:
      - req_3Q8isYFv1Fxrwo
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfRzYg9tYPFhdN",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766640460,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Test Product 1766640460",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766640460,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 05:27:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/prices
    body:
      encoding: UTF-8
      string: unit_amount=5000&currency=usd&product=prod_TfRzYg9tYPFhdN
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766640460-47a7f871-27e1-4bf4-b001-ea8e03e6183c
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766640460-47a7f871-27e1-4bf4-b001-ea8e03e6183c
      Original-Request:
      - req_DuA3109ITEwYnH
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "price_1Si75MH54PcLeqtYY89ap8Gt",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1766640460,
          "currency": "usd",
          "custom_unit_amount": null,
          "livemode": false,
          "lookup_key": null,
          "metadata": {},
          "nickname": null,
          "product": "prod_TfRzYg9tYPFhdN",
          "recurring": null,
          "tax_behavior": "unspecified",
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "one_time",
          "unit_amount": 5000,
          "unit_amount_decimal": "5000"
        }
  recorded_at: Thu, 25 Dec 2025 05:27:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_TfRzW0pjkwdfzs&price=price_1Si75MH54PcLeqtYY89ap8Gt
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766640460-207ae8a3-5fbf-46bd-8997-578ecf293d21
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766640460-207ae8a3-5fbf-46bd-8997-578ecf293d21
      Original-Request:
      - req_jrBORnnzMUOxPd
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "parameter_unknown",
            "doc_url": "https://stripe.com/docs/error-codes/parameter-unknown",
            "message": "Received unknown parameter: price. Did you mean pricing?",
            "param": "price",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_jrBORnnzMUOxPd?t=1766640461",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 05:27:41 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=invoice-test%40example.com
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766643283-038d2b7d-7b12-46fa-8d2e-a10ef2c6b892
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766643283-038d2b7d-7b12-46fa-8d2e-a10ef2c6b892
      Original-Request:
      - req_v5uZ7zZ8IKk7xr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfSkWVAdtJADab",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766643284,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "invoice-test@example.com",
          "invoice_prefix": "QUVDXZ9P",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 25 Dec 2025 06:14:44 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Test+Product+1766661788
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766661788-cc70eadf-b7cb-41fe-a6d3-fdcdb7c6ba9f
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="Stripe"
      X-Wc:
      - ABHIJ
      Stripe-Version:
      - "<STRIPE_VERSION>"
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Invalid API Key provided: sk_test_mock",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 11:23:08 GMT
recorded_with: VCR 6.3.1
