---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Test+Product+1766640448
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766640448-54e1498b-710f-4c9e-bd70-a4d056fa513c
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766640448-54e1498b-710f-4c9e-bd70-a4d056fa513c
      Original-Request:
      - req_v0KBtOJwORTwbj
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfRzkEz6f89ntI",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766640448,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Test Product 1766640448",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766640448,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 05:27:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/prices
    body:
      encoding: UTF-8
      string: unit_amount=5000&currency=usd&product=prod_TfRzkEz6f89ntI
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766640448-70461a8f-a71a-464c-a5d2-2517c84ef66e
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766640448-70461a8f-a71a-464c-a5d2-2517c84ef66e
      Original-Request:
      - req_jsrVv57J1cvSZv
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "price_1Si75AH54PcLeqtYvVK1TUFa",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1766640448,
          "currency": "usd",
          "custom_unit_amount": null,
          "livemode": false,
          "lookup_key": null,
          "metadata": {},
          "nickname": null,
          "product": "prod_TfRzkEz6f89ntI",
          "recurring": null,
          "tax_behavior": "unspecified",
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "one_time",
          "unit_amount": 5000,
          "unit_amount_decimal": "5000"
        }
  recorded_at: Thu, 25 Dec 2025 05:27:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_TfRz2WIEBtXc5V&price=price_1Si75AH54PcLeqtYvVK1TUFa
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766640448-f90c913b-fe5f-41e2-b7d5-1c4b121ccec5
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766640448-f90c913b-fe5f-41e2-b7d5-1c4b121ccec5
      Original-Request:
      - req_bBXVLbcydjsjtg
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "parameter_unknown",
            "doc_url": "https://stripe.com/docs/error-codes/parameter-unknown",
            "message": "Received unknown parameter: price. Did you mean pricing?",
            "param": "price",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_bBXVLbcydjsjtg?t=1766640448",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 05:27:29 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=invoice-test%40example.com
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766640542-19ba5feb-b552-4c42-8de4-c766d529f626
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766640542-19ba5feb-b552-4c42-8de4-c766d529f626
      Original-Request:
      - req_4b5VbgmUzgg4Bt
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfS0ijWGVx888V",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766640542,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "invoice-test@example.com",
          "invoice_prefix": "EY97GXJM",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 25 Dec 2025 05:29:03 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_TfS0ijWGVx888V&price=price_1Si76hH54PcLeqtYkBJwsVgC
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766640543-2ae2da36-4176-483c-a4e8-0279db435d91
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766640543-2ae2da36-4176-483c-a4e8-0279db435d91
      Original-Request:
      - req_uQaDw49LfNmIZF
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "parameter_unknown",
            "doc_url": "https://stripe.com/docs/error-codes/parameter-unknown",
            "message": "Received unknown parameter: price. Did you mean pricing?",
            "param": "price",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_uQaDw49LfNmIZF?t=1766640544",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 05:29:04 GMT
recorded_with: VCR 6.3.1
