---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Test+Product+1766640454
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766640454-ee1c0d5e-e47d-43db-9c90-3f32ff68e033
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766640454-ee1c0d5e-e47d-43db-9c90-3f32ff68e033
      Original-Request:
      - req_mww0NLaupAJPLh
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfRzCoStNXfr5a",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766640454,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Test Product 1766640454",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766640455,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 05:27:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/prices
    body:
      encoding: UTF-8
      string: unit_amount=2000&currency=usd&recurring[interval]=month&product=prod_TfRzCoStNXfr5a
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766640455-f970bc2c-21e0-4d6e-81fa-9a981ca33064
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766640455-f970bc2c-21e0-4d6e-81fa-9a981ca33064
      Original-Request:
      - req_QUtMEztCY6vi3k
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "price_1Si75HH54PcLeqtYUiBVSlUj",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1766640455,
          "currency": "usd",
          "custom_unit_amount": null,
          "livemode": false,
          "lookup_key": null,
          "metadata": {},
          "nickname": null,
          "product": "prod_TfRzCoStNXfr5a",
          "recurring": {
            "interval": "month",
            "interval_count": 1,
            "meter": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "tax_behavior": "unspecified",
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "recurring",
          "unit_amount": 2000,
          "unit_amount_decimal": "2000"
        }
  recorded_at: Thu, 25 Dec 2025 05:27:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_TfRzPgBVDYD5J3&items[0][price]=price_1Si75HH54PcLeqtYUiBVSlUj
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766640455-3a335b81-1f59-4c72-b0dc-f70486d62239
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766640455-3a335b81-1f59-4c72-b0dc-f70486d62239
      Original-Request:
      - req_8h8Ycl1tjpr356
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "This customer has no attached payment source or default payment method. Please consider adding a default payment method. For more information, visit https://stripe.com/docs/billing/subscriptions/payment-methods-setting#payment-method-priority.",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_8h8Ycl1tjpr356?t=1766640455",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 05:27:36 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=invoice-sub-filter%40example.com
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766640536-bc3292cd-b7fa-405a-893f-63ea9a322b62
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766640536-bc3292cd-b7fa-405a-893f-63ea9a322b62
      Original-Request:
      - req_YI2Z9V4CL2o70Z
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfS0IfNp7vSaST",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766640537,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "invoice-sub-filter@example.com",
          "invoice_prefix": "A6DZVBDZ",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 25 Dec 2025 05:28:57 GMT
[...]
