---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Test+Product+1766640458
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766640458-3586a8c2-052e-48fd-93a1-26bb0eef0932
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766640458-3586a8c2-052e-48fd-93a1-26bb0eef0932
      Original-Request:
      - req_01yS4w1SAUBN2k
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfRzWyJvhCe2wu",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766640458,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Test Product 1766640458",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766640458,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 05:27:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/prices
    body:
      encoding: UTF-8
      string: unit_amount=5000&currency=usd&product=prod_TfRzWyJvhCe2wu
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766640458-2df730ec-a144-4c9e-94ce-df38be01c13f
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766640458-2df730ec-a144-4c9e-94ce-df38be01c13f
      Original-Request:
      - req_pmYXzzrxL5m1O5
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "price_1Si75KH54PcLeqtYsHvLoBna",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1766640458,
          "currency": "usd",
          "custom_unit_amount": null,
          "livemode": false,
          "lookup_key": null,
          "metadata": {},
          "nickname": null,
          "product": "prod_TfRzWyJvhCe2wu",
          "recurring": null,
          "tax_behavior": "unspecified",
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "one_time",
          "unit_amount": 5000,
          "unit_amount_decimal": "5000"
        }
  recorded_at: Thu, 25 Dec 2025 05:27:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_TfRzduocoFPI7e&price=price_1Si75KH54PcLeqtYsHvLoBna
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766640458-98c229b1-a271-43bb-bcd9-2e626d72b389
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766640458-98c229b1-a271-43bb-bcd9-2e626d72b389
      Original-Request:
      - req_ZK6kFIGpR0zZ30
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "parameter_unknown",
            "doc_url": "https://stripe.com/docs/error-codes/parameter-unknown",
            "message": "Received unknown parameter: price. Did you mean pricing?",
            "param": "price",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_ZK6kFIGpR0zZ30?t=1766640459",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 05:27:39 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=invoice-pagination-0%40example.com
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766643281-e4468979-c525-4c06-bc23-39c830b15466
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766643281-e4468979-c525-4c06-bc23-39c830b15466
      Original-Request:
      - req_2ubEyEj5jKPIyl
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfSkR65HjeX0rJ",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766643282,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "invoice-pagination-0@example.com",
          "invoice_prefix": "1W2GSWLZ",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 25 Dec 2025 06:14:42 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_TfSkR65HjeX0rJ&price=price_1Si7otH54PcLeqtYr5DYKM9w
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766643283-3aa68661-be43-4401-926c-3e324ffc98c2
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766643283-3aa68661-be43-4401-926c-3e324ffc98c2
      Original-Request:
      - req_2Z7N1URzbkDKCM
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "parameter_unknown",
            "doc_url": "https://stripe.com/docs/error-codes/parameter-unknown",
            "message": "Received unknown parameter: price. Did you mean pricing?",
            "param": "price",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_2Z7N1URzbkDKCM?t=1766643283",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 06:14:43 GMT
recorded_with: VCR 6.3.1
