---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Test+Product+1766640443
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766640443-b630b33a-a6d0-4e64-85f3-abcb9e3e5bf3
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766640443-b630b33a-a6d0-4e64-85f3-abcb9e3e5bf3
      Original-Request:
      - req_4uWr6dewJUTBYt
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfRzmacYkan7PT",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766640443,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Test Product 1766640443",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766640443,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 05:27:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/prices
    body:
      encoding: UTF-8
      string: unit_amount=5000&currency=usd&product=prod_TfRzmacYkan7PT
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766640443-640678f6-294d-4966-b3aa-8b1f1857465a
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766640443-640678f6-294d-4966-b3aa-8b1f1857465a
      Original-Request:
      - req_aijWydU2yNqhly
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "price_1Si755H54PcLeqtYsdx9BJ4f",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1766640443,
          "currency": "usd",
          "custom_unit_amount": null,
          "livemode": false,
          "lookup_key": null,
          "metadata": {},
          "nickname": null,
          "product": "prod_TfRzmacYkan7PT",
          "recurring": null,
          "tax_behavior": "unspecified",
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "one_time",
          "unit_amount": 5000,
          "unit_amount_decimal": "5000"
        }
  recorded_at: Thu, 25 Dec 2025 05:27:24 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_TfRzaLVBIaqzCT&price=price_1Si755H54PcLeqtYsdx9BJ4f
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766640444-9092cb23-b41e-4c3a-8200-72f92a5d530e
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766640444-9092cb23-b41e-4c3a-8200-72f92a5d530e
      Original-Request:
      - req_IEYCyerqn2ZEa1
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "parameter_unknown",
            "doc_url": "https://stripe.com/docs/error-codes/parameter-unknown",
            "message": "Received unknown parameter: price. Did you mean pricing?",
            "param": "price",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_IEYCyerqn2ZEa1?t=1766640444",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 05:27:24 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=invoice-test%40example.com
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766640546-37bfa330-09bc-4461-9862-235e70ef1d52
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766640546-37bfa330-09bc-4461-9862-235e70ef1d52
      Original-Request:
      - req_wRC6n8u6WgPxyM
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfS0Pk34nRjw1g",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766640546,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "invoice-test@example.com",
          "invoice_prefix": "FE2BBXNC",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 25 Dec 2025 05:29:06 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_TfS0Pk34nRjw1g&price=price_1Si7PLH54PcLeqtYsARBZ4qb
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766641699-24b17820-78f0-455d-bd48-cec24f23e319
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766641699-24b17820-78f0-455d-bd48-cec24f23e319
      Original-Request:
      - req_T3hQPrLhM1WbXr
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "parameter_unknown",
            "doc_url": "https://stripe.com/docs/error-codes/parameter-unknown",
            "message": "Received unknown parameter: price. Did you mean pricing?",
            "param": "price",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_T3hQPrLhM1WbXr?t=1766641699",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 05:48:20 GMT
recorded_with: VCR 6.3.1
