---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "in_1SiFBwH54PcLeqtYeVNbIHHD",
              "object": "invoice",
              "account_country": "CA",
              "account_name": "Onetime.dev",
              "account_tax_ids": null,
              "amount_due": 0,
              "amount_overpaid": 0,
              "amount_paid": 0,
              "amount_remaining": 0,
              "amount_shipping": 0,
              "application": null,
              "attempt_count": 0,
              "attempted": false,
              "auto_advance": false,
              "automatic_tax": {
                "disabled_reason": null,
                "enabled": false,
                "liability": null,
                "provider": null,
                "status": null
              },
              "automatically_finalizes_at": null,
              "billing_reason": "manual",
              "collection_method": "charge_automatically",
              "created": 1766671620,
              "currency": "usd",
              "custom_fields": null,
              "customer": "cus_TfaMqSOUagNNWr",
              "customer_account": null,
              "customer_address": null,
              "customer_email": "invoice-test@example.com",
              "customer_name": null,
              "customer_phone": null,
              "customer_shipping": null,
              "customer_tax_exempt": "none",
              "customer_tax_ids": [],
              "default_payment_method": null,
              "default_source": null,
              "default_tax_rates": [],
              "description": null,
              "discounts": [],
              "due_date": null,
              "effective_at": null,
              "ending_balance": null,
              "footer": null,
              "from_invoice": null,
              "hosted_invoice_url": null,
              "invoice_pdf": null,
              "issuer": {
                "type": "self"
              },
              "last_finalization_error": null,
              "latest_revision": null,
              "lines": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/invoices/in_1SiFBwH54PcLeqtYeVNbIHHD/lines"
              },
              "livemode": false,
              "metadata": {},
              "next_payment_attempt": null,
              "number": null,
              "on_behalf_of": null,
              "parent": null,
              "payment_settings": {
                "default_mandate": null,
                "payment_method_options": null,
                "payment_method_types": null
              },
              "period_end": 1766671620,
              "period_start": 1766671620,
              "post_payment_credit_notes_amount": 0,
              "pre_payment_credit_notes_amount": 0,
              "receipt_number": null,
              "rendering": {
                "amount_tax_display": null,
                "pdf": {
                  "page_size": "auto"
                },
                "template": null,
                "template_version": null
              },
              "shipping_cost": null,
              "shipping_details": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "status": "draft",
              "status_transitions": {
                "finalized_at": null,
                "marked_uncollectible_at": null,
                "paid_at": null,
                "voided_at": null
              },
              "subtotal": 0,
              "subtotal_excluding_tax": 0,
              "test_clock": null,
              "total": 0,
              "total_discount_amounts": [],
              "total_excluding_tax": 0,
              "total_pretax_credit_amounts": [],
              "total_taxes": [],
              "webhooks_delivered_at": 1766671620
            },
            {
              "id": "in_1SiFBuH54PcLeqtYAKZfBiyN",
              "object": "invoice",
              "account_country": "CA",
              "account_name": "Onetime.dev",
              "account_tax_ids": null,
              "amount_due": 0,
              "amount_overpaid": 0,
              "amount_paid": 0,
              "amount_remaining": 0,
              "amount_shipping": 0,
              "application": null,
              "attempt_count": 0,
         [...]
