---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/prices
    body:
      encoding: UTF-8
      string: unit_amount=5000&currency=cad&product=prod_TfaMBnQT95xn3Y
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766671614-18485dd3-6915-4de5-adad-7f78832d3517
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766671614-18485dd3-6915-4de5-adad-7f78832d3517
      Original-Request:
      - req_4Iti8U7c036kIi
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "price_1SiFBqH54PcLeqtYb10ZGFIF",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1766671614,
          "currency": "cad",
          "custom_unit_amount": null,
          "livemode": false,
          "lookup_key": null,
          "metadata": {},
          "nickname": null,
          "product": "prod_TfaMBnQT95xn3Y",
          "recurring": null,
          "tax_behavior": "unspecified",
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "one_time",
          "unit_amount": 5000,
          "unit_amount_decimal": "5000"
        }
  recorded_at: Thu, 25 Dec 2025 14:06:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_TfaMlzsTsGI8RH&pricing[price]=price_1SiFBqH54PcLeqtYb10ZGFIF
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766671614-c0152d25-86aa-42ac-92a6-980f2ac0e25a
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766671614-c0152d25-86aa-42ac-92a6-980f2ac0e25a
      Original-Request:
      - req_NuTb0AraK4S8ax
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ii_1SiFBqH54PcLeqtYevjcbEL4",
          "object": "invoiceitem",
          "amount": 5000,
          "currency": "cad",
          "customer": "cus_TfaMlzsTsGI8RH",
          "customer_account": null,
          "date": 1766671614,
          "description": "VCR Test Product",
          "discountable": true,
          "discounts": [],
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "parent": null,
          "period": {
            "end": 1766671614,
            "start": 1766671614
          },
          "pricing": {
            "price_details": {
              "price": "price_1SiFBqH54PcLeqtYb10ZGFIF",
              "product": "prod_TfaMBnQT95xn3Y"
            },
            "type": "price_details",
            "unit_amount_decimal": "5000"
          },
          "proration": false,
          "quantity": 1,
          "tax_rates": [],
          "test_clock": null
        }
  recorded_at: Thu, 25 Dec 2025 14:06:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: UTF-8
      string: customer=cus_TfaMlzsTsGI8RH&auto_advance=false
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766671614-7d5d5327-111c-4aad-8175-cc71ac1cfc59
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766671614-7d5d5327-111c-4aad-8175-cc71ac1cfc59
      Original-Request:
      - req_J0JzK20uGARubx
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "in_1SiFBqH54PcLeqtYaOlnFiVH",
          "object": "invoice",
          "account_country": "CA",
          "account_name": "Onetime.dev",
          "account_tax_ids": null,
          "amount_due": 0,
          "amount_overpaid": 0,
          "amount_paid": 0,
          "amount_remaining": 0,
          "amount_shipping": 0,
          "application": null,
          "attempt_count": 0,
          "attempted": false,
          "auto_advance": false,
          "automatic_tax": {
            "disabled_reason": null,
            "enabled": false,
            "liability": null,
            "provider": null,
            "status": null
          },
          "automatically_finalizes_at": null,
          "billing_reason": "manual",
          "collection_method": "charge_automatically",
          "created": 1766671614,
          "currency": "cad",
          "custom_fields": null,
          "customer": "cus_TfaMlzsTsGI8RH",
          "customer_account": null,
          "customer_address": null,
          "customer_email": "invoice-test@example.com",
          "customer_name": null,
          "customer_phone": null,
          "customer_shipping": null,
          "customer_tax_exempt": "none",
          "customer_tax_ids": [],
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discounts": [],
          "due_date": null,
          "effective_at": null,
          "ending_balance": null,
          "footer": null,
          "from_invoice": null,
          "hosted_invoice_url": null,
          "invoice_pdf": null,
          "issuer": {
            "type": "self"
          },
          "last_finalization_error": null,
          "latest_revision": null,
          "lines": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/invoices/in_1SiFBqH54PcLeqtYaOlnFiVH/lines"
          },
          "livemode": false,
          "metadata": {},
          "next_payment_attempt": null,
          "number": null,
          "on_behalf_of": null,
          "parent": null,
          "payment_settings": {
            "default_mandate": null,
            "payment_method_options": null,
            "payment_method_types": null
          },
          "period_end": 1766671614,
          "period_start": 1766671614,
          "post_payment_credit_notes_amount": 0,
          "pre_payment_credit_notes_amount": 0,
          "receipt_number": null,
          "rendering": {
            "amount_tax_display": null,
            "pdf": {
              "page_size": "auto"
            },
            "template": null,
            "template_version": null
          },
          "shipping_cost": null,
          "shipping_details": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "status": "draft",
          "status_transitions": {
            "finalized_at": null,
            "marked_uncollectible_at": null,
            "paid_at": null,
            "voided_at": null
          },
          "subtotal": 0,
          "subtotal_excluding_tax": 0,
          "test_clock": null,
          "total": 0,
          "total_discount_amounts": [],
          "total_excluding_tax": 0,
          "total_pretax_credit_amounts": [],
          "total_taxes": [],
          "webhooks_delivered_at": 1766671614
        }
  recorded_at: Thu, 25 Dec 2025 14:06:55 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_TfaMlzsTsGI8RH&limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      [...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_TfaMlzsTsGI8RH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfaMlzsTsGI8RH",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Thu, 25 Dec 2025 14:06:55 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=invoice-test%40example.com
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766985634-bace81a6-0511-49e8-8767-5a65f91556f7
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766985634-bace81a6-0511-49e8-8767-5a65f91556f7
      Original-Request:
      - req_xSPm0qXyEUuUQd
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TgwmnxDAiZCM7h",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766985635,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "invoice-test@example.com",
          "invoice_prefix": "3JLVXRAL",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 29 Dec 2025 05:20:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=VCR+Test+Product
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766985635-621c86d5-3464-48ab-8e8c-6a38200ddbf2
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766985635-621c86d5-3464-48ab-8e8c-6a38200ddbf2
      Original-Request:
      - req_M4MfGR1fNXE0ev
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TgwmC4iGZBEFy1",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766985635,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "VCR Test Product",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766985635,
          "url": null
        }
  recorded_at: Mon, 29 Dec 2025 05:20:35 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_TgwmnxDAiZCM7h&limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      [...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_TgwmnxDAiZCM7h
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TgwmnxDAiZCM7h",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Mon, 29 Dec 2025 05:20:38 GMT
recorded_with: VCR 6.3.1
