body { font-family: georgia; margin: 0px; padding: 0px }
h1 { font-size: 16px; } /* Font Name: Graceful, Serifcap */
h1 a { text-decoration: none; color: #000}
#header {
  margin-bottom: 40px;
}

#corset {
  margin-left: 20%;
  margin-right: 20%;
}

#content {
  padding-left: 0px;
}

#content p {
  width: 80%;
}

#faq {
  margin-top: 60px;
  color: #444;
}
#footer {
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 60px;
  text-align: center;
  font-size: 80%;
  line-height: 80%;
  padding: 0px;
  padding-top: 10px;
  color: #999;
}

#footer a {
  color: #333;
}

#footer p {
  margin: 0px;
  padding: 4px;
}

.nav {
  color: #333;
  margin-top: 20px;
  margin-bottom: 30px;
}

.nav a {
  font-weight: bolder;
  text-decoration: none;
}

.nav li {
  list-style-type: none;
}
.nav li.primary {line-height: 36px; font-size: 26px;}
.nav li.secondary {font-size:16px; line-height: 16px}
.nav li.alt {font-size:24px; line-height: 24px}

.nav li.or {
  color: #999;
  font-size: 16px;
  line-height: 16px;
  margin-top: 10px;
  margin-left: 10px;
}
.nav em { font-style: normal; text-decoration: underline; }
#content .intro {
  font-size: 24px;
  font-weight: bold;
}
#content .intro2 {
  font-size: 20px;
}


.dotted{border-top:1px dotted #666;}


.private{font-size: 18px; line-height: 18px; margin-top: 10px}
#generate .secret input {width: 620px; font-size: 16px; line-height: 16px; padding: 6px; border: 0px;}
.private .secret input, .private .secret textarea { background-color: #ccc; color: #fff; padding: 5px; width: 90% }
.private .secret input[disabled] { background-color: #ccc; color: #fff }
.shared .secret input, .shared .secret textarea { background-color: #ccc; color: #fff; padding: 5px; width: 90% }
.secret p {padding: 6px; font-size: 80%; margin: 0px; color: #999; font-style: italic}
.uri input {width: 620px; font-size: 16px; line-height: 16px; padding: 6px; border: 0px; background-color: #ff0; }
.uri p {padding: 6px; font-size: 80%; margin: 0px; color: #999}
.passphrase { margin-bottom: 30px}
.passphrase input {width: 620px; font-size: 16px; line-height: 16px; padding: 6px; border: 0px; background-color: #ccc; color: #fff;}
.passphrase p {padding: 6px; font-size: 80%; margin: 0px; color: #999}
.secret {margin-bottom: 20px}
.uri{margin-bottom: 10px}
.pretext {
  line-height: 24px;
  font-size: 24px;
}
.nav .context {
  line-height: 16px;
  font-size: 16px;
  color: #999;
}



#banner {
  width: 100%;
  padding: 2px;
  margin: 0px;
  background-color: red;
}

#banner .broadcast {
  text-align: center;
  color: #fff;
}

.secretValue {width: 620px; font-size: 16px; line-height: 16px; padding: 6px; border: 1px solid #000; clear: both}

.tagline { width: 100%; text-align: center; font-style: italic; color: #999; margin-bottom: 20px;
}
input[type=submit] {
}

.optionToggle {
  margin-top: 10px;
  font-size: 12px;
}

.optionToggle a {
  color: #666;
}

#options {
  display: hide;
}

#fire button{width:280px; margin-top: 10px}
.button button {
  background-color: #e33100;
  border-left: 1px solid red;
  border-top: 1px solid red;
  border-right: 1px solid #740500;
  border-bottom: 1px solid #740500;
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: Georgia,serif;
  font-weight: bold;
  font-size: 20px;
  padding: 12px 10px;
  overflow: visible;
  margin: 0;
  text-shadow: 1px 1px 0 #740500;
  width: 100%;
}
.button button:hover {
  border-left: 1px solid #740500;
  border-top: 1px solid #740500;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  text-shadow: 1px 1px 0 #740500;
}

.err { color: orange; font-style: italic}
