body { font-family: georgia; margin: 0px; padding: 0px }
h1 { font-size: 16px; } /* Font Name: Graceful, Serifcap */
h1 a { text-decoration: none; color: #000}
#header {
  margin-bottom: 40px;
}

#corset {
  margin-left: 20%;
  margin-right: 20%;
}

#content {
  padding-left: 0px;
}

#footer {
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  font-size: 80%;
  line-height: 80%;
  padding: 0px;
  padding-top: 10px;
  color: #999;
  margin-top: 40px;
}

#footer a {
  color: #333;
}

#footer p {
  margin: 0px;
  padding: 4px;
}

.nav {
  line-height: 36px;
  font-size: 36px;
  color: #333;
  margin-top: 50px;
  margin-bottom: 60px;
}
.nav a {
  font-weight: bolder;
  text-decoration: none;
}

.nav li {
  list-style-type: none;
}

.nav li.or {
  color: #999;
  font-size: 16px;
  line-height: 16px;
  margin-top: 10px;
  margin-left: 10px;
}

.dotted{border-top:1px dotted #666;}


.private{font-size: 18px; line-height: 18px; margin-top: 10px}
.secret input {width: 620px; font-size: 16px; line-height: 16px; padding: 6px; border: 0px;}
.private .secret input { background-color: #ff0; color: #fff }
.private .secret input[disabled] { background-color: #ccc; color: #fff }
.shared .secret input { background-color: #ccc; color: #fff }
.secret p {padding: 6px; font-size: 80%; margin: 0px; color: #999; font-style: italic}
.uri input {width: 620px; font-size: 16px; line-height: 16px; padding: 6px; border: 0px}
.uri p {padding: 6px; font-size: 80%; margin: 0px; color: #999}
.secret {margin-bottom: 30px}
.uri{margin-bottom: 10px}
.context {
  line-height: 24px;
  font-size: 24px;
}


#banner {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: red;
}

#banner .broadcast {
  text-align: center;
  color: #fff;
}