---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TfaNZf6jQZfe20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNZf6jQZfe20",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671662,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [
            {
              "name": "Feature 1"
            }
          ],
          "metadata": {},
          "name": "Marketing Features Test Product",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671662,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:42 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?limit=100&product=prod_TfaNZf6jQZfe20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="Stripe"
      X-Wc:
      - ABHIJ
      Stripe-Version:
      - "<STRIPE_VERSION>"
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Invalid API Key provided: sk_test_mock",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 14:24:26 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_Tgwnuh0gdGu8UF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_Tgwnuh0gdGu8UF",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766985721,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [
            {
              "name": "Feature 1"
            }
          ],
          "metadata": {},
          "name": "Marketing Features Test Product",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766985721,
          "url": null
        }
  recorded_at: Mon, 29 Dec 2025 05:22:02 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?limit=100&product=prod_Tgwnuh0gdGu8UF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/prices"
        }
  recorded_at: Mon, 29 Dec 2025 05:22:02 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Marketing+Features+Test+Product&marketing_features[0][name]=Feature+1
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1771243936-4eff608a-6b50-4f02-a4b8-7bf7503950a6
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1771243936-4eff608a-6b50-4f02-a4b8-7bf7503950a6
      Original-Request:
      - req_5Mba5CKysbmJFQ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TzPTn9LDQUIF1s",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1771243936,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [
            {
              "name": "Feature 1"
            }
          ],
          "metadata": {},
          "name": "Marketing Features Test Product",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1771243936,
          "url": null
        }
  recorded_at: Mon, 16 Feb 2026 12:12:16 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TzPTn9LDQUIF1s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TzPTn9LDQUIF1s",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1771243936,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [
            {
              "name": "Feature 1"
            }
          ],
          "metadata": {},
          "name": "Marketing Features Test Product",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1771243936,
          "url": null
        }
  recorded_at: Mon, 16 Feb 2026 12:12:16 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?limit=100&product=prod_TzPTn9LDQUIF1s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/prices"
        }
  recorded_at: Mon, 16 Feb 2026 12:12:16 GMT
recorded_with: VCR 6.4.0
