---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Status+Test+Product
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766671659-ba3b0d1e-7c9d-4c3e-ac17-565a8a3be5d8
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766671659-ba3b0d1e-7c9d-4c3e-ac17-565a8a3be5d8
      Original-Request:
      - req_1swM0Nyc8f366O
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNz771Eq1fEl",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671659,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Status Test Product",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671659,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/prices
    body:
      encoding: UTF-8
      string: product=prod_TfaNz771Eq1fEl&unit_amount=500&currency=usd&recurring[interval]=month
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766671659-d29344a3-6775-466f-b759-66627bee3cdc
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766671659-d29344a3-6775-466f-b759-66627bee3cdc
      Original-Request:
      - req_tUdsH18O9ljjsC
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "price_1SiFCZH54PcLeqtYBd7x3F2U",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1766671659,
          "currency": "usd",
          "custom_unit_amount": null,
          "livemode": false,
          "lookup_key": null,
          "metadata": {},
          "nickname": null,
          "product": "prod_TfaNz771Eq1fEl",
          "recurring": {
            "interval": "month",
            "interval_count": 1,
            "meter": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "tax_behavior": "unspecified",
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "recurring",
          "unit_amount": 500,
          "unit_amount_decimal": "500"
        }
  recorded_at: Thu, 25 Dec 2025 14:07:39 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TfaNz771Eq1fEl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNz771Eq1fEl",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671659,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Status Test Product",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671659,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:39 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?limit=100&product=prod_TfaNz771Eq1fEl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "price_1SiFCZH54PcLeqtYBd7x3F2U",
              "object": "price",
              "active": true,
              "billing_scheme": "per_unit",
              "created": 1766671659,
              "currency": "usd",
              "custom_unit_amount": null,
              "livemode": false,
              "lookup_key": null,
              "metadata": {},
              "nickname": null,
              "product": "prod_TfaNz771Eq1fEl",
              "recurring": {
                "interval": "month",
                "interval_count": 1,
                "meter": null,
                "trial_period_days": null,
                "usage_type": "licensed"
              },
              "tax_behavior": "unspecified",
              "tiers_mode": null,
              "transform_quantity": null,
              "type": "recurring",
              "unit_amount": 500,
              "unit_amount_decimal": "500"
            }
          ],
          "has_more": false,
          "url": "/v1/prices"
        }
  recorded_at: Thu, 25 Dec 2025 14:07:39 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_TfaNz771Eq1fEl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "This product cannot be deleted because it has one or more user-created prices.",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_MKwVWJ6sVfzPj8?t=1766671659",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 14:07:39 GMT
recorded_with: VCR 6.3.1
