---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TfaN0QCer492Mh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaN0QCer492Mh",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766671658,
          "default_price": null,
          "description": "Test product description",
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Product with Description",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766671658,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 14:07:38 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?limit=100&product=prod_TfaN0QCer492Mh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/prices"
        }
  recorded_at: Thu, 25 Dec 2025 14:07:38 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_TfaN0QCer492Mh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaN0QCer492Mh",
          "object": "product",
          "deleted": true
        }
  recorded_at: Thu, 25 Dec 2025 14:07:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Product+with+Description&description=Test+product+description
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766985719-8516eddb-b925-44eb-ba12-08128f992042
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766985719-8516eddb-b925-44eb-ba12-08128f992042
      Original-Request:
      - req_wSUyEvhcsctuGF
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TgwnoiAhYYmSHy",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766985720,
          "default_price": null,
          "description": "Test product description",
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Product with Description",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766985720,
          "url": null
        }
  recorded_at: Mon, 29 Dec 2025 05:22:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products/prod_TgwnoiAhYYmSHy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TgwnoiAhYYmSHy",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766985720,
          "default_price": null,
          "description": "Test product description",
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Product with Description",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766985720,
          "url": null
        }
  recorded_at: Mon, 29 Dec 2025 05:22:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?limit=100&product=prod_TgwnoiAhYYmSHy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/prices"
        }
  recorded_at: Mon, 29 Dec 2025 05:22:00 GMT
recorded_with: VCR 6.3.1
