---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=true&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "prod_TzPUAQPd8daYy2",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1771243964,
              "default_price": null,
              "description": null,
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {},
              "name": "Amount Format Test",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": null,
              "tax_details": null,
              "type": "service",
              "unit_label": null,
              "updated": 1771243964,
              "url": null
            },
            {
              "id": "prod_TzPU6NaJ8WoSub",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1771243963,
              "default_price": null,
              "description": null,
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {},
              "name": "Stripe Client Test",
              "package_dimensions": null,[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=true&limit=100&starting_after=prod_TgwnyG2IxiILU8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encod[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=true&limit=100&starting_after=prod_TfaLpUg0M8iXT9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encod[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=true&limit=100&starting_after=prod_TfZSduVMT4FZLd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encod[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=true&limit=100&starting_after=prod_TfYEHXJWQG6YJY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encod[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=true&limit=100&starting_after=prod_TfSjL5oHbVxhAP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encod[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "price_1T1QfQH54PcLeqtYBaz9JPX2",
              "object": "price",
              "active": true,
              "billing_scheme": "per_unit",
              "created": 1771243964,
              "currency": "usd",
              "custom_unit_amount": null,
              "livemode": false,
              "lookup_key": null,
              "metadata": {},
              "nickname": null,
              "product": "prod_TzPUAQPd8daYy2",
              "recurring": {
                "interval": "month",
                "interval_count": 1,
                "meter": null,
                "trial_period_days": null,
                "usage_type": "licensed"
              },
              "tax_behavior": "unspecified",
              "tiers_mode": null,
              "transform_quantity": null,
              "type": "recurring",
              "unit_amount": 1299,
              "unit_amount_decimal": "1299"
            },
            {
              "id": "price_1T1QfPH54PcLeqtY9FLJbkPz",
              "object": "price",
              "active": true,
              "billing_scheme": "per_unit",
              "created": 1771243963,
              "currency": "usd",
              "custom_unit_amount": null,
              "livemode": false,
              "lookup_key": null,
              "metadata": {},
              "nickname": null,
              "product": "prod_TzPU6NaJ8WoSub",
             [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&starting_after=price_1SiFCBH54PcLeqtY5AQPAE22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2025-11-17.clover). We recommend upgrading
        to the latest API version, 2026-04-22.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "price_1SiFCAH54PcLeqtYRvEMT2Qj",
              "object": "price",
              "active": true,
       [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&starting_after=price_1SiEOyH54PcLeqtY19Nt7qXx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&starting_after=price_1SiDIRH54PcLeqtY2kauFJ7K
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&starting_after=price_1Si7o9H54PcLeqtYUUfeuSnB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
  [...]
