---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=true&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "prod_Tgx1pKc0ZbGOzU",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1766986576,
              "default_price": null,
              "description": null,
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {},
              "name": "Sub Test",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": null,
              "type": "service",
              "unit_label": null,
              "updated": 1766986576,
              "url": null
            },
            {
              "id": "prod_Tgwzpdye52RCN8",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1766986400,
              "default_price": null,
              "description": null,
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {},
              "name": "Sub Test",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": null,
              "type": "service",
              "unit_label": null,
              "updated": 1766986400,
              "url": null
            },
            {
              "id": "prod_Tgwo8lyipOIHcu",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1766985753,
              "default_price": null,
              "description": null,
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {
                "app": "onetimesecret"
              },
              "name": "Confirmation Test",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": null,
              "type": "service",
              "unit_label": null,
              "updated": 1766985753,
              "url": null
            },
            {
              "id": "prod_Tgwo04ltzm8ovg",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1766985752,
              "default_price": null,
              "description": null,
              "images": [],
              "livemode": false,
              "marketing_features": [
                {
                  "name": "Feature 1"
                }
              ],
              "metadata": {
                "app": "onetimesecret",
                "created": "2025-12-29T05:22:32Z",
                "display_order": "100",
                "show_on_plans_page": "true",
                "tier": "pro"
              },
              "name": "Marketing Section Test",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": null,
              "type": "service",
              "unit_label": null,
              "updated": 1766985752,
              "url": null
            },
            {
              "id": "prod_TgwoZRCO360AEp",
              "object": "product",
              "active": true,
          [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&product=prod_Tgwnm4ReUpqy6V
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/prices"
        }
  recorded_at: Wed, 31 Dec 2025 07:53:01 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&product=prod_TgwnliPORhAX6F
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/prices"
        }
  recorded_at: Wed, 31 Dec 2025 07:53:01 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&product=prod_Tgu2gHm4d5D1kK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "price_1SjyH4H54PcLeqtYJx35cyf0",
              "object": "price",
              "active": true,
              "billing_scheme": "per_unit",
              "created": 1767083246,
              "currency": "usd",
              "custom_unit_amount": null,
              "livemode": false,
              "lookup_key": null,
              "metadata": {},
              "nickname": null,
              "product": "prod_Tgu2gHm4d5D1kK",
              "recurring": {
                "interval": "year",
                "interval_count": 1,
                "meter": null,
                "trial_period_days": null,
                "usage_type": "licensed"
              },
              "tax_behavior": "unspecified",
              "tiers_mode": null,
              "transform_quantity": null,
              "type": "recurring",
              "unit_amount": 35600,
              "unit_amount_decimal": "35600"
            },
            {
              "id": "price_1SjyH4H54PcLeqtYeha00xpT",
              "object": "price",
              "active": true,
              "billing_scheme": "per_unit",
              "created": 1767083246,
              "currency": "usd",
              "custom_unit_amount": null,
              "livemode": false,
              "lookup_key": null,
              "metadata": {},
              "nickname": null,
              "product": "prod_Tgu2gHm4d5D1kK",
            [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&product=prod_Tgu22GLjPfwwHi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&product=prod_TfbFeq6IDd5ulZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/prices"
        }
  recorded_at: Wed, 31 Dec 2025 07:53:01 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=true&limit=100&starting_after=prod_TfaNBccJGSQIGY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      en[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&product=prod_TfaNdKr23kaQif
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/prices"
        }
  recorded_at: Wed, 31 Dec 2025 07:53:02 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&product=prod_TfaCajkbnBuNL4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/prices"
        }
  recorded_at: Wed, 31 Dec 2025 07:53:02 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=true&limit=100&starting_after=prod_TfZmm013fZdvmX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      en[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=true&limit=100&starting_after=prod_TfYmHIaN0NwYf8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      en[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&product=prod_TfYBCdJOx16GfJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/prices"
        }
  recorded_at: Wed, 31 Dec 2025 07:53:03 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&product=prod_TfY8ZC8bP6lGuE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/prices"
        }
  recorded_at: Wed, 31 Dec 2025 07:53:03 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=true&limit=100&starting_after=prod_TfY8ahHACVK35u
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "prod_TfY8OQhAZbjOK0",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1766663323,
              "default_price": null,
              "description": null,
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {
                "app": "onetimesecret",
                "created": "2025-12-25T11:48:43Z",
                "display_order": "0",
                "plan_id": "identity_v1",
                "region": "global"
              },
              "name": "Test Product",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": null,
              "type": "service",
              "unit_label": null,
              "updated": 1766663323,
              "url": null
            },
            {
              "id": "prod_TfY8FxsOjPfnq9",
              "object": "product",
              "active": true,
              "at[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=true&limit=100&starting_after=prod_TfRyN1HXrjClD7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      en[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&product=prod_TeFCbk1uiURbuc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/prices"
        }
  recorded_at: Wed, 31 Dec 2025 07:53:03 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&product=prod_TUpPoXf8R0X8sk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&product=prod_TTZ2GYuFfSZNiw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&product=prod_TTZ2rRgZLSDzxi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&product=prod_TTZ2233777gDDV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&product=prod_TTZ2qcBujqqaRC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: U[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: mode=subscription&line_items[0][price]=price_1SWv3WH54PcLeqtY0vDIgLta&line_items[0][quantity]=1&success_url=https%3A%2F%2F127.0.0.1%3A3000%2Fbilling%2Fwelcome%3Fsession_id%3D%7BCHECKOUT_SESSION_ID%7D&cancel_url=https%3A%2F%2F127.0.0.1%3A3000%2Faccount&customer_email=test-e0d10a6a%40example.com&client_reference_id=019b7365-69c8-76f4-bdca-ee794d38c122&locale=en&subscription_data[metadata][orgid]=019b7365-69c8-76f4-bdca-ee794d38c122&subscription_data[metadata][plan_id]=team_plus_v1_monthly&subscription_data[metadata][tier]=single_team&subscription_data[metadata][region]=EU&subscription_data[metadata][customer_extid]=ur9ovukmz9f7d9wa2hsv1xvgf1n
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 8c82ef859a238a7d92ec5de6a20376d2d03270eaa147c718d8d415ec282e76c0
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8c82ef859a238a7d92ec5de6a20376d2d03270eaa147c718d8d415ec282e76c0
      Original-Request:
      - req_1FP21NJ23TF8vR
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cs_test_a17UXhXiDQdE8fk6WbgNdB5OcOdRv766hEGQFkTSLJ41s6yThZhpuVSKmp",
          "object": "checkout.session",
          "adaptive_pricing": {
            "enabled": false
          },
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": 9900,
          "amount_total": 9900,
          "automatic_tax": {
            "enabled": false,
            "liability": null,
            "provider": null,
            "status": null
          },
          "billing_address_collection": null,
          "branding_settings": {
            "background_color": "#749220",
            "border_style": "rounded",
            "button_color": "#d69d00",
            "display_name": "Onetime.dev (automated tests)",
            "font_family": "default",
            "icon": null,
            "logo": null
          },
          "cancel_url": "https://127.0.0.1:3000/account",
          "client_reference_id": "019b7365-69c8-76f4-bdca-ee794d38c122",
          "client_secret": null,
          "collected_information": {
            "business_name": null,
            "individual_name": null,
            "shipping_details": null
          },
          "consent": null,
          "consent_collection": null,
          "created": 1767167588,
          "currency": "usd",
          "currency_conversion": null,
          "custom_fields": [],
          "custom_text": {
            "after_submit": null,
            "shipping_address": null,
            "submit": null,
            "terms_of_service_acceptance": null
          },
          "customer": null,
          "customer_account": null,
          "customer_creation": "always",
          "customer_details": {
            "address": null,
            "business_name": null,
            "email": "test-e0d10a6a@example.com",
            "individual_name": null,
            "name": null,
            "phone": null,
            "tax_exempt": "none",
            "tax_ids": null
          },
          "customer_email": "test-e0d10a6a@example.com",
          "discounts": [],
          "expires_at": 1767253988,
          "invoice": null,
          "invoice_creation": null,
          "livemode": false,
          "locale": "en",
          "metadata": {},
          "mode": "subscription",
          "origin_context": null,
          "payment_intent": null,
          "payment_link": null,
          "payment_method_collection": "always",
          "payment_method_configuration_details": {
            "id": "pmc_1SRUXyH54PcLeqtYWyNOGMZj",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card",
            "link"
          ],
          "payment_status": "unpaid",
          "permissions": null,
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "saved_payment_method_options": {
            "allow_redisplay_filters": [
              "always"
            ],
            "payment_method_remove": "disabled",
            "payment_method_save": null
          },
          "setup_intent": null,
          "shipping_address_collection": null,
          "shipping_cost": null,
          "shipping_options": [],
          "status": "open",
          "submit_type": null,
          "subscription": null,
          "success_url": "https://127.0.0.1:3000/billing/welcome?session_id={CHECKOUT_SESSION_ID}",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "ui_mode": "hosted",
          "url": "https://checkout.stripe.com/c/pay/cs_test_a17UXhXiDQdE8fk6WbgNdB5OcOdRv766hEGQFkTSLJ41s6yThZhpuVSKmp#fidnandhYHdWcXxpYCc%2FJ2FgY2RwaXEnKSdpamZkaWAnPydgaycpJ3ZwZ3Zmd2x1cWxqa1BrbHRwYGtgdnZAa2RnaWBhJz9jZGl2YCknZHVsTmB8Jz8ndW5acWB2cVowNFZXUF1UTTAxVWZJYHRxXEY0ZkRjV1NgQ1FxTzM9V2pmcnFNb0diPTxsVz1pb2dyTDVLR2YyS392NWZRUkBTYHRgNlZPYkBCN11jQlVsYWpyN0EzbX1qbzU1UmxHXXFWcU8nKSdjd2poVmB3c2B3Jz9xd3BgKSdnZGZuYndqcGthRmppancnPycmMjE8Nzc1JyknaWR8anBxUXx1YCc%2FJ3Zsa2JpYFpscWBoJyknYGtkZ2lgVWlkZmBtamlhYHd2Jz9xd3BgeCUl",
          "wallet_options": null
        }
  recorded_at: Wed, 31 Dec 2025 07:53:08 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: mode=subscription&line_items[0][price]=price_1SWv3WH54PcLeqtY0vDIgLta&line_items[0][quantity]=1&success_url=https%3A%2F%2F127.0.0.1%3A3000%2Fbilling%2Fwelcome%3Fsession_id%3D%7BCHECKOUT_SESSION_ID%7D&cancel_url=https%3A%2F%2F127.0.0.1%3A3000%2Faccount&customer_email=test-e0d10a6a%40example.com&client_reference_id=019b7365-69c8-76f4-bdca-ee794d38c122&locale=en&subscription_data[metadata][orgid]=019b7365-69c8-76f4-bdca-ee794d38c122&subscription_data[metadata][plan_id]=team_plus_v1_monthly&subscription_data[metadata][tier]=single_team&subscription_data[metadata][region]=EU&subscription_data[metadata][customer_extid]=ur9ovukmz9f7d9wa2hsv1xvgf1n
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 8c82ef859a238a7d92ec5de6a20376d2d03270eaa147c718d8d415ec282e76c0
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8c82ef859a238a7d92ec5de6a20376d2d03270eaa147c718d8d415ec282e76c0
      Idempotent-Replayed:
      - 'true'
      Original-Request:
      - req_1FP21NJ23TF8vR
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cs_test_a17UXhXiDQdE8fk6WbgNdB5OcOdRv766hEGQFkTSLJ41s6yThZhpuVSKmp",
          "object": "checkout.session",
          "adaptive_pricing": {
            "enabled": false
          },
          "after_expiration": null,
          "allow_pr[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: mode=subscription&line_items[0][price]=price_1SWv3WH54PcLeqtY0vDIgLta&line_items[0][quantity]=1&success_url=https%3A%2F%2F127.0.0.1%3A3000%2Fbilling%2Fwelcome%3Fsession_id%3D%7BCHECKOUT_SESSION_ID%7D&cancel_url=https%3A%2F%2F127.0.0.1%3A3000%2Faccount&customer_email=test-e0d10a6a%40example.com&client_reference_id=019b736a-61a5-753b-b50f-670d0af41c72&locale=en&subscription_data[metadata][orgid]=019b736a-61a5-753b-b50f-670d0af41c72&subscription_data[metadata][plan_id]=team_plus_v1_monthly&subscription_data[metadata][tier]=single_team&subscription_data[metadata][region]=EU&subscription_data[metadata][customer_extid]=ur90ktvqeqtpjix57x40xgtpweg
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 342b7ec8a3bb3572bb64832cfdcf094277495eb4ee0dc489ba18eb23fa10fa99
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="Stripe"
      X-Wc:
      - ABHIJ
      Stripe-Version:
      - "<STRIPE_VERSION>"
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Invalid API Key provided: sk_test_mock",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Wed, 31 Dec 2025 07:58:30 GMT
[...]
