---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=test%40example.com
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766664420-71a4a81d-83a9-4682-8f17-f25cb6bbfdae
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766664420-71a4a81d-83a9-4682-8f17-f25cb6bbfdae
      Original-Request:
      - req_SC5cwsa8RLaUke
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfYQwwn84cVpJZ",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766664420,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "test@example.com",
          "invoice_prefix": "E0T8WBOH",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 25 Dec 2025 12:07:00 GMT
recorded_with: VCR 6.3.1
