---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_invalid&limit=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such customer: 'cus_invalid'",
            "param": "customer",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_UYfxR2fQbVZNc7?t=1767161279",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Wed, 31 Dec 2025 06:07:59 GMT
recorded_with: VCR 6.3.1
