---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=plans-test-b9152dcd%40example.com
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 46a392b2-1099-4db4-aff3-5be39faee7a8
      Original-Request:
      - req_rzNhxLpMy5qzFj
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfRyYP8QirFEKw",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766640398,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "plans-test-b9152dcd@example.com",
          "invoice_prefix": "3GGOYOUV",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 25 Dec 2025 05:26:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_TfRyYP8QirFEKw&items[0][price]=price_test&metadata[custid]=019b53f9-30cb-7c5d-99a5-f72847318fe0&metadata[plan_id]=identity_v1&metadata[tier]=single_team
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 36384fa8-c2be-4d70-9d3f-4b2767649820
      Original-Request:
      - req_EYyEnqu6uqKnWc
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such price: 'price_test'",
            "param": "items[0][price]",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_EYyEnqu6uqKnWc?t=1766640399",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 05:26:39 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_TfS0YHsFVVG4W7&items[0][price]=price_test&metadata[custid]=019b53fa-c071-74d8-878c-6977e96dfcb2&metadata[plan_id]=identity_v1&metadata[tier]=single_team
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 193b0e51-2145-4eae-8afc-687a26ac4cbf
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 193b0e51-2145-4eae-8afc-687a26ac4cbf
      Original-Request:
      - req_n4jroLtmZ6hFZe
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such price: 'price_test'",
            "param": "items[0][price]",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_n4jroLtmZ6hFZe?t=1766640501",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 05:28:21 GMT
recorded_with: VCR 6.3.1
