---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: UTF-8
      string: customer=cus_TfYQlko1Iptygo&collection_method=send_invoice&days_until_due=30
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0dace138-feeb-4bb4-a174-24c37c5444e3
      Original-Request:
      - req_u0oWfeFydUvXkA
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Missing email. In order to create invoices that are sent to the customer, the customer must have a valid email.",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_u0oWfeFydUvXkA?t=1766664385",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 12:06:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '0348e106-d5ae-4b40-aa35-06b6745d879e'
      Original-Request:
      - req_hy3QCJxsVUPAZ1
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Tgwkn9ovOjnMcH",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766985538,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "WSF9PJUN",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 29 Dec 2025 05:18:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: UTF-8
      string: customer=cus_Tgwkn9ovOjnMcH&collection_method=send_invoice&days_until_due=30
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 718f62c8-10b3-4c56-ab6e-aac8ea2f8fb7
      Original-Request:
      - req_RgESJdowUni1Fw
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Missing email. In order to create invoices that are sent to the customer, the customer must have a valid email.",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_RgESJdowUni1Fw?t=1766985539",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 29 Dec 2025 05:18:59 GMT
recorded_with: VCR 6.3.1
