---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=sub-test%40example.com
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766643236-34eb4527-bd3f-4e37-89e4-00f8a6d2cef7
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766643236-34eb4527-bd3f-4e37-89e4-00f8a6d2cef7
      Original-Request:
      - req_0xQVja9zzNVGHq
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfSjILjAv6hB5a",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1766643236,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "sub-test@example.com",
          "invoice_prefix": "UTAK9BTY",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 25 Dec 2025 06:13:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Test+Product+1766643237
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766643237-e83f9a7f-69d9-4ea3-a3fd-cd1be2881e2a
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766643237-e83f9a7f-69d9-4ea3-a3fd-cd1be2881e2a
      Original-Request:
      - req_aXtbb2I75U2Dkc
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfSjtBccKjt0oS",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1766643237,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Test Product 1766643237",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1766643237,
          "url": null
        }
  recorded_at: Thu, 25 Dec 2025 06:13:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/prices
    body:
      encoding: UTF-8
      string: unit_amount=2000&currency=usd&recurring[interval]=month&product=prod_TfSjtBccKjt0oS
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766643237-73cbdeea-ed7e-4833-8686-7a95a9bb37f7
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766643237-73cbdeea-ed7e-4833-8686-7a95a9bb37f7
      Original-Request:
      - req_0xnz2xvs4MIKGX
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "price_1Si7o9H54PcLeqtYUUfeuSnB",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1766643237,
          "currency": "usd",
          "custom_unit_amount": null,
          "livemode": false,
          "lookup_key": null,
          "metadata": {},
          "nickname": null,
          "product": "prod_TfSjtBccKjt0oS",
          "recurring": {
            "interval": "month",
            "interval_count": 1,
            "meter": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "tax_behavior": "unspecified",
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "recurring",
          "unit_amount": 2000,
          "unit_amount_decimal": "2000"
        }
  recorded_at: Thu, 25 Dec 2025 06:13:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_TfSjILjAv6hB5a&items[0][price]=price_1Si7o9H54PcLeqtYUUfeuSnB
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766643237-61842fea-d453-41f3-8287-92223adc3746
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766643237-61842fea-d453-41f3-8287-92223adc3746
      Original-Request:
      - req_vn2RTLbCbmtmzL
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "This customer has no attached payment source or default payment method. Please consider adding a default payment method. For more information, visit https://stripe.com/docs/billing/subscriptions/payment-methods-setting#payment-method-priority.",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_vn2RTLbCbmtmzL?t=1766643238",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 06:13:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Test+Product+1766661798
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766661798-66fa5412-73b9-4d77-be72-26caca1174a7
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="Stripe"
      X-Wc:
      - ABHIJ
      Stripe-Version:
      - "<STRIPE_VERSION>"
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Invalid API Key provided: sk_test_mock",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 11:23:19 GMT
recorded_with: VCR 6.3.1
