---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/prices
    body:
      encoding: UTF-8
      string: unit_amount=2000&currency=cad&recurring[interval]=month&product=prod_TfaLmsEJHHqOlL
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766671546-eb092562-a1da-471b-8682-93e3d5c8b18e
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766671546-eb092562-a1da-471b-8682-93e3d5c8b18e
      Original-Request:
      - req_KBQ6wftcg4q3WW
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "price_1SiFAkH54PcLeqtYWDc02oDw",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1766671546,
          "currency": "cad",
          "custom_unit_amount": null,
          "livemode": false,
          "lookup_key": null,
          "metadata": {},
          "nickname": null,
          "product": "prod_TfaLmsEJHHqOlL",
          "recurring": {
            "interval": "month",
            "interval_count": 1,
            "meter": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "tax_behavior": "unspecified",
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "recurring",
          "unit_amount": 2000,
          "unit_amount_decimal": "2000"
        }
  recorded_at: Thu, 25 Dec 2025 14:05:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_TfaLl4KJqN8Dlm&items[0][price]=price_1SiFAkH54PcLeqtYWDc02oDw
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1766671546-a9815d12-126a-4c78-b963-3db4f408fb6c
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1766671546-a9815d12-126a-4c78-b963-3db4f408fb6c
      Original-Request:
      - req_TZaLg7Q4Pd2XNw
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_1SiFAkH54PcLeqtYqJZy8l4w",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_tax": {
            "disabled_reason": null,
            "enabled": false,
            "liability": null
          },
          "billing_cycle_anchor": 1766671546,
          "billing_cycle_anchor_config": null,
          "billing_mode": {
            "flexible": {
              "proration_discounts": "included"
            },
            "type": "flexible",
            "updated_at": 1766671546
          },
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "reason": null
          },
          "collection_method": "charge_automatically",
          "created": 1766671546,
          "currency": "cad",
          "customer": "cus_TfaLl4KJqN8Dlm",
          "customer_account": null,
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discounts": [],
          "ended_at": null,
          "invoice_settings": {
            "account_tax_ids": null,
            "issuer": {
              "type": "self"
            }
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_TfaL68kEz8fCJY",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1766671546,
                "current_period_end": 1769349946,
                "current_period_start": 1766671546,
                "discounts": [],
                "metadata": {},
                "plan": {
                  "id": "price_1SiFAkH54PcLeqtYWDc02oDw",
                  "object": "plan",
                  "active": true,
                  "amount": 2000,
                  "amount_decimal": "2000",
                  "billing_scheme": "per_unit",
                  "created": 1766671546,
                  "currency": "cad",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "meter": null,
                  "nickname": null,
                  "product": "prod_TfaLmsEJHHqOlL",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "price_1SiFAkH54PcLeqtYWDc02oDw",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1766671546,
                  "currency": "cad",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_TfaLmsEJHHqOlL",
                  "recurring": {
                    "interval": "month",
                    "interval_count": 1,
                    "meter": null,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tax_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 2000,
                  "unit_amount_decimal": "2000"
                },
                "quantity": 1,
                "subscription": "sub_1SiFAkH54PcLeqtYqJZy8l4w",
                "tax_rates": []
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_1SiFAkH54PcLeqtYqJZy8l4w"
          },
          "latest_invoice": "in_1SiFAkH54PcLeqtYiRKY6Sz8",
          "livemode": false,
          "metadata": {},
          "next_pending_invoice_item_invoice": null,
          "on_behalf_of": null,
          "pause_collection": null,
          "payment_settings": {
            "payment_method_options": null,
            "payment_method_types": null,
            "save_default_payment_method": "off"
          },
          "pending_invoice_item_interval": null,
          "pending_setup_intent": null,
          "pending_update": null,
          "plan": {
            "id": "price_1SiFAkH54PcLeqtYWDc02oDw",
            "object": "plan",
            "active": true,
            "amount": 2000,
            "amount_decimal": "2000",
            "billing_scheme": "per_unit",
            "created": 1766671546,
            "currency": "cad",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "meter": null,
            "nickname": null,
            "product": "prod_TfaLmsEJHHqOlL",
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start_date": 1766671546,
          "status": "active",
          "test_clock": null,
          "transfer_data": null,
          "trial_end": null,
          "trial_settings": {
            "end_behavior": {
              "missing_payment_method": "create_invoice"
            }
          },
          "trial_start": null
        }
  recorded_at: Thu, 25 Dec 2025 14:05:49 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_1SiFAkH54PcLeqtYqJZy8l4w
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      str[...]
[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_TfaLl4KJqN8Dlm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TfaLl4KJqN8Dlm",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Thu, 25 Dec 2025 14:05:50 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_1SjYsUH54PcLeqtYP0uklm7J
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      str[...]
[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_Tgwmny4DROAUbD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Tgwmny4DROAUbD",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Mon, 29 Dec 2025 05:20:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=sub-test%40example.com&source=tok_visa
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1779242545-4ac6e1f6-64be-43fd-8ac2-f8d02bb634d7
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1779242545-4ac6e1f6-64be-43fd-8ac2-f8d02bb634d7
      Original-Request:
      - req_YFH6k3s6o8mzfw
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UY5eM6rDgMxhrs",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1779242545,
          "currency": null,
          "customer_account": null,
          "default_source": "card_1TYzSoH7zmouMIBXI8cGTBIZ",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "sub-test@example.com",
          "invoice_prefix": "VNQYKPGA",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 20 May 2026 02:02:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=VCR+Test+Product
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1779242546-8c5ea53b-0594-409c-8ace-669bc9a2bc2f
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1779242546-8c5ea53b-0594-409c-8ace-669bc9a2bc2f
      Original-Request:
      - req_SD7tMv6gG6rvfi
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_UY5ea83FcgxnHq",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1779242546,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "VCR Test Product",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "tax_details": null,
          "type": "service",
          "unit_label": null,
          "updated": 1779242546,
          "url": null
        }
  recorded_at: Wed, 20 May 2026 02:02:26 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_1TYzSpH7zmouMIBXXFHUx5vP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string[...]
[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_UY5eM6rDgMxhrs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UY5eM6rDgMxhrs",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Wed, 20 May 2026 02:02:33 GMT
recorded_with: VCR 6.4.0
