/*@font-face {
  font-family: 'Zilla Slab';
  src: url('./fonts/zs/ZillaSlab-Regular.woff2') format('woff2'),
       url('./fonts/zs/ZillaSlab-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('./fonts/zs/ZillaSlab-Bold.woff2') format('woff2'),
       url('./fonts/zs/ZillaSlab-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('./fonts/zs/ZillaSlab-Italic.woff2') format('woff2'),
       url('./fonts/zs/ZillaSlab-Italic.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}*/
