@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme('fontFamily.serif');
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: theme('fontFamily.brand');
    /*margin: theme('spacing.5') 0;*/
  }

  button,
  a.block {
    font-family: theme('fontFamily.brand');
  }
  h1 {
    @apply mb-3 text-4xl font-bold text-gray-900;
  }
  h2 {
    @apply mb-3 text-3xl font-bold text-gray-800;
  }

  h3 {
    @apply mb-2 text-2xl font-semibold text-gray-700;
  }

  h4 {
    @apply mb-1 text-xl font-medium text-gray-600;
  }

  h5 {
    @apply mb-2 text-lg font-semibold text-gray-700;
  }
}
