---
http_interactions:
  - request:
      method: get
      uri: https://api.stripe.com/v1/customers?limit=50
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - '<STRIPE_API_KEY>'
        Stripe-Version:
          - '<STRIPE_VERSION>'
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Stripe-Version:
          - '<STRIPE_VERSION>'
        X-Wc:
          - ABGHIJ
      body:
        encoding: UTF-8
        string: |-
          {
            "object": "list",
            "data": [
              {
                "id": "cus_TgwjkqQCytnxoM",
                "object": "customer",
                "address": null,
                "balance": 0,
                "created": 1766985455,
                "currency": null,
                "customer_account": null,
                "default_source": null,
                "delinquent": false,
                "description": null,
                "discount": null,
                "email": "test@example.com",
                "invoice_prefix": "T3HN0IFD",
                "invoice_settings": {
                  "custom_fields": null,
                  "default_payment_method": null,
                  "footer": null,
                  "rendering_options": null
                },
                "livemode": false,
                "metadata": {},
                "name": null,
                "next_invoice_sequence": 1,
                "phone": null,
                "preferred_locales": [],
                "shipping": null,
                "tax_exempt": "none",
                "test_clock": null
              },
              {
                "id": "cus_TgwjcY1oDIhCzq",
                "object": "customer",
                "address": null,
                "balance": 0,
                "created": 1766985454,
                "currency": null,
                "customer_account": null,
                "default_source": null,
                "delinquent": false,
                "description": null,
                "discount": null,
                "email": "test@example.com",
        [...]
