---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "cus_UY5d9dkEfBvlbv",
              "object": "customer",
              "address": null,
              "balance": 0,
              "created": 1779242516,
              "currency": null,
              "customer_account": null,
              "default_source": null,
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "timestamp-format@example.com",
              "invoice_prefix": "V1W5DNO3",
              "invoice_settings": {
                "custom_fields": null,
                "default_payment_method": null,
                "footer": null,
                "rendering_options": null
              },
              "livemode": false,
              "metadata": {},
              "name": "Timestamp Format Test",
              "next_invoice_sequence": 1,
              "phone": null,
              "preferred_locales": [],
              "shipping": null,
              "tax_exempt": "none",
              "test_clock": null
            },
            {
              "id": "cus_UY5dpWC9LIb7Bk",
              "object": "customer",
              "address": null,
              "balance": 0,
              "created": 1779242515,
              "currency": null,
              "customer_account": null,
              "default_source": "card_1TYzSJH7zmouMIBXiRhoTyoU",
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "payment-methods@example.com"[...]
