---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&expand%5B%5D=data.product&limit=100&product=prod_TfaNXQRWba4eYZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/prices"
        }
  recorded_at: Thu, 25 Dec 2025 14:08:04 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_TfaNXQRWba4eYZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TfaNXQRWba4eYZ",
          "object": "product",
          "deleted": true
        }
  recorded_at: Thu, 25 Dec 2025 14:08:04 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&expand%5B%5D=data.product&limit=100&product=prod_TgwnO2mNigyxmr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/prices"
        }
  recorded_at: Mon, 29 Dec 2025 05:21:25 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_TgwnO2mNigyxmr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TgwnO2mNigyxmr",
          "object": "product",
          "deleted": true
        }
  recorded_at: Mon, 29 Dec 2025 05:21:26 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&expand%5B%5D=data.product&limit=100&product=prod_TzPUPJhfkWWuiQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/prices"
        }
  recorded_at: Mon, 16 Feb 2026 12:12:44 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_TzPUPJhfkWWuiQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_TzPUPJhfkWWuiQ",
          "object": "product",
          "deleted": true
        }
  recorded_at: Mon, 16 Feb 2026 12:12:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=Product+Filter+Test
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1779242504-bbcbab1a-2b95-410e-b0c4-2fbe58a304a7
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1779242504-bbcbab1a-2b95-410e-b0c4-2fbe58a304a7
      Original-Request:
      - req_6z7LXH1nbW4RrH
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_UY5dupm2hzLAkJ",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1779242504,
          "default_price": null,
          "description": null,
          "images": [],
          "livemode": false,
          "marketing_features": [],
          "metadata": {},
          "name": "Product Filter Test",
          "package_dimensions": null,
          "shippable": null,
          "statement_descriptor": null,
          "tax_code": null,
          "tax_details": null,
          "type": "service",
          "unit_label": null,
          "updated": 1779242504,
          "url": null
        }
  recorded_at: Wed, 20 May 2026 02:01:44 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&expand%5B%5D=data.product&limit=100&product=prod_UY5dupm2hzLAkJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/prices"
        }
  recorded_at: Wed, 20 May 2026 02:01:44 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/products/prod_UY5dupm2hzLAkJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_UY5dupm2hzLAkJ",
          "object": "product",
          "deleted": true
        }
  recorded_at: Wed, 20 May 2026 02:01:44 GMT
recorded_with: VCR 6.4.0
