---
http_interactions:
- request:
    method: post
    uri: https://catch.onetimesecret.com/api/2/envelope/
    body:
      encoding: UTF-8
      string: |-
        {"event_id":"75c64ca9bb8145d58d7d7f6b67c80c66","dsn":"https://e4f0e05ca113560573e15f5e52428419@catch.onetimesecret.com/2","sdk":{"name":"sentry.ruby","version":"6.5.0"},"sent_at":"2026-05-20T00:01:17Z","trace":{"trace_id":"181ace36e45b4f8faabe309cc5e280cb","sample_rate":"0.1","sample_rand":"0.050558","sampled":"true","environment":"development","release":"local-dev","public_key":"e4f0e05ca113560573e15f5e52428419"}}
        {"type":"transaction","content_type":"application/json"}
        {"event_id":"75c64ca9bb8145d58d7d7f6b67c80c66","level":"error","timestamp":1779235277.8334908,"release":"local-dev","environment":"development","server_name":"Tundra.local","modules":{"rake":"13.3.1","base64":"0.3.0","bigdecimal":"4.1.1","concurrent-ruby":"1.3.6","connection_pool":"2.5.5","drb":"2.2.3","i18n":"1.14.8","json":"2.19.5","logger":"1.7.0","minitest":"5.27.0","securerandom":"0.4.1","tzinfo":"2.0.6","uri":"1.1.1","activesupport":"8.1.2.1","activemodel":"8.1.2.1","public_suffix":"7.0.5","addressable":"2.9.0","aes_key_wrap":"1.1.0","amq-protocol":"2.5.1","android_key_attestation":"0.3.0","ffi":"1.17.3","ffi-compiler":"1.3.2","argon2":"2.3.3","ast":"2.4.3","attr_required":"1.0.2","aws-eventstream":"1.4.0","aws-partitions":"1.1226.0","aws-sigv4":"1.12.1","jmespath":"1.6.2","aws-sdk-core":"3.243.0","aws-sdk-sesv2":"1.96.0","backport":"1.2.0","bcrypt":"3.1.22","benchmark":"0.5.0","bindata":"2.5.1","bundler":"2.7.2","rbtree":"0.4.6","sorted_set":"1.1.0","bunny":"2.24.0","bunny-mock":"1.7.0","cbor":"0.5.10.1","chunky_png":"1.4.0","climate_control":"1.2.0","openssl":"4.0.1","openssl-signature_algorithm":"1.3.0","cose":"1.3.1","rexml":"3.4.4","crack":"1.0.1","crass":"1.0.6","csv":"3.3.5","database_cleaner-core":"2.0.1","sequel":"5.102.0","database_cleaner-sequel":"2.0.2","date":"3.5.1","prettyprint":"0.2.0","pp":"0.6.3","prism":"1.9.0","erb":"6.0.4","stringio":"3.1.9","psych":"5.2.6","tsort":"0.2.0","rdoc":"7.2.0","io-console":"0.8.2","reline":"0.6.3","irb":"1.17.0","debug":"1.11.1","diff-lcs":"1.6.2","docile":"1.4.1","dry-cli":"1.4.1","dry-inflector":"1.3.1","email_validator":"2.2.4","encryptor":"1.1.3","et-orbi":"1.4.0","faker":"3.6.1","hana":"1.3.7","regexp_parser":"2.11.3","simpleidn":"0.2.3","json_schemer":"2.5.0","ostruct":"0.6.3","oj":"3.16.17","redis-client":"0.28.0","redis":"5.4.1","uri-valkey":"1.4.0","familia":"2.9.1","net-http":"0.9.1","faraday-net_http":"3.4.2","faraday":"2.14.2","faraday-follow_redirects":"0.5.0","fastimage":"2.4.1","raabro":"1.4.0","fugit":"1.12.1","hashdiff":"1.2.1","hashie":"5.1.0","htmlbeautifier":"1.4.3","mini_mime":"1.1.5","multi_xml":"0.8.1","httparty":"0.24.2","ipaddr":"1.2.8","jaro_winkler":"1.7.0","json-jwt":"1.17.0","jwt":"3.1.2","language_server-protocol":"3.17.0.5","kanayago":"0.8.1","sigdump":"0.2.5","serverengine":"2.4.0","thor":"1.5.0","kicks":"3.2.0","kramdown":"2.5.2","kramdown-parser-gfm":"1.1.0","lettermint":"0.2.0","lint_roller":"1.1.0","rb-fsevent":"0.11.2","rb-inotify":"0.11.1","listen":"3.10.0","racc":"1.8.1","nokogiri":"1.19.3","loofah":"2.25.1","timeout":"0.6.1","net-protocol":"0.2.2","net-imap":"0.6.4","net-pop":"0.1.2","net-smtp":"0.5.1","mail":"2.9.0","mustache":"1.1.2","nio4r":"2.7.5","rack":"3.2.6","version_gem":"1.1.9","snaky_hash":"2.0.3","oauth2":"2.0.18","observer":"0.1.2","rack-protection":"4.2.1","omniauth":"2.1.4","omniauth-oauth2":"1.9.0","omniauth-entra-id":"3.1.1","omniauth-github":"2.0.1","omniauth-google-oauth2":"1.2.2","rack-oauth2":"2.3.0","swd":"2.0.3","validate_url":"1.0.15","webfinger":"2.1.3","openid_connect":"2.3.1","omniauth_openid_connect":"0.8.0","open3":"0.2.1","rack-parser":"0.7.0","otto":"2.0.2","parallel":"1.27.0","parser":"3.3.11.1","passforge":"1.1.2","tty-color":"0.6.0","pastel":"0.8.0","pg":"1.6.3","prettier_print":"1.2.1","puma":"7.2.0","rack-contrib":"2.5.0","rack-proxy":"0.7.7","rack-session":"2.1.2","rack-test":"2.2.0","rack-utf8_sanitizer":"1.11.1","rackup":"2.3.1","rainbow":"3.1.1","rbs":"3.10.3","rerun":"0.14.0","reverse_markdown":"3.0.2","tilt":"2.7.0","rhales":"0.6.0","roda":"3.102.0","rodauth":"2.42.0","rodauth-omniauth":"0.6.2","rodauth-tools":"0.3.1","rotp":"6.3.0","rqrcode_core":"2.1.0","rqrcode":"3.2.0","rspec-support":"4.0.0.beta1","rspec-core":"4.0.0.beta1","rspec-expectations":"4.0.0.beta1","rspec-mocks":"4.0.0.beta1","rspec":"4.0.0.beta1","rubocop-ast":"1.49.1","ruby-progressbar":"1.13.0","unicode-emoji":"4.2.0","unicode-display_width":"3.2.0","rubocop":"1.86.1","rubocop-performance":"1.26.1","rubocop-rspec":"3.9.0","rubocop-sequel":"0.4.1","rubocop-thread_safety":"0.7.3","ruby-lsp":"0.26.9","ruby_http_client":"3.6.0","rufus-scheduler":"3.9.2","safety_net_attestation":"0.5.0","sanitize":"7.0.0","semantic_logger":"4.17.0","sendgrid-ruby":"6.7.0","sentry-ruby":"6.5.0","simplecov-html":"0.13.2","simplecov_json_formatter":"0.1.4","simplecov":"0.22.0","yard":"0.9.42","yard-activesupport-concern":"0.0.1","yard-solargraph":"0.1.0","solargraph":"0.58.3","sqlite3":"2.9.2","stackprof":"0.2.28","stripe":"18.4.2","syntax_tree":"6.3.0","timecop":"0.9.10","tpm-key_attestation":"0.14.1","truemail":"3.3.1","tty-cursor":"0.7.1","tty-screen":"0.8.2","tryouts":"3.7.1","vcr":"6.4.0","webauthn":"3.4.3","webmock":"3.26.2","cgi":"0.4.2","delegate":"0.4.0","did_you_mean":"2.0.0","digest":"3.2.0","english":"0.8.0","error_highlight":"0.7.0","etc":"1.4.6","fcntl":"1.2.0","fiddle":"1.1.6","fileutils":"1.7.3","find":"0.2.0","forwardable":"1.3.3","io-nonblock":"0.3.2","io-wait":"0.3.2","open-uri":"0.5.0","optparse":"0.6.0","pathname":"0.4.0","pstore":"0.1.4","readline":"0.0.4","resolv":"0.6.2","ruby2_keywords":"0.0.5","set":"1.1.1","shellwords":"0.2.2","singleton":"0.3.0","strscan":"3.1.2","syntax_suggest":"2.0.2","tempfile":"0.3.1","time":"0.4.1","tmpdir":"0.3.1","un":"0.3.0","weakref":"0.1.3","yaml":"0.4.0","zlib":"3.2.3"},"message":"","user":{},"tags":{"site_host":"dev.onetime.dev","service":"web","jurisdiction":"ca","request_id":"3tkfhfs1ntvq1"},"contexts":{"os":{"name":"Darwin","version":"Darwin Kernel Version 25.4.0: Thu Mar 19 19:31:17 PDT 2026; root:xnu-12377.101.15~1/RELEASE_ARM64_T6020","build":"25.4.0","kernel_version":"Darwin Kernel Version 25.4.0: Thu Mar 19 19:31:17 PDT 2026; root:xnu-12377.101.15~1/RELEASE_ARM64_T6020","machine":"arm64"},"runtime":{"name":"ruby","version":"ruby 3.4.9 (2026-03-11 revision 76cca827ab) +YJIT +PRISM [arm64-darwin25]"},"trace":{"trace_id":"181ace36e45b4f8faabe309cc5e280cb","span_id":"aeed593f1ac44676","parent_span_id":null,"description":null,"op":"http.server","status":"ok","origin":"auto.http.rack","data":{"http.response.status_code":200}}},"extra":{},"fingerprint":[],"breadcrumbs":{"values":[]},"transaction":"/api/org/on8br37lzzlwsndwy7mgxz92uhg","transaction_info":{"source":"url"},"platform":"ruby","sdk":{"name":"sentry.ruby","version":"6.5.0"},"type":"transaction","request":{"url":"http://example.org/billing/api/org/on8br37lzzlwsndwy7mgxz92uhg","method":"GET","headers":{"X-Csrf-Token":"vTVaQq0iIesq8SMzqnRiDL_MypZAaYLV5rDri6Gfy-E="},"env":{"SERVER_NAME":"example.org","SERVER_PORT":"80"}},"spans":[{"trace_id":"181ace36e45b4f8faabe309cc5e280cb","span_id":"ae06dcc1b60d49ab","parent_span_id":"aeed593f1ac44676","start_timestamp":1779235277.819892,"timestamp":1779235277.820588,"description":"HGET customer:extid_lookup","op":"db.redis","status":null,"tags":{},"data":{"db.system":"redis","db.name":0,"server.address":"maindb","server.port":5212},"origin":"auto.db.redis"},{"trace_id":"181ace36e45b4f8faabe309cc5e280cb","span_id":"f9f064bbf6fe4d9c","parent_span_id":"aeed593f1ac44676","start_timestamp":1779235277.820631,"timestamp":1779235277.8210502,"description":"EXISTS customer:019e42af-cbde-7719-a217-8b4c6f9124a7:object","op":"db.redis","status":null,"tags":{},"data":{"db.system":"redis","db.name":0,"server.address":"maindb","server.port":5212},"origin":"auto.db.redis"},{"trace_id":"181ace36e45b4f8faabe309cc5e280cb","span_id":"a47[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&expand%5B%5D=data.product&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "price_1TYzS7H7zmouMIBXefXCmMQ5",
              "object": "price",
              "active": true,
              "billing_scheme": "per_unit",
              "created": 1779242503,
              "currency": "cad",
              "custom_unit_amount": null,
              "livemode": false,
              "lookup_key": null,
              "metadata": {},
              "nickname": null,
              "product": {
                "id": "prod_UY5dxbGHBnUFSD",
                "object": "product",
                "active": true,
                "attributes": [],
                "created": 1779242503,
                "default_price": null,
                "description": null,
                "images": [],
                "livemode": false,
                "marketing_features": [],
                "metadata": {},
                "name": "Interactive Mode Test",
                "package_dimensions": null,
                "shippable": null,
                "statement_descriptor": null,
                "tax_code": null,
                "tax_details": null,
                "type": "service",
                "unit_label": null,
                "updated": 1779242503,
                "url": null
              },
              "recurring": {
                "interval": "month",
                "interval_count": 1,
                "meter": null,
                "trial_period_days": null,
                "usage_type": "licensed"
              },
              "tax_behavior": "unspecified",
              "tiers_mode": null,
              "transform_quantity": null,
              "type": "recurring",
              "unit_amount": 900,
              "unit_amount_decimal": "900"
            },
            {
              "id": "price_1TYzS6H7zmouMIBX0NOBNjzy",
              "object": "price",
              "active": true,
              "billing_scheme": "per_unit",
              "created": 1779242502,
              "currency": "cad",
              "custom_unit_amount": null,
              "livemode": false,
              "lookup_key": null,
              "metadata": {},
              "nickname": null,
              "product": {
                "id": "prod_UY5dzkD[...]
