---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&expand%5B%5D=data.product&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "price_1SiFCxH54PcLeqtYahC3oaaI",
              "object": "price",
              "active": true,
              "billing_scheme": "per_unit",
              "created": 1766671683,
              "currency": "usd",
              "custom_unit_amount": null,
              "livemode": false,
              "lookup_key": null,
              "metadata": {},
              "nickname": null,
              "product": {
                "id": "prod_TfaNNY1Vsd1Tgp",
                "object": "product",
                "active": true,
                "attributes": [],
                "created": 1766671683,
                "default_price": null,
                "description": null,
                "images": [],
                "livemode": false,
                "marketing_features": [],
                "metadata": {},
                "name": "Week Interval Test",
                "package_dimensions": null,
                "shippable": null,
                "statement_descriptor": null,
                "tax_code": null,
                "type": "service",
                "unit_label": null,
                "updated": 1766671683,
                "url": null
              },
              "recurring": {
                "interval": "week",
                "interval_count": 1,
                "meter": null,
                "trial_period_days": null,
                "usage_type": "licensed"
              },
              "tax_behavior": "unspecified",
              "tiers_mode": null,
              "transform_quantity": null,
              "type": "recurring",
              "unit_amount": 200,
              "unit_amount_decimal": "200"
            },
            {
              "id": "price_1SiFCxH54PcLeqtYu2cfdRTI",
              "object": "price",
              "active": true,
              "billing_scheme": "per_unit",
              "created": 1766671683,
              "currency": "usd",
              "custom_unit_amount": null,
              "livemode": false,
              "lookup_key": null,
              "metadata": {},
              "nickname": null,
              "product": {
                "id": "prod_TfaNgjL[...]
