---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=false&expand%5B%5D=data.product&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "price_1SWaFKH54PcLeqtYrxz3QnGS",
              "object": "price",
              "active": false,
              "billing_scheme": "per_unit",
              "created": 1763892618,
              "currency": "usd",
              "custom_unit_amount": null,
              "livemode": false,
              "lookup_key": null,
              "metadata": {
                "foo": "bar"
              },
              "nickname": null,
              "product": {
                "id": "prod_TTXJy8SnSrQHJH",
                "object": "product",
                "active": false,
                "attributes": [],
                "created": 1763892618,
                "default_price": null,
                "description": "(created by Stripe CLI)",
                "images": [],
                "livemode": false,
                "marketing_features": [],
                "metadata": {},
                "name": "myproduct",
                "package_dimensions": null,
                "shippable": null,
                "statement_descriptor": null,
                "tax_code": null,
                "type": "service",
                "unit_label": null,
                "updated": 1763895756,
                "url": null
              },
              "recurring": {
                "interval": "month",
                "interval_count": 1,
                "meter": null,
                "trial_period_days": null,
                "usage_type": "licensed"
              },
              "tax_behavior": "unspecified",
              "tiers_mode": null,
              "transform_quantity": null,
              "type": "recurring",
              "unit_amount": 1500,
              "unit_amount_decimal": "1500"
            },
            {
              "id": "price_1SWaCjH54PcLeqtY3RfAyDTb",
              "object": "price",
              "active": false,
              "billing_scheme": "per_unit",
              "created": 1763892457,
              "currency": "usd",
              "custom_unit_amount": null,
              "livemode": false,
              "lookup_key": null,
              "metadata": {},
              "nickname": null,
              "product": {
                "id": "prod_TTXHn[...]
