---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=false&expand%5B%5D=data.product&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "price_1TTRl2H7zmouMIBXd0f26Oaq",
              "object": "price",
              "active": false,
              "billing_scheme": "per_unit",
              "created": 1777921340,
              "currency": "cad",
              "custom_unit_amount": null,
              "livemode": false,
              "lookup_key": null,
              "metadata": {},
              "nickname": null,
              "product": {
                "id": "prod_U01ohXs3elRcmU",
                "object": "product",
                "active": true,
                "attributes": [],
                "created": 1771386524,
                "default_price": null,
                "description": null,
                "images": [],
                "livemode": false,
                "marketing_features": [
                  {
                    "name": "web.billing.features.custom_domains"
                  },
                  {
                    "name": "web.billing.features.custom_branding"
                  },
                  {
                    "name": "web.billing.features.extended_retention"
                  },
                  {
                    "name": "web.billing.features.homepage_secrets"
                  },
                  {
                    "name": "web.billing.features.api_access"
                  },
                  {
                    "name": "web.billing.features.manage_sso"
                  }
                ],
                "metadata": {
                  "app": "onetimesecret",
                  "created": "2026-02-18T03:48:44Z",
                  "currency": "cad",
                  "display_order": "10",
                  "entitlements": "create_secrets,view_receipt,api_access,custom_domains,custom_privacy_defaults,custom_branding,homepage_secrets,incoming_secrets,custom_mail_sender,flexible_from_domain,manage_sso",
                  "limit_custom_domains": "-1",
                  "limit_members_per_team": "1",
                  "limit_secret_lifetime": "1209600",
                  "limit_secrets_per_day": "-1",
                  "ots_is_popular": "false",
                  "plan_id": "identity_plus_v1",
                  "region": "CA",
                  "show_on_plans_page": "true",
                  "tenancy": "multi",
                  "tier": "single_account"
                },
                "name": "Identity Plus (CA)",
                "package_dimensions": null,
                "shippable": null,
                "statement_descriptor": null,
                "tax_code": null,
                "tax_details": null,
                "type": "service",
                "unit_label": null,
                "updated": 1777921484,
                "url": null
              },
              "recurring": {
                "interval": "month",
                "interval_count": 1,
                "meter": null,
                "trial_period_days": null,
                "usage_type": "licensed"
              },
              "tax_behavior": "unspecified",
              "tiers_mode": null,
              "transform_quantity": null,
              "type": "recurring",
              "unit_amount": 0,
              "unit_amount_decimal": "0"
            },
            {
              "id": "price_1SkBFbH7zmouMIBXToGOw37k",
              "object": "price",
              "active": false,
              "billing_scheme": "per_unit",
              "created": 1767133127,
              "currency": "usd",
              "custom_unit_amount": null,
              "livemode": false,
              "lookup_key": null,
              "metadata": {},
              "nickname": null,
              "product": {
                "id": "prod_ThaQN7qz[...]
