{
  "openapi": "3.1.0",
  "info": {
    "title": "Onetime Secret API v1",
    "version": "0.24.0",
    "description": "Legacy REST API (frozen)"
  },
  "servers": [
    {
      "url": "https://nz.onetimesecret.com",
      "description": "Aotearoa New Zealand"
    },
    {
      "url": "https://ca.onetimesecret.com",
      "description": "Canada"
    },
    {
      "url": "https://eu.onetimesecret.com",
      "description": "Europe"
    },
    {
      "url": "https://uk.onetimesecret.com",
      "description": "United Kingdom"
    },
    {
      "url": "https://us.onetimesecret.com",
      "description": "United States"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development"
    }
  ],
  "paths": {
    "/api/v1/status": {
      "get": {
        "operationId": "v1_status",
        "summary": "status",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "locale": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "locale"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "x-otto-route-openapi_auth": "basic,anonymous",
        "security": [
          {
            "basicAuth": []
          },
          {}
        ]
      }
    },
    "/api/v1/authcheck": {
      "get": {
        "operationId": "v1_authcheck",
        "summary": "authcheck",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "locale": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "locale"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "x-otto-route-openapi_auth": "basic",
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/api/v1/share": {
      "post": {
        "operationId": "v1_share",
        "summary": "share",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "custid": {
                      "type": "string"
                    },
                    "metadata_key": {
                      "type": "string"
                    },
                    "secret_key": {
                      "type": "string"
                    },
                    "ttl": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "metadata_ttl": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "secret_ttl": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "metadata_url": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "state": {
                      "type": "string"
                    },
                    "updated": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "created": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "received": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "recipient": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "share_domain": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    },
                    "passphrase_required": {
                      "type": "boolean"
                    },
                    "identifier": {
                      "type": "string",
                      "description": "v0.24 name for metadata_key. Prefer this field for new integrations."
                    },
                    "secret_identifier": {
                      "description": "v0.24 name for secret_key. Absent when state is received.",
                      "type": "string"
                    },
                    "has_passphrase": {
                      "description": "v0.24 name for passphrase_required. Present only when a passphrase was set.",
                      "type": "boolean"
                    },
                    "recipients": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "v0.24 name for recipient."
                    },
                    "receipt_ttl": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "v0.24 name for metadata_ttl. Seconds remaining before expiry."
                    },
                    "receipt_url": {
                      "description": "v0.24 name for metadata_url. URL to view the receipt.",
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "secret_value": {
                      "description": "v0.24 name for value. Present only when the secret content is included.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "custid",
                    "metadata_key",
                    "ttl",
                    "metadata_ttl",
                    "state",
                    "updated",
                    "created",
                    "recipient",
                    "share_domain",
                    "identifier",
                    "recipients",
                    "receipt_ttl"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters or body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "x-otto-route-openapi_auth": "basic,anonymous",
        "security": [
          {
            "basicAuth": []
          },
          {}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v1/generate": {
      "post": {
        "operationId": "v1_generate",
        "summary": "generate",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "custid": {
                      "type": "string"
                    },
                    "metadata_key": {
                      "type": "string"
                    },
                    "secret_key": {
                      "type": "string"
                    },
                    "ttl": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "metadata_ttl": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "secret_ttl": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "metadata_url": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "state": {
                      "type": "string"
                    },
                    "updated": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "created": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "received": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "recipient": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "share_domain": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    },
                    "passphrase_required": {
                      "type": "boolean"
                    },
                    "identifier": {
                      "type": "string",
                      "description": "v0.24 name for metadata_key. Prefer this field for new integrations."
                    },
                    "secret_identifier": {
                      "description": "v0.24 name for secret_key. Absent when state is received.",
                      "type": "string"
                    },
                    "has_passphrase": {
                      "description": "v0.24 name for passphrase_required. Present only when a passphrase was set.",
                      "type": "boolean"
                    },
                    "recipients": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "v0.24 name for recipient."
                    },
                    "receipt_ttl": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "v0.24 name for metadata_ttl. Seconds remaining before expiry."
                    },
                    "receipt_url": {
                      "description": "v0.24 name for metadata_url. URL to view the receipt.",
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "secret_value": {
                      "description": "v0.24 name for value. Present only when the secret content is included.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "custid",
                    "metadata_key",
                    "ttl",
                    "metadata_ttl",
                    "state",
                    "updated",
                    "created",
                    "recipient",
                    "share_domain",
                    "identifier",
                    "recipients",
                    "receipt_ttl"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters or body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "x-otto-route-openapi_auth": "basic,anonymous",
        "security": [
          {
            "basicAuth": []
          },
          {}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v1/create": {
      "post": {
        "operationId": "v1_create",
        "summary": "create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "custid": {
                      "type": "string"
                    },
                    "metadata_key": {
                      "type": "string"
                    },
                    "secret_key": {
                      "type": "string"
                    },
                    "ttl": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "metadata_ttl": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "secret_ttl": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "metadata_url": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "state": {
                      "type": "string"
                    },
                    "updated": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "created": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "received": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "recipient": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "share_domain": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    },
                    "passphrase_required": {
                      "type": "boolean"
                    },
                    "identifier": {
                      "type": "string",
                      "description": "v0.24 name for metadata_key. Prefer this field for new integrations."
                    },
                    "secret_identifier": {
                      "description": "v0.24 name for secret_key. Absent when state is received.",
                      "type": "string"
                    },
                    "has_passphrase": {
                      "description": "v0.24 name for passphrase_required. Present only when a passphrase was set.",
                      "type": "boolean"
                    },
                    "recipients": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "v0.24 name for recipient."
                    },
                    "receipt_ttl": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "v0.24 name for metadata_ttl. Seconds remaining before expiry."
                    },
                    "receipt_url": {
                      "description": "v0.24 name for metadata_url. URL to view the receipt.",
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "secret_value": {
                      "description": "v0.24 name for value. Present only when the secret content is included.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "custid",
                    "metadata_key",
                    "ttl",
                    "metadata_ttl",
                    "state",
                    "updated",
                    "created",
                    "recipient",
                    "share_domain",
                    "identifier",
                    "recipients",
                    "receipt_ttl"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters or body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "x-otto-route-openapi_auth": "basic,anonymous",
        "security": [
          {
            "basicAuth": []
          },
          {}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v1/secret/{key}": {
      "post": {
        "operationId": "v1_showSecret",
        "summary": "Show Secret",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string"
                    },
                    "secret_key": {
                      "type": "string"
                    },
                    "share_domain": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "value",
                    "secret_key",
                    "share_domain"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters or body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "x-otto-route-openapi_auth": "basic,anonymous",
        "security": [
          {
            "basicAuth": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The key parameter"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v1/receipt/recent": {
      "get": {
        "operationId": "v1_showReceiptRecent",
        "summary": "Show Receipt Recent",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "custid": {
                        "type": "string"
                      },
                      "metadata_key": {
                        "type": "string"
                      },
                      "secret_key": {
                        "type": "string"
                      },
                      "ttl": {
                        "anyOf": [
                          {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "metadata_ttl": {
                        "anyOf": [
                          {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "secret_ttl": {
                        "anyOf": [
                          {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "metadata_url": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "state": {
                        "type": "string"
                      },
                      "updated": {
                        "anyOf": [
                          {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "created": {
                        "anyOf": [
                          {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "received": {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      },
                      "recipient": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "share_domain": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      },
                      "passphrase_required": {
                        "type": "boolean"
                      },
                      "identifier": {
                        "type": "string",
                        "description": "v0.24 name for metadata_key. Prefer this field for new integrations."
                      },
                      "secret_identifier": {
                        "description": "v0.24 name for secret_key. Absent when state is received.",
                        "type": "string"
                      },
                      "has_passphrase": {
                        "description": "v0.24 name for passphrase_required. Present only when a passphrase was set.",
                        "type": "boolean"
                      },
                      "recipients": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "v0.24 name for recipient."
                      },
                      "receipt_ttl": {
                        "anyOf": [
                          {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "v0.24 name for metadata_ttl. Seconds remaining before expiry."
                      },
                      "receipt_url": {
                        "description": "v0.24 name for metadata_url. URL to view the receipt.",
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "secret_value": {
                        "description": "v0.24 name for value. Present only when the secret content is included.",
                        "type": "string"
                      }
                    },
                    "required": [
                      "custid",
                      "metadata_key",
                      "ttl",
                      "metadata_ttl",
                      "state",
                      "updated",
                      "created",
                      "recipient",
                      "share_domain",
                      "identifier",
                      "recipients",
                      "receipt_ttl"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "x-otto-route-openapi_auth": "basic",
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/api/v1/receipt/{key}/burn": {
      "post": {
        "operationId": "v1_receipt_burnSecret",
        "summary": "Burn Secret",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "object",
                      "properties": {
                        "custid": {
                          "type": "string"
                        },
                        "metadata_key": {
                          "type": "string"
                        },
                        "secret_key": {
                          "type": "string"
                        },
                        "ttl": {
                          "anyOf": [
                            {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "metadata_ttl": {
                          "anyOf": [
                            {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "secret_ttl": {
                          "anyOf": [
                            {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "metadata_url": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "state": {
                          "type": "string"
                        },
                        "updated": {
                          "anyOf": [
                            {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "created": {
                          "anyOf": [
                            {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "received": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "recipient": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "share_domain": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        },
                        "passphrase_required": {
                          "type": "boolean"
                        },
                        "identifier": {
                          "type": "string",
                          "description": "v0.24 name for metadata_key. Prefer this field for new integrations."
                        },
                        "secret_identifier": {
                          "description": "v0.24 name for secret_key. Absent when state is received.",
                          "type": "string"
                        },
                        "has_passphrase": {
                          "description": "v0.24 name for passphrase_required. Present only when a passphrase was set.",
                          "type": "boolean"
                        },
                        "recipients": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "v0.24 name for recipient."
                        },
                        "receipt_ttl": {
                          "anyOf": [
                            {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "v0.24 name for metadata_ttl. Seconds remaining before expiry."
                        },
                        "receipt_url": {
                          "description": "v0.24 name for metadata_url. URL to view the receipt.",
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "secret_value": {
                          "description": "v0.24 name for value. Present only when the secret content is included.",
                          "type": "string"
                        }
                      },
                      "required": [
                        "custid",
                        "metadata_key",
                        "ttl",
                        "metadata_ttl",
                        "state",
                        "updated",
                        "created",
                        "recipient",
                        "share_domain",
                        "identifier",
                        "recipients",
                        "receipt_ttl"
                      ]
                    },
                    "secret_shortkey": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "state",
                    "secret_shortkey"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters or body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "x-otto-route-openapi_auth": "basic,anonymous",
        "security": [
          {
            "basicAuth": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The key parameter"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "continue": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/receipt/{key}": {
      "get": {
        "operationId": "v1_showReceipt",
        "summary": "Show Receipt",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "custid": {
                      "type": "string"
                    },
                    "metadata_key": {
                      "type": "string"
                    },
                    "secret_key": {
                      "type": "string"
                    },
                    "ttl": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "metadata_ttl": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "secret_ttl": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "metadata_url": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "state": {
                      "type": "string"
                    },
                    "updated": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "created": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "received": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "recipient": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "share_domain": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    },
                    "passphrase_required": {
                      "type": "boolean"
                    },
                    "identifier": {
                      "type": "string",
                      "description": "v0.24 name for metadata_key. Prefer this field for new integrations."
                    },
                    "secret_identifier": {
                      "description": "v0.24 name for secret_key. Absent when state is received.",
                      "type": "string"
                    },
                    "has_passphrase": {
                      "description": "v0.24 name for passphrase_required. Present only when a passphrase was set.",
                      "type": "boolean"
                    },
                    "recipients": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "v0.24 name for recipient."
                    },
                    "receipt_ttl": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "v0.24 name for metadata_ttl. Seconds remaining before expiry."
                    },
                    "receipt_url": {
                      "description": "v0.24 name for metadata_url. URL to view the receipt.",
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "secret_value": {
                      "description": "v0.24 name for value. Present only when the secret content is included.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "custid",
                    "metadata_key",
                    "ttl",
                    "metadata_ttl",
                    "state",
                    "updated",
                    "created",
                    "recipient",
                    "share_domain",
                    "identifier",
                    "recipients",
                    "receipt_ttl"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "x-otto-route-openapi_auth": "basic,anonymous",
        "security": [
          {
            "basicAuth": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The key parameter"
          }
        ]
      },
      "post": {
        "operationId": "v1_showReceipt_post",
        "summary": "Show Receipt",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "custid": {
                      "type": "string"
                    },
                    "metadata_key": {
                      "type": "string"
                    },
                    "secret_key": {
                      "type": "string"
                    },
                    "ttl": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "metadata_ttl": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "secret_ttl": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "metadata_url": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "state": {
                      "type": "string"
                    },
                    "updated": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
[...]
