{
  "openapi": "3.1.0",
  "info": {
    "title": "Onetime Secret API v2",
    "version": "0.24.0",
    "description": "REST API v2"
  },
  "servers": [
    {
      "url": "https://nz.onetimesecret.com",
      "description": "Aotearoa New Zealand"
    },
    {
      "url": "https://ca.onetimesecret.com",
      "description": "Canada"
    },
    {
      "url": "https://eu.onetimesecret.com",
      "description": "Europe"
    },
    {
      "url": "https://uk.onetimesecret.com",
      "description": "United Kingdom"
    },
    {
      "url": "https://us.onetimesecret.com",
      "description": "United States"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development"
    }
  ],
  "paths": {
    "/api/v2/receipt/recent": {
      "get": {
        "operationId": "v2_listReceipts",
        "summary": "List Receipts",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "string"
                    },
                    "shrimp": {
                      "default": "",
                      "type": "string"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "identifier": {
                            "type": "string"
                          },
                          "created": {
                            "type": "number"
                          },
                          "updated": {
                            "type": "number"
                          },
                          "key": {
                            "type": "string"
                          },
                          "shortid": {
                            "type": "string"
                          },
                          "secret_identifier": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "secret_shortid": {
                            "type": "string"
                          },
                          "recipients": {
                            "anyOf": [
                              {
                                "anyOf": [
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  {
                                    "type": "string"
                                  }
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "share_domain": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "secret_ttl": {
                            "type": "number"
                          },
                          "receipt_ttl": {
                            "type": "number"
                          },
                          "lifespan": {
                            "type": "number"
                          },
                          "state": {
                            "type": "string",
                            "enum": [
                              "new",
                              "shared",
                              "received",
                              "revealed",
                              "burned",
                              "viewed",
                              "previewed",
                              "expired",
                              "orphaned"
                            ]
                          },
                          "has_passphrase": {
                            "anyOf": [
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "shared": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "received": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "viewed": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "previewed": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "revealed": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "burned": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "is_viewed": {
                            "type": "boolean"
                          },
                          "is_received": {
                            "type": "boolean"
                          },
                          "is_previewed": {
                            "type": "boolean"
                          },
                          "is_revealed": {
                            "type": "boolean"
                          },
                          "is_burned": {
                            "type": "boolean"
                          },
                          "is_destroyed": {
                            "type": "boolean"
                          },
                          "is_expired": {
                            "type": "boolean"
                          },
                          "is_orphaned": {
                            "type": "boolean"
                          },
                          "memo": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "kind": {
                            "anyOf": [
                              {
                                "anyOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "generate",
                                      "conceal"
                                    ]
                                  },
                                  {
                                    "type": "string",
                                    "const": ""
                                  }
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "show_recipients": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "identifier",
                          "created",
                          "updated",
                          "key",
                          "shortid",
                          "secret_ttl",
                          "receipt_ttl",
                          "lifespan",
                          "state",
                          "is_viewed",
                          "is_received",
                          "is_burned",
                          "is_destroyed",
                          "is_expired",
                          "is_orphaned",
                          "show_recipients"
                        ]
                      }
                    },
                    "details": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "scope": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "scope_label": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "since": {
                          "type": "number"
                        },
                        "now": {
                          "type": "number"
                        },
                        "has_items": {
                          "type": "boolean"
                        },
                        "received": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "identifier": {
                                "type": "string"
                              },
                              "created": {
                                "type": "number"
                              },
                              "updated": {
                                "type": "number"
                              },
                              "key": {
                                "type": "string"
                              },
                              "shortid": {
                                "type": "string"
                              },
                              "secret_identifier": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "secret_shortid": {
                                "type": "string"
                              },
                              "recipients": {
                                "anyOf": [
                                  {
                                    "anyOf": [
                                      {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      {
                                        "type": "string"
                                      }
                                    ]
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "share_domain": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "secret_ttl": {
                                "type": "number"
                              },
                              "receipt_ttl": {
                                "type": "number"
                              },
                              "lifespan": {
                                "type": "number"
                              },
                              "state": {
                                "type": "string",
                                "enum": [
                                  "new",
                                  "shared",
                                  "received",
                                  "revealed",
                                  "burned",
                                  "viewed",
                                  "previewed",
                                  "expired",
                                  "orphaned"
                                ]
                              },
                              "has_passphrase": {
                                "anyOf": [
                                  {
                                    "type": "boolean"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "shared": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "received": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "viewed": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "previewed": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "revealed": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "burned": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "is_viewed": {
                                "type": "boolean"
                              },
                              "is_received": {
                                "type": "boolean"
                              },
                              "is_previewed": {
                                "type": "boolean"
                              },
                              "is_revealed": {
                                "type": "boolean"
                              },
                              "is_burned": {
                                "type": "boolean"
                              },
                              "is_destroyed": {
                                "type": "boolean"
                              },
                              "is_expired": {
                                "type": "boolean"
                              },
                              "is_orphaned": {
                                "type": "boolean"
                              },
                              "memo": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "kind": {
                                "anyOf": [
                                  {
                                    "anyOf": [
                                      {
                                        "type": "string",
                                        "enum": [
                                          "generate",
                                          "conceal"
                                        ]
                                      },
                                      {
                                        "type": "string",
                                        "const": ""
                                      }
                                    ]
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "identifier",
                              "created",
                              "updated",
                              "key",
                              "shortid",
                              "secret_ttl",
                              "receipt_ttl",
                              "lifespan",
                              "state",
                              "is_viewed",
                              "is_received",
                              "is_burned",
                              "is_destroyed",
                              "is_expired",
                              "is_orphaned"
                            ]
                          }
                        },
                        "notreceived": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "identifier": {
                                "type": "string"
                              },
                              "created": {
                                "type": "number"
                              },
                              "updated": {
                                "type": "number"
                              },
                              "key": {
                                "type": "string"
                              },
                              "shortid": {
                                "type": "string"
                              },
                              "secret_identifier": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "secret_shortid": {
                                "type": "string"
                              },
                              "recipients": {
                                "anyOf": [
                                  {
                                    "anyOf": [
                                      {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      {
                                        "type": "string"
                                      }
                                    ]
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "share_domain": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "secret_ttl": {
                                "type": "number"
                              },
                              "receipt_ttl": {
                                "type": "number"
                              },
                              "lifespan": {
                                "type": "number"
                              },
                              "state": {
                                "type": "string",
                                "enum": [
                                  "new",
                                  "shared",
                                  "received",
                                  "revealed",
                                  "burned",
                                  "viewed",
                                  "previewed",
                                  "expired",
                                  "orphaned"
                                ]
                              },
                              "has_passphrase": {
                                "anyOf": [
                                  {
                                    "type": "boolean"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "shared": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "received": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "viewed": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "previewed": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "revealed": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "burned": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "is_viewed": {
                                "type": "boolean"
                              },
                              "is_received": {
                                "type": "boolean"
                              },
                              "is_previewed": {
                                "type": "boolean"
                              },
                              "is_revealed": {
                                "type": "boolean"
                              },
                              "is_burned": {
                                "type": "boolean"
                              },
                              "is_destroyed": {
                                "type": "boolean"
                              },
                              "is_expired": {
                                "type": "boolean"
                              },
                              "is_orphaned": {
                                "type": "boolean"
                              },
                              "memo": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "kind": {
                                "anyOf": [
                                  {
                                    "anyOf": [
                                      {
                                        "type": "string",
                                        "enum": [
                                          "generate",
                                          "conceal"
                                        ]
                                      },
                                      {
                                        "type": "string",
                                        "const": ""
                                      }
                                    ]
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "identifier",
                              "created",
                              "updated",
                              "key",
                              "shortid",
                              "secret_ttl",
                              "receipt_ttl",
                              "lifespan",
                              "state",
                              "is_viewed",
                              "is_received",
                              "is_burned",
                              "is_destroyed",
                              "is_expired",
                              "is_orphaned"
                            ]
                          }
                        }
                      },
                      "required": [
                        "type",
                        "since",
                        "now",
                        "has_items"
                      ]
                    },
                    "count": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    }
                  },
                  "required": [
                    "records"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "v2"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/api/v2/receipt/{identifier}/burn": {
      "post": {
        "operationId": "v2_receipt_burnSecret",
        "summary": "Burn Secret",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "string"
                    },
                    "shrimp": {
                      "default": "",
                      "type": "string"
                    },
                    "record": {
                      "type": "object",
                      "properties": {
                        "identifier": {
                          "type": "string"
                        },
                        "created": {
                          "type": "number"
                        },
                        "updated": {
                          "type": "number"
                        },
                        "key": {
                          "type": "string"
                        },
                        "shortid": {
                          "type": "string"
                        },
                        "secret_identifier": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "secret_shortid": {
                          "type": "string"
                        },
                        "recipients": {
                          "anyOf": [
                            {
                              "anyOf": [
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                {
                                  "type": "string"
                                }
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "share_domain": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "secret_ttl": {
                          "type": "number"
                        },
                        "receipt_ttl": {
                          "type": "number"
                        },
                        "lifespan": {
                          "type": "number"
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "new",
                            "shared",
                            "received",
                            "revealed",
                            "burned",
                            "viewed",
                            "previewed",
                            "expired",
                            "orphaned"
                          ]
                        },
                        "has_passphrase": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "shared": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "received": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "viewed": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "previewed": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "revealed": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "burned": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "is_viewed": {
                          "type": "boolean"
                        },
                        "is_received": {
                          "type": "boolean"
                        },
                        "is_previewed": {
                          "type": "boolean"
                        },
                        "is_revealed": {
                          "type": "boolean"
                        },
                        "is_burned": {
                          "type": "boolean"
                        },
                        "is_destroyed": {
                          "type": "boolean"
                        },
                        "is_expired": {
                          "type": "boolean"
                        },
                        "is_orphaned": {
                          "type": "boolean"
                        },
                        "memo": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "kind": {
                          "anyOf": [
                            {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "enum": [
                                    "generate",
                                    "conceal"
                                  ]
                                },
                                {
                                  "type": "string",
                                  "const": ""
                                }
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "secret_state": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "new",
                                "shared",
                                "received",
                                "revealed",
                                "burned",
                                "viewed",
                                "previewed",
                                "expired",
                                "orphaned"
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "natural_expiration": {
                          "type": "string"
                        },
                        "expiration": {
                          "type": "number"
                        },
                        "expiration_in_seconds": {
                          "type": "number"
                        },
                        "share_path": {
                          "type": "string"
                        },
                        "burn_path": {
                          "type": "string"
                        },
                        "receipt_path": {
                          "type": "string"
                        },
                        "share_url": {
                          "type": "string"
                        },
                        "receipt_url": {
                          "type": "string"
                        },
                        "burn_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "identifier",
                        "created",
                        "updated",
                        "key",
                        "shortid",
                        "secret_ttl",
                        "receipt_ttl",
                        "lifespan",
                        "state",
                        "is_viewed",
                        "is_received",
                        "is_burned",
                        "is_destroyed",
                        "is_expired",
                        "is_orphaned",
                        "natural_expiration",
                        "expiration",
                        "expiration_in_seconds",
                        "share_path",
                        "burn_path",
                        "receipt_path",
                        "share_url",
                        "receipt_url",
                        "burn_url"
                      ]
                    },
                    "details": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "record"
                        },
                        "display_lines": {
                          "type": "number"
                        },
                        "no_cache": {
                          "type": "boolean"
                        },
                        "secret_realttl": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "view_count": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "has_passphrase": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "can_decrypt": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "secret_value": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "show_secret": {
                          "type": "boolean"
                        },
                        "show_secret_link": {
                          "type": "boolean"
                        },
                        "show_receipt_link": {
                          "type": "boolean"
                        },
                        "show_receipt": {
                          "type": "boolean"
                        },
                        "show_recipients": {
                          "type": "boolean"
                        },
                        "is_orphaned": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "is_expired": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "type",
                        "display_lines",
                        "no_cache",
                        "view_count",
                        "has_passphrase",
                        "can_decrypt",
                        "show_secret",
                        "show_secret_link",
                        "show_receipt_link",
                        "show_receipt",
                        "show_recipients"
                      ]
                    }
                  },
                  "required": [
                    "record"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters or body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "v2"
        ],
        "security": [
          {
            "basicAuth": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The identifier parameter"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "continue": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/receipt/{identifier}": {
      "get": {
        "operationId": "v2_showReceipt",
        "summary": "Show Receipt",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "string"
                    },
                    "shrimp": {
                      "default": "",
                      "type": "string"
                    },
                    "record": {
                      "type": "object",
                      "properties": {
                        "identifier": {
                          "type": "string"
                        },
                        "created": {
                          "type": "number"
                        },
                        "updated": {
                          "type": "number"
                        },
                        "key": {
                          "type": "string"
                        },
                        "shortid": {
                          "type": "string"
                        },
                        "secret_identifier": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "secret_shortid": {
                          "type": "string"
                        },
                        "recipients": {
                          "anyOf": [
                            {
                              "anyOf": [
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                {
                                  "type": "string"
                                }
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "share_domain": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "secret_ttl": {
                          "type": "number"
                        },
                        "receipt_ttl": {
                          "type": "number"
                        },
                        "lifespan": {
                          "type": "number"
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "new",
                            "shared",
                            "received",
                            "revealed",
                            "burned",
                            "viewed",
                            "previewed",
                            "expired",
                            "orphaned"
                          ]
                        },
                        "has_passphrase": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "shared": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "received": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "viewed": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "previewed": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "revealed": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "burned": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "is_viewed": {
                          "type": "boolean"
                        },
                        "is_received": {
                          "type": "boolean"
                        },
                        "is_previewed": {
                          "type": "boolean"
                        },
                        "is_revealed": {
                          "type": "boolean"
                        },
                        "is_burned": {
                          "type": "boolean"
                        },
                        "is_destroyed": {
                          "type": "boolean"
                        },
                        "is_expired": {
                          "type": "boolean"
                        },
                        "is_orphaned": {
                          "type": "boolean"
                        },
                        "memo": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "kind": {
                          "anyOf": [
                            {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "enum": [
                                    "generate",
                                    "conceal"
                                  ]
                                },
                                {
                                  "type": "string",
                                  "const": ""
                                }
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "secret_state": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "new",
                                "shared",
                                "received",
                                "revealed",
                                "burned",
                                "viewed",
                                "previewed",
                                "expired",
                                "orphaned"
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "natural_expiration": {
                          "type": "string"
                        },
                        "expiration": {
                          "type": "number"
                        },
                        "expiration_in_seconds": {
                          "type": "number"
                        },
                        "share_path": {
                          "type": "string"
                        },
                        "burn_path": {
                          "type": "string"
                        },
                        "receipt_path": {
                          "type": "string"
                        },
                        "share_url": {
                          "type": "string"
                        },
                        "receipt_url": {
                          "type": "string"
                        },
                        "burn_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "identifier",
                        "created",
                        "updated",
                        "key",
                        "shortid",
                        "secret_ttl",
                        "receipt_ttl",
                        "lifespan",
                        "state",
                        "is_viewed",
                        "is_received",
                        "is_burned",
                        "is_destroyed",
                        "is_expired",
                        "is_orphaned",
                        "natural_expiration",
                        "expiration",
                        "expiration_in_seconds",
                        "share_path",
                        "burn_path",
                        "receipt_path",
                        "share_url",
                        "receipt_url",
                        "burn_url"
                      ]
                    },
                    "details": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "record"
                        },
                        "display_lines": {
                          "type": "number"
                        },
                        "no_cache": {
                          "type": "boolean"
                        },
                        "secret_realttl": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "view_count": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "has_passphrase": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "can_decrypt": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "secret_value": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "show_secret": {
                          "type": "boolean"
                        },
                        "show_secret_link": {
                          "type": "boolean"
                        },
                        "show_receipt_link": {
                          "type": "boolean"
                        },
                        "show_receipt": {
                          "type": "boolean"
                        },
                        "show_recipients": {
                          "type": "boolean"
                        },
                        "is_orphaned": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "is_expired": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "type",
                        "display_lines",
                        "no_cache",
                        "view_count",
                        "has_passphrase",
                        "can_decrypt",
                        "show_secret",
                        "show_secret_link",
                        "show_receipt_link",
                        "show_receipt",
                        "show_recipients"
                      ]
                    }
                  },
                  "required": [
                    "record"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "v2"
        ],
        "security": [
          {
            "basicAuth": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The identifier parameter"
          }
        ]
      },
      "patch": {
        "operationId": "v2_updateReceipt",
        "summary": "Update Receipt",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "string"
                    },
                    "shrimp": {
                      "default": "",
                      "type": "string"
                    },
                    "record": {
                      "type": "object",
                      "properties": {
                        "identifier": {
                          "type": "string"
                        },
                        "created": {
                          "type": "number"
                        },
                        "updated": {
                          "type": "number"
                        },
                        "key": {
                          "type": "string"
                        },
                        "shortid": {
                          "type": "string"
                        },
                        "secret_identifier": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "secret_shortid": {
                          "type": "string"
                        },
                        "recipients": {
                          "anyOf": [
                            {
                              "anyOf": [
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                {
                                  "type": "string"
                                }
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "share_domain": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "secret_ttl": {
                          "type": "number"
                        },
                        "receipt_ttl": {
                          "type": "number"
                        },
                        "lifespan": {
                          "type": "number"
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "new",
                            "shared",
                            "received",
                            "revealed",
                            "burned",
                            "viewed",
                            "previewed",
                            "expired",
                            "orphaned"
                          ]
                        },
                        "has_passphrase": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "shared": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "received": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "viewed": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "previewed": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "revealed": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "burned": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "is_viewed": {
                          "type": "boolean"
                        },
                        "is_received": {
                          "type": "boolean"
                        },
                        "is_previewed": {
                          "type": "boolean"
                        },
                        "is_revealed": {
                          "type": "boolean"
                        },
                        "is_burned": {
                          "type": "boolean"
                        },
                        "is_destroyed": {
                          "type": "boolean"
                        },
                        "is_expired": {
                          "type": "boolean"
                        },
                        "is_orphaned": {
                          "type": "boolean"
                        },
                        "memo": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "kind": {
                          "anyOf": [
                            {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "enum": [
                                    "generate",
                                    "conceal"
                                  ]
                                },
                                {
                                  "type": "string",
                                  "const": ""
                                }
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "secret_state": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "new",
                                "shared",
                                "received",
                                "revealed",
                                "burned",
                                "viewed",
                                "previewed",
                                "expired",
                                "orphaned"
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "natural_expiration": {
                          "type": "string"
                        },
                        "expiration": {
                          "type": "number"
                        },
                        "expiration_in_seconds": {
                          "type": "number"
                        },
                        "share_path": {
                          "type": "string"
                        },
                        "burn_path": {
                          "type": "string"
                        },
                        "receipt_path": {
                          "type": "string"
                        },
                        "share_url": {
                          "type": "string"
                        },
                        "receipt_url": {
                          "type": "string"
                        },
                        "burn_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "identifier",
                        "created",
                        "updated",
                        "key",
                        "shortid",
                        "secret_ttl",
                        "receipt_ttl",
                        "lifespan",
                        "state",
                        "is_viewed",
                        "is_received",
                        "is_burned",
                        "is_destroyed",
                        "is_expired",
                        "is_orphaned",
                        "natural_expiration",
                        "expiration",
                        "expiration_in_seconds",
                        "share_path",
                        "burn_path",
                        "receipt_path",
                        "share_url",
                        "receipt_url",
                        "burn_url"
                      ]
                    },
                    "details": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "record"
                        },
                        "display_lines": {
                          "type": "number"
                        },
                        "no_cache": {
                          "type": "boolean"
                        },
                        "secret_realttl": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "view_count": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "has_passphrase": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "can_decrypt": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "secret_value": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "show_secret": {
                          "type": "boolean"
                        },
                        "show_secret_link": {
                          "type": "boolean"
                        },
                        "show_receipt_link": {
                          "type": "boolean"
                        },
                        "show_receipt": {
                          "type": "boolean"
                        },
                        "show_recipients": {
                          "type": "boolean"
                        },
                        "is_orphaned": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "is_expired": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "type",
                        "display_lines",
                        "no_cache",
                        "view_count",
                        "has_passphrase",
                        "can_decrypt",
                        "show_secret",
                        "show_secret_link",
                        "show_receipt_link",
                        "show_receipt",
                        "show_recipients"
                      ]
                    }
                  },
                  "required": [
                    "record"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters or body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
[...]
