{
  "openapi": "3.1.0",
  "info": {
    "title": "Onetime Secret Internal API",
    "version": "0.24.0",
    "description": "Internal API consumed by the Vue frontend"
  },
  "servers": [
    {
      "url": "https://nz.onetimesecret.com",
      "description": "Aotearoa New Zealand"
    },
    {
      "url": "https://ca.onetimesecret.com",
      "description": "Canada"
    },
    {
      "url": "https://eu.onetimesecret.com",
      "description": "Europe"
    },
    {
      "url": "https://uk.onetimesecret.com",
      "description": "United Kingdom"
    },
    {
      "url": "https://us.onetimesecret.com",
      "description": "United States"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development"
    }
  ],
  "paths": {
    "/api/account/destroy": {
      "post": {
        "operationId": "account_destroyAccount",
        "summary": "Destroy Account",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters or body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "account"
        ],
        "security": [
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/account/change-password": {
      "post": {
        "operationId": "account_updatePassword",
        "summary": "Update Password",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters or body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "account"
        ],
        "security": [
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/account/update-domain-context": {
      "post": {
        "operationId": "account_updateDomainContext",
        "summary": "Update Domain Context",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters or body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "account"
        ],
        "security": [
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/account/update-locale": {
      "post": {
        "operationId": "account_updateLocale",
        "summary": "Update Locale",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters or body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "account"
        ],
        "security": []
      }
    },
    "/api/account/update-notification-preference": {
      "post": {
        "operationId": "account_updateNotificationPreference",
        "summary": "Update Notification Preference",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters or body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "account"
        ],
        "security": [
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/account/apitoken": {
      "post": {
        "operationId": "account_generateAPIToken",
        "summary": "Generate A P I Token",
        "description": "Regenerates the authenticated user's API token and returns the new token value. Requires an active session; anonymous users are rejected.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "string"
                    },
                    "shrimp": {
                      "default": "",
                      "type": "string"
                    },
                    "record": {
                      "type": "object",
                      "properties": {
                        "apitoken": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "apitoken"
                      ]
                    },
                    "details": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "record"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters or body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "account"
        ],
        "security": [
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/account/change-email": {
      "post": {
        "operationId": "account_requestEmailChange",
        "summary": "Request Email Change",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters or body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "account"
        ],
        "security": [
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/account/confirm-email-change": {
      "post": {
        "operationId": "account_confirmEmailChange",
        "summary": "Confirm Email Change",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters or body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "account"
        ],
        "security": []
      }
    },
    "/api/account/resend-email-change-confirmation": {
      "post": {
        "operationId": "account_resendEmailChangeConfirmation",
        "summary": "Resend Email Change Confirmation",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters or body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "account"
        ],
        "security": [
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/account/": {
      "get": {
        "operationId": "account_getAccount",
        "summary": "Get Account",
        "description": "Retrieves the authenticated user's account details, including their API token and safe-dumped customer record.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "string"
                    },
                    "shrimp": {
                      "default": "",
                      "type": "string"
                    },
                    "record": {
                      "type": "object",
                      "properties": {
                        "cust": {
                          "type": "object",
                          "properties": {
                            "identifier": {
                              "type": "string"
                            },
                            "created": {
                              "type": "number"
                            },
                            "updated": {
                              "type": "number"
                            },
                            "objid": {
                              "type": "string"
                            },
                            "extid": {
                              "type": "string"
                            },
                            "role": {
                              "type": "string",
                              "enum": [
                                "customer",
                                "colonel",
                                "recipient",
                                "user_deleted_self"
                              ]
                            },
                            "email": {
                              "type": "string"
                            },
                            "verified": {
                              "type": "boolean"
                            },
                            "active": {
                              "type": "boolean"
                            },
                            "contributor": {
                              "type": "boolean"
                            },
                            "secrets_created": {
                              "default": 0,
                              "type": "number"
                            },
                            "secrets_burned": {
                              "default": 0,
                              "type": "number"
                            },
                            "secrets_shared": {
                              "default": 0,
                              "type": "number"
                            },
                            "emails_sent": {
                              "default": 0,
                              "type": "number"
                            },
                            "last_login": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "locale": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "notify_on_reveal": {
                              "default": false,
                              "type": "boolean"
                            },
                            "feature_flags": {
                              "default": {},
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "boolean"
                              }
                            }
                          },
                          "required": [
                            "identifier",
                            "created",
                            "updated",
                            "objid",
                            "extid",
                            "role",
                            "email",
                            "verified",
                            "active",
                            "last_login",
                            "locale"
                          ]
                        },
                        "apitoken": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "stripe_customer": {},
                        "stripe_subscriptions": {}
                      },
                      "required": [
                        "cust",
                        "apitoken"
                      ]
                    },
                    "details": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "record"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "account"
        ],
        "security": [
          {
            "sessionAuth": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/api/account/entitlements": {
      "get": {
        "operationId": "account_getEntitlements",
        "summary": "Get Entitlements",
        "description": "Returns entitlement definitions and plan-to-entitlement mappings. Includes a list of all entitlements with display names and categories, plan mappings with their associated entitlements, and a source indicator (\"stripe\" or \"local_config\") showing where plan data was loaded from.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "string"
                    },
                    "shrimp": {
                      "default": "",
                      "type": "string"
                    },
                    "record": {
                      "type": "object",
                      "properties": {
                        "cust": {
                          "type": "object",
                          "properties": {
                            "identifier": {
                              "type": "string"
                            },
                            "created": {
                              "type": "number"
                            },
                            "updated": {
                              "type": "number"
                            },
                            "objid": {
                              "type": "string"
                            },
                            "extid": {
                              "type": "string"
                            },
                            "role": {
                              "type": "string",
                              "enum": [
                                "customer",
                                "colonel",
                                "recipient",
                                "user_deleted_self"
                              ]
                            },
                            "email": {
                              "type": "string"
                            },
                            "verified": {
                              "type": "boolean"
                            },
                            "active": {
                              "type": "boolean"
                            },
                            "contributor": {
                              "type": "boolean"
                            },
                            "secrets_created": {
                              "default": 0,
                              "type": "number"
                            },
                            "secrets_burned": {
                              "default": 0,
                              "type": "number"
                            },
                            "secrets_shared": {
                              "default": 0,
                              "type": "number"
                            },
                            "emails_sent": {
                              "default": 0,
                              "type": "number"
                            },
                            "last_login": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "locale": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "notify_on_reveal": {
                              "default": false,
                              "type": "boolean"
                            },
                            "feature_flags": {
                              "default": {},
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "boolean"
                              }
                            }
                          },
                          "required": [
                            "identifier",
                            "created",
                            "updated",
                            "objid",
                            "extid",
                            "role",
                            "email",
                            "verified",
                            "active",
                            "last_login",
                            "locale"
                          ]
                        },
                        "apitoken": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "stripe_customer": {},
                        "stripe_subscriptions": {}
                      },
                      "required": [
                        "cust",
                        "apitoken"
                      ]
                    },
                    "details": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "record"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "account"
        ],
        "security": [
          {
            "sessionAuth": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/api/colonel/info": {
      "get": {
        "operationId": "colonel_getColonelInfo",
        "summary": "Get Colonel Info",
        "description": "Returns the admin dashboard overview including recent customers, feedback (today, yesterday, older), aggregate counts for sessions, customers, secrets, receipts, and Redis memory info. Requires colonel role.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "string"
                    },
                    "shrimp": {
                      "default": "",
                      "type": "string"
                    },
                    "record": {
                      "type": "object",
                      "properties": {}
                    },
                    "details": {
                      "type": "object",
                      "properties": {
                        "recent_customers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "custid": {
                                "type": "string"
                              },
                              "colonel": {
                                "type": "boolean"
                              },
                              "secrets_created": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "secrets_shared": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "emails_sent": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "verified": {
                                "type": "boolean"
                              },
                              "stamp": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "custid",
                              "colonel",
                              "secrets_created",
                              "secrets_shared",
                              "emails_sent",
                              "verified",
                              "stamp"
                            ]
                          }
                        },
                        "today_feedback": {
                          "default": [],
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "msg": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 1500
                              },
                              "stamp": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "msg",
                              "stamp"
                            ]
                          }
                        },
                        "yesterday_feedback": {
                          "default": [],
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "msg": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 1500
                              },
                              "stamp": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "msg",
                              "stamp"
                            ]
                          }
                        },
                        "older_feedback": {
                          "default": null,
                          "anyOf": [
                            {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "msg": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 1500
                                  },
                                  "stamp": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "msg",
                                  "stamp"
                                ]
                              }
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "dbclient_info": {
                          "default": "",
                          "type": "string"
                        },
                        "billing_enabled": {
                          "default": false,
                          "type": "boolean"
                        },
                        "counts": {
                          "type": "object",
                          "properties": {
                            "customer_count": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "emails_sent": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "feedback_count": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "receipt_count": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "older_feedback_count": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "recent_customer_count": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "secret_count": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "secrets_created": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "secrets_shared": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "session_count": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "today_feedback_count": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "yesterday_feedback_count": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "customer_count",
                            "emails_sent",
                            "feedback_count",
                            "receipt_count",
                            "older_feedback_count",
                            "recent_customer_count",
                            "secret_count",
                            "secrets_created",
                            "secrets_shared",
                            "session_count",
                            "today_feedback_count",
                            "yesterday_feedback_count"
                          ]
                        }
                      },
                      "required": [
                        "counts"
                      ]
                    }
                  },
                  "required": [
                    "record"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
                      "type": "string",
                      "description": "Unique error tracking identifier"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error type identifier (e.g., \"FormError\")"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "field": {
                      "type": "string",
                      "description": "Field that caused the error, if applicable"
                    },
                    "error_id": {
[...]
