*
!.gitignore
!api/
!architecture/
!architecture/OVERVIEW.md
!architecture/error-handling.md
!architecture/config-vs-settings.md
!architecture/type-safety.md
!architecture/frontend-architecture.md
!/api/*
!DOCKER*.md
!README*.md
