*
!.gitignore
!api/
!architecture/
!architecture/OVERVIEW.md
!architecture/ERRORS.md
!architecture/config-vs-settings.md
!architecture/type-safety.md
!architecture/UI.md
!/api/*
!DOCKER*.md
!README*.md
