@import './assets/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme('fontFamily.serif');
  }
  h1,h2,h3,h4,h5 {
    font-family: theme('fontFamily.brand');
    margin: theme('spacing.5') 0;
  }

  button, a.block {
    font-family: theme('fontFamily.brand');
  }
  h1 {
    @apply text-4xl font-bold text-gray-900 mb-3;
  }
  h2 {
    @apply text-3xl font-bold text-gray-800 mb-3;
  }

  h3 {
    @apply text-2xl font-semibold text-gray-700 mb-2;
  }

  h4 {
    @apply text-xl font-medium text-gray-600 mb-1;
  }

  h5 {
    @apply text-lg font-semibold text-gray-700 mb-2;
  }
}
