
  <hr/>

  <div id="footer">
    {{#display_feedback}}
    <form class="form form-inline" action="/feedback" method="post">
      {{{add_shrimp}}}
      <div class="input-append">
        <input class="span6" name="msg" id="appendedInputButton" type="text" placeholder="{{i18n.COMMON.feedback_text}}">
        <button class="btn" type="submit">{{i18n.COMMON.button_send_feedback}}</button>
      </div>
    </form>
    {{/display_feedback}}
    <p>
      <a href="/about">About</a> |
      <a href="/translations">Help Translate</a> |
      <a href="/docs/api">API</a> |
      <a href="https://github.com/onetimesecret/onetimesecret">Code</a> |
      <a href="https://github.com/onetimesecret/onetimesecret/issues" title="Issue Tracker">Issues</a> |
      <a href="http://blog.onetimesecret.com/">Blog</a>
    </p>
    <p>
      <a href="/info/privacy">Privacy</a> |
      <a href="/info/terms">Terms &amp; Conditions</a> |
      <a href="/info/security">Security</a>
    </p>
    <div class="tagline">
      <p class="release">v{{ot_version}}</p>
    </div>
  </div>

</div> <!-- /container -->

<script src="/js/vendor/bootstrap.min.js"></script>
<script src="/js/plugins.js?{{ruby_version}}"></script>
<script src="/js/main.js?{{ruby_version}}"></script>
{{#js}}
<script src="{{to_s}}" type="text/javascript"></script>
{{/js}}
<script type="text/javascript">

{{#with_analytics}}
<!-- No analytics enabled by default (or on onetimesecret.com). -->
{{/with_analytics}}

<!-- {{via_hn}}:{{via_test}}:{{via_reddit}} -->
</body>
</html>
