
  <hr/>

  <div id="footer">
    {{#display_feedback}}
    <form class="form form-inline" action="/feedback" method="post">
      {{{add_shrimp}}}
      <div class="input-append">
        <input class="span6" name="msg" id="appendedInputButton" type="text" placeholder="{{i18n.COMMON.feedback_text}}">
        <button class="btn" type="submit">{{i18n.COMMON.button_send_feedback}}</button>
      </div>
    </form>
    {{/display_feedback}}
    <p>
      <a href="{{baseotsuri}}/about">About</a> |
      <a href="{{baseotsuri}}/translations">Help Translate</a> |
      <a href="{{baseotsuri}}/docs/api">API</a> |
      <a href="https://github.com/onetimesecret/onetimesecret">Code</a> |
      <a href="https://github.com/onetimesecret/onetimesecret/issues" title="Issue Tracker">Issues</a> |
      <a href="http://blog.onetimesecret.com/">Blog</a>
    </p>
    <p>
      <a href="{{baseotsuri}}/info/privacy">Privacy</a> |
      <a href="{{baseotsuri}}/info/terms">Terms &amp; Conditions</a> |
      <a href="{{baseotsuri}}/info/security">Security</a>
    </p>
    {{#display_icons}}
    <div class="tagline">
      Follow our latest news:
      <p>
        <a href="http://www.facebook.com/pages/One-Time-Secret/284990691536190" title="Join us on Facebook"><img class="socialicon" src="/img/icon-facebook.png" height="16" width="16" alt="facebook icon" /></a>
        <a href="http://twitter.com/onetimesecret" title="Join us on Twitter"><img class="socialicon" src="/img/icon-twitter.png" height="16" width="16" alt="twitter icon" /></a>
      </p>
    </div>
    {{/display_icons}}

    {{#monitored_link}}
    <hr class="clear"/>
    <p>Uptime monitoring by <a href="https://www.blamestella.com/" title="Responsive web monitoring -- The Blamey &amp; Stella Information Company">Stella</a>.</p>
    {{/monitored_link}}
  </div>

</div> <!-- /container -->

<script src="/js/vendor/bootstrap.min.js"></script>

<script src="/js/plugins.js?{{ot_version_id}}"></script>
<script src="/js/main.js?{{ot_version_id}}"></script>
{{#js}}
<script src="{{to_s}}" type="text/javascript"></script>
{{/js}}
<script type="text/javascript">
  //$('.jumbotron h1').removeClass('temp-kerning');
  //Cufon.refresh();
</script>

{{#with_analytics}}
<!-- NOTE: Secret pages are not tracked in any way. -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5320807-2']);
  _gaq.push(['_setDomainName', '.onetimesecret.com']);
  _gaq.push(['_trackPageLoadTime']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{{/with_analytics}}

<!-- {{via_hn}}:{{via_test}}:{{via_reddit}} -->
</body>
</html>

