{{>header}}

  <div id="content">
    
    <p>Sessions: {{session_count}} (active in the past 5 minutes)</p>
    
    <p><a href="2nccpefyria0p533zxtks62fa/metadata">Metadata</a>/<a href="2nccpefyria0p533zxtks62fa/secrets">Secrets</a>: {{metadata_count}}/{{secret_count}} ({{secrets_created}}/{{secrets_shared}}/{{emails_sent}} total)</p>
        
    <h3>Feedback ({{feedback_count}})</h3>
    
    <ul class="smaller">
      <li>Most recent ({{today_feedback_count}})
      <ul>
      {{#today_feedback}}
        <li><strong>{{msg}}</strong> <em class="lighter">{{stamp}}</em></li>
      {{/today_feedback}}
      </ul>
      </li>
      
      <li>Yesterday ({{yesterday_feedback_count}})
      <ul>
      {{#yesterday_feedback}}
        <li><strong>{{msg}}</strong> <em class="lighter">{{stamp}}</em></li>
      {{/yesterday_feedback}}
      </ul>
      </li>
      
      <li>Past 14 days ({{older_feedback_count}})
      <ul>
      {{#older_feedback}}
        <li><strong>{{msg}}</strong> <em class="lighter">{{stamp}}</em></li>
      {{/older_feedback}}
      </ul>
      </li>
    </ul>
    
    <h3>Subdomains ({{subdomain_count}})</h3>
    
    <ul class="smaller">
      {{#subdomains}}
      <li>{{cname}}</li>
      {{/subdomains}}
    </ul>

    <h3>Customers ({{recent_customer_count}} of {{customer_count}})</h3>
    <ul class="smaller">
    {{#recent_customers}}
      <li><strong>{{custid}}</strong>{{#colonel}}*{{/colonel}} {{secrets_created}}/{{secrets_shared}}/{{emails_sent}} [{{planid}}] <em class="lighter">{{stamp}}</em></li>
    {{/recent_customers}}
    </ul>
    
    <h3>Split tests</h3>
    
    {{#split_tests}}
      {{name}} {{samples}} {{scores}}
    {{/split_tests}}
    
    <h3>Redis Info</h3>
    
    <pre>{{redis_info}}
    </pre>
  </div>
  
{{>footer}}