{{>header}}

  <div id="content">
    
    <p>Sessions: {{session_count}}</p>
    
    <p>Metadata/Secrets: {{secret_count}}/{{metadata_count}}</p>
        
    <h3>Feedback ({{recent_feedback_count}} of {{feedback_count}})</h3>
    <ul>
    {{#recent_feedback}}
      <li><strong>{{msg}}</strong> <em>{{stamp}}</em></li>
    {{/recent_feedback}}
    </ul>

    <h3>Customers ({{recent_customer_count}} of {{customer_count}})</h3>
    <ul>
    {{#recent_customers}}
      <li><strong>{{custid}}</strong>{{#colonel}}*{{/colonel}} {{planid}} <em>{{stamp}}</em></li>
    {{/recent_customers}}
    </ul>
    
  </div>
  
{{>footer}}