---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=plans-test-872ac9b0%40example.com
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 719e3e8b-34b7-4b7d-a5ce-38ee328ee13b
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 719e3e8b-34b7-4b7d-a5ce-38ee328ee13b
      Original-Request:
      - req_IMi5q8NoxU1AmO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TTLoAVNbmmApsh",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1763849813,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "plans-test-872ac9b0@example.com",
          "invoice_prefix": "LCNI4FAB",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 22 Nov 2025 22:16:53 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_TTLoAVNbmmApsh&items[0][price]=price_test&metadata[custid]=019aada4-3cd9-7c47-b0c4-21417e0f7154&metadata[plan_id]=identity_v1&metadata[tier]=single_team
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 588a0904-791f-4d52-b737-03fdbc5206d8
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 588a0904-791f-4d52-b737-03fdbc5206d8
      Original-Request:
      - req_QU7bCgmI19OTDF
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such price: 'price_test'",
            "param": "items[0][price]",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_QU7bCgmI19OTDF?t=1763849813",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Sat, 22 Nov 2025 22:16:54 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=true&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "prod_TTLmKBgCCM9ECA",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1763849716,
              "default_price": null,
              "description": null,
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {
                "app": "onetimesecret",
                "created": "2025-11-22T22:15:15Z",
                "plan_id": "identity_v1",
                "region": "us-east",
                "tenancy": "single",
                "tier": "single_team"
              },
              "name": "Single Team Plan",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": null,
              "type": "service",
              "unit_label": null,
              "updated": 1763849716,
              "url": null
            },
            {
              "id": "prod_TTJRoYRCTxy8Xm",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1763841002,
              "default_price": null,
              "description": null,
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {
                "app": "onetimesecret",
                "created": "2025-11-22T19:50:01Z",
                "plan_id": "identity_v1",
                "region": "us-east",
                "tier": "single_team"
              },
              "name": "Single Team Test Plan",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": null,
              "type": "service",
              "unit_label": null,
              "updated": 1763841002,
              "url": null
            }
          ],
          "has_more": false,
          "url": "/v1/products"
        }
  recorded_at: Sat, 22 Nov 2025 22:17:39 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&product=prod_TTLmKBgCCM9ECA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "price_1SWP60H54PcLeqtYhBs67d2K",
              "object": "price",
              "active": true,
              "billing_scheme": "per_unit",
              "created": 1763849756,
              "currency": "usd",
              "custom_unit_amount": null,
              "livemode": false,
              "lookup_key": null,
              "metadata": {},
              "nickname": null,
              "product": "prod_TTLmKBgCCM9ECA",
              "recurring": {
                "interval": "year",
                "interval_count": 1,
                "meter": null,
                "trial_period_days": null,
                "usage_type": "licensed"
              },
              "tax_behavior": "unspecified",
              "tiers_mode": null,
              "transform_quantity": null,
              "type": "recurring",
              "unit_amount": 9000,
              "unit_amount_decimal": "9000"
            },
            {
              "id": "price_1SWP5sH54PcLeqtYMhwc1jfq",
              "object": "price",
              "active": true,
              "billing_scheme": "per_unit",
              "created": 1763849748,
              "currency": "usd",
              "custom_unit_amount": null,
              "livemode": false,
              "lookup_key": null,
              "metadata": {},
              "nickname": null,
              "product": "prod_TTLmKBgCCM9ECA",
              "recurring": {
                "interval": "month",
                "interval_count": 1,
                "meter": null,
                "trial_period_days": null,
                "usage_type": "licensed"
              },
              "tax_behavior": "unspecified",
              "tiers_mode": null,
              "transform_quantity": null,
              "type": "recurring",
              "unit_amount": 900,
              "unit_amount_decimal": "900"
            }
          ],
          "has_more": false,
          "url": "/v1/prices"
        }
  recorded_at: Sat, 22 Nov 2025 22:17:39 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&product=prod_TTJRoYRCTxy8Xm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: U[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_TTLsMTWGpnkUj5&items[0][price]=price_test&metadata[custid]=019aada7-fd40-7b54-b4e9-20f4ed3eb4aa&metadata[plan_id]=identity_v1&metadata[tier]=single_team
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - ee17f14d-a0c9-474c-85fd-524c9ddc9485
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ee17f14d-a0c9-474c-85fd-524c9ddc9485
      Original-Request:
      - req_KM7sRjiiHxw4Hj
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such price: 'price_test'",
            "param": "items[0][price]",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_KM7sRjiiHxw4Hj?t=1763850059",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Sat, 22 Nov 2025 22:20:59 GMT
recorded_with: VCR 6.3.1
