---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=true&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "prod_TTJRoYRCTxy8Xm",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1763841002,
              "default_price": null,
              "description": null,
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {
                "app": "onetimesecret",
                "created": "2025-11-22T19:50:01Z",
                "plan_id": "identity_v1",
                "region": "us-east",
                "tier": "single_team"
              },
              "name": "Single Team Test Plan",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": null,
              "type": "service",
              "unit_label": null,
              "updated": 1763841002,
              "url": null
            }
          ],
          "has_more": false,
          "url": "/v1/products"
        }
  recorded_at: Sat, 22 Nov 2025 19:58:16 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&product=prod_TTJRoYRCTxy8Xm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "price_1SWMuTH54PcLeqtYxmEdPusQ",
              "object": "price",
              "active": true,
              "billing_scheme": "per_unit",
              "created": 1763841353,
              "currency": "usd",
              "custom_unit_amount": null,
              "livemode": false,
              "lookup_key": null,
              "metadata": {},
              "nickname": null,
              "product": "prod_TTJRoYRCTxy8Xm",
              "recurring": {
                "interval": "month",
                "interval_count": 1,
                "meter": null,
                "trial_period_days": null,
                "usage_type": "licensed"
              },
              "tax_behavior": "unspecified",
              "tiers_mode": null,
              "transform_quantity": null,
              "type": "recurring",
              "unit_amount": 900,
              "unit_amount_decimal": "900"
            }
          ],
          "has_more": false,
          "url": "/v1/prices"
        }
  recorded_at: Sat, 22 Nov 2025 19:58:16 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=new-welcome-1374e39b%40example.com
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - db17a3ad-df74-4b92-9abb-725b4258c90f
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - db17a3ad-df74-4b92-9abb-725b4258c90f
      Original-Request:
      - req_2CqMwr2xHsTVIQ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TTJZgSVR9JOcep",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1763841496,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "new-welcome-1374e39b@example.com",
          "invoice_prefix": "HNMZMTR9",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 22 Nov 2025 19:58:16 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_TTJZgSVR9JOcep&items[0][price]=price_test&metadata[custid]=019aad25-5598-7e4a-9a58-5e4bc42ba105&metadata[plan_id]=identity_v1
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 1b6c8747-bbf7-4af4-a54c-bd09453092f1
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1b6c8747-bbf7-4af4-a54c-bd09453092f1
      Original-Request:
      - req_vQq243eFvkQFLV
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such price: 'price_test'",
            "param": "items[0][price]",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_vQq243eFvkQFLV?t=1763841496",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Sat, 22 Nov 2025 19:58:16 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=new-welcome-8d750279%40example.com
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 99bb0295-36e9-4151-9103-6bc03b6154c4
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="Stripe"
      X-Wc:
      - ABHIJ
      Stripe-Version:
      - "<STRIPE_VERSION>"
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Invalid API Key provided: sk_test_mock",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Sat, 22 Nov 2025 22:03:45 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_TTLfqdz3iKu5gx&items[0][price]=price_test&metadata[custid]=019aad9b-9496-70a8-a970-58c03319d0fa&metadata[plan_id]=identity_v1
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - db2e437d-a60f-46b0-9f68-af4489d96fca
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - db2e437d-a60f-46b0-9f68-af4489d96fca
      Original-Request:
      - req_XRt7IlOutFmbbL
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such price: 'price_test'",
            "param": "items[0][price]",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_XRt7IlOutFmbbL?t=1763849246",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Sat, 22 Nov 2025 22:07:26 GMT
recorded_with: VCR 6.3.1
