---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 65b43314-67aa-4fcd-ace7-9f142321c081
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 65b43314-67aa-4fcd-ace7-9f142321c081
      Original-Request:
      - req_R6m0WUOoUVgd7l
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TXrq0d5duqPyMh",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1764891524,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "4LSUM5W9",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 04 Dec 2025 23:38:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: UTF-8
      string: customer=cus_TXrq0d5duqPyMh&collection_method=send_invoice&days_until_due=30
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 6ed34de0-9c83-4ea4-a420-290ce999c2ae
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6ed34de0-9c83-4ea4-a420-290ce999c2ae
      Original-Request:
      - req_9iUZyrRZjFYUdC
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Missing email. In order to create invoices that are sent to the customer, the customer must have a valid email.",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_9iUZyrRZjFYUdC?t=1764891524",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 04 Dec 2025 23:38:44 GMT
recorded_with: VCR 6.3.1
