---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=webhook-checkout-d8038341%40example.com
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 49079b33-be22-4d12-9e9f-5d35a6cc01eb
      Original-Request:
      - req_6xI6kwvhClVPXx
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TUzpD9tINQJGA8",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1764229311,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "webhook-checkout-d8038341@example.com",
          "invoice_prefix": "5E8KZTN3",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 27 Nov 2025 07:41:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_TUzpD9tINQJGA8&items[0][price]=price_test&metadata[custid]=019ac442-eb56-7115-9834-60d81631af6e&metadata[plan_id]=identity_v1&metadata[tier]=single_team
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a44b80f9-a0ac-4de9-a6d9-7fc6cb46fe97
      Original-Request:
      - req_AihBiQmZQK5lR8
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such price: 'price_test'",
            "param": "items[0][price]",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_AihBiQmZQK5lR8?t=1764229311",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 27 Nov 2025 07:41:51 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_TV0DwXLDeKYTHf&items[0][price]=price_test&metadata[custid]=019ac458-a055-74d2-8bba-99445920d2b5&metadata[plan_id]=identity_v1&metadata[tier]=single_team
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 13308eb5-8c56-4541-bdc9-c4de305e0c9f
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 13308eb5-8c56-4541-bdc9-c4de305e0c9f
      Original-Request:
      - req_6iwHtZU4Q3IBXV
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such price: 'price_test'",
            "param": "items[0][price]",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_6iwHtZU4Q3IBXV?t=1764230734",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 27 Nov 2025 08:05:34 GMT
recorded_with: VCR 6.3.1
