---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: mode=subscription&line_items[0][price]=price_1SWMuTH54PcLeqtYxmEdPusQ&line_items[0][quantity]=1&success_url=https%3A%2F%2F127.0.0.1%3A3000%2Fbilling%2Fwelcome%3Fsession_id%3D%7BCHECKOUT_SESSION_ID%7D&cancel_url=https%3A%2F%2F127.0.0.1%3A3000%2Fplans&locale=en&customer_email=plans-test-aa9023e4%40example.com&client_reference_id=019aada4-3755-70aa-9ce4-e3002f5c743e&subscription_data[metadata][plan_id]=identity_v1&subscription_data[metadata][tier]=single_team&subscription_data[metadata][region]=us-east&subscription_data[metadata][custid]=019aada4-3755-70aa-9ce4-e3002f5c743e
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - ba97c6cd-aa1c-46bd-88df-643df3d2a353
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ba97c6cd-aa1c-46bd-88df-643df3d2a353
      Original-Request:
      - req_9EHOzUUpH4UucT
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cs_test_a1yZoeS48JBhVXcm4aypLEk84J8f2OXvPKiVG4LZUAefNjAmUH0k2DgyXE",
          "object": "checkout.session",
          "adaptive_pricing": {
            "enabled": false
          },
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": 900,
          "amount_total": 900,
          "automatic_tax": {
            "enabled": false,
            "liability": null,
            "provider": null,
            "status": null
          },
          "billing_address_collection": null,
          "branding_settings": {
            "background_color": "#749220",
            "border_style": "rounded",
            "button_color": "#d69d00",
            "display_name": "Onetime.dev",
            "font_family": "default",
            "icon": null,
            "logo": null
          },
          "cancel_url": "https://127.0.0.1:3000/plans",
          "client_reference_id": "019aada4-3755-70aa-9ce4-e3002f5c743e",
          "client_secret": null,
          "collected_information": {
            "business_name": null,
            "individual_name": null,
            "shipping_details": null
          },
          "consent": null,
          "consent_collection": null,
          "created": 1763849812,
          "currency": "usd",
          "currency_conversion": null,
          "custom_fields": [],
          "custom_text": {
            "after_submit": null,
            "shipping_address": null,
            "submit": null,
            "terms_of_service_acceptance": null
          },
          "customer": null,
          "customer_creation": "always",
          "customer_details": {
            "address": null,
            "business_name": null,
            "email": "plans-test-aa9023e4@example.com",
            "individual_name": null,
            "name": null,
            "phone": null,
            "tax_exempt": "none",
            "tax_ids": null
          },
          "customer_email": "plans-test-aa9023e4@example.com",
          "discounts": [],
          "expires_at": 1763936212,
          "invoice": null,
          "invoice_creation": null,
          "livemode": false,
          "locale": "en",
          "metadata": {},
          "mode": "subscription",
          "origin_context": null,
          "payment_intent": null,
          "payment_link": null,
          "payment_method_collection": "always",
          "payment_method_configuration_details": {
            "id": "pmc_1SRUXyH54PcLeqtYWyNOGMZj",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card",
            "link"
          ],
          "payment_status": "unpaid",
          "permissions": null,
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "saved_payment_method_options": {
            "allow_redisplay_filters": [
              "always"
            ],
            "payment_method_remove": "disabled",
            "payment_method_save": null
          },
          "setup_intent": null,
          "shipping_address_collection": null,
          "shipping_cost": null,
          "shipping_options": [],
          "status": "open",
          "submit_type": null,
          "subscription": null,
          "success_url": "https://127.0.0.1:3000/billing/welcome?session_id={CHECKOUT_SESSION_ID}",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "ui_mode": "hosted",
          "url": "https://checkout.stripe.com/c/pay/cs_test_a1yZoeS48JBhVXcm4aypLEk84J8f2OXvPKiVG4LZUAefNjAmUH0k2DgyXE#fidnandhYHdWcXxpYCc%2FJ2FgY2RwaXEnKSdpamZkaWAnPydgaycpJ3ZwZ3Zmd2x1cWxqa1BrbHRwYGtgdnZAa2RnaWBhJz9jZGl2YCknZHVsTmB8Jz8ndW5acWB2cVowNFZXUF1UTTAxVWZJYHRxXEY0ZkRjV1NgQ1FxTzM9V2pmcnFNb0diPTxsVz1pb2dyTDVLR2YyS392NWZRUkBTYHRgNlZPYkBCN11jQlVsYWpyN0EzbX1qbzU1UmxHXXFWcU8nKSdjd2poVmB3c2B3Jz9xd3BgKSdnZGZuYndqcGthRmppancnPycmMjE8Nzc1JyknaWR8anBxUXx1YCc%2FJ3Zsa2JpYFpscWBoJyknYGtkZ2lgVWlkZmBtamlhYHd2Jz9xd3BgeCUl",
          "wallet_options": null
        }
  recorded_at: Sat, 22 Nov 2025 22:16:52 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/checkout/sessions/cs_test_a1yZoeS48JBhVXcm4aypLEk84J8f2OXvPKiVG4LZUAefNjAmUH0k2DgyXE%23fidnandhYHdWcXxpYCc%252FJ2FgY2RwaXEnKSdpamZkaWAnPydgaycpJ3ZwZ3Zmd2x1cWxqa1BrbHRwYGtgdnZAa2RnaWBhJz9jZGl2YCknZHVsTmB8Jz8ndW5acWB2cVowNFZXUF1UTTAxVWZJYHRxXEY0ZkRjV1NgQ1FxTzM9V2pmcnFNb0diPTxsVz1pb2dyTDVLR2YyS392NWZRUkBTYHRgNlZPYkBCN11jQlVsYWpyN0EzbX1qbzU1UmxHXXFWcU8nKSdjd2poVmB3c2B3Jz9xd3BgKSdnZGZuYndqcGthRmppancnPycmMjE8Nzc1JyknaWR8anBxUXx1YCc%252FJ3Zsa2JpYFpscWBoJyknYGtkZ2lgVWlkZmBtamlhYHd2Jz9xd3BgeCUl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Invalid string: cs_t...eCUl; must be at most 66 characters",
            "param": "session",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_2a8IJftp4LdL0M?t=1763849812",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Sat, 22 Nov 2025 22:16:52 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: mode=subscription&line_items[0][price]=price_1SWMuTH54PcLeqtYxmEdPusQ&line_items[0][quantity]=1&success_url=https%3A%2F%2F127.0.0.1%3A3000%2Fbilling%2Fwelcome%3Fsession_id%3D%7BCHECKOUT_SESSION_ID%7D&cancel_url=https%3A%2F%2F127.0.0.1%3A3000%2Fplans&locale=en&customer_email=plans-test-e0cb2c89%40example.com&client_reference_id=019aada4-8c1d-7628-bc8b-7e639cd14cbd&subscription_data[metadata][plan_id]=identity_v1&subscription_data[metadata][tier]=single_team&subscription_data[metadata][region]=us-east&subscription_data[metadata][custid]=019aada4-8c1d-7628-bc8b-7e639cd14cbd
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - b2eefa46-cbcf-4ed5-9bd9-274d91918611
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b2eefa46-cbcf-4ed5-9bd9-274d91918611
      Original-Request:
      - req_kB7YmqJhpSEkxX
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such price: 'price_1SWMuTH54PcLeqtYxmEdPusQ'",
            "param": "line_items[0][price]",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_kB7YmqJhpSEkxX?t=1763849833",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Sat, 22 Nov 2025 22:17:13 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=true&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "prod_TTLmKBgCCM9ECA",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1763849716,
              "default_price": null,
              "description": null,
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {
                "app": "onetimesecret",
                "created": "2025-11-22T22:15:15Z",
                "plan_id": "identity_v1",
                "region": "us-east",
                "tenancy": "single",
                "tier": "single_team"
              },
              "name": "Single Team Plan",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": null,
              "type": "service",
              "unit_label": null,
              "updated": 1763849716,
              "url": null
            },
            {
              "id": "prod_TTJRoYRCTxy8Xm",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1763841002,
              "default_price": null,
              "description": null,
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {
                "app": "onetimesecret",
                "created": "2025-11-22T19:50:01Z",
                "plan_id": "identity_v1",
                "region": "us-east",
                "tier": "single_team"
              },
              "name": "Single Team Test Plan",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": null,
              "type": "service",
              "unit_label": null,
              "updated": 1763841002,
              "url": null
            }
          ],
          "has_more": false,
          "url": "/v1/products"
        }
  recorded_at: Sat, 22 Nov 2025 22:17:38 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&product=prod_TTLmKBgCCM9ECA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "price_1SWP60H54PcLeqtYhBs67d2K",
              "object": "price",
              "active": true,
              "billing_scheme": "per_unit",
              "created": 1763849756,
              "currency": "usd",
              "custom_unit_amount": null,
              "livemode": false,
              "lookup_key": null,
              "metadata": {},
              "nickname": null,
              "product": "prod_TTLmKBgCCM9ECA",
              "recurring": {
                "interval": "year",
                "interval_count": 1,
                "meter": null,
                "trial_period_days": null,
                "usage_type": "licensed"
              },
              "tax_behavior": "unspecified",
              "tiers_mode": null,
              "transform_quantity": null,
              "type": "recurring",
              "unit_amount": 9000,
              "unit_amount_decimal": "9000"
            },
            {
              "id": "price_1SWP5sH54PcLeqtYMhwc1jfq",
              "object": "price",
              "active": true,
              "billing_scheme": "per_unit",
              "created": 1763849748,
              "currency": "usd",
              "custom_unit_amount": null,
              "livemode": false,
              "lookup_key": null,
              "metadata": {},
              "nickname": null,
              "product": "prod_TTLmKBgCCM9ECA",
              "recurring": {
                "interval": "month",
                "interval_count": 1,
                "meter": null,
                "trial_period_days": null,
                "usage_type": "licensed"
              },
              "tax_behavior": "unspecified",
              "tiers_mode": null,
              "transform_quantity": null,
              "type": "recurring",
              "unit_amount": 900,
              "unit_amount_decimal": "900"
            }
          ],
          "has_more": false,
          "url": "/v1/prices"
        }
  recorded_at: Sat, 22 Nov 2025 22:17:38 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&product=prod_TTJRoYRCTxy8Xm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: U[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/checkout/sessions/cs_test_a1IhgKYX5JqUVbweccG6H6Xz5iUekYnSsvSf802RXQxlRM5CzAoLPlUo1d%23fidnandhYHdWcXxpYCc%252FJ2FgY2RwaXEnKSdpamZkaWAnPydgaycpJ3ZwZ3Zmd2x1cWxqa1BrbHRwYGtgdnZAa2RnaWBhJz9jZGl2YCknZHVsTmB8Jz8ndW5acWB2cVowNFZXUF1UTTAxVWZJYHRxXEY0ZkRjV1NgQ1FxTzM9V2pmcnFNb0diPTxsVz1pb2dyTDVLR2YyS392NWZRUkBTYHRgNlZPYkBCN11jQlVsYWpyN0EzbX1qbzU1UmxHXXFWcU8nKSdjd2poVmB3c2B3Jz9xd3BgKSdnZGZuYndqcGthRmppancnPycmMjE8Nzc1JyknaWR8anBxUXx1YCc%252FJ3Zsa2JpYFpscWBoJyknYGtkZ2lgVWlkZmBtamlhYHd2Jz9xd3BgeCUl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Invalid string: cs_t...eCUl; must be at most 66 characters",
            "param": "session",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_j31y9LBe17KH2j?t=1763849858",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Sat, 22 Nov 2025 22:17:38 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/checkout/sessions/cs_test_a1KcvV31qhbzqqU75uU2yhE41mIjBvIHUJIJyDBOQM8Bn8OvcPibZWLR6k%23fidnandhYHdWcXxpYCc%252FJ2FgY2RwaXEnKSdpamZkaWAnPydgaycpJ3ZwZ3Zmd2x1cWxqa1BrbHRwYGtgdnZAa2RnaWBhJz9jZGl2YCknZHVsTmB8Jz8ndW5acWB2cVowNFZXUF1UTTAxVWZJYHRxXEY0ZkRjV1NgQ1FxTzM9V2pmcnFNb0diPTxsVz1pb2dyTDVLR2YyS392NWZRUkBTYHRgNlZPYkBCN11jQlVsYWpyN0EzbX1qbzU1UmxHXXFWcU8nKSdjd2poVmB3c2B3Jz9xd3BgKSdnZGZuYndqcGthRmppancnPycmMjE8Nzc1JyknaWR8anBxUXx1YCc%252FJ3Zsa2JpYFpscWBoJyknYGtkZ2lgVWlkZmBtamlhYHd2Jz9xd3BgeCUl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Invalid string: cs_t...eCUl; must be at most 66 characters",
            "param": "session",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_CnfOzmH0hQa9jI?t=1763849882",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Sat, 22 Nov 2025 22:18:02 GMT
[...]
