---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=new-welcome-8f05da36%40example.com
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 3529a3c7-3a18-41d5-a9e5-48f20b73c71c
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3529a3c7-3a18-41d5-a9e5-48f20b73c71c
      Original-Request:
      - req_qdwuLovZdFxrhU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TTLo5Zln1hfcgS",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1763849815,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "new-welcome-8f05da36@example.com",
          "invoice_prefix": "KUUXXFDF",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 22 Nov 2025 22:16:55 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_TTLo5Zln1hfcgS&items[0][price]=price_test&metadata[custid]=019aada4-4406-7ee6-b31c-3cc0ae919e3a&metadata[plan_id]=identity_v1
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - 551ff854-793a-4755-bf51-208683394bef
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 551ff854-793a-4755-bf51-208683394bef
      Original-Request:
      - req_I1mPlFyF8rSWw9
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such price: 'price_test'",
            "param": "items[0][price]",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_I1mPlFyF8rSWw9?t=1763849815",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Sat, 22 Nov 2025 22:16:55 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=true&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "prod_TTLmKBgCCM9ECA",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1763849716,
              "default_price": null,
              "description": null,
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {
                "app": "onetimesecret",
                "created": "2025-11-22T22:15:15Z",
                "plan_id": "identity_v1",
                "region": "us-east",
                "tenancy": "single",
                "tier": "single_team"
              },
              "name": "Single Team Plan",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": null,
              "type": "service",
              "unit_label": null,
              "updated": 1763849716,
              "url": null
            },
            {
              "id": "prod_TTJRoYRCTxy8Xm",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1763841002,
              "default_price": null,
              "description": null,
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {
                "app": "onetimesecret",
                "created": "2025-11-22T19:50:01Z",
                "plan_id": "identity_v1",
                "region": "us-east",
                "tier": "single_team"
              },
              "name": "Single Team Test Plan",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": null,
              "type": "service",
              "unit_label": null,
              "updated": 1763841002,
              "url": null
            }
          ],
          "has_more": false,
          "url": "/v1/products"
        }
  recorded_at: Sat, 22 Nov 2025 22:17:41 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&product=prod_TTLmKBgCCM9ECA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "price_1SWP60H54PcLeqtYhBs67d2K",
              "object": "price",
              "active": true,
              "billing_scheme": "per_unit",
              "created": 1763849756,
              "currency": "usd",
              "custom_unit_amount": null,
              "livemode": false,
              "lookup_key": null,
              "metadata": {},
              "nickname": null,
              "product": "prod_TTLmKBgCCM9ECA",
              "recurring": {
                "interval": "year",
                "interval_count": 1,
                "meter": null,
                "trial_period_days": null,
                "usage_type": "licensed"
              },
              "tax_behavior": "unspecified",
              "tiers_mode": null,
              "transform_quantity": null,
              "type": "recurring",
              "unit_amount": 9000,
              "unit_amount_decimal": "9000"
            },
            {
              "id": "price_1SWP5sH54PcLeqtYMhwc1jfq",
              "object": "price",
              "active": true,
              "billing_scheme": "per_unit",
              "created": 1763849748,
              "currency": "usd",
              "custom_unit_amount": null,
              "livemode": false,
              "lookup_key": null,
              "metadata": {},
              "nickname": null,
              "product": "prod_TTLmKBgCCM9ECA",
              "recurring": {
                "interval": "month",
                "interval_count": 1,
                "meter": null,
                "trial_period_days": null,
                "usage_type": "licensed"
              },
              "tax_behavior": "unspecified",
              "tiers_mode": null,
              "transform_quantity": null,
              "type": "recurring",
              "unit_amount": 900,
              "unit_amount_decimal": "900"
            }
          ],
          "has_more": false,
          "url": "/v1/prices"
        }
  recorded_at: Sat, 22 Nov 2025 22:17:41 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100&product=prod_TTJRoYRCTxy8Xm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Stripe-Version:
      - "<STRIPE_VERSION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: U[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_TTLsVatseJFmRh&items[0][price]=price_test&metadata[custid]=019aada7-ffd7-78d3-9b61-12e278100847&metadata[plan_id]=identity_v1
    headers:
      Authorization:
      - "<STRIPE_API_KEY>"
      Idempotency-Key:
      - afb19012-4821-4853-a14c-aaf9574a5af0
      Stripe-Version:
      - "<STRIPE_VERSION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - afb19012-4821-4853-a14c-aaf9574a5af0
      Original-Request:
      - req_VKHXIVcpcbKO8Z
      Stripe-Version:
      - "<STRIPE_VERSION>"
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such price: 'price_test'",
            "param": "items[0][price]",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_VKHXIVcpcbKO8Z?t=1763850060",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Sat, 22 Nov 2025 22:21:00 GMT
recorded_with: VCR 6.3.1
