<p>We received a request to reset your password for One-Time Secret<br/>
{{baseuri}}{{forgot_path}}</p>

<p>Let me know if you have any questions.</p>

<p>Delano<br/>
{{baseuri}}</p>

<p>P.S. This email was sent to {{email_address}}. If you did not make this request, you can ignore it and nothing will change.</p>

