<p>Someone has sent you a secret! Retrieve it here:<br/>
{{baseuri}}{{verify_uri}}</p>

<p><em>Please note: you'll only be able to view it once.</em> After that, it will not be available again to you or anyone else.</p>

<p>Chris, co-founder<br/>
https://onetimesecret.com/</p>

<p>P.S. This email was sent to {{email_address}}. If you wish to not receive secrets in the future, let me know and I'll add you to our Do-Not-Send-Secrets list.</p>

