<p>You received a secret from {{from}}. Get it here:</p>

<p><strong>{{baseuri}}{{verify_uri}}</strong><br/>
<em style="color: #999">(You will only be able to view it once. After that, it's gone forever.)</em>
</p>

<p>{{from_name}}<br/>
{{signature_link}}</p>

<p>P.S. This email was sent to {{email_address}}. If you don't know the person who sent the secret, let us know and we'll block them from sending them to you.</p>

