<p>We have a secret for you from {{from}}. Get it here:</p>

<p><strong style="font-size: 125%">{{baseuri}}{{verify_uri}}</strong><br/>
<em style="color: #999;">(Careful: the link only works once and then it's gone forever.)</em>
</p>

<p>{{from_name}}<br/>
{{signature_link}}</p>

<p>P.S. If you don't know the person who sent the secret, let us know and we'll block them.</p>

