<p>Welcome to One-Time Secret.</p>

<p>We have a secret for you! Please verify your account by retrieving it here:<br/>
{{baseuri}}{{verify_uri}}</p>

<p>Thanks for signing up. Let me know if you have any questions.</p>

<p>Chris, Founder<br/>
https://onetimesecret.com/</p>

<p>P.S. This email was sent to {{email_address}}. If you didn't create this account, delete this message and we will never speak of it again. Unless someone tries again with another of your addresses. Then let me know and we'll take care of it.</p>
