<p>We have a secret for you!</p>

<p>Please verify your account by retrieving your secret here:<br/>
{{baseuri}}{{verify_uri}}</p>

<p>If you have any questions, I'm here.</p>

<p>Chris, Founder<br/>
https://onetimesecret.com/</p>