<p>Welcome to One-Time Secret. We have a secret for you!</p>

<p>Please verify your account:<br/>
<strong>{{baseuri}}{{verify_uri}}</strong></p>

<p>I'm here if you have any questions.</p>

<p>Delano, co-founder<br/>
https://onetimesecret.com/</p>

<p>P.S. This email was sent to {{email_address}}. If you didn't create this account, delete this message and we will never speak of it again!</p>
